[2015-05-20 06:31] nubela commented on #1632
Ahh, I never noticed goimports. But I'm guessing I can't assign a keyboard shortcut now, eh? Is this planned?

That aside, how can I help with the project?

[2015-05-20 06:33] nubela commented on #1632
Ok, managed to assign a KB shortcut, so that works. I wonder if it is possible to have an option to do gofmt + goimports

[2015-05-20 06:59] dlsniper commented on #1632
You don't need gofmt + goimports, goimports does gofmt + import stuff you need.

[2015-05-20 07:01] nubela commented on #1632
Oh amazing, thank you!

On Wed, May 20, 2015 at 2:59 PM, Florin Patan <notifications@github.com>
wrote:

[2015-05-20 07:02] dlsniper commented on #1632
Ok, so should I close this then as the issue, run goimports, is "fixed"?

[2015-05-20 07:04] nubela commented on #1632
Yes please! Thanks again for your help.

On Wed, May 20, 2015 at 3:02 PM, Florin Patan <notifications@github.com>
wrote:

[2015-05-20 07:05] dlsniper commented on #1632
You're welcome, glad I could help. Enjoy using the plugin and if there's anything you bump into feel free to ask us.

[2015-05-20 07:05] #1632 closed

[2015-05-20 08:18] 0xor1 commented on #771
can anyone tell me how to set the GAE SDK path for the plugin? when I updated to the latest, it asked me to confirm my GOROOT and GOPATH which works great now, but I can't see where you add the GAE SDK path.

[2015-05-20 08:23] dlsniper commented on #771
Hi @0xor1 . Please point the go sdk to the gae sdk and add it as a normal go sdk, the ide will recognize it as such.

[2015-05-20 09:35] 0xor1 commented on #771
@dlsniper thanks, I'll do that, it's a shame I can't register both at the same time as I have one group of submodules that has my ObjDataStore that writes to a file on the local hard drive when I'm using a local exe build of my app, then I have an ObjDataStore that uses the GAE datastore api when I deploy to GAE. well thanks, you were a huge help, I can just manually swap the configs around when w

[2015-05-20 09:36] dlsniper commented on #771
@0xor1 you can use modules for that, if you are using intellij idea. You can configure one module to use the go sdk and one to use the gae sdk. I haven't tried it myself yet but it should work (theoretically) :D

[2015-05-20 09:37] 0xor1 commented on #771
@dlsniper sweet, thanks a bunch!

[2015-05-20 12:48] gabrielf opened #1633 "go fmt is run after commit, not before"
Idea version: 14.1.3
Plugin version: 0.9.328

There is an option to run go fmt before commit in the "Commit Changes" window as seen here: ![](https://cloud.githubusercontent.com/assets/426890/5991914/bd9cc5a4-aa1e-11e4-8590-47785a4711f1.png)

go fmt is run properly but it is run _after_ the commit, not before.

It would be nice to have it be run before the commit to avoid double commits (one with

[2015-05-20 12:49] eau-u4f opened #1634 "refactor remove the whole function prototype."
Hello,

Try to rename a function name to be refactored and all calls to be modified too in the whole project.
The entire function prototype is being deleted and have to be rewriten, while before just the function name was modified (not the function prototype).

Running:
Clion: 1.0.2
Plugin version:  0.9.328 (nightly builds channel)
Ubuntu Linux

HTH

[2015-05-20 12:56] eau-u4f opened #1635 "Find Usage of a Type Receiver."
Hello,

Trying to find usage of a local type received methods, It answers None, while there are several,
as shown on the following screenshot:
![findusage](https://cloud.githubusercontent.com/assets/4609393/7726126/43a0216a-ff00-11e4-846a-a708b3f7174c.png)

ToDER() method is used in a another Type receiver just below on the screenshot, ToPEM() method.

HTH,
Rgs,
eau.

[2015-05-20 13:02] dlsniper commented on #1634
Hi, I'm not sure what exactly is the problem. As far as I can see, the only issue right now is that if you refactor a function, by just renaming it, from the interface the implementations are not refactored and same goes for the other way around. Is this what you mean?
Or you want to have a refactoring with the parameters as well.
Can you please provide a concrete example, that would help make the

[2015-05-20 13:24] eau-u4f commented on #1634
Sorry if i'm not clear, terminology is not perfectly clear in my head,
basically I want to rename a function and it will reflect the change everywhere that function is called.
Before when i was doing it, it was just renaming the function name and then changing it everywhere, now it's deleting the entire prototype with it, i have to retype everything, may be it's on purpose?!

HTH.

[2015-05-20 13:27] zolotov commented on #1634
Hi. We need code: given code, name of refactoring that you're doing, expected result and actual result. Thank you.

[2015-05-20 21:26] ignatov commented on #1634
@eau-u4f are you talking about interface method and it implementations?

[2015-05-21 07:46] r03 opened #1636 "go build"
I'm new to IntelliJ/WebStorm

How can I do a simple 'go build' in the current working dir?
I tried to leave the file empty in a go application config, but that isn't possible.

[2015-05-21 08:23] eau-u4f commented on #1634
I'm sorry I could not answer right away, preparing a reproducible example that I can link from the golang playground.
@ignatov : I'm trying to rename a function, the bluebox highlight the function name i wanted to rename, it rename everything including the prototype which get deleted, so I undo, but it does not happen all the time, so let me produce an example that trigger this issue all the time,

[2015-05-21 08:23] eau-u4f commented on #1634
I'm sorry I could not answer right away, preparing a reproducible example that I can link from the golang playground.
@ignatov : I'm trying to rename a function, the bluebox highlight the function name i wanted to rename, it rename everything including the prototype which get deleted, so I undo, but it does not happen all the time, so let me produce an example that trigger this issue all the time,

[2015-05-21 10:35] dlsniper commented on #1636
Hi, you can create a run configuration that's called Go Application and select the package option.

Please see the screenshot below.

![snapshot94](https://cloud.githubusercontent.com/assets/607868/7746781/73d07280-ffb5-11e4-87e0-aa108060db43.png)

[2015-05-21 11:09] r03 commented on #1636
That only works if the package is in the GOPATH
Since I can't leave package empty this also means I need to create a build configuration per package?

Is there a way to just run a command directly? (go build)

[2015-05-21 11:12] dlsniper commented on #1636
Please detail with examples what you want to achieve as it's not clear. Isn't the package in the GOPATH to begin with? How did you created the project in IDEA? I have a project called ```demo``` which is under GOPATH/src/github.com/dlsniper/demo and the root for project in IDEA is /home/florinp/golang/src/github.com/dlsniper/demo (with GOPATH=/home/florinp/golang)

[2015-05-21 11:17] akaspin commented on #1623
Rolled back to 0.9.325. No freezes.

[2015-05-21 11:22] zolotov commented on #1623
@akaspin I thought that 0.9.325 was the first build with freezes, no?

[2015-05-21 11:25] akaspin commented on #1623
@zolotov Whats funny. But freezes occurs on nightly plugin repo.

[2015-05-21 11:28] akaspin commented on #1623
@zolotov Ooops. Freezes again. Sorry for misinformation. Whats pain.

[2015-05-21 11:33] r03 commented on #1636
No, the package isn't in the GOPATH. It's not a library so it is not really needed.
But I will move the source to the GOPATH for now.

![image](https://cloud.githubusercontent.com/assets/10061147/7747721/9ee70fee-ffbd-11e4-8a69-3d10b1548902.png)

[2015-05-21 11:39] dlsniper commented on #1636
@r03 thanks for clarifying.

I'll reopen this, @zolotov what do you think about this kind of setup?
- the application is in ```/path/to/dir/of/the/app```
- the GOAPTH is in ```/path/go/gopath```

```go build``` does indeed seem to work ok without the layout of the directory containing a ```src/``` or anything else as long as there's a buildable source there.

[2015-05-21 11:47] r03 commented on #1636
Also using gb is not possible: http://getgb.io/
That's ok since it is not an 'official' tool, but maybe you can make the build configuration more flexible?
Maybe allow a custom command or something?

[2015-05-21 11:48] dlsniper commented on #1636
We happily accept contributions :)

[2015-05-21 11:51] zolotov commented on #1636
What's the point? Any custom command you can invoke in terminal (real one builtin one). The only reason why `Go Application` run configuration is needed – it passes all project configuration that IDEA knows (module/project-level GOPATH, GOROOT, etc.) to go tool.

As for gb support, +1 to @dlsniper

[2015-05-21 12:01] r03 commented on #1636
The point is that I'm trying to get a better IDE experience. F5 is easier then typing 'go build' :-)
I was also hoping that I could click on a build error and then go to the correct line in the source.

[2015-05-21 12:07] zolotov commented on #1636
You can configure [external tool](https://www.jetbrains.com/idea/help/external-tools.html) and assign any shortcut to it. It's quite customizable.

Links:
https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/CONTRIBUTING.md#getting-started-with-the-plugin-development

[2015-05-21 12:11] r03 commented on #1636
Thanks, I'll give it a try.

[2015-05-21 15:02] bronze1man opened #1637 "project file gone bug."
I have a golang project I used to be setuped correctly.
After some git clean command,it becomes :
![image](https://cloud.githubusercontent.com/assets/1107541/7751486/dc0d073a-000c-11e5-8ef2-78c0d267b5b1.png)
![image](https://cloud.githubusercontent.com/assets/1107541/7751580/68c5551a-000d-11e5-894e-0d44eea977b1.png)
![image](https://cloud.githubusercontent.com/assets/1107541/7751586/7567d48c-000d-

[2015-05-21 15:03] dlsniper commented on #1637
that's because you've removed the ```iml``` file which describes your module setup. Please create the project again (and don't add the .iml file to the gitignore). You can also create the module again and keep the existing project.

[2015-05-21 15:03] #1637 closed

[2015-05-21 15:05] bronze1man commented on #1637
Thanks for your help.
Import Modules solve this problem.

[2015-05-21 15:34] dlsniper commented on #1637
Yaaay, glad it worked!

[2015-05-21 16:46] antonikonovalov commented on #1564
Hi guys! so what do you think about this? It's real? In soon furure?

[2015-05-21 16:58] zolotov commented on #1564
Hi. At the moment I can't say any due dates but it's definitely real and we're going to implement this.

[2015-05-21 18:42] dmitry-vovk opened #1638 "Switch/case operators indentation"
Starting with this:
[code]
and pressing enter gives this:
[code]
while it is more appropriate to have this:
[code]
because ```case``` is not indented, but has the same indentation level as ```switch```.

[2015-05-22 06:58] ignatov commented on #1638
Please specify your build. A few days ago I've fixed the same issue: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/commit/35b54c8b41e44572e1ea2d876277a113177f3da4

[2015-05-22 07:03] dmitry-vovk commented on #1638
Just checked on the latest, could not reproduce.

[2015-05-22 07:03] #1638 closed

[2015-05-22 22:38] dlsniper opened #1639 "Support injecting C as language in Go comments when plugin is running under CLion"
We've talked a bit about this on Gitter but to have it as an issue:
It would be cool if the plugin would be able to inject C as a language in comments
For example, in this file: https://github.com/skydb/sky/blob/unstable/query/execution_engine.go nearly 75% or more of the functionality is done in C.

This could then be later evolved into https://github.com/go-lang-plugin-org/go-lang-idea-plugin/is

[2015-05-24 09:44] peterholak opened #1641 "Package run configuration does not work in Windows"
I created a simple hello world package that I can build with ```go build {package-name}``` from the terminal, but when I create a run configuration for it in CLion with ```Run kind``` set to ```Package```, the build fails. The ```Run``` tool window contains the following:

[code]

The ```buildtest7go``` (the number increments on every build) file exists, but its file size is zero. If I run the fir

[2015-05-24 11:16] dmitry-vovk opened #1642 "IDEA freezes on app run"
For the last couple days I experience strange behavior of IDEA (IU-141-1192.2) with nightly build (0.9.330).

I have project with run configuration. When I start the IDEA and click Run, it works fine running my app. But after I made some changes to the sources and click Run, it completely freezes with "Please wait..." message at the status line. I can see two /usr/lib/jvm/java-8-oracle/bin/java pr

[2015-05-24 11:41] dlsniper commented on #1642
Hi, can you please attach any logs that idea generates? I'd advise first to clear the logs directory, start IDEA and replicate the issue then save and send them.

Also, you might want to have a look into this: https://intellij-support.jetbrains.com/entries/23348667-Getting-a-thread-dump-when-IDE-hangs-and-doesn-t-respond as it seems to correspond to your description of the problem.

Thanks.

[2015-05-24 16:52] dashaus opened #1643 "The autocompletion adds colon when you select a field of a struct inside of literal slice"
[code]

[2015-05-24 18:01] dmitry-vovk commented on #1642
Ok, I got IDEA opened, cleared the logs and reproduced the issue. Here are two dumps that appeared after killing the frozen IDE: https://gist.github.com/dmitry-vovk/478b99874f224bc96093

Hope it helps.

[2015-05-24 18:05] dlsniper commented on #1642
Thanks. One least thing that might be also helpful would be to know if this happens regardless of project, say a simple Hello World type or it's in a more complex one only. That's about all the details I can think of right now that either @zolotov or @ignatov might need for this. Thank you!

[2015-05-24 18:13] dmitry-vovk commented on #1642
The issue is reproduced with just one of my projects (which holds about 200 files), but on two different Linux machines. I tried with other projects, but all is fine.

[2015-05-24 18:27] tomohiro-n opened #1644 "IntelliJ freezes in every a few minutes"
Hi,

* IntelliJ Version: 141.1010
* OS Version: Mac OS Yosemite 10.10.3
* JDK Version: 1.8.0_45
* Plugin Version: 1.0.0.alpha#325

I really like this plugin but IntelliJ hangs in every a few minutes and I need to force quit the application every time it occurs.
I have used IntelliJ for a long time but am new to Go and this plugin so it might be due to my terrible way of writing this language.

Sam

[2015-05-24 19:52] zolotov commented on #1644
Can't recreate and don't see anything suspicious in thread dump. Is this reproducible with disabled go plugin? Does UI freeze on these moments? When did you take a thread dump? Does log directory contains automatically thread dumps?

[2015-05-24 20:39] tomohiro-n commented on #1644
Thanks for looking at it.

I'll try it. However I haven't experienced UI freeze except when I edit Go files recently.

Yes, but I took a thread dump after the UI froze through jstack before shutting it down. Now I checked IntelliJ's log directory and I could find many dump files but the contents are almost the same as what I provided. I'll update with more details next time this occurs.

[2015-05-24 23:14] zolotov commented on #1644
Ok, looking forward to update. Thanks.

[2015-05-24 23:45] mvbaffa opened #1645 "Compile and Debug"
I have just installed Go Eclipe in Intellij Idea 14.1.3.

The main.go is running in the IDE but when I try to find the exe, after the Make, I clould not find it. My is GoPATH=GoApps.

If I run "go install HelloIdea" the exe is generated in the GoApps/bin directory.

What are the configurations I must set to have my exe generated ?

When I try to create a Debug configuration it is asking for applic

[2015-05-24 23:57] dlsniper commented on #1645
Hi @mvbaffa.

This plugin has nothing to do with Eclipse, it's dedicated for IntelliJ platform :)

If you want to build a binary you can run the ```Go Application``` run configuration. I've seen in the screenshots you've provided that there's already a configuration for that.

You normally shouldn't use GDB console, it's there for power users and debugging purposes only.

Why you don't get anythin

[2015-05-24 23:57] #1645 closed

[2015-05-24 23:58] dlsniper commented on #597
I'm closing this for various reasons. One of them is the delve integration which is a work in progress now.

[2015-05-24 23:58] #597 closed

[2015-05-25 00:00] dlsniper commented on #1612
This is the way to get a code signed binary on Mac http://stackoverflow.com/questions/13913818/how-to-get-a-codesigned-gdb-on-osx As I don't have one, stackoverflow ftw :D.

Also I'll close this for now as gdb support is really experimental.

[2015-05-25 00:00] #1612 closed

[2015-05-25 01:58] kokizzu opened #1646 "Settings cannot be opened"
Using latest revision 058a61d84fc4b66872b2b5e020c1cdb4a1c5520c
JDK: 8.0 Linux 64-bit
when opening File > Settings, this log shows up:

[code]

and no Settings dialog shown

[2015-05-25 05:32] ignatov commented on #1646
Please enable UI Designer plugin and rebuild the project.

[2015-05-25 07:33] bronze1man opened #1647 "Embed yaml in golang file problem."
The yaml need space to intend. But golang need tab to intend. It works, but without highlight.
It is not easy to edit the yaml in the golang file,the ide will always want to insert tab when press tab key.

You can see the code demo in https://github.com/bronze1man/kmg/blob/master/kmgSql/Functions_test.go#L127

If a file have a lot of yaml in golang file. it will show this bar. I do not want to see

[2015-05-25 08:23] dlsniper commented on #1647
You can inject a language reference and tell it it's a yaml one, https://www.jetbrains.com/idea/help/using-language-injections.html#d776202e18590 (it also supports sql and other languages)

Or you can use the
[code]

to turn off the formatter for that specific part of the code.

Does this answer your question?

[2015-05-25 08:31] dlsniper commented on #1647
Also, if you want to disable auto-formatter detection you can go to ```Settings | Editor | Code Style``` and untick the ```Detect and use existing file indents for editing```. From the same settings pane you can also change the formatter control settings.

[2015-05-25 09:18] antonikonovalov commented on #1564
:thumbsup:

[2015-05-25 12:01] mvbaffa commented on #1645
Of course GoClipse has nothing to do with Intellij. Which I prefer. Sorry

"If you want to build a binary you can run the Go Application run configuration. I've seen in the screenshots you've provided that there's already a configuration for that."

When I run the application using the configration i gave you I could not find any HelloIdea.exe. My directory Structure is the one suggested by the Go

[2015-05-25 12:26] dlsniper commented on #1645
Currently Go Application runner will produce a binary in the temporary folder and it will ignore the -o switch if that's present in the custom go tool parameters, I'll submit a PR for that later on.

As for

As you can see from the go documentation, the problem is the Go runtime not being understood by GDB. There are a few attempts to get a form of debugging running but I'd say that neither is pro

[2015-05-25 12:30] mvbaffa commented on #1645
Ok

Debugging with Printf, if this is the way, lets go with it.

Thanks

[2015-05-25 12:44] dlsniper commented on #1642
I've managed to replicate this! :D

First of all, it only happens if you run the plugin in a standalone installation of IDEA. If you run IDEA from IDEA it doesn't crash (think of developing the plugin and running IDEA to see the results / debug it).

How to replicate this:
- create a go run configuration on a file that won't compile (say for example it has a syntax error) and add to the ```Go tool

[2015-05-25 18:29] ignatov commented on #1635
Can't reproduce, please share a code sample for reproducing.

[2015-05-25 19:30] tomohiro-n commented on #1644
1. I've used IntelliJ for a day with this plugin enabled for another project in html/CSS/TypeScript and no significant error occurred.
2. Later, I created another very simple project in Golang, only main.go, without having any third-party dependencies and UI froze in several minutes. Thread dumps look very similar to yesterday's one.
https://gist.github.com/tomohiro-n/b7fd98b36cea56c84929

Given t

[2015-05-25 19:53] tomohiro-n commented on #1644
Looked into idea.log but nothing suspicious could be found...

[2015-05-25 20:13] dlsniper commented on #1644
@tomohiro-n can you do a screencast of what you are doing when this happens? I can't reproduce this either unfortunately. I'm hoping I can find something there that would help me reproduce it. Also, are you using any of the go fmt / goimports / file watcher plugin / gin (the one that reloads binaries when you save files)? Thanks.

[2015-05-25 20:15] dlsniper commented on #1635
@ignatov, I might be wrong on this one but at least according to the the example, the file that the @eau-u4f has is in the libraries of the project, not the project itself, so in this case, shouldn't the search scope be altered by the user to include libraries as well? At least that's how I've seen the search for usages works in Java.

[2015-05-26 01:09] bronze1man commented on #1647
Thanks, it works.

But I also hope it can detect those stuff automatic. The php storm can detect the sql in php files.

[2015-05-26 08:10] dlsniper commented on #1647
Awesome, glad to hear it.

I defer this to @ignatov and @zolotov. I'm sure it could be done but I don't know how easy / hard it is to be done and if it's a priority or not.

[2015-05-26 09:05] dlsniper opened #1648 "console filter links for file"
example:

[code]

[2015-05-26 09:08] zolotov commented on #1648
What's GOPATH value for the project?

[2015-05-26 09:09] dlsniper commented on #1648
I have the Global libraries to ```/home/florinp/golang``` and use system gopath unchecked.

[2015-05-26 12:21] tomohiro-n commented on #1644
I use IntelliJ in very standard way (edit source, sometimes switch to other apps, run programs...) so I'm not certain if screencast helps a lot.
On the other hand, I'm using some of that kind of plugins and agree that they are suspicious. I'm trying to disable them one by one and will let you know if I can find some remarkable difference when I disable one of the those plugins.

[2015-05-26 12:25] zolotov commented on #1644
The main question is who invokes optimize imports action, and how.
Could you attach log directory (Help | Show Log) and IDE settings (File | Export Settings)?

[2015-05-26 13:56] lindroth opened #1649 "Tab completion does not work for code in a file with a build tag"
If I have a file with a build tag:

[code]

Observer that there must  be a new line between the build tag and the package line for the tag to work.

The problem is that any code in a file with a build tag seems to be invisible for the plugin.

[2015-05-26 14:07] zolotov commented on #1649
I didn't understand how tab completion is related to files visibility and line between build tag and package line.

Anyway, about visibility I'll fix this for project with GAE sdk. Until then, as a workaround you can add `appengine` build flag in `Settings | Go | Build Flags | Custom flags`.

[2015-05-26 14:07] dlsniper commented on #1649
@zolotov as I haven't had a chance to play with the new UI for build tags support can you please have a look on this? If not, I'll have some time tonight to finally dig it. Thanks.

[2015-05-26 14:18] #1649 closed

[2015-05-26 18:11] pftbest opened #1650 "Unresolved reference when Go SDK is just a module SDK not a project SDK"
plugin version 0.9.325
[code]

[2015-05-26 18:14] dlsniper commented on #1650
I'm sorry, I can't reproduce this. What IDE do you use? What settings do you have? What's your GOPATH, what Go libraries have you configured? Is the Go SDK attached to the module / project? Any further details that could help us identify it are welcomed.

[2015-05-26 18:30] pftbest commented on #1650
Sorry, my bad, it works fine as a new empty project.
I have two modules in my current project, one is go and another is python.
Module SDK is set to Go 1.4.2, but Project SDK is set to Python. Changing Project SDK to Go fixes the issue. But if i do so, then python module does not work.

[2015-05-26 18:33] dlsniper commented on #1650
I see, that helps a lot, thanks for reporting :+1:

[2015-05-26 18:50] pftbest commented on #1650
thank you for your great work!

[2015-05-26 19:18] akaspin commented on #1644
What happens with imports and autocompletion? Previously, everything worked perfectly except one - ignore "./_.." paths. Freezes really killing.

[2015-05-26 19:22] dlsniper commented on #1644
@akaspin can you provide any logs, a consistent manner to reproduce it constantly, any codebase on which this happens? It's really hard to troubleshoot things like this without a concrete way to reproduce it. Thank you.

[2015-05-26 19:28] akaspin commented on #1644
@dlsniper I'm already provide logs later in #1623. Ok. Again https://gist.github.com/akaspin/909d68c23c7d47d0406a

[2015-05-26 19:30] #1643 closed

[2015-05-26 19:46] aubble opened #1651 "Comments not indented properly in a long var statement."
![screen shot 2015-05-25 at 7 59 33 pm](https://cloud.githubusercontent.com/assets/10180857/7821639/2ac9c304-03be-11e5-997a-1be9f427cfc1.png)

I press command option L and it doesn't format properly, go fmt does it correctly. It'd be nice if the ability to run go fmt was built right in

[2015-05-26 20:17] dlsniper commented on #1651
Hi,

This is a known problem and there are a few workarounds this for now:
- ```Code | Go fmt file```
- ```Code | Go fmt project```
- ```Code | Goimports file```
- usage of filewatcher plugin + go fmt / goimports on save
- go fmt as a git hook on commiting from the plugin to the VCS

If you have a sample of the code that it's not working with a before and expected after and want to share it that w

[2015-05-26 20:17] #1651 closed

[2015-05-26 23:09] zolotov commented on #1644
@akaspin there are two problems: thread dumps not really descriptive and I can't reproduce freezes. Maybe sharing the project could help.

[2015-05-27 01:09] kokizzu commented on #1646
ok, it works fine now

[2015-05-27 01:25] akaspin commented on #1644
@zolotov I can't share project: commercial reasons. But my typical setup is project with many modules. Again: previously, everything worked perfectly. With exactly same setup.

[2015-05-27 06:46] dlsniper commented on #1644
@akaspin how many modules? Of which type? What's your GOPATH like, what settings do you have for Go Libraries do you have configured, do you run anything in background that monitors the files as well? Have you updated any other plugins recently? What happens if you run with only the Go plugin and the default IDEA plugins?

I do understand that you can't share the code, but please try to report eve

[2015-05-27 06:50] dlsniper commented on #1623
I've seen the following in the log
[code]
And then, later on the indexing appears to be cancelled, or pauswd or something, have you tried to clean all the cache from the ide and restart it? Maybe that will help.

[2015-05-27 14:17] zolotov commented on #1644
@tomohiro-n I've located the problem, new IDEA build will help you a little, there will be exception instead of freezing.

They're still needed.

[2015-05-27 14:21] zolotov commented on #1623
@dlsniper it has nothing to do with freezing.

@akaspin if you can't share the project, could you at least share its open sourced parts? Looks like the reasons of freezing are many similar completion items, completion sorting and GC; it's hard to reproduce these without proper test project.

[2015-05-27 16:56] tomohiro-n commented on #1644
@zolotov you mean EAP by new IDEA? I checked for updates from the app and it says my version is the latest.

My last gist, https://gist.github.com/tomohiro-n/b7fd98b36cea56c84929, is from (Help | Show Log).
Regarding(File | Export Settings), I'm a bit afraid to do it since I'm not sure how much personal information will be included in the file.

I'm not confident enough because I've been tied up w

[2015-05-27 17:35] zolotov commented on #1644
Yes, I mean EAP.

I didn't need threaddumps, I needed logs.

Sorry, can't help you then. Save Actions plugin looks like reason of wrong `optimize imports` invocation, so likely it will work ok after disabling plugin.

[2015-05-27 17:35] #1644 closed

[2015-05-27 17:39] zolotov commented on #1648
I don't know why gofmt reports these paths. Please try the next nightly, maybe it will work.

[2015-05-27 18:24] zolotov commented on #1617
Try the next nightly please

[2015-05-27 18:24] #1617 closed

[2015-05-27 19:44] dlsniper commented on #1648
It works now, thank you! You are awesome!

[2015-05-27 19:44] #1648 closed

[2015-05-27 21:30] vially opened #1652 "Scratch file is always named: scratch_1"
When you create a new scratch file (Tools->New Scratch File... -> Go) it always gets named `scratch_1`.

If you later run it (Run -> Run... -> go run scratch_1) then it gets a random unique filename suffix and the `.go` extension (e.g.: `scratch_1.123123.go` as seen in the tab bar) but the run configuration gets named automatically `go run scratch_1`.

When you later create a new scratch file by r

[2015-05-27 22:03] zolotov commented on #1648
Great, thanks

[2015-05-27 22:06] dlsniper commented on #1652
@ignatov I've digged a bit around it and I've realized that in the run configuration the file name changes from scratch_X to scratch_X.rand. Any particular reason for this? If not I guess I could remove it Commit reference: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/commit/542a8001837bdc16f32f5bfe1592c1fc84b0195d

[2015-05-28 00:09] pftbest commented on #1623
For me it happens with any project, even with an empty one, probably because my $GOPATH is full of different libraries and projects.
IDEA version 141.1010, plugin version 325
yourkit Snapshot: http://googledrive.com/host/0B4ouTzM6vLORflJYVGZHUzk2VTZpRW1KUzh5VEhOWXNGVlBlbjBRYlZzcEJBTzNkWFpneVE/Main-2015-05-28.snapshot
CPU usage 12% means one of my 8 cores is fully loaded and ui is not responding.

[2015-05-28 11:00] dlsniper commented on #1450
Run ```getMethods()``` on ```GoFile``` for ```builtin.go``` and compare with current method name.

[2015-05-28 12:09] dlsniper opened #1653 "Unresolved reference"
Plugin commit: 92b0ab12046262f412778ad608dfea993e6eb364

[code]

[2015-05-28 15:50] eau-u4f commented on #1635
will do, I have not answered to both issues i have opened, sorry again for that, under work load.

[2015-05-28 15:51] eau-u4f commented on #1635
will answer, please give me some time, being under workload, that's why i'm silent, will retest with the nightly updates i've seen being pushed and provide a reproducible test.

[2015-05-28 15:53] zolotov commented on #1623
Thanks, we've reproduced the issue. The next IDEA EAP will contain the fix, please give us feedback when you'll try it.

[2015-05-28 17:05] pftbest commented on #1623
Can you give me IDEA issue code?

[2015-05-28 17:06] zolotov commented on #1623
There is no one. Here is the commit: https://upsource.jetbrains.com/idea-community/revision/3178bb7943614fc5e8b761ed01353e8c85b8535e

[2015-05-29 03:33] dashaus opened #1655 "The autocompletion adds parenthesis instead brackets in map types"
[code]

[code]

[2015-05-29 04:40] Fapiko opened #1656 ""Use GOPATH that's defined in system environment" option not saving"
Every time I restart IntelliJ or reopen my project this setting isn't saved and I have to go back into the settings and uncheck it. It's not a huge issue but a minor inconvenience.

I'm using the nightly build, currently 0.9.332 with Intellij build 141.1010.3.

[2015-05-29 04:45] dlsniper commented on #1656
Hi, Unfortunately I can't replicate this on my setup.
What values do you use for Go Libraries? Also, can you please attach a log from IDEA? And some steps to reproduce it? Thank you!

[2015-05-29 10:06] sumsuddinshojib opened #1657 "Can not detect struct initialization using package namespace"
if I have the following code in intelliJ ide using this plugin:

// start of main.go file
[code]
//end of main.go file

[2015-05-29 10:11] zolotov opened #1658 "Go Build: output file customisation"
It makes sense to allow user customize output binary file in Go Application run configuration. By default it should generated in tmp directory.

[2015-05-29 10:13] zolotov opened #1659 "Make short videos"
topics:
- minimalising interface
- running file/application
- running tests
- running coverage
- using custom gopath
- navigation demo: resolve/find usages/structure view/parameters
- analysing demo: rename/optimize imports/add import/inspections/quickfixes
- editing demo: editing/multicarets/different kinds of completion
- GAE hello world

[2015-05-29 15:58] ignatov commented on #1657
Please provide a small real code sample, can't understand what happened with your example.

[2015-05-29 16:03] dlsniper commented on #1657
Also, which version of the plugin are you using, how is your Go Libraries settings look like and what's your GOPATH. I have literally all the projects using the same construct you provided in the sample but I don't have this problem with any of the 0.9.200+ releases. Thank you.

[2015-05-29 16:53] dlsniper commented on #1168
Here are some example of packages using the 'internal' package:
- https://github.com/awslabs/aws-sdk-go
- https://github.com/GoogleCloudPlatform/gcloud-golang
- https://github.com/golang/oauth2
- https://github.com/onsi/gomega
- https://github.com/garyburd/redigo

Hope this helps :)

[2015-05-29 17:39] zolotov commented on #1623
I've made some optimizations in completion. Please check build >=0.9.337

[2015-05-29 17:39] #1623 closed

[2015-05-29 17:42] agitelman opened #1660 "NPE in GoBuildTargetConfigurable.java"
I am getting this exception. It appears that UI components are not initialized. Problem only occurred on Ubuntu 12 but not on Macos.
I temporary fixed it my initializing those UI components with default constructors.

[code]

[2015-05-29 18:01] ivankorobkov commented on #1623
:thumbsup: Thanks.

[2015-05-29 18:02] dlsniper commented on #1660
Hi, please enable the UI Designer plugin when building the plugin from the source. If you are not building it from the sources, please specify the plugin version.

For more details on how to build the plugin from the source, please see https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/CONTRIBUTING.md#getting-started-with-the-plugin-development

For how to install the plugin fro

[2015-05-29 18:29] akaspin commented on #1623
Thanks a lot!

[2015-05-29 19:19] agitelman commented on #1660
Yes. That worked. Thanks.
Is there a way to fail build in case UI Designer is not doing it's work?

[2015-05-29 19:23] philhudson91 opened #1661 "404 when trying to add the plugin into IntelliJ from both repos"
Getting a 404 when clicking to add Go pluging from both repos in IntelliJ

[2015-05-29 19:25] dlsniper commented on #1661
Hi, I can't reproduce this unfortunately.
Which IDE do you use? What version, which URL are you using exactly? What are the steps to reproduce this? Have you checked the logs for any error there?

Thanks.

[2015-05-29 19:30] philhudson91 commented on #1661
Hey there,

Using both:

alpha: https://plugins.jetbrains.com/plugins/alpha/5047
nightly: https://plugins.jetbrains.com/plugins/nightly/5047

Add either of them to the repositories in IntelliJ, select the repository then click Go to add. After clicking go it returns a 404 error.

Using IntelliJ Ultimate 14.0.3

[2015-05-29 19:32] dlsniper commented on #1660
@ignatov seems people don't read the contributing file for this plugin as opposed to the Erlang one :d (as a reference https://github.com/go-lang-plugin-org/go-lang-idea-plugin/commit/6bfeb3b56018faae38080d5b014f6a426f1d0051#commitcomment-11369839 ). :)

[2015-05-29 19:32] #1660 closed

[2015-05-29 19:35] dlsniper commented on #1661
It seems that you need to upgrade your IDEA first :)

Please see the readme:

[2015-05-29 19:35] #1661 closed

[2015-05-29 19:46] philhudson91 commented on #1661
Oh man I'm so sorry. will close. :)

[2015-05-29 19:47] dlsniper commented on #1661
Don't worry. Have fun using the plugin.

[2015-05-29 21:42] zolotov commented on #1623
@ivankorobkov @akaspin have you tried it? Does it work for you? I'm going to make some more optimisations but it's important to know whether I'm on the right way.

[2015-05-29 21:55] ivankorobkov commented on #1623
0.9.337 resolves the autocompletion freeze for me. Before it CPU went up to 100% and UI froze on autocompletion for up to several seconds (especially on typing `e` and `n`), plus, Idea constantly generated thead-dumps. I think the issue is better described in #1591.

Now everything works rather smooth.

[2015-05-29 22:18] dlsniper opened #1662 "Add build command to the run console window when using Go Application runner"
It would be nice to have the build command there for consistency (also sometimes I want to be reminded of what's running).

[2015-05-29 22:24] dlsniper opened #1663 "Clarify what's going to be run and how"
Right now the plugin does it's fair share of 'magic' in adding paths and setting env vars to the go tool for all the run configurations. It would be nice if we could display this in a nice manner to the user when configuring the runner. I'm not sure how exactly it should look like but it should include the env variables and the command that's going to be executed.

[2015-05-29 22:27] dlsniper opened #1664 "Add the system GOPATH to the label in the Go Libraries dialog"
The label saying ```Use GOPATH that's...``` should also contain the value for the GOPATH so that the user is better aware of it.

[2015-05-29 22:36] zolotov commented on #1591
@ukautz please try 0.9.337 build

[2015-05-29 22:37] zolotov commented on #1623
@ivankorobkov cool, thanks for feedback

[2015-05-29 23:04] SchumacherFM opened #1665 "Cannot open Intellij Preferences dialog"
Using OSX latest, Intellij latest 14.1.X and the last commit of this awesome plugin `9c2c1e5db07cd13a58380668f42ca5c246354b68` and self compiled the plugin (which always works)

When the Go.zip file is installed and Intellij restarts I'm unable to open the Preference Dialog.
I can only access this dialog window when I uninstall the plugin ... any ideas?

[2015-05-29 23:08] dlsniper commented on #1665
'Use the Search Luke. Use the Search'.

Jokes aside, if you self-compiletbe plugin the you should read the Contributing doc which has a section explaining how to build the plugin and that you must have ant and UI Designer plugins activated (in this case the later is not).

Please enable the UI designer plugin and things will work again :-)

[2015-05-29 23:08] #1665 closed

[2015-05-29 23:15] SchumacherFM commented on #1665
Ups :blush: Thank you very much :-)

[2015-05-31 05:49] #1657 closed

[2015-05-31 07:30] zolotov commented on #1664
It will be show in list as soon user check it.

[2015-05-31 07:30] #1664 closed

[2015-05-31 08:45] dlsniper commented on #1657
@sumsuddinshojib what happened with this? How did you managed to resolve it? I'm curious to know so that we can improve the docs if needed or something else in the process of how the plugin works. Thank you.

[2015-05-31 13:31] #1628 closed

[2015-05-31 13:31] #1655 closed

[2015-06-01 04:10] sumsuddinshojib commented on #1657
Thanks for the quick response. Your comment helped me to think that, "I didn't set the go path properly on the plugin". I am using ubuntu 14.04. If I write the command "echo $GOPATH" I get the output "/home/{user}/go", as I set it on "/etc/profile" file. $GOROOT is empty. I installed go on "user/local/go", actually extracted the tar file on that directory. Now the plugin on Intellij says "problem

[2015-06-01 06:54] dlsniper commented on #1657
What version of the plugin are you using? There's no need for such things in the recent releases.

See here https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/README.md#pre-release-builds how you can install it.
Thank you.

[2015-06-01 17:21] #1450 closed

[2015-06-01 17:34] ukautz commented on #1591
@zolotov Sorry for the late reponse. I tried 0.9.339 yesterday and 0.9.340 today (not sure how to get earlier versions). Neither seems to be affected by the behavior I described anymore. Very much appreciated!

[2015-06-01 17:35] zolotov commented on #1591
@ukautz cool, thanks for feedback.

[2015-06-01 18:05] sumsuddinshojib commented on #1657
Thank you very much. I could make it work using the above link you have given. I was using https://plugins.jetbrains.com/plugin/5047?pr=idea version 0.9.15.3.

[2015-06-01 18:12] #1658 closed

[2015-06-01 18:19] #1507 closed

[2015-06-01 18:23] zolotov commented on #1636
We're definitely not going to support not recommended ways of building go applications. But building on directory makes sense despite of its location.

[2015-06-01 21:48] #1505 closed

[2015-06-02 00:56] horkhe commented on #988
I am working on adding support for [gocheck](https://labix.org/gocheck). The work is about 50% complete. I will submit a PR soon. Writing this just to avoid two people working on the same thing.

[2015-06-02 05:59] dlsniper commented on #988
Hi, cool, thanks for the heads-up. I think it's even better if you can open a WorkInProgress PR like the one that I have right now as it's more visible (our experience shows people are still discovering thr search functionality for existing issues :-D)

As for supporting gocheck, I've opened this PR https://github.com/go-check/check/pull/36 a while ago as I'm using it already but the author doesn'

[2015-06-02 09:00] wbpmrck opened #1669 "plugin error when start idea 14"
hello:
I have sucessed install plugin in idea14 and worked for some days.
But nearly i found when open idea,errors occured(if i uninstall the plugin and install again,everything will be ok again,but one day after,same errors occur):

[code]
when error occurs,the projectStructure->SDK will show "unknow SDK" for go

[2015-06-02 09:03] dlsniper commented on #1669
Hi, how did you installed the plugin? Which version?

I'm going to assume that you are using a version that's compiled from a system with Java 8 and your system / IntelliJ uses Java 6 version. Please follow the readme instructions to get instructions on how to get the nightly / alpha releases channels into IDEA and, if you want to compile the plugin, please see the Contributing file.

Thank you.

[2015-06-02 09:15] wbpmrck commented on #1669
yes,i compiled the plugin in java8 version. because in java7 the compilation won't pass.
i will check the instructions ,thank you for your response:)

[2015-06-02 09:25] #1669 closed

[2015-06-02 13:46] akaspin opened #1670 "Go application running broken if "Output directory" is empty"
853d751630ebd9a2e6a1c9459f72d4d7eab6e4e1 breaks Go Application Run if "Output directory" field is empty.

[2015-06-02 13:47] zolotov commented on #1670
What does it mean?

[2015-06-02 13:49] akaspin commented on #1670
Ops. Wrong destination. Sorry.

[2015-06-02 14:35] dlsniper commented on #1670
Thanks, I'll have a look at it but it's strange as I've tested with nothing in the output directory.

[2015-06-02 14:50] nikicat commented on #342
:+1:

[2015-06-02 15:07] JoeBruner opened #1671 "Project Libraries not shown"
Not sure if this is actually a bug, but it seems like it should be.  I modified my `Go Libraries` to have no Global libraries, unchecked `Use GOPATH that's defined in system environment` and added two paths under `Project Libraries`.  When looking at the Project view and structure view, I only see

![image](https://cloud.githubusercontent.com/assets/5578559/7939047/f2a92542-0916-11e5-84be-67385e97

[2015-06-02 15:10] dlsniper commented on #1671
Hi, sorry unfortunately I haven't fully understood what are you trying to achieve. You want to see which libraries is your project using that are not part of the project? Based on your answer I'll be able to continue the response. Thank you.

[2015-06-02 15:52] JoeBruner commented on #1671
Correct.  So here's the layout of my System if it helps clarify the situation:

    /usr/local/go  (GO)
    /home/dev/go (Where GOPATH is set to for system wide projects)
    /home/dev/work/work_go_dependencies
    /home/dev/work/bin
    /home/dev/work/src
    /home/dev/work/pkg

`work_go_dependencies` is kind of like a poor man's `godep` since `godep` expects a particular path layout and unfortun

[2015-06-02 15:57] zolotov commented on #1671
That's the main thing. External libraries aren't added if they're are included in project itself. They will take a part in go execution/resolving/completion etc. but they won't shown in `project tree/external libraries` because it's part of the project and not external libraries (also in order to avoid some undefined behaviour in project tree UI).

[2015-06-02 15:57] #1671 closed

[2015-06-02 16:04] JoeBruner commented on #1671
Yah, it's just a little odd that the behavior is different based on the location of the files.  In both cases they are "External" libraries, but if they just happen to fall under the current tree then I lose the ability to easily detect that.

[2015-06-02 16:15] zolotov commented on #1671
I think that in your case they are not external at all. They are editable parts of your project. As soon as you open project in `/home/dev/work/subdireectory` they will be added as external because they're not the part of project but they are reachable by compiler and we have to do something to make them participate in resolution algorithm. Actually it's a little hack of our project model and it's

[2015-06-02 16:20] JoeBruner commented on #1671
agreed

[2015-06-03 06:21] fireproofsocks opened #1672 "Download links are broken"
E.g. http://packages.go-ide.com/goide-osx_386.dmg comes up as ERR_NAME_NOT_RESOLVED

[2015-06-03 06:26] dlsniper commented on #1672
And that's a good thing :-)

We don't support those release, please see https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/README.md#pre-release-builds for information on how to get the latest version of the plugin that works on all JetBrains IDEs. Please use that combined with IDEA Community or Android Studio if you want a free Go development environment.

[2015-06-03 06:26] #1672 closed

[2015-06-03 15:13] fireproofsocks commented on #1672
Thanks for the update.  It would be more helpful if you removed those links from the site and referenced the above to avoid confusion and the appearance of a broken site.

[2015-06-03 15:18] dlsniper commented on #1672
I'll ping @mtoader for this as I don't have access to that website but I'm not sure when he'll have time for it. In all fairness, the site was last updated more than one year ago so I didn't even thought about it :)

[2015-06-03 19:09] ingenthr opened #1674 "add "golang" to the name of the plugin in the title"
In the repository search, even if I add the repositories, I can't search for the plugin with the search at the top in IJ because it won't do the search until you type three characters?  Maybe you should make the title "Go (golang)" or so?

![image](https://cloud.githubusercontent.com/assets/81302/7969043/3850b01a-09e9-11e5-946b-f09adc5db246.png)

Workaround is to select the specific repository:
![

[2015-06-03 19:23] mtoader commented on #1672
I'll remove the links from there as soon as a new release is made with the improved plugin.

[2015-06-03 19:24] dlsniper commented on #1674
Hi, I'll add a PR with golang in the description of the plugin but for consistency I'd leave yhe name as is. What do you guys think?

[2015-06-03 20:07] zolotov commented on #1674
It was fixed in IDEA platform and will be available in the IDEA 15 EAP

[2015-06-03 20:07] #1674 closed

[2015-06-04 15:48] zolotov commented on #1670
Cannot recreate. Logs/OS/error messages?

[2015-06-04 18:32] #1641 closed

[2015-06-04 19:15] #1662 closed

[2015-06-05 02:49] rebill opened #1675 "when import name different with package name, can't find reference"
for example:
[code]

It doesn't works.

[2015-06-05 05:06] dlsniper commented on #1675
Please read the readme on how to report bugs. Which plugin version, what's your Go Libraries configuration, where's the project created, which IDE, can you provide a screenshot?

[2015-06-05 06:24] rebill commented on #1675
I'm sorry, that is my fault. when two packages in my disk at different paths, it won't work. I delete one of that, it works.

[2015-06-05 06:24] #1675 closed

[2015-06-05 07:35] dlsniper commented on #1675
@rebill I don't understand. It should work even if you have two packages that are ```package redis``` in your GOPATH. I have 3 different libraries that provide a package called ```redis``` and it still works.

[2015-06-05 07:39] dlsniper commented on #342
Some updates for this one: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/pull/1554#issuecomment-108069809 TL;DR: we should wait for IDEA 15 then see how things go or... Implement the checks inside the plugin (prefered way).

[2015-06-07 20:23] zolotov commented on #988
Actually it's better if test tool provides [IDEA reporting format] (https://confluence.jetbrains.com/display/TCD8/Build+Script+Interaction+with+TeamCity#BuildScriptInteractionwithTeamCity-ReportingTests). In the ideal world test tool shouldn't know about IDEA format but accept external reporters.

[2015-06-08 05:54] JakeWarner commented on #1590
Thanks for making this change @zolotov! Unfortunately, I can't find the interface to configure this.

[2015-06-08 07:31] zolotov commented on #1590
Settings | Languages & Frameworks | Go

[2015-06-08 07:36] JakeWarner commented on #1590
Hmm. I don't see anything there about flags / operating systems. I'm using the alpha repo for the plugin, current version according to IntelliJ is 0.9.325 on OSX. Is this proper?

Thanks again.

[2015-06-08 08:54] zolotov commented on #1590
Should be there. Please attach screenshot and logs.

[2015-06-08 18:23] zolotov commented on #1590
Sorry for misinformation. Build flags configurable was implemented in 0.9.329. Next alpha will contain it.

[2015-06-09 08:58] dlsniper opened #1676 "Documentation for struct fields / vars should display their type at least"
Currently when invoking the documentation on a struct type it will say: ```Fetching Documentation...```. It would be nice if it would display at least the declaration / field type so that it's more helpful.

[2015-06-09 14:35] JoeBruner opened #1677 "Missing description for Go section in the settings UI in build 0.9.346"
Just installed the latest release.  Looking at the `Settings > Languages & Frameworks > Go` and it has `!go.settings.description!`.  I'm guessing that was a bug/oversight

![image](https://cloud.githubusercontent.com/assets/5578559/8060434/481ca8ce-0e93-11e5-824b-d87b1e0634cd.png)

[2015-06-09 14:46] dlsniper commented on #1677
Good catch, thanks for reporting.

[2015-06-10 08:32] wuchuguang opened #1679 "about install go plugin after, can open setting panel"
i use intellijIDEA 14.1.3 (Linux Redhat Version)
install go plugin
cant open setting(Ctrl+Alt+S) panel

![qq 20150610162614](https://cloud.githubusercontent.com/assets/1677247/8078119/cf2cac38-0f8d-11e5-8dab-8857b07b4890.png)
click setting , but cant open setting panel

when i delete GoPlugin (/.IntellijIdea14/config/plugins/Go/)  , Normal again
i am a chinese

[2015-06-10 08:34] wuchuguang commented on #1679
i install Go.zip this zip file (compile this plugin ,i use java1.8.46 version)

[2015-06-10 08:39] dlsniper commented on #1679
Please see this link: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/CONTRIBUTING.md#getting-started-with-the-plugin-development on how to compile the plugin yourself. Or just follow the instructions from the readme and use the nightly channel: https://github.com/go-lang-plugin-org/go-lang-idea-plugin#pre-release-builds

[2015-06-10 09:16] wuchuguang commented on #1679
when i click setting menu button
 ERROR - llij.ide.plugins.PluginManager - null
java.lang.NullPointerException
	at com.goide.configuration.GoBuildTargetConfigurable.<init>(GoBuildTargetConfigurable.java:79)
	at com.goide.configuration.GoConfigurableProvider.createConfigurable(GoConfigurableProvider.java:40)
	at com.intellij.openapi.options.ConfigurableEP$ProviderProducer.createElement(Configurable

[2015-06-10 09:32] ignatov commented on #1679
If you've created your application from sources please enable `UI Designer` plugin.

[2015-06-10 09:39] wuchuguang commented on #1679
thanks , i use https://plugins.jetbrains.com/plugins/nightly/5047
success

[2015-06-10 09:44] #1679 closed

[2015-06-10 10:01] zolotov commented on #1677
IDEA version?

[2015-06-10 10:09] dlsniper commented on #1677
For me it happens with 141.1383.1

[2015-06-10 10:47] martyglaubitz opened #1680 ""Resolved to several targets" error for all built-in packages"
After the plugin automaticly detected the Go environment installed on the system
and i created a new project, it shows a strange error for all built-in imports.

![resolved_to_several_targets](https://cloud.githubusercontent.com/assets/1542037/8080621/4fe3386c-0f6e-11e5-8f32-e35e59a8e46a.png)

The error lets me guess i scans over the same files several times

I installed go via homebrew on my mac.

[2015-06-10 10:50] dlsniper commented on #1680
Hi, please see https://github.com/go-lang-plugin-org/go-lang-idea-plugin#bugs Also please send screenshots of your ``` Settings | Languages & Frameworks | Go ``` settings. And how did you configured the Go SDK in IDEA? Which plugin version do you use? How did you installed it? Did you compiled it yourself? Which IDE do you use?

[2015-06-10 11:11] martyglaubitz commented on #1680
Development Machine
![machine](https://cloud.githubusercontent.com/assets/1542037/8080836/18cb55c4-0f70-11e5-98f5-ef080e9a9021.png)

IDE & JDK
![intellij](https://cloud.githubusercontent.com/assets/1542037/8080914/9501bc50-0f70-11e5-9c80-5f04b7b416d5.png)

PLUGIN (installed by steps described in the README of the plugin project under "Pre-release builds")
![plugin](https://cloud.githubusercontent.

[2015-06-10 11:13] martyglaubitz commented on #1680
It should be noted that there **WAS** an Google App Engine SDK installed on the system and a project
in which i used the app engine go SDK worked fine.

But due to deployment issues within app engine i droped GAE and thus completly removed
the app engine SDK from the system.

[2015-06-10 11:15] martyglaubitz commented on #1680
I configured the Go SDK when creating a new project since the plugin automatically detected the Go SDK installed on my machine and i just used it when it show up in the project wizard

[2015-06-10 11:17] dlsniper commented on #1680
Much better, thanks.

So,  the error happes because the Go sdk path is also configured into the Go Libraries.
Please remove it from there and either configure the Go Libraries to point to where your GOPATH and things should work.

[2015-06-10 11:23] martyglaubitz commented on #1680
Alright, that did it thanks! :+1:

By the way: thanks for the crazy fast answer :)

[2015-06-10 11:23] #1680 closed

[2015-06-10 12:54] JoeBruner commented on #1677
For me it was IDEA 14.1.3, build # IU-141.1010

On Wed, Jun 10, 2015 at 6:09 AM, Florin Patan <notifications@github.com>
wrote:

[2015-06-11 06:12] angelow1337 opened #1681 "v0.9.346: NoClassDefFoundError: freemarker/template/utility/StringUtil"
Causes a broken inspection.
Occurs when the following code was written (i think its caused by "for i, rune := range actionName"):
[code]

Stacktrace:

freemarker/template/utility/StringUtil
java.lang.NoClassDefFoundError: freemarker/template/utility/StringUtil
	at com.goide.inspections.GoReservedWordUsedAsName.registerProblem(GoReservedWordUsedAsName.java:85)
	at com.goide.inspections.GoReservedWo

[2015-06-11 07:05] dlsniper commented on #1681
Hi, which IDE, version and name, are you using? And sorry, I guess I'm the one who broke it :-D

[2015-06-11 07:52] #1681 closed

[2015-06-11 12:34] kokizzu commented on #1646
It happened again, even when UI Designer enabled while building.

this only happened when go plugin installed,
The settings can be opened when no projects opened (on project selection menu)

[code]

[2015-06-11 16:55] zolotov commented on #1646
It's not  `again`, this is completely different exception and it has nothing to do with Go plugin.

[2015-06-11 16:55] #1646 closed

[2015-06-12 00:48] kokizzu commented on #1646
youre right, my bad..

[2015-06-15 07:42] gauravvnera opened #1682 "Documentation not working for short-assignment inferred variables"
Consider the below snippet of code:
[code]
The popup for documentation gets stuck at "Fetching Documentation..." for
1) client
2) resp
3) resp.Body
etc.

plugin: 0.9.348

[2015-06-15 07:45] dlsniper commented on #1682
Hi, what would be the expected result there? There is no docblock for any of the variables you've mentioned. Maybe we could infer the type?

[2015-06-15 08:11] gauravvnera commented on #1682
If we could infer the type, then
1) client would show type of the variable
2) resp would show type of the variable
3) resp.Body would show doc from http.Response.Body

[2015-06-15 08:15] dlsniper commented on #1682
@zolotov and @ignatov I'll leave this open as it's an extension of #1676.
As for type inference, until we can do that, should the plugin say something like: "No documentation found" rather that the "Fetching Documentation..." message? If so, I'll work on a patch for it today.

[2015-06-15 08:19] gauravvnera commented on #1682
thanks for taking the request!

[2015-06-15 08:22] dlsniper commented on #1682
@gauravvnera thanks for reporting ;)

[2015-06-15 19:57] dlsniper opened #1683 "Plugin ignores settings in Go Library panel"
Using IDEA 14.1.4 RC 141.1531.2, plugin commit: 02ecbaf166e29fe3898aa9a5cb8647392199c485
Ide logs: http://pastebin.com/xp7sZ4FT

Steps to reproduce:
- try to disable the ```Use GOPATH that's defined in the system environment``` -> it will get reenabled when the the IDE starts again
- try to enable the same setting, it won't automatically add the env GOPATH in the list as read-only
- disable the op

[2015-06-15 19:58] dlsniper commented on #1683
CC-ing @simongui as he prompted the discovery of the issue while trying to configure a project to use a project library path for a custom Go project.

[2015-06-15 20:02] zolotov commented on #1683
Will try but doubt that I'll be able to recreate it.

Depends on what you're attaching, likely it works as intended.

It has nothing to do with anything.

And after all I don't see any connection between this issue and problems that @simongui is experiencing.

[2015-06-15 20:07] dlsniper commented on #1683
I'm attaching the path that would be in the "Global Libraries" (my own GOPATH), there's nothing special for it.

I mentioned it because in his case it would make sense to use the "Project libraries" section to set the GOPATH to ```_vendor```.

I'll try and debug it, but meanwhile, if I should enable some extra logs or something please let me know.

[2015-06-15 20:14] zolotov commented on #1683
This is not the reason to adding this into external libraries group.

It's better to attach .idea directory just after changing options and after closing IDE

[2015-06-15 21:08] #1652 closed

[2015-06-17 15:53] ignatov commented on #1659
Ping.

[2015-06-18 20:45] ignatov commented on #1635
Please reopen if needed.

[2015-06-18 20:45] #1635 closed

[2015-06-18 20:46] ignatov commented on #900
Please provide a description and a code sample if needed.

[2015-06-18 21:25] asogor opened #1684 "Need help setting CGO_CFLAGS in IDE"
I have a  project uses: https://github.com/jmhodges/levigo
It needs:
    CGO_CFLAGS="-I/path/to/leveldb/include" CGO_LDFLAGS="-L/path/to/leveldb/lib" go get

How can I set it in the IDE, which menu item? I can do it in command line but I wonder if there is an elegant way?

Aron

[2015-06-18 21:30] zolotov commented on #1684
It's impossible to set these variables for `go get` that is invoked from IDE. Why do you need this btw?

For building/running you can set these flags in particular Run Configuration | Environment variables field

[2015-06-18 21:33] dlsniper commented on #1684
Hi, as far as I can understand you'd want to add those to the ```go get``` part. For that you can't set custom params / env variables.

However, if you build your app using that library, your run configuration and add the following params to the go tool parameters section:

[code]

Note, the ``` -a ``` is there to force Go to rebuild the packages thus allowing you to build the app with the correct

[2015-06-18 21:35] dlsniper commented on #1659
I'll work on this in the weekend, I didn't had too much time in the past weeks, thanks for reminding me.

[2015-06-18 21:42] dlsniper commented on #1683
Aaaaand I'm an fool. At some point when I changed the idea.sh after I've upgraded to one of the versions, I've forgot to add the ```export``` in front of the ```GOPATH=/path/to/go/path/```` so all the things were broken in that regard. Ignore me

[2015-06-18 21:42] #1683 closed

[2015-06-18 21:48] dlsniper commented on #1684
For that particular library it seems you should send the values for where the LevelDB stuff is so that the package is properly built by Go. Given the fact that Go won't rebuild the package unless it's changed, running ```go get``` without it might not configure it properly (and unless you run with ```-a``` it will remain like that until a new version is pulled).

@asogor please correct me if I'm w

[2015-06-18 22:08] asogor commented on #1684
@dlsniper you are right building it outside worked.

[2015-06-18 22:08] #1684 closed

[2015-06-19 12:00] AlejandroVera opened #1685 "Can not download plugin"
Hi.

I'm trying to download the plugin from PHPStorm. I have added the repository but, when I click on the download button, I get a 404 error.
I think that the xml in https://plugins.jetbrains.com/plugins/nightly/5047 have incorrect values for all the "download-url". Instead of "../../plugin/download?updateId=20062" I think it should be something like "../../../plugin/download?updateId=20062" (one

[2015-06-19 12:02] dlsniper commented on #1685
Hi, which version of PHPStorm fo you use? Is it listed in the readme as supported? Thanks

[2015-06-19 12:06] AlejandroVera commented on #1685
Hi.
Version is 8.0.3 Build #PS-139.1348

[2015-06-19 12:14] dlsniper commented on #1685
Unfortunately the plugin doesn't support that verison. Please use phpstorm 9 EAP or one of the supported IDEs.

[2015-06-19 12:14] #1685 closed

[2015-06-19 12:15] dlsniper commented on #1685
https://github.com/go-lang-plugin-org/go-lang-idea-plugin#pre-release-builds

[2015-06-19 12:17] AlejandroVera commented on #1685
OK, thanks for your help.

[2015-06-19 16:08] dlsniper opened #1686 "Quick documentation doesn't correctly display this < > signs in function signature"
Possibly related to: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1613

[code]

Output
[code]

[2015-06-19 16:15] dlsniper opened #1687 "Parameter info not show for closure function calls"
In a function call like this
[code]

the parameter information is not show when invoked at ```<cursor>```

[2015-06-21 01:41] t-yuki commented on #969
FYi, I tried this previously with standalone program.
https://github.com/t-yuki/godoc2puml

[2015-06-22 11:49] #1686 closed

[2015-06-22 13:44] #1687 closed

[2015-06-22 14:49] #1595 closed

[2015-06-22 19:30] #1653 closed

[2015-06-22 21:01] dlsniper opened #1690 "Show compiler escape analysis results inline"
Hi,

I have the following code: https://play.golang.org/p/csIM6lGO4u
When I execute: ``` go build -gcflags -m inline.go ``` I can see how the compiler will inline various functions and if parameters will escape to heap or not (as in the example bellow)
[code]

My idea would be to introduce something line the [Inline debugging](https://www.jetbrains.com/idea/help/inline-debugging.html) feature Inte

[2015-06-22 21:12] dlsniper commented on #1690
Of course if there's a another way to present this information, I'm open for it :)
I've put it to x.x.x pool as I don't think it's important to have for the near future but it presents a nice feature (also there's the question I've asked on Gitter which neeeds to be solved first).

Thank you.

[2015-06-23 00:37] horkhe opened #1691 "variable and type namespace"
Variables and types have the same namespace so it should be an error to introduce variable with the same name as a type declared earlier and vice versa:
[code]

[2015-06-23 03:13] drpotato commented on #1282
Any progress on this?

[2015-06-23 06:46] dlsniper commented on #1282
The plan is to evaluate this after 1.0 is released. There are quite a few different dependency management tools out there and go1.5 will also add its own.

Meanwhile, people should be able to create a project in the normal way then set the Project Libraries to the _vendor directory and things should work out (instead of doing this automatically). Please try it this way and if it doesn't work, open

[2015-06-23 06:50] dlsniper commented on #1691
Thanks for reporting.

I've put the up for grabs label as I think iy should be relatively simple to do it but please correct me if I'm wrong.

[2015-06-23 08:34] dlsniper commented on #1282
As a reference for others:

- For the Go one there's this discussion here: https://groups.google.com/d/msg/golang-dev/74zjMON9glU/4lWCRDCRZg0J and this is the commit: https://groups.google.com/d/msg/golang-dev/74zjMON9glU/EOKSoaL5p8wJ

- other dependency management tools: https://github.com/golang/go/wiki/PackageManagementTools (list is too long to list here)

[2015-06-23 09:22] ignatov commented on #1691
Relates to #1198

[2015-06-23 09:55] #1633 closed

[2015-06-23 14:07] ignatov commented on #1493
Please reopen if needed.

[2015-06-23 14:07] #1493 closed

[2015-06-23 14:29] #1409 closed

[2015-06-23 15:50] dlsniper opened #1692 "Inspection to check if error is handled"
For the following examples:

[code]

[code]

[code]

I guess there are many other examples but the gist is: it would be nice if the plugin, at some point, could detect if an error is handled or not.
Why I want this (besides the obvious quality aspect)?

I have a code base like this:
[code]
and it's tricky to see if I'm handling all the ``` er ```'s or ``` err ```'s.

Hope it's clear enough.

[2015-06-23 18:42] #988 closed

[2015-06-24 05:38] rekby opened #1694 "Error while complete variable name"
![screenshot from 2015-06-24 08 34 44](https://cloud.githubusercontent.com/assets/5411205/8323363/ffc0aebc-1a4b-11e5-9351-8c87e3ac42eb.png)

completion work good in other languages (Java) and for methods name.

I use Intellij IDEA community edition 14.1.2.
I have problem few days.
Go plugin was updated today and few days ago from https://plugins.jetbrains.com/plugins/nightly/5047

[2015-06-24 06:23] dlsniper commented on #1694
Can you share a code sample that we can run and reproduce the error? Otherwise it's impossible to get it fixed. Also, which version do you have exactly? And what's your Go Libraries configuration? Thanks

[2015-06-24 06:37] rekby commented on #1694
It reproduced in empty project with one main function and a var:
![screenshot from 2015-06-24 09 26 55](https://cloud.githubusercontent.com/assets/5411205/8323913/4230b646-1a53-11e5-8692-a0e3366b2af6.png)

code:
[code]

In the example I have only project's source in go libraries:
![screenshot from 2015-06-24 09 29 38](https://cloud.githubusercontent.com/assets/5411205/8323948/a3c0e3fe-1a53-11e5-98

[2015-06-24 06:40] dlsniper commented on #1694
Thanks for details.
Please remove the project dir from the Project Libraries section and it should work out just fine. If it doesn't, let us know.

[2015-06-24 06:47] rekby commented on #1694
I have tried: It isn't help.

I have added the project dir in Project Libraries becouse without this the plugin doesn't work good (doesn't find code from near folders and show errors in imports, var/method names from other packages and etc).

[2015-06-24 07:02] dlsniper commented on #1694
How is the project layout on the disk?
- project dir
- GOPATH
- where is the Go sdk installed
If by any chance the project is open source, can you please share it?

Thanks

[2015-06-24 07:10] rekby commented on #1694
project dir:
/home/rekby/git/gotmp

GOPATH (when start go with working dir /home/rekby/git/gotmp/src or any subdir:
go env | grep GOPATH
GOPATH="/home/rekby/git/gotmp"

global GOPATH is empty.

go sdk installed in:
/home/rekby/bin/go-1.3.3

but go sdk NOT included in PATH. I have bash script with name "go" in PATH to run it instead of go binary and change GOPATH on fly:
https://gist.github.com/rek

[2015-06-24 07:22] dlsniper commented on #1694
Ok, got it. The problem happens because the file you aare editing is in GOPATH/src but the package is called ```src``` not ```main```. Try changing that please. Normally a package called src should be placed in GOPATH/src/src for go to work.

[2015-06-24 07:33] rekby commented on #1694
I tried to move main.go in /home/rekby/git/gotmp/src/src - it isn't help.

The plugin CAN parse the module and show suggestions for methods, types, etc. It show right count on empty lines for suggest of variables and right complete variable name, when I press space.
It only show empty lines in suggestion list for var names (but good for methods, types, etc).

![screenshot from 2015-06-24 10 29 11]

[2015-06-24 07:51] ignatov commented on #1694
Already fixed. Sorry for any inconveniences.

[2015-06-24 07:51] #1694 closed

[2015-06-24 08:01] ignatov commented on #1694
The build with a fix (0.9.361) has been already uploaded to the plugin repo. Please check for updates.

[2015-06-24 08:05] rekby commented on #1694
The problem is solved. Thanks.

[2015-06-25 14:48] vassilevsky commented on #1436
@aubble the download link no longer works :( Could you post a fresh one? Your scheme looks very interesting :)

Also, do you have any good light schemes?

[2015-06-25 15:21] aubble commented on #1436
@vassilevsky no good light scheme, I only use the dark one :(

But here, just exported it for you :D

https://www.dropbox.com/s/xcxxndmbt0grhsu/settings.jar?dl=0

[2015-06-25 16:02] dlsniper commented on #1436
Maybe here you can find some nice colors? http://www.ideacolorthemes.org/home/ Also if you guys have something and want to share it, just paste a screenshot and a download link here.

[2015-06-25 18:09] horkhe opened #1695 "Error in select case is not reported"
The following snippet is rendered as correct, but it has a syntax error
[code]

[2015-06-25 19:37] horkhe opened #1696 "Unused variable declared in a type switch is not reported"
The following snippet is rendered as correct but it has a compiler error:
[code]

[2015-06-26 00:45] 631768417 opened #1697 "The selected directory is not a valid home for Go SDK"
win7 x64
go version go1.4rc2 windows/amd64

path : C:\Go

[2015-06-26 06:47] dlsniper commented on #1697
Thanks for reporting. Can you please paste the content of ```$sdk/src/runtime/zversion.go```?
Also, after doing that, I highly suggest that you update to the latest version of stable Go (1.4.2).
Thank you.

[2015-06-26 07:24] vassilevsky commented on #1436
Thank you! I have installed your theme ✨

Yes, ideacolorthemes.org is an awesome site. But light themes I tried from it don't support Go very well :( So they just look like the default theme.

The problem seems to be that JetBrains haven't made it simple to collaborate on themes yet :( It would be nice to have a format like CSS and simple text files in repos to do that.

[2015-06-26 09:30] zolotov commented on #1697
@631768417 plugin version?

[2015-06-26 09:38] dlsniper opened #1698 "Run tests and gocheck tests from context"
It would be nice if I could right click anyway in the test function and have an option to run just that single test function instead of the whole test suite / currently selected runner.

I only have gocheck tests at the moment so that's why I've put both gocheck and normal go tests here. Also benchmarks and examples should behave this way.

This functionality was (is?) in the old-master branch (fo

[2015-06-26 09:40] zolotov commented on #1698
![screenshot 2015-06-26 12 40 07](https://cloud.githubusercontent.com/assets/140920/8374725/7b8ba5aa-1c00-11e5-8fa1-5afb45f74344.png)

[2015-06-26 09:45] #1698 closed

[2015-06-26 09:51] dlsniper commented on #1698
I guess because I already have a run configuration selected, I don't have that.

![snapshot101](https://cloud.githubusercontent.com/assets/607868/8374901/3d1db4c2-1bf9-11e5-8322-a414d8938fa4.png)
![snapshot102](https://cloud.githubusercontent.com/assets/607868/8374902/3d1e3d0c-1bf9-11e5-860e-655b3fe1c200.png)
![snapshot103](https://cloud.githubusercontent.com/assets/607868/8374900/3d1d055e-1bf9-11

[2015-06-26 09:53] zolotov commented on #1698
It's obviously bug, file a bug report about it with code samples

[2015-06-26 10:00] dlsniper commented on #1698
Ok, I'll file a bug for that.

But in Java when I am in a Test class, regardless of which run configuration I have selected, it will offer to run the current either for the class or for method I'm in. If then I step out and go back to project classes it won't offer to run anything but that's ok.

That's what I wanted to suggest with this issue, to allow people to run whatever they have at cursor r

[2015-06-26 10:10] zolotov commented on #1698
I know how it works in Java and it works in go in the same way. The bug is about handling your particular code, so please just give me code sample, expected result, actual result.

[2015-06-26 10:44] mkabischev opened #1699 "Don`t redirect output to /dev/null while debugging"
Hi.

While debugging commands runs like
[code]
so "Console" tab is empty. It isn`t useful. Was there any reason to do so?

[2015-06-26 10:44] gabrielf opened #1700 "Extend/Shrink Selection for strings"
I use the commands for extend/shrink selection a lot. These commands behave a little bit differently for go, when used with the caret inside a string literal, compared to other languages such as javascript or json.

Place the caret inside the word "world" inside of the string literal `"hello wo|rld"`. Hit <kbd>ALT</kbd> + <kbd>↑</kbd> to Extend Selection to select `world`. Extending the selection

[2015-06-26 10:45] mkabischev opened #1701 "Allow to pass arguments in Go DBG configuration"
I need to pass some arguments to my application, but i can`t specify them on Go DBG configuration screen, so i have to change values direct in code.

[2015-06-26 10:48] dlsniper commented on #1699
According to this: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/src/com/goide/debugger/ideagdb/run/GdbRunner.java#L96 it's a left-over.

I know from the previous implementation of the GDB support that it's a pain to have it done as well since then the parser will get complicated due to GDBs poor API so I guess that's the reason as well.

[2015-06-26 10:51] dlsniper commented on #1701
Thanks for reporting. The GDB runner is experimental at this point due to GDB itself not supporting Go properly: https://golang.org/doc/gdb as such not much time was invested into this particular part of the plugin so far.

[2015-06-26 11:00] dlsniper opened #1702 "Contextual running of tests doesn't work"
On commit: 2ea48088f6e9e6a54d3f215ccdf02273cc63bdda
IDEA 15 EAP: 142.2670.3

[code]

Expected result:
[code]

Obtained result:
[code]

[2015-06-26 11:08] dlsniper opened #1703 "IDEA 15 display test duration"
When running gocheck tests the duration of each test is not displayed near each test.

![snapshot104](https://cloud.githubusercontent.com/assets/607868/8376150/3ab562a6-1c04-11e5-9155-65ec0edcf61c.png)

I'll need to check if normal go tests behave similarly.

[2015-06-26 11:11] dlsniper opened #1704 "skipped gocheck tests are not present when the 'Show Ignored' option is used"
plugin version: 2ea48088f6e9e6a54d3f215ccdf02273cc63bdda
IDEA 15 EAP: 142.2670.3

[code]

[2015-06-26 11:22] #1700 closed

[2015-06-26 12:21] gabrielf commented on #1700
I am very impressed!

[2015-06-26 15:35] #1703 closed

[2015-06-26 15:44] gedw99 opened #1705 "checking go sdk messes up the ability to build"
/Users/apple/go1.4/bin/go build -o "/private/var/folders/wp/ff6sz9qs6g71jnm12nj2kbyw0000gp/T/Build server.go and run0go" /Users/apple/Workspace/src/github.com/grpc/grpc-go/examples/route_guide/server/server.go
# google.golang.org/grpc/examples/route_guide/proto
../../../google.golang.org/grpc/examples/route_guide/proto/route_guide.pb.go:20: import /Users/apple/Workspace/pkg/darwin_amd64/github.com

[2015-06-26 15:47] dlsniper commented on #1705
Short answer: Add a "-a" switch to the go tool parameters in the run configuration and it will be fixed.
Long answer:
Which plugin version do you use?
What do you mean by checking go sdk?
It's not clear what you attempt to do there. You have the IDE pointed at a symlink and then you changed the symlink target? Sorry but the description needs more :heart:

[2015-06-26 16:12] gedw99 commented on #1705
Sorry:
OS: OSX
Versions of intelliJ: 14.14
GO pluging version: 0.9.348

----

to be honest. i just started to use the plugin, and am not sure i am doing things correctly. It could be user induced bug :)

I think where i am getting messed up is on the "Run Kind" of the Configuration.

For example:

This works fine for me. Its a single file that i load as a project
Workspace/src/github.com/go-gl/exa

[2015-06-26 16:47] #1702 closed

[2015-06-26 17:15] #1704 closed

[2015-06-26 17:31] zolotov commented on #1690
I didn't understand how it's related to IntelliJ inline debugging.

You can run `go build -cgflags -m` via run configuration and get the same output
![screenshot 2015-06-26 20 28 52](https://cloud.githubusercontent.com/assets/140920/8383330/fa5ddd30-1c41-11e5-9450-46d2a3e54ca6.png)

What is the point in showing these messages in editor? How do you suppose to run gobuild and get this information in

[2015-06-26 17:32] zolotov commented on #1670
Can't reproduce

[2015-06-26 17:32] #1670 closed

[2015-06-26 17:50] #1609 closed

[2015-06-26 18:19] dlsniper commented on #1705
Ok, so you basically have something like this:

- from the command line this works:
[code]

- from the IDE:
your run configuration for a Go Application configured with a File target to ```/Users/apple/Workspace/src/github.com/grpc/grpc-go/examples/route_guide/server/server.go``` does not.

Is that correct?

Could you provide screenshots (or even better a screencast) of the problem? I guess that wo

[2015-06-26 18:34] dlsniper commented on #1690
Ok, maybe I should provide more examples went posting features :D

So, my problem is like this,  ```go build -gcflags -m``` currently produces ~12k lines for a project I have (and that's a small to medium size project) which wouldn't make a nice output in the console of the IDE.

Why I mentioned the inline debugger way of displaying information is because I'd prefer to have something like this

![

[2015-06-26 19:23] joeblew99 commented on #1705
Will have another crack at it on Monday, and send screenshots.

My aim to to get debugging going.

If we work up some notes and screenshots we can make it  easy for other newbies too

[2015-06-26 19:28] dlsniper commented on #1705
@joeblew99 if you refer to the GDB debugging, there's a reason debugging is not documented yet. It's experimental, even the Go manual says that GDB doesn't play nicely with it. But sure, please send screenshots and I'll be happy to help you out ;) Have a nice weekend.

[2015-06-26 20:15] #771 closed

[2015-06-26 22:45] #1525 closed

[2015-06-26 22:53] zolotov commented on #1591
Well, we've done all that we could. Hope it's better now.

[2015-06-26 22:53] #1591 closed

[2015-06-26 22:55] zolotov commented on #1608
Fixed in Intellij Platform. See https://youtrack.jetbrains.com/issue/IDEA-141585 for details

[2015-06-26 22:55] #1608 closed

[2015-06-26 23:05] dlsniper opened #1706 "Assertion failed: Dialog title shouldn't be empty or null: []"
This happens on 66805329b93b5d0d4692f5d0997138bff30d225c commit when trying to edit the go tool or program arguments. I've reported it as using the report form: https://ea.jetbrains.com/browser/ea_reports/873246 but I had the wrong description (it's not the environment variables but the go tool arguments or program arguments).

[2015-06-26 23:14] #1706 closed

[2015-06-27 08:15] dlsniper commented on #1616
I'll close this due to lack of updates.

[2015-06-27 08:15] #1616 closed

[2015-06-27 08:29] dlsniper commented on #1656
Closing this due to lack of feedback

[2015-06-27 08:29] #1656 closed

[2015-06-27 09:51] joeblew99 commented on #1705
Ah. Maybe I miss understand.
I assumed delve was part of the plugin.
It's not ? Its on the roadmap ?

[2015-06-27 09:52] joeblew99 commented on #1705
I also thought delve does not use GDB. Correct ??

[2015-06-27 10:01] dlsniper commented on #1705
@joeblew99 I'm not sure where you've got the information but it's wrong. Delve support is on the roadmap. The only debug runner in the plugin now is GDB (and that's experimental). If you want to track the progress for it, here it is: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/pull/1640

And yes, delve doesn't use GDB.

[2015-06-27 10:03] joeblew99 commented on #1705
OK thanks.

[2015-06-27 13:31] 631768417 commented on #1697
latest version

[2015-06-27 13:31] dlsniper commented on #1697
Yes, but which one?

[2015-06-27 13:38] 631768417 commented on #1697
我从github上下载下来，自己编译的。

version: 0.9.348

[2015-06-27 13:39] dlsniper commented on #1697
And the contents of: ``` $sdk/src/runtime/zversion.go ``` ?

[2015-06-27 13:41] 631768417 commented on #1697
package runtime

const defaultGoroot = `c:\go`
const theVersion = `go1.4rc2`
var buildVersion = theVersion

[2015-06-27 13:43] 631768417 commented on #1697
Dan teng .... Go Plugin Verson : 0.9.348

[2015-06-27 13:43] dlsniper commented on #1697
Thank you :)

[2015-06-27 13:44] 631768417 commented on #1697
How to deal with...

[2015-06-27 13:45] 631768417 commented on #1697
Use the go1.3 version?

[2015-06-27 13:47] dlsniper commented on #1697
Use go 1.4.2 from https://golang.org/dl/ (go1.4.2.windows* ) or wait for the next release, I'll fix this soon.

[2015-06-27 13:57] dlsniper commented on #1697
The PR with the fix; https://github.com/go-lang-plugin-org/go-lang-idea-plugin/pull/1707

[2015-06-27 13:57] 631768417 commented on #1697
Thanks!!!!!  Already can be

[2015-06-27 13:58] 631768417 commented on #1697
。。。用英文真心别扭。。 可以了。。换成最新版Go1.4.2 可以用了。。

[2015-06-27 14:00] #1697 closed

[2015-06-28 02:54] AndreKR opened #1708 "Make and Debug buttons do nothing"
The Run button works, but when I click the Make or Debug button, nothing happens.

For debugging, I tried to check the checkbox described in http://stackoverflow.com/a/28106067/476074 but I couldn't find it anywhere - that seems to be for a different IDEA version? I am using 14.1.4. and if that is supposed to be the Run Configurations dialog, it looks very different for me:
![image](https://cloud.

[2015-06-28 06:33] dlsniper commented on #1708
Hi, both questions are covered in previous issues, please search for them using the builtin search from github. Thank you.

[2015-06-28 06:33] #1708 closed

[2015-06-28 11:00] dlsniper opened #1709 "NoSuchMethodError when using the plugin compiled against IDEA 15 EAP on IDEA 14 IC"
Hi,

I'm not sure if this intended or not, here's the log that I have.

[code]

[2015-06-28 11:24] zolotov commented on #1709
As well as on IDEA 13/12/11/etc., don't see any reason to fix it.

[2015-06-28 11:24] #1709 closed

[2015-06-28 11:31] dlsniper commented on #1709
ah, ok, so it's just a problem if I compile against a higher version of IDEA. Thought so but I wasn't sure so I preferred to ask. Thank you!

[2015-06-28 12:10] zolotov commented on #1650
Should work for builtin types since next nightly. Please feel free to ping me if you'll see any unresolved symbol in Go in your configuration (without go-project sdk)

[2015-06-28 12:10] #1650 closed

[2015-06-28 15:28] AndreKR commented on #1708
I searched for "make" but I admit I did not read all 29 issues, but I also searched for "debug" and I read all 6 issues and none of them is about it not working at all.

[2015-06-28 16:11] zolotov commented on #1708
@AndreKR

There are 285 issues

make: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1453#issuecomment-83124378

I've disabled debug button, use Go GDB run configuration instead. But: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1645#issuecomment-105224937

[2015-06-29 21:02] dlsniper commented on #1705
@gedw99 / @joeblew99 (as I don't know if it's the same person) Any news on this?

Changing Go SDK version would cause compilation issues as well outside IDEA, basically one would need to either wipe $GOPATH/pkg dir or to use ```-a``` flag.

@zolotov what do you think, should we threat this case somehow in the IDE? Maybe display a message informing the user about this issue and how to solve it?

[2015-06-30 06:31] mweibel opened #1711 "Move file to new directory -> change package"
FYI I started the implementation of this feature. Renaming the package according to the new directory the file was moved in works in the meantime and I'm starting with the work on finding usages and renaming the import declarations there.
Should I open a PR for the WIP I'm working on or what is the preferred process?

It's my first contribution to a intellij plugin, I expect you'll have quite some

[2015-06-30 07:16] ignatov commented on #1711
Please feel free to open a PR. Sure we'll help you with comments.

[2015-06-30 07:18] ignatov commented on #1711
You can start from `com.intellij.refactoring.move.moveFilesOrDirectories.MoveFileHandler` and its implementations.

[2015-06-30 08:43] dlsniper opened #1712 "Display struct methods as part of the struct in project structure view"
The plugin should display the methods attached to a struct as being part of the struct just like fields are.

[code]

[2015-06-30 10:37] zolotov commented on #1705
@dlsniper maybe, but not on changing SDK. Do you know how to detect situations when GOPATH/pkg content doesn't correspond to some SDK?

[2015-06-30 12:14] gedw99 commented on #1705
All - Yes i was wondering the same.
I was changing between go 1.4 and go 1.5
Both were on my system in different directories, and both worked correctly when i setup the env variable correctly for each.

SO the key question is, DOES the plugin rely on the environment variable ??

[2015-06-30 12:42] dlsniper commented on #1705
@gedw99 on what environment variable do you refer to? And where you restarting the IDE after the change?

@zolotov for this the plugin should read the .a files and see to which version they belong to but that's not fun to do because it might bump into a file that's compiled with 1.4 and another one with 1.5 and another with 1.4.2. In this case the decision should be to wipe the dir contents or dis

[2015-06-30 12:44] zolotov commented on #1705
Message is ok but we shouldn't show it on sdk changing, there are a lot of cases when this situation might happen.

[2015-06-30 12:46] zolotov commented on #1705
@gedw99 It's not the key question. Plugin uses your environment by default, but of course you should restart an application after changing it, that's just how environment works. In common case you can ignore ENV settings and set GOPATH manually at `Setting | Languages & Frameworks | Go | Go Libraries`

[2015-06-30 12:47] dlsniper commented on #1705
I see. Would it be possible to store the go version alongside with the other project settings and compare it with yhe current sdk version only when run configurations are invoked? If so, I can work on something for that.

[2015-06-30 12:58] zolotov commented on #1705
Sounds good.

It shouldn't be a project setting and shouldn't be stored in .idea. It's better to use `PropertiesComponent` just like for isNotificationShownFlags. Also likely it should be recalculated on file update events under $GOPATH/pkg directories (VirtualFileListener).

[2015-07-01 10:04] #1712 closed

[2015-07-01 10:06] ignatov commented on #1712
Interface types are covered too.

[2015-07-01 10:10] dlsniper commented on #1712
Awesome! Thank you!

[2015-07-01 12:25] #1696 closed

[2015-07-01 14:31] #1399 closed

[2015-07-01 15:26] JoeBruner opened #1713 "Modify the CTRL+hover output to show function signature"
This has bugged me for quite some time.  Here is an example of holding CTRL while hovering over a method/function in different languages:

Java:
![image](https://cloud.githubusercontent.com/assets/5578559/8457591/38b59ffe-1fe0-11e5-81e1-aa874d61935d.png)

Python:
![image](https://cloud.githubusercontent.com/assets/5578559/8457843/b56d384e-1fe1-11e5-84a1-36b625b960c8.png)

Go:
![image](https://clou

[2015-07-01 15:32] dlsniper commented on #1713
Hi, as a quick workaround you can use the quick documentation feature to get the output you desire.

@ignatov or @zolotov I can have a try at this one if you tell me where to look for it. Thank you

[2015-07-02 05:26] mweibel commented on #1711
Working on the linked branch, compare view: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/compare/master...mweibel:feature/1711-move-file-handler?expand=1

Currently a bit struggling with how to set up the ReferencesSearch, it doesn't seem to find any references. Will need to look that up :)

[2015-07-02 08:03] zolotov commented on #1711
Why do you think that there are references? Who added them?
How are you going to handle packages with _test suffix or `main` or `documentation` packages?
How are you going to handle following case?

/src/foo/foo.go
[code]
/src/bar/bar.go
[code]

`mv src/bar/bar.go src/foo/`

[2015-07-02 08:06] dlsniper commented on #1711
@mweibel please open a PR, it would be easier to comment there ;-) Also, great stuff, looking forward to it.

[2015-07-02 08:12] zolotov commented on #1711
No, it should be done by another 'rename package' refactoring

[2015-07-02 12:27] hbprotoss opened #1714 "Wrong method completion to struct alias"
[code]

[code]

B has no method AddAge, but the code completion shows AddAge.

(I'm new to Go and learning the basis, maybe there's some misunderstanding of the grammar)

[2015-07-02 16:07] mweibel commented on #1711
@dlsniper created pr #1716

@zolotov

sorry for being overly optimistic maybe ;) I thought the references are somehow added automatically by some "magic" ;)

Might need some special cases.
I first try to get some basic stuff working because it's my very first contribution to any intellij plugin, never used the SDK before.

Interesting case I honestly didn't think about yet. Most likely due to the

[2015-07-02 20:19] zolotov commented on #1711
Indeed, before move file handler implementation it make sense to implement package references and `rename package` refactoring

I see. Maybe it's better to implement something simpler first (issue about packages refactoring is quite complicated actually, that's why it's still open). At least simpler issues will be merged faster :)  You can find relatively easy issues by `up for grabs` label.

" A

[2015-07-02 21:13] ignatov commented on #1713
Please implement com.intellij.lang.documentation.DocumentationProviderEx#getQuickNavigateInfo in com.goide.GoDocumentationProvider.

[2015-07-02 21:17] ignatov commented on #1713
@dlsniper Please don't use bold, pre and code tags.

[2015-07-02 21:20] ignatov commented on #1642
Is it still actual?

[2015-07-03 05:51] mweibel commented on #1711
Ok I see. Will have a look at that but as you said, most likely something simple would be better to start with.

Changed now to use that function instead of manually getting the files and it's first package :)

[2015-07-03 06:56] dmitry-vovk commented on #1642
Looks like it is no more relevant. Did not experience with latest builds.

[2015-07-03 07:05] dmitry-vovk opened #1717 "Exception on test run"
I observe an exception reported by IDEA in go plugin. It happens when I right click in editor window that contains tests and choose "Run \<current file name\>" command. The same happens when I run tests using Run toolbar window.

This is what I see in events log:
[code]

Here is the trace:
[code]
Plugin: 0.9.375 and 0.9.376
IDEA: 142.2887.3

[2015-07-03 11:21] gabrielf opened #1718 "View Parameter Info for returned functions"
View => Parameter Info works great for simple functions but it does not work for functions created by and returned by other functions. This applies both when trying to call the returned function immediately and when storing it in a variable.

In the code below View => Parameter Info shows:

* `s string` at `$1` when `i int` is expected
* No parameters are shown at `$2` when `i int` is expected

[c

[2015-07-03 12:04] deas opened #1719 "Creating go1.4 SDK raises IllegalArgumentException"
I am running plugin version 0.9.15.3  on IntelliJ IDEA 14.1.4 and  Ubuntu 15.04. Installed go 1.3.3  and 1.4 via gvm. Creation of the SDK in Intellij worked fine for 1.3.3, but for 1.4 it fails  raising an ` IllegalArgumentException`

[code]

[2015-07-03 12:05] zolotov commented on #1719
@deas 0.9.15.3 is no longer supported. Please use alpha version, see README for details

[2015-07-03 12:05] #1719 closed

[2015-07-03 13:04] #1346 closed

[2015-07-03 13:04] #1428 closed

[2015-07-03 21:21] ignatov opened #1720 "Type for method spec is missing in structure view"
[code]

[2015-07-04 09:57] #1720 closed

[2015-07-04 11:12] #1580 closed

[2015-07-04 11:12] #1585 closed

[2015-07-05 19:56] dmitry-vovk opened #1721 "Add support for platform specific package implementation"
**Steps to reproduce:**
1. Inside a package, create two files, e.g. ```proc_linux.go``` and ```proc_darwin.go```
2. In ```proc_linux.go``` add package comment ```// +build linux``` and in ```proc_darwin.go``` add ```// +build darwin```
3. In each file add a function with the same name, e.g. ```func process() {/*...*/}``` as if it implements platform specific functionality.

**Actual result:** func

[2015-07-05 19:58] #1642 closed

[2015-07-05 20:41] zolotov commented on #1721
There is platform specific package implementation support. Just missed for this particular inspection

[2015-07-06 07:55] dmitry-vovk commented on #1721
Yes, there is. I can see a message above editor window "'series_macos.go' doesn't match the target system", and it correctly figures out what file to use to look for imported types and functions. It is just this one inspection.

[2015-07-06 10:37] eugene-auduchinok commented on #1624
These inspections are needed as code with such mistakes won't compile.

Can't Use "nil" to Initialize a Variable Without an Explicit Type
http://devs.cloudimmunity.com/gotchas-and-common-mistakes-in-go-golang/index.html#nil_init
Using "nil" Slices and Maps (OK for slice and runtime error for map)
http://devs.cloudimmunity.com/gotchas-and-common-mistakes-in-go-golang/index.html#nil_slices_maps
Stri

[2015-07-06 13:20] dlsniper opened #1722 "Tracking for auto-report 883768"
I've got this on IDEA 15 EAP while opening a project with Go AppEngine SDK https://ea.jetbrains.com/browser/ea_reports/883768. Not really sure how to reproduce it.

[2015-07-06 14:04] zolotov commented on #1722
thanks

[2015-07-06 14:52] #1722 closed

[2015-07-06 18:14] aubble opened #1723 "Unresolved reference on map of struct?"
See below

[code]

Original issue:

http://pastebin.com/XBiNkfSN - little chat server i've been working on. For the function broadcastLoop inside of manageChannel it says on line 201 that message is unresolved. Everything compiles and runs and the function works as expected. Don't know what's wrong.

<img width="1440" alt="screen shot 2015-07-06 at 2 10 45 pm" src="https://cloud.githubusercontent.

[2015-07-06 19:17] dlsniper commented on #1723
Thanks for reporting, I can indeed replicate this on f054bf9b55d789bb4566d00fc9a145d5d100132f

[2015-07-06 20:15] #1567 closed

[2015-07-06 20:21] dlsniper opened #1724 "Go Libraries dialog size is wrong on IDEA 14.1.4"
I'm using KUbuntu 15.04 with Java 1.8 (latest).
On initial opening of the Go Library Configuration from the dialog, the window is collapsed https://www.dropbox.com/s/nz5v3sn33pz0ghp/Screenshot%202015-07-06%2023.17.49.png?dl=0

[2015-07-07 13:40] adongroom opened #1726 "webStorm10.0.4 settings issue"
settings can not be opened after webStorm10.0.4 restart importing compiled jar package

[2015-07-07 13:47] dlsniper commented on #1726
Hi, how did you installed the plugin? Did you followed the instructions from here: https://github.com/go-lang-plugin-org/go-lang-idea-plugin#go-plugin-for-intellij or did you compiled it manually? Based on that I'll be able to help you out.

[2015-07-07 21:24] nhooyr opened #1727 "Unable to resolve variable in switch statement when using pointers"
Resolving seems to be broken for the following code:

[code]

Original report:
<img width="1440" alt="screen shot 2015-07-07 at 5 21 08 pm" src="https://cloud.githubusercontent.com/assets/10180857/8557642/9fc18c9e-24cc-11e5-9df8-7ee1184c1285.png">
<img width="1440" alt="screen shot 2015-07-07 at 5 21 21 pm" src="https://cloud.githubusercontent.com/assets/10180857/8557643/9fccad2c-24cc-11e5-8128-19

[2015-07-07 21:43] dlsniper commented on #1727
Thanks for reporting, I've updated the issue with a smaller sample which has the same problems as described in the original issue.

[2015-07-07 21:52] dlsniper opened #1728 "importing suggests variables from testdata directory"
testdata directory is a special directory in go and there shouldn't be any suggestions for importing packages based on contents of that directory.

[2015-07-07 21:56] aubble opened #1729 "indenting case block in select statement"
[code]

Original issue:

there is no automatic indent after case unless I add a statement under it then reformat.
http://pastebin.com/KHnQ1zJM

go to line 208 and press enter after case, it doesn't auto indent.

[2015-07-07 22:00] dlsniper commented on #1723
I've updated the example with a smaller sample which reflects the issue.

[2015-07-08 02:53] adongroom commented on #1726
Hey, idea14.1.4, java1.8, win8.1, after golang1.4.2 manually compile, install idea is possible, but websorm install setting can not be opened
. today idea14.1.4, java1.8, macos golang 1.4.2 manually compile, wrong com.intellij.diagnostic.PluginException: com / goide / ui / ProjectTutorialNotification: Unsupported major.minor version 52.0 [Plugin: ro.redeul.google .go]
    at com.intellij.ide.plugi

[2015-07-08 03:21] zolotov commented on #1726
@adongroom it's not an answer.

jar is not valid plugin distribution. Follow contributing instructions carefully, starting from JDK version

[2015-07-08 03:21] #1726 closed

[2015-07-08 09:16] dlsniper opened #1730 "Auto-import for packages should suggest packages with matching name that contain the remainder of the content"
Currently I have the following situation:

[code]

In the above code, if package ```utils``` is not imported yet, I will get the following suggestions:
[code]

The "problem" is that PeakBody([]byte) signature / definition is only present in ```github.com/dlsniper/project/utils``` and not the others. As such, it would be nice if the auto-import suggestion would be only for that package and not for

[2015-07-08 09:17] dlsniper commented on #1730
Since I bump into this quite often, I'll try and work on it soon-ish (unless someone else picks it first).

[2015-07-08 11:02] dlsniper opened #1732 "Inspection to detect when a variable is named as an imported package"
Since this can lead to a lot of confusion, it would be nice that if there would be an inspection to detect if we name the variable as with a name assigned to an imported package.

Example:

[code]

[2015-07-08 11:17] dlsniper opened #1733 "Tracking for auto-report 886781 - method <init>()V not found"
On latest EAP, 142.3050.1, I get this error when I go to the Go Libraries settings: https://ea.jetbrains.com/browser/ea_reports/886781

[2015-07-08 11:25] ignatov commented on #1732
Please search a similar issue and add your sample there.

[2015-07-08 11:25] #1732 closed

[2015-07-08 12:37] dlsniper commented on #1732
Right, it was opened by me so I guess I have to solve it now :D

[2015-07-08 13:09] #1733 closed

[2015-07-08 13:14] dooferlad commented on #1730
Isn't this what goimports does? Wouldn't it make more sense to get really good goimports integration working? It almost works using a file watcher, but really I just want trigger on save for all files that were saved.

[2015-07-08 13:20] dlsniper commented on #1730
@dooferlad there's a discussion about why integrating goimports / gofmt on save is not doable in practice. One (mainly) the reason of it is the fact that the save event can come from multiple places and at unexpected times from the IDE so it's not working as in simple text editors. Also, the current importing works pretty good, we just need to make it a bit smarter :)

[2015-07-08 13:49] zolotov commented on #1728
That's not true. Following example works fine.

foo/main.go
[code]

foo/testdata/foo.go
[code]

[2015-07-08 13:49] #1728 closed

[2015-07-08 16:23] #1721 closed

[2015-07-08 16:23] #1724 closed

[2015-07-08 16:43] #1729 closed

[2015-07-08 16:44] ignatov commented on #1718
The first case has been fixed.

[2015-07-08 22:03] #1330 closed

[2015-07-08 22:05] #1562 closed

[2015-07-10 01:05] prsolucoes commented on #25
+1 debugger

[2015-07-10 02:11] bronze1man opened #1736 "support cross compile in the IDE."
If I want to edit several platform together like linux and macos. I had to change the target system settings a lot.

Here is what I want:
If the editor see the file under linux platform,I want to jump to linux version of some function.
And if the editor see the file under macos platform,i want to jump to macos version of the same function.
The target system settings seems useless as the ide can an

[2015-07-10 04:03] zolotov commented on #1736
I'll implement this as soon as you suggest a universal algorithm for such resolving. Build flags is much more than just linux/darwin/windows distinguishes. What if I'm inside linux-specific file and I have two variants to resolve: file with `linux,cgo` flags and just `linux` flags? Both are valid in terms of platforms but `go build` chooses the only one depending on building flags. Also keep in mi

[2015-07-10 04:09] zolotov commented on #1736
In short, any code analysis depends on what files are participated in building, which is dependent on how you run `go build`. And we can't control how you're going to build your application. E.g. if you have `linux, cgo` and `linux` files, and both files have definition of `Name` function, then compiling without `cgo` flag will work, but compiling with it will leads to `duplicated definition` comp

[2015-07-10 04:24] bronze1man commented on #1736
Thanks for you reply.

It looks more complex than I think.
How about not so accurate solution?

If you have a file with linux, darwin, it will find all implements that is under linux or darwin flag.let the user choose the version.
And It only report error that will fail in any cases, like duplicated definition with the exactly same build flag.

The target system settings seems useful in that case

[2015-07-10 06:05] aubble opened #1737 "no colouring when checking local history"
<img width="1440" alt="screen shot 2015-07-10 at 2 02 27 am" src="https://cloud.githubusercontent.com/assets/10180857/8613024/13b76c90-26a8-11e5-8d90-c07128235b1c.png">

right click any file and select local history -> show history

[2015-07-10 07:49] dlsniper commented on #1737
I suspect that this is a platform issue / correct way of working but if I'm wrong, please reopen this.

[2015-07-10 07:49] #1737 closed

[2015-07-10 07:58] dlsniper commented on #25
@prsolucoes what's the point of +1-ing a closed issue? Do you suggest you'd like to work on it? If so, please have a look at the PR for delve which is a work in progress https://github.com/go-lang-plugin-org/go-lang-idea-plugin/pull/1640

[2015-07-11 01:50] zolotov commented on #423
I believe it could be closed, right?

[2015-07-11 02:26] #423 closed

[2015-07-11 05:21] zolotov opened #1739 "Unresolved method"
[code]

[2015-07-11 18:36] pierrre opened #1740 ""func" type not supported"
IDEA version: 14.1.4
OS version: 4.0.7-2-ARCH 1 SMP PREEMPT Tue Jun 30 07:50:21 UTC 2015 x86_64 GNU/Linux (Xfce desktop env)
Java version: java version "1.8.0_45"
Java(TM) SE Runtime Environment (build 1.8.0_45-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.45-b02, mixed mode)
Go IntelliJ plugin version: 0.9.388
Go version: 1.4.2

In my project, I have a "func" type:
https://github.com/pierrre/i

[2015-07-11 18:49] dlsniper commented on #1740
Hi, thanks for reporting. I think this is a duplicate of https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1739, no? I'll close this for now, please feel free to reopen it if it's not.

[2015-07-11 18:49] pierrre opened #1741 "switch type default not supported"
IDEA version: 14.1.4
OS version: 4.0.7-2-ARCH 1 SMP PREEMPT Tue Jun 30 07:50:21 UTC 2015 x86_64 GNU/Linux (Xfce desktop env)
Java version: java version "1.8.0_45"
Java(TM) SE Runtime Environment (build 1.8.0_45-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.45-b02, mixed mode)
Go IntelliJ plugin version: 0.9.388
Go version: 1.4.2

My code:
[code]

`q.At(0, 0)` is highlighted in red with this mes

[2015-07-11 18:54] pierrre commented on #1740
I don't know.
In my code, I use a "func type".
In #1739, it's a string type.

And autocompletion suggests my `server` variable is an `*Image`.
It's weird...

[2015-07-11 19:46] dlsniper commented on #1740
The underlying issue is the same, it seems that type casts are not handled by the plugin, regardless of what's being casted to what. @zolotov please correct me if I'm wrong.

[2015-07-11 19:48] pierrre commented on #1740
OK I understand.
Sorry for the duplicated issue.

[2015-07-11 19:49] dlsniper commented on #1740
Np, it's not immediately obvious. Plus, more examples the better ;)

[2015-07-11 21:19] pierrre opened #1742 "autocomplete suggests test file content"
Autocomplete suggests `bufio.Scanner.ErrOrEOF()` which is defined in a test file.
Autocomplete should only suggest test file content if I'm editing a test file of the same package.

[2015-07-12 02:39] zolotov commented on #1741
should be fixed already in 391 build, please try it

[2015-07-12 02:41] zolotov commented on #1740
We have no idea what's the underlying issue :) So I reopen for a while

[2015-07-12 03:11] zolotov commented on #1742
cannot recreate with 391 build. Maybe small code sample would help?

[2015-07-12 05:09] zolotov opened #1743 "Resolve issue"
l3 and l4 have troubles with resolve

[code]

[2015-07-12 05:45] #1741 closed

[2015-07-12 12:58] pierrre commented on #1742
I'm using version 0.9.391 with IntelliJ IDEA 14.1.4.
Just type: `bufio.NewScanner(nil).`.
It will auto suggest `ErrOrEOF()`

[2015-07-12 13:17] pierrre opened #1744 "Run/Debug configuration: current file/package"
Can we use the current file/package instead of a specific one in a run/debug configuration?

The "file watcher" plugin allows to use variable/macro like `$FilePath$`.

[2015-07-12 13:30] dlsniper commented on #1742
Here's an example using e15c1a0fe30c3f80d6811aa0215c02400eba9d9d :

[code]

Or without the internal packages:
[code]

[code]

[code]

[2015-07-12 13:49] dlsniper commented on #1744
What would be the current file in the context of split tabs, the active one? Or without any tabs? Or if I currently edit the file that's in a package and it's not the main function?

Also, if you right click on the main function in the current file, it will always offer to run it, regardless of which configuration is active (but that involves using the mouse).

[2015-07-12 14:07] pierrre commented on #1744
Actually, this feature is available in LiteIDE (https://github.com/visualfc/liteide).
And I thought it was strange not having it.

It's really useful, because you don't have to create/edit one configuration per package.

The "current file" is always the active tab.
If there is no tab, no action is available.

The working dir is always the same as the current file.

Basic available actions:
- Build

[2015-07-12 14:59] dlsniper commented on #1744
I don't really see benefits on having this vs the current way of running things, which is much more powerful to begin with. Usually a project has 1-2 "main" files and a few test packages. And with the current runner process, if you don't need anything special, it should should just work :D @zolotov / @ignatov what do you guys think?

[2015-07-12 16:11] pierrre commented on #1744
I use a single IntelliJ project, for my `$GOPATH` :D
That's why I find it convenient to be able to execute actions on the current file.

[2015-07-13 01:37] zolotov commented on #1744
We can do this but it's quote questionable feature.

For example, what if you run configuration without any opened file? Or what if you have already run configuration and then open another file (e.g. run tests and then fix implementation), then how you tell IDE what you want rerun the old configuration or run current file?

Place caret on package statement in file and Ctrl+Shift+R (ctrl+shift+f9 o

[2015-07-13 01:43] zolotov commented on #1744
I've missed it, sorry.

So, as the resume. It's quite simple issue, but I'm not going to implement it just because it doesn't look reasonable for me and I don't want to fight intellij-platform's user-scenarios that have been working just fine for 15 years in all IDEs. Maybe some of contributors may help you.

[2015-07-13 01:47] zolotov commented on #1742
@dlsniper @pierrre thanks, reproduced

[2015-07-13 04:26] ElvizLai opened #1745 "copyright can not work"
adding this to template，but not work
adding:
[code]

result:
[code]

[2015-07-13 05:35] #1745 closed

[2015-07-13 08:27] dlsniper commented on #1744
A bit off-topic but I'd be a bit more interested in this use-case:

I have a single project with everything vs multiple projects? How do you solve cases where the dependencies are vendored using this approach, if you have any? You can drop a line on [Gitter](https://gitter.im/go-lang-plugin-org/go-lang-idea-plugin) if you want. Thank you!

[2015-07-13 08:52] pierrre commented on #1744
@zolotov

The binary created by the "build" action.
By default, "go build" create a binary in the current directory with the same name as the package.

I didn't know all theses shortcuts.
(actually, Run is alt+shit+F10 for me :P )

The main drawback is it creates one "run/debug configuration" per package/file I want to build/run.
I'll get used to it :D
I agree, it's not really high priority.
I don

[2015-07-13 09:19] pierrre commented on #1744
@dlsniper
I use godep (dependencies are stored in my project git repository; no import path rewrite).
I can't show you, because theses projects are not open source :(

I try to keep my dependencies up to date.
So, there is no huge difference between my vendored dependencies and the dependencies in $GOPATH.
In my project, if I "ctrl+click" on a variable/type from a dependency, it opens the dependen

[2015-07-13 14:16] zolotov commented on #1744
(actually, Run is alt+shit+F10 for me :P )

You're right, I'm not good at linux keymap, see `compile and run` section in https://www.jetbrains.com/idea/docs/IntelliJIDEA_ReferenceCard.pdf

It does, but what's bad with it?

Ok, I keep it open in case of some contributor wants to implement it.

[2015-07-14 01:12] ElvizLai opened #1746 "Unresolved reference for mahonia"
![qq20150714-1](https://cloud.githubusercontent.com/assets/501861/8664336/6ba704d4-2a08-11e5-9a3e-e77c637e590e.png)

plugin version：391/394

[code]

It runs OK, but can not resolve method for "dc"

[2015-07-14 03:13] mmindenhall opened #1747 ""Use GOPATH..." setting not persisted across IDE restarts"
In the "Languages & Frameworks > Go > Go Libraries" preferences pane, there's a checkbox for "Use GOPATH that's defined in system environment".

I'm using a dependency management package ([wgo](https://github.com/skelterjohn/wgo)), so I don't want to use the system GOPATH.  When I clear the checkbox, the system GOPATH is not used for the current Intellij session.  However, if I restart the IDE, th

[2015-07-14 07:00] dlsniper commented on #1746
I'm puzzled by this, there's no function called NewDecoder for the whole package, at least from what I can see on my phone / github. How does it work?

[2015-07-14 09:18] dlsniper commented on #1746
Ignore my previous comment, the library was too complex to understand from phone. I'll try to come up with an example that's not dependent on an external library. Thanks for reporting.

[2015-07-14 09:33] tossp opened #1748 "Plugin 'ro.redeul.google.go' failed to initialize and will be disabled"
[code]

[2015-07-14 09:39] dlsniper commented on #1748
Hi, this error is due to an incompatibility with the way the plugin was compiled.
If you don't want to compile the plugin yourself, please read the instructions on how to get the latest release: https://github.com/go-lang-plugin-org/go-lang-idea-plugin#pre-release-builds
If you want to compile the plugin yourself, please read this: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/mas

[2015-07-14 09:39] #1748 closed

[2015-07-14 10:28] #1747 closed

[2015-07-14 17:22] donghwicha opened #1750 "go gdb: startup commands not working"
with go gdb, I've registered "application executable"
that is compiled binary of my program.
And then, I added its main argument to "startup commands" but
after debugging argument aren't passed to program.

if "startup command" area is for main arguments then it's not working,
or if it is not for main function argument, then there is no input for that.

thank you.

[2015-07-14 18:06] dlsniper commented on #1750
Hi, GDB support is experimental and it's unmaintained at the moment. If someone is willing on this that's great, otherwise it will have to wait. Sorry.

[2015-07-14 21:03] dlsniper commented on #1228
This is fixed already.

[2015-07-14 21:03] #1228 closed

[2015-07-14 21:12] dlsniper opened #1751 "Package name not suggested in auto-completion / import if package name is different than the folder inside test file"
I have the following package:

[code]

And the test for it
[code]

The issue is that in the _test file, I can't get autocomplete/autoimport to work but if I move in a different package and start typing ```fuzy.De``` I get the expected result.

Plugin commit: e15c1a0fe30c3f80d6811aa0215c02400eba9d9d

[2015-07-14 21:14] zolotov commented on #1751
import path and package are different things, here should be fuzz only

[2015-07-14 21:15] dlsniper commented on #1751
True, I mean that there's no package suggested for the path, sorry for inaccuracy.

[2015-07-14 21:18] dlsniper commented on #1751
Also, once I add the import manually things resolve fine and everything works as expected.

[2015-07-15 09:03] gabrielf opened #1752 "No new variables inspection should account for variable shadowing rules"
The code below can run but the go plugin says it contains an error:

[code]

But it will run correctly and output:
[code]

[2015-07-15 12:46] zolotov commented on #1392
Examples:

https://github.com/JetBrains/intellij-community/blob/master/python/src/com/jetbrains/python/inspections/PyStringFormatInspection.java

https://github.com/JetBrains/intellij-community/blob/master/plugins/InspectionGadgets/InspectionGadgetsAnalysis/src/com/siyeh/ig/bugs/MalformedFormatStringInspectionBase.java

[2015-07-15 14:10] 7phone opened #1754 "A project with cgo cannot run on Windows"
Environment:
* IDEA Community Edition 14.1.4
* Windows 8.1
* Go 1.5 beta
* JDK bundled with IDEA
* Go plugin updated from nightly channel

A project with the one file "main.go":
[code]

Launched the project configured to run "main.go".
Got error on event log:
[code]

Directory "C:\Users\username\AppData\Local\Temp" has two files:
* run0go        - 0 bytes
* run0go.exe - 2599608 bytes

------------

[2015-07-15 14:24] 7phone opened #1755 "Autoimport breaks build a project with cgo"
Environment:
* IDEA Community Edition 14.1.4
* Windows 8.1
* Go 1.5 beta
* JDK bundled with IDEA
* Go plugin updated from nightly channel

A project with the one file "main.go":
[code]

Add a line in main function:
[code]

Autoimport adds "fmt" package in an import block with "C".
[code]

The project doesn't compile:
[code]

Expected behavior is add new an import block to save a cgo section (a com

[2015-07-15 14:27] dlsniper commented on #1754
What happens when you run the file from console, manually? How do you run it manually, using which command?

[2015-07-15 14:31] dlsniper commented on #1755
I'm tempted to add the up for grabs label on this one. @zolotov what do you think? I might give it a try but I have to wait a few more days to do some work. If I'm not mistaken, it should be solved by checking the import statements and if there's an ```import "C"``` present then take it out of the group and add it before the rest of the import group.

[2015-07-15 14:34] 7phone commented on #1754
It's an issue of go.

Build with '-o' option:
[code]
Got two files in temporary directory and one is zero sized.

[2015-07-15 14:49] dlsniper commented on #1754
Ok, I see, so the error is actually that the plugin doesn't add the ```.exe``` extension to the file when it compiles, is that correct?

[2015-07-15 15:02] 7phone commented on #1754
The plugin runs the file specified in the -o option. It's OK.

I add an issue to go: https://github.com/golang/go/issues/11725

[2015-07-15 15:20] dlsniper commented on #1754
I'm not sure if it's related to cgo to be honest, I recall seeing a similar problem a while ago on windows because the windows implementation needed a .exe extension, that's why I asked. I don't have a Windows license at the moment so I can't test, sorry.

[2015-07-15 15:39] 7phone commented on #1754
The .exe extention needs to run program through a Windows console or a Windows Explorer.
For Windows, it does not matter the name of the file or the file extension to start the process.
The WinAPI function CreateProcess or mapped to it a same Java function can try to run an any file.

[2015-07-15 15:57] zolotov commented on #1754
Nice catch. I suppose that no matter what will be fixed in golang it's better just to add `.exe` to output file name while building

[2015-07-16 05:25] #1755 closed

[2015-07-16 05:29] #1754 closed

[2015-07-16 05:48] zolotov commented on #1754
Please try 397th build from nightly channel

[2015-07-16 08:01] zolotov commented on #1499
Is this still actual? I can't recreate on following example:

[code]

[code]

[2015-07-16 08:30] dlsniper commented on #1499
@zolotov I think what @dmitry-vovk was suggesting was that in your example the function ```name()``` should still be marked as unused as it's not used outside of the test method. And maybe the same should be applied if the test package is named ```my_test``` as well.

Or maybe we should have a different inspection that should say: "Used only in test package". This way, library authors would be abl

[2015-07-16 08:35] zolotov commented on #1499
I see, looks like that, thanks.

Of course not, there's nothing special with *_test packages unless they are defined in *_test.go files.

[2015-07-16 09:39] 7phone commented on #1755
Thank you for the fix.

[2015-07-16 09:40] 7phone commented on #1754
A project with cgo was successfully launched.
Thank you for the fix.

[2015-07-16 20:44] roncohen commented on #1642
FWIW I'm still experiencing this. It's characteristic in that it always freezes up on the second run, if the first one failed.

[2015-07-16 20:47] dlsniper commented on #1642
@roncohen can you please open a new issue and provide more details? What's the IDE version (and name), what's the plugin version, what's the run configuration like? I'm currently on latest master and I don't have this happening, nor do I have it for some time now. With more details will be able to fix the issue. Thank you.

[2015-07-16 20:58] roncohen commented on #1642
@dvirsky Thank you for the incredibly fast reply.  I just updated PyCharm from 4.5.0 to 4.5.3 and the problem went away. Sorry for the noise and thank you for the great work.

[2015-07-16 20:59] dlsniper commented on #1642
Happy to hear it worked and thanks for the nice words. Have fun developing with Go on PyCharm ;)

[2015-07-16 21:02] dvirsky commented on #1642
@roncohen I don't know why I'm mentioned (probably a typo), but you're welcome ;P

[2015-07-17 02:42] deepfinesse opened #1756 "Incorrect "unresolved" reference on method"
Declaring a variable using ":=" with a typecast mucks up resolving method references.  This works:

type rankMask uint16
var ranks rankMask
ranks = 0xf
lowBit := ranks.findLowBit()    // this is a method on rankMask type

This does not work but is legal GO and builds and runs fine. findLowBit() is in red and says "unresolved"

type rankMask uint16
ranks := rankMask(0xf)
lowBit := ranks.findLowBit(

[2015-07-17 10:00] zolotov commented on #1756
Please specify particular plugin version

[2015-07-17 10:06] dlsniper opened #1757 "Tracking for auto-report 892791"
I have this report https://ea.jetbrains.com/browser/ea_reports/892791
And here are the sources:

$GOPATH/src/github.com/dlsniper/u/demo/my/my.go
[code]

$GOPATH/src/github.com/dlsniper/u/demo/my/my_test.go
[code]

The project opened with the two files, ```my.go``` was in background, ```my_test.go``` was active. I have everything up to date, please let me know if you need any specific details.

[2015-07-17 10:10] zolotov commented on #1757
Has nothing to do with go plugin

[2015-07-17 10:10] #1757 closed

[2015-07-17 10:11] dlsniper commented on #1756
Sorry, I think I was too quick to label this, I've just tested this code:

[code]

And it works fine. Which plugin version do you use? Can you share the actual code where this happens?

[2015-07-17 14:45] deepfinesse commented on #1756
To dlsniper: yes your snippet works, per my bug report.  What does not work is when the ranks variable is declarer via := and a typecast.  Full code snippet that reproduces the problem is below.

To Zolotov: when I do Preferences->Plugins->Browse Repositories->Go it says "ver 0.9.397".  When I click Manage Repositories, it says: https://plugins.jetbrains.com/plugins/nightly/5047

package main

typ

[2015-07-17 14:48] dlsniper commented on #1756
@zolotov I think this is a duplicate of #1739, or at least looks like the same case (or #1740)

[2015-07-17 14:55] deepfinesse commented on #1756
Yes, I agree.  Problem with variables declared via typecast.  Sorry to have filed a duplicate issue but at least it is another test case.  :)

[2015-07-17 14:57] dlsniper commented on #1756
That's not a problem, it's quite a tricky one and it's hard to search if
something like that already exists, given all the combinations. Also, more
test cases are always good.

On Fri, Jul 17, 2015 at 4:55 PM deepfinesse <notifications@github.com>
wrote:

[2015-07-17 15:56] eugene-auduchinok opened #1758 "Can't Use "nil" to Initialize a Variable Without an Explicit Type"
The "nil" identifier can be used as the "zero value" for interfaces, functions, pointers, maps, slices, and channels. If you don't specify the variable type the compiler will fail to compile your code because it can't guess the type.
[code]

[2015-07-18 00:45] pires commented on #1558
I see this in MacOS X as well if I use `brew install go --devel`.

![screen shot 2015-07-17 at 20 45 01](https://cloud.githubusercontent.com/assets/1752631/8759568/bd01e718-2cc4-11e5-9c8f-cc339c005f9f.png)
`.

[2015-07-18 07:00] dlsniper commented on #1558
@pires what plugin version? What are the contents of "src/runtime/zversion.go"? Does it happen for the stable version of go?

[2015-07-18 11:51] richard-julien opened #1759 "Project Compilation with NullPointerException (GoEnvironmentUtil)"
Hi,

I try to compile a project with the plugin and i have an exception.
Im currently using the nightly build of the alpha pre release.
I have created the project with the help of the README. (New project).

The stack I have in the idea compile log :

Its seems related to the line if (ApplicationManager.getApplication().isUnitTestMode()) return null;
My application seems to be null. I will try to

[2015-07-18 11:54] dlsniper commented on #1759
There are two different channels, alpha and nightly. Please tell us the plugin version, we'll know from which channel it is. Also, the description is pretty vague, could you share the code maybe (if it's public) or, if not, something that can reproduce it?
Thank you

[2015-07-18 11:55] dlsniper commented on #1759
Also, which IDE are you using? Is it up to date? What version do you have?

[2015-07-18 11:57] zolotov commented on #1759
@dlsniper channel doesn't matter. IDE is IDEA.

[2015-07-18 12:05] zolotov commented on #1759
@richard-julien you're right, it's related to ApplicationManager.getApplication().isUnitTestMode() line, but it's not the error actually. The problem is that I forgot to disable building service. I'll fix the exception but build won't work anyway: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1453#issuecomment-83124378

[2015-07-18 12:09] #1759 closed

[2015-07-18 12:26] richard-julien commented on #1759
I try to compile the project https://github.com/drone/drone with IDEA 14.1.4.
If i undestand correctly the #1453 the make will fail because of the structure of the project (source in subdirs). So i have tried to just setup project configuration. I'm able to start the project but the debug button is not active. But it's not related to this ticket ;) Thanks for your answers.

[2015-07-18 12:28] dlsniper commented on #1759
If you want to compile the app from the IDE, please see: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/wiki/Documentation#running-your-application

[2015-07-18 12:31] richard-julien commented on #1759
Thanks for the link, its perfectly working. Debug button is still inactive. Do I need to use GDB instead ?

[2015-07-18 12:33] dlsniper commented on #1759
Debug is a different issue, GDB support is experimental as GDB doesn't understand Go properly. Please see the other threads from here (they'll also contain the lengthier explanation for GDB / debugging and how you can try to test it).

[2015-07-18 12:35] richard-julien commented on #1759
Ok perfect. Thanks!

[2015-07-18 12:50] zolotov commented on #1759
@richard-julien debug support is in progress (integration with delve). GDB itself is behind golang and only future GDB version will support go1.5. In future, when GDB releases will correspond to golang releases, we'll consider the opportunity to implement proper GDB debugging support.

[2015-07-18 12:57] zolotov commented on #1759
@richard-julien not really, make will fail because it does nothing and it does nothing because I have no idea what it should do. Quote from that issue

Plus many users have very different project layout hence they are building their applications in different ways and again IDE doesn't know what is expected to be done while making project.

[2015-07-18 13:38] richard-julien commented on #1759
I'm new in the "go world" (coming from java), I really appreciate your explanations.
I will take a look to the delve project, and wait for the integration ;)

[2015-07-18 14:31] pires commented on #1558
@dlsniper plug-in version `0.9.371`.

[code]

[2015-07-18 15:46] dlsniper commented on #1558
@pires thanks for update. For that we have a fix merged, https://github.com/go-lang-plugin-org/go-lang-idea-plugin/pull/1753, and I think it's present in the latest nightly, 0.9.397 (but not sure 100%). Can you please try it? Thank you.

[2015-07-18 16:21] pires commented on #1558
Upgraded to `0.9.397`, restarted IDE but same result.

[2015-07-18 16:27] dlsniper commented on #1558
Oh, ok, I'm not sure how to debug this then as I don't have a Mac. @zolotov or @ignatov do you know if #1753 got into the 397 nightly? If yes, then I don't know how to debug this further as I don't have a Mac.

@pires, as a workaround, try to change this line
[code]
into
[code]
and it should work. If even then it doesn't work the I'm out of ideas. Sorry.

[2015-07-18 16:28] zolotov commented on #1558
@pires on the screenshot you're trying to open libexec subdirectory, what happens if you're trying to open actual go-sdk directory?

[2015-07-18 18:02] pires commented on #1558
@dlsniper didn't worked either.
@zolotov same thing. Tried every directory I could remember of.

[2015-07-18 18:52] zolotov commented on #1558
What does 'directory I could remember of' mean?

Works fine for me, make sure that you choose right directory

<img width="1621" alt="screenshot 2015-07-18 21 50 29" src="https://cloud.githubusercontent.com/assets/140920/8763104/1ae00108-2d97-11e5-80f7-fc2a0b6166d2.png">

[2015-07-18 18:57] pires commented on #1558
@zolotov by creating a new SDK on the Project Structure it worked. I was trying to edit an existing SDK and that wouldn't work. Thank you.

[2015-07-18 19:01] pires commented on #1636
+1 for gb integration.

[2015-07-18 19:08] zolotov commented on #1558
@pires hm, looks like you've updated from really old version (0.9.15 or something like that) and was trying to reuse SDK that was created in old version, right?

[2015-07-18 19:23] pires commented on #1558
Seems about right.

[2015-07-18 19:36] zolotov commented on #1558
@pires ok, at lease the issue is understandable now.

The migration process from old plugin isn't smooth yet, sorry about that.

[2015-07-18 19:47] pires commented on #1558
No problem, thanks to you I'm finally happy with an IDE for Go. Big kudos to you!!

[2015-07-18 23:49] #1742 closed

[2015-07-19 00:29] pierrre commented on #1742
Thank you.

[2015-07-19 09:54] kortemy commented on #173
I have this behavior with go1.5beta1, I upgrade after I installed fresh OS few days ago.

kortemy@kortemy-vaio:~$ go version
go version go1.5beta1 linux/amd64

kortemy@kortemy-vaio:~$ go env
GOARCH="amd64"
GOBIN="/home/kortemy/bin"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/kortemy"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/linux_amd64"
GO15VEN

[2015-07-19 09:57] dlsniper commented on #173
@kortemy thanks for the complete info (I wish all reports were like this). The problem has been fixed in the nightly channel, please try that one and it should work. If not let us know.

[2015-07-19 10:00] kortemy commented on #173
@dlsniper Wow, that was quick. :) Works like a charm now, thanks!

[2015-07-19 11:31] dlsniper commented on #1490
From [http://golang.org/cmd/go/#hdr-Description_of_package_lists](http://golang.org/cmd/go/#hdr-Description_of_package_lists) about the ```go tool``` and how ```go [command]``` works ```Directory and file names that begin with "." or "_" are ignored by the go tool, as are directories named "testdata".```

[2015-07-19 11:34] zolotov commented on #1490
So what? Check out the real compiling:
<img width="1392" alt="screenshot 2015-07-19 14 33 31" src="https://cloud.githubusercontent.com/assets/140920/8765706/360d9184-2e23-11e5-967c-809ae57633bd.png">

[2015-07-19 11:36] zolotov commented on #1490
Or with underscore
<img width="1392" alt="screenshot 2015-07-19 14 35 27" src="https://cloud.githubusercontent.com/assets/140920/8765711/72f41762-2e23-11e5-988d-d9c2fabd8fba.png">

[2015-07-20 13:39] eugene-auduchinok opened #1760 "Wrong expression result count on builtin functions calls"
`GoInspectionUtil.getExpressionResultCount` returns `-1` for `GoBuiltinCallExpr`.
Example golang code with builtin `make` call:
[code]
Method definition:
https://github.com/eugene-auduchinok/go-lang-idea-plugin/blob/7118347bf439e09c1cecc4482d0bfd75dc604ca7/src/com/goide/inspections/GoInspectionUtil.java#L31-31

Tell me if I'm wrong and this is a proper behaviour for some reason.

[2015-07-20 13:59] dlsniper commented on #1760
As an addition to this, I've noticed this weekend that the parameter info are not shown ```CTRL+P``` (on Linux) are not show for ```make``` so I guess maybe it's the same problem?

[2015-07-20 15:56] #1746 closed

[2015-07-20 16:00] dlsniper commented on #1756
@ignatov this looks fixed as well after https://github.com/go-lang-plugin-org/go-lang-idea-plugin/commit/cfe0d88d83f5bdaec8cceef360390af02b5777bd Should I close it?

[2015-07-20 16:03] ignatov commented on #1756
Duplicates #1739

[2015-07-20 16:03] #1756 closed

[2015-07-20 16:04] dlsniper commented on #1756
Ah, no, sorry, it's not fixed, I've took the wrong example. But at least it's a duplicate.

[2015-07-20 17:01] mamacdon opened #1761 "Cannot use Go 1.5b2 as my SDK"
Windows 7, IDEA 14.1.4, alpha plugin (version = 0.9.371)
* I installed [go1.5beta2.windows-amd64.msi](https://storage.googleapis.com/golang/go1.5beta2.windows-amd64.msi) in `C:\Go`.
* When I try to set `C:\Go` as my Go SDK, I get an error saying "The selected directory is not a valid home for Go SDK".

The same steps work OK with a Go 1.4.2 SDK.

[2015-07-20 17:03] dlsniper commented on #1761
Hi, thank you for reporting. This is fixed in the nightly channel and the next alpha release will fix it as well. The next alpha release should be here soon, if nothing major happens. I'll close this for now as it's a duplicate.

[2015-07-20 17:03] #1761 closed

[2015-07-20 20:46] mmindenhall opened #1762 "Good code red: "Duplicate function name" for build constraint"
Hello,

I have defined files with platform-specific code for obtaining a unique ID (in this case, the serial number of the device) from the underlying platform.  I have defined the following files:

[code]

Within each of those two files, I have defined a function as follows:

[code]

In both files, the function name gets the red squiggly underline treatment with the "Duplicate function name" mess

[2015-07-20 20:48] dlsniper commented on #1762
Hi, what plugin version are you using? What configuration do you have for the build target? Have you specified any architecture / custom tags? Thank you.

[2015-07-20 20:58] mmindenhall commented on #1762
Sorry about that...I edited the issue to include versions.  Within the IDE, I'm using the defaults for OS & Arch, and no custom flags.

[2015-07-20 21:01] dlsniper commented on #1762
Great. Please try the nightly channel which should contain a fix for this issue or wait for the next alpha release (which should be here soon). If it still happens, please let us know. I'll close this for now as it seems it's a duplicate of https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1721 Thank you.

[2015-07-20 21:01] #1762 closed

[2015-07-20 21:01] dlsniper commented on #1762
I've forgot to mention that if the issue still happens, please reopen this. Thank you.

[2015-07-20 23:40] victorhooi opened #1763 "Create new Go project?"
_Pycharm 4.5.3 (Build #PY-141.1899) with version 0.9.402 of the Go IDEA plugin._

I'm wonder how

The documentation (https://github.com/go-lang-plugin-org/go-lang-idea-plugin/wiki/Documentation) simply mentions:

I can import an existing Go project using "Open" at the main screen:

<img width="673" alt="screenshot 2015-07-21 09 38 27" src="https://cloud.githubusercontent.com/assets/243499/8790035/

[2015-07-21 06:15] dlsniper commented on #1763
Hi, for PyCharm please try and create a pure python project the start creating a go file see what happens. I'll update the docs soon with some more content, thanks for pointing it out

[2015-07-21 13:04] dlsniper opened #1765 "Support for gomobile as compiler target"
At some point there should be support for using gomobile:

Build a shared library:
[code]

Compile APK or iOS app:
[code]

Compile and install on Android:
[code]

At the moment however I'm not able to compile things from command line so I can't provide better docs for this.

[2015-07-21 17:23] milesich commented on #1763
Same with PHPStorm 9. I am using "Empty Project" instead.

[2015-07-21 17:26] dlsniper commented on #1763
@milesich that's the correct way to setup the project on phpstorm/webstorm. I'll update the docs to state the correct info for all the IDEs, thank you for feedback.

[2015-07-21 22:50] #1760 closed

[2015-07-22 11:14] #1739 closed

[2015-07-22 11:21] dlsniper opened #1766 "Navigate to implementation for interface methods does not work"
Given the following example:
[code]

When using navigate to implementation (ctrl+alt+b) or even navigate to declaration (ctrl+b) I can't see the place where the interface is implemented.

[2015-07-22 12:05] dlsniper opened #1767 "Tracking for auto-report 895076"
Please let me know if you need any details please let me know.
I've invalidated the cache and restarted the IDE and I haven't had the error since then.
Thank you.

https://ea.jetbrains.com/browser/ea_reports/895076

[2015-07-22 13:39] dlsniper opened #1768 "Tracking for auto-report 895132"
I think I've selected alt+shift+f10 (which appears to be bound to the run action) while I was editing a go file (that didn't contained a main function) and I was trying to open the database console (which is ctrl+shift+f10).

https://ea.jetbrains.com/browser/ea_reports/895132

[2015-07-22 17:58] #1768 closed

[2015-07-23 14:00] viktorasm opened #1769 "Compile error in test run ends up with "tests passed" message"
If running tests on multiple packages at once, and one of them has compilation problem, you end up with:

[code]

The UI will not report of any problem, you'll just get "tests passed" message and a green test result bar. Any way to get a visual indication that there was a problem, as well as special case of Event Log message?

[2015-07-23 15:09] dlsniper opened #1770 "Inspection for not closing the database result"
It would be nice if there would be an inspection which would detect if the are sql.Result variables which are not closed or constructs like this:

[code]

[code]

[2015-07-24 15:19] dlsniper opened #1771 "Generate sort implementation for a slice type"
It would be nice if for a given slice type the IDE would suggest to create the sort interfaces automatically:

[code]

[2015-07-26 18:52] m0sth8 commented on #1690
It will be great if we also can see escape analysis just for a function or method.

[2015-07-27 13:07] #1717 closed

[2015-07-28 18:26] zolotov commented on #1515
Fixed by @azhidkov

[2015-07-28 18:26] #1515 closed

[2015-07-28 18:26] zolotov commented on #1758
Fixed by @azhidkov

[2015-07-28 18:26] #1758 closed

[2015-07-29 13:47] dlsniper opened #1776 "Add inspection for doing a defer in an infinite loop"
There should be an inspection for the following case:

[code]

[code]

The problem:
- os.Open requires the resource to be closed via ```Close()``` method
- if the defer statement is placed in an infinite for loop ```for { ... } ``` then the deferred statement will never be called thus resulting in resources which will be leaking / can't be properly closed / gc-ed

To be more clear, the defer insid

[2015-07-30 08:47] ignatov commented on #1776
@dlsniper Please provide a link for the further reading or add a more detailed description.

[2015-07-30 10:05] dlsniper commented on #1776
Hi, I've updated the description to be a bit more clear, let me know if it's better or I should add some other examples.

[2015-07-31 05:07] nhooyr opened #1778 "colors & fonts settings clash"
the package struct/interface colors clash with type specification and the plugin ends up using the type specification in the code (the package struct/interface colors are never used because type specification colors are used). also in the highlight sample privateField/func uses identifiers colors which isn't true. It would also be nice if the highlighting sample used all the colors, in every combi

[2015-07-31 05:31] aubble commented on #1778
the first part is my mistake, the second part still stands though.

[2015-07-31 10:17] aubble commented on #1778
you guys should look the whole colouring thing over, there is another useless setting, type reference. I'm not sure what to use it for. I click on it and it shows as the type colour for method declarations except it doesn't actually do anything. The colour actually used for that is type specification.

[2015-07-31 10:35] nhooyr opened #1779 "very odd problem with colouring"
<img width="1440" alt="screen shot 2015-07-31 at 6 32 05 am" src="https://cloud.githubusercontent.com/assets/10180857/9005654/ed2dc27a-374d-11e5-833d-f93cef19d6b2.png">

not sure what the problem is but as you can see on line 141 and more the methods of the variable C are not highlighted. Code base is here on github. file tunnel.go and method client.

https://github.com/aubble/goTunneLS/blob/maste

[2015-07-31 11:05] dlsniper commented on #1779
Can you please share your color scheme?

[2015-07-31 11:08] aubble commented on #1779
absolutely :P https://www.dropbox.com/s/ehb4zzrobjktkup/aubble.jar?dl=0
made it myself :D what should I name it?

[2015-07-31 11:20] dlsniper commented on #1778
@ignatov I'll have a look into this in the coming weekend.

[2015-07-31 11:22] aubble commented on #1779
Oh noticed the same problem on line 134 with ln.Accept()?

[2015-07-31 16:40] dlsniper opened #1781 "CNFE when running tests"
Hi,

I get the following error when trying to run the plugin tests from the IDE.

plugin revision: 5dd63aed5daf88f243238dde6b811a1aae5f1ea7
IDEA version: 142.3553.1
IDEA sdk: 142.3553.1 (compiled from sources
JAVA version: 1.8.0_45

[code]

Do I do something wrong?

[2015-07-31 16:41] dlsniper commented on #1781
Updated with the actual line that says the problem happens when running the plugin tests from the IDE.

[2015-07-31 17:01] dlsniper commented on #1778
@ignatov regarding the interface method setting right now this doesn't work as expected because we don't have a way to tell if the receiver type of the method implements an interface. The Go description of a "type implementing an interface" is that you you have all the methods with the same signatures declared in the interface attached to the receiver type. E.g.:

[code]

In this case ```dem``` im

[2015-07-31 17:02] dlsniper commented on #1778
The point of the message was to say that I'll try and implement this check but any pointers would be appreciated.

[2015-07-31 18:38] dlsniper commented on #1778
Actually it seems I don't know where to place a function that would check if a type implements an interface. My idea is to have something like this:
[code]

[2015-08-02 12:41] zolotov opened #1784 "Output is wrapped in console"
Windows

![image](https://cloud.githubusercontent.com/assets/140920/9026148/e37fe4e8-392c-11e5-8291-4ba91535fca6.png)

[2015-08-05 15:54] Kurt-Shiwz opened #1787 "Plugin 'ro.redeul.google.go' failed to initialize and will be disabled"
mac 10.10.4 idea 14.1.4CE
I build plugin succeed, but when i restart it broken.
Plugin 'ro.redeul.google.go' failed to initialize and will be disabled.
com.intellij.diagnostic.PluginException: com/goide/ui/ProjectTutorialNotification : Unsupported major.minor version 52.0 [Plugin: ro.redeul.google.go]
    at com.intellij.ide.plugins.cl.PluginClassLoader.loadClassInsideSelf(PluginClassLoader.java:1

[2015-08-05 16:08] dlsniper commented on #1787
Hi, this happens when you compile the plugin with a higher Java version that your IDE uses. Please observe which Java version is used by the IDE and compile the plugin against it. Let me know if you need any further information.

[2015-08-05 16:08] #1787 closed

[2015-08-05 21:46] dlsniper opened #1790 "Project Libraries should shadow Global Libraries entries"
Hi,

There was a case reported on Gitter by @kei-yamazaki where for a specific project the packages (Project Libraries) from the vendored packages overlap with some of the dependencies from the global packages (Global libraries).

To exemplify:
- Global libraries: ```/home/florin/golang``` contains ```github.com/dlsniper/demo```
- Project libraries: ```/home/florin/golang/src/github.com/florin/pro

[2015-08-05 22:30] kei-yamazaki commented on #1790
:+1:

[2015-08-06 10:55] ignatov opened #1791 "Use gimme for CI"
https://github.com/travis-ci/gimme

[2015-08-06 11:00] linniksa commented on #1776
I think all deffers call to local variables of loop can be marked as warning

[2015-08-08 11:15] MilovanovM opened #1793 "godebug support"
Hi!

Do you plan to support https://github.com/mailgun/godebug?

Thanks,
Maxim

[2015-08-08 11:21] dlsniper commented on #1793
Not as far as I know. The plan is to support [Delve](https://github.com/derekparker/delve) which is a real debugger, much more advanced and better debugger than godebug. Also, if GDB supports improves, it will be (better) supported as well.
Contributions for other debuggers are welcomed as well so if anyone contributes it then that's a different story :)
@ignatov / @zolotov anything else to add?

[2015-08-08 11:39] zolotov commented on #1793
nope

[2015-08-08 11:39] #1793 closed

[2015-08-10 21:55] aubble opened #1794 "default output directory should be $GOPATH/bin"
It fits better with go, I don't like the executables being put into the same directory as the source files, especially when its a repo, I don't want to upload the executable accidentally. And $GOPATH/bin is easy to set in my path so that I can use my applications conveniently.

[2015-08-10 22:00] dlsniper commented on #1794
```go build`` produces the executable in the current working directory unless otherwise specified directly by the user. ```go install``` and ```go get``` create the binary in $GOPATH/bin as that's their default location.

So I'm inclined to say no, the go way is to create binaries in the cwd and so does the plugin.

[2015-08-10 22:04] aubble commented on #1794
@dlsniper fair enough I'll close it then

[2015-08-10 22:07] dlsniper commented on #1794
Well, it's just my opinion, pretty sure it's not the majority :)

[2015-08-11 11:30] zolotov commented on #1794
1. You might have several GOPATHs
2. Building != installing
3. Run configurations are about running and not producing artifacts

[2015-08-11 11:30] #1794 closed

[2015-08-13 00:56] JakeWarner commented on #1740
Can confirm this issue on the v0.9.402 alpha build.

[2015-08-13 11:12] amirhosseinab opened #1795 "Reformatting code does not work correctly"
__Reformatting Code__ in IDE does not act on the parts of code that contain __operator__
For example in the code below the spaces between operands and operators are not apply

    i=i+1

It should change to

    i = i + 1

but it does not.

[2015-08-13 12:23] amirhosseinab opened #1796 "Coloring problem on Method Receiver and Type Reference"
When changing the color of __Method Receiver__ and __Type Reference__ in the `Preferences>Editor>Colors & Fonts` window it does weird behaviour.

    func (ps PublicStruct) PublicFunc() int {

the color of `PublicStruct` always is the same as `ps`

[2015-08-13 12:25] dlsniper commented on #1796
Can you please submit a better code sample to reproduce this? A screenshot would also help as I can't replicate it. Thanks.

[2015-08-13 12:42] amirhosseinab commented on #1796
In the below sample code on line 8 you can see that the `salutations`(Method Receiver) and `Salutations`(Type Reference) are the same color but in the `Colors & Font` window they are different.

<img width="411" alt="screen shot 1394-05-22 at 5 09 52 pm" src="https://cloud.githubusercontent.com/assets/1999772/9249894/3b53fbf0-41de-11e5-949e-f8d4f51af54e.png">

[2015-08-13 12:48] dlsniper commented on #1796
What version of the plugin do you use, and which IDE? I still can't replicate the issue unfortunately :(
![snapshot24](https://cloud.githubusercontent.com/assets/607868/9250017/3150273c-41ca-11e5-8baf-dd5c43671a20.png)

[code]

[2015-08-13 12:52] amirhosseinab commented on #1796
IDE: IntelliJ IDEA Ultimate 14.1.4
Plugin Version: 0.9.402

[2015-08-13 12:59] dlsniper commented on #1796
I think this may have been fixed meanwhile, I'm on latest master and it works as expected. Please try the latest nightly. If it's still there, I guess it will be fixed in the next one.

[2015-08-13 13:16] amirhosseinab commented on #1796
I upgrade my plugin to the latest nightly build _0.9.446_, and it is still there, and something interesting that I find out now the parentheses after `func` are colorize too.

[2015-08-13 13:17] dlsniper commented on #1796
For those there's a fix in progress: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/pull/1782

[2015-08-13 14:37] #1795 closed

[2015-08-13 15:58] amirhosseinab opened #1798 "Autocomplete missing interface item"
When you want to add an empty `interface` as a parameter to a `func` it does not show that item in the autocomplete box.
<img width="592" alt="screen shot 1394-05-22 at 8 18 58 pm" src="https://cloud.githubusercontent.com/assets/1999772/9254618/c3ba781e-41f9-11e5-8857-d368086126aa.png">

[2015-08-13 17:31] amirhosseinab commented on #1798
Also when you want to defining anonymous function as a parameter the completion does not work, and it does not show the `func` keyword.
[code]

[2015-08-15 06:01] bronze1man opened #1800 "Can not delete a java xxx.class file in a golang project."
![image](https://cloud.githubusercontent.com/assets/1107541/9287705/a96772c0-4355-11e5-8fe6-364786fc3e69.png)

I was writing a java code generater in golang.I add some java files,then compile with javac,then I want to delete some java files, but i can not delete the xxx.class file.

xxx.class should be a java compiled cached file like the pkg in go project.

ps:
You can not jump around in the java

[2015-08-15 08:57] zolotov commented on #1800
Likely you just have no rights to delete these files, golang plugin has nothing to do with that.

Yes, It will be changed in future but at the moment you cannot have golang and java in one module, you should create a separate java module in order to get proper navigation.

[2015-08-15 08:57] #1800 closed

[2015-08-15 21:01] Feve2 opened #1801 "Cant write input to go-program in console"
Hello there,
when I compile my cl-based go-file with `go run main.go`, the Output appears, and I am not able to enter any Input in, the console doesnt wait until I enter any Input.
I use the built-in terminal. But same for the normal win-cli. In LiteIde it worked, how can I fix it?

[2015-08-15 21:04] dlsniper commented on #1801
Hi, do you have a small sample that can reproduce the issue? Thanks.

[2015-08-15 21:25] Feve2 commented on #1801
Thanks for your very fast answer!
So, I got to know that the "issue" isnt really an issue:
[code]
How you can see I want to store an integer into a string variable.
And thats why I am not able to enter anything.
But anyway, thanks for your fast Support.

[2015-08-15 21:55] #1801 closed

[2015-08-16 10:53] Feve2 opened #1802 "Feature Request: View Documentation of public Methods in "IntelliSense""
Hello there,
in the golang standard-libraries, all public members (functions and structs) are well documented, so it would be very nice to Display that doc into the "IntelliSense"-Popup, just like VisualStudio does it with C#.

[2015-08-16 11:13] dlsniper commented on #1802
HI, I believe what you are looking for is the Quick Documentation, which you can usually access from CTRL + Q (at least on Linux). You can view more information here: https://www.jetbrains.com/idea/help/viewing-inline-documentation.html

[2015-08-16 11:21] dlsniper commented on #1802
Also, if you invoke completion manually the documentation will be displayed
![snapshot26](https://cloud.githubusercontent.com/assets/607868/9293021/26c615fa-4419-11e5-9d82-fe25e2ce2da7.png)

I don't know how to make it appear when the completion is invoked automatically but I don't see a need for it as completion can be invoked manually even if the automatic one kicked in. As such this is a plugin

[2015-08-16 11:21] #1802 closed

[2015-08-16 11:21] Feve2 commented on #1802
Thats **exactly** what I was looking for.
Thanks for your help!

[2015-08-16 14:35] zolotov commented on #1752
Reverted, iIt wasn't a proper fix

[2015-08-16 15:54] #1798 closed

[2015-08-16 16:54] dlsniper opened #1804 "Tracking for Android Studio issue 182985"
As the plugin doesn't seem to work with it, I've opened an issue on their tracker, https://code.google.com/p/android/issues/detail?id=182985.

I'll keep this open here in case someone else bumps into the issue.

[2015-08-16 18:14] zolotov commented on #1310
Applicable to any literal

[code]

[2015-08-17 13:27] dlsniper opened #1805 "Tracking for auto-report 906283 (PSI and index do not match)"
https://ea.jetbrains.com/browser/ea_reports/906283

[2015-08-17 13:28] dlsniper commented on #1805
I've noticed that there were more than 6 files to be attached but in the UI from ea.jetbrains I can only see one file. Should I file a issue on Youtrack for this as it's not the first time I see it happening. Thank you.

[2015-08-17 18:38] amirhosseinab opened #1808 "fallthrough keyword is not available in auto completion list"
In the `switch` statement the `fallthrough` is not available in auto completion list.

[code]

[2015-08-17 21:10] zolotov commented on #1382
Exclusions added in 460 alpha build

[2015-08-17 21:10] #1382 closed

[2015-08-17 23:39] #1808 closed

[2015-08-18 10:51] zolotov opened #1809 "False positive unused variable"
It seems that variables is always used if it is passed to anonymous function

[code]

[2015-08-18 11:06] ignatov commented on #1809
Danke Schön.

[2015-08-18 11:10] zolotov commented on #1809
Looks like somebody's name

[2015-08-18 16:43] mmindenhall opened #1811 ""Use GOPATH..." setting should be project-specific"
Currently within Preferences -> Languages & Frameworks -> Go -> Go Libraries, the "Use GOPATH that's defined in system environment" setting is applied to all of my Go projects.  This is a setting that needs to be project specific rather than global, as projects vendoring their dependencies (e.g., with wgo or gb) won't use the system GOPATH.  For example:

_Project with vendored dependencies:_
* "U

[2015-08-18 17:48] dlsniper commented on #1811
I understand the point of view but there are a few things to consider:
- not everyone uses (or want to use) gb/wgo/others
- godeps stores the dependencies in Godeps/_workspace so that brings up a question on which tools should the plugin detect or not
- more important, what should be the default setting? I work on 3 projects (work and personal) which use vendoring (Godeps) and I've contributed to

[2015-08-18 18:05] mmindenhall commented on #1811
All good points.  My reason for filing this is precisely what you say in your 3rd bullet -- I'm working on a work project that uses wgo for vendoring, but I also have several other projects that are libraries that I've been playing around with or created as separate Intellij projects just to make it easier to navigate the source when I want to know how something I'm calling is implemented.

How ab

[2015-08-18 18:22] dlsniper commented on #1811
Yes, having it by default enabled and stored per project makes sense (isn't it like this now? Sorry, I don't really use that feature).

[2015-08-18 18:28] mmindenhall commented on #1811
No, it's global.  If I uncheck the box on one project, it's unchecked when I look at the settings from any other project.  If I check the box, it's checked across all other projects.

[2015-08-18 18:44] zolotov commented on #1811
It's global because it controls global (application wide) libraries. Changing this logic will lead to the same confusion for some other users, it's six of one and half a dozen of the other. Also it's not easy to do because we should save settings compatibility with previous plugin versions and if at some point we'll decide to rollback it, it would be real pain.

And that's the idea. It's supposed

[2015-08-18 19:09] mmindenhall commented on #1811
Makes sense.  AFAIK, the authors of gb and wgo are planning to be compatible with the go1.5 vendoring approach.  So it would make sense that when a `<project_root>/vendor` folder is detected, the GOPATH is built from just the project sources and whatever's in that folder.

[2015-08-18 20:01] zolotov commented on #1811
Sounds great. I'll try to investigate this.

[2015-08-19 09:09] ffissore opened #1812 "Stub and PSI element type mismatch in FILE.go: stub GoTypeStub, AST SPEC_TYPE; Element(SPEC_TYPE)"
[code]

[2015-08-19 09:11] dlsniper commented on #1812
Hi, thanks for reporting. When did this happen? What are the steps to reproduce? Which IDE did you use? Also, the plugin supports the builtin reporting feature from the IDE, have you used that to report the error? Thank you.

[2015-08-19 09:15] ffissore commented on #1812
The error occurs *often* after double clicking (opening) a file. It's logged by the IDE which asks me to report to jetbrains. I pasted the content of the two fields popup it shows.
Plugin version is 0.9.460
IDEA version is IC-142.3926

[2015-08-19 09:25] dlsniper commented on #1812
Did you upgraded from a previous version of the plugin to this? Or did you upgraded the IDE before this started to happen?

As far as I know the plugin should be used with the stable release of IDEA for now, but not sure if that applies to the alpha release as well or just nightly.

Also, sending a report to JetBrains and pasting the URL of the report here would help out (there's a bit of extra in

[2015-08-19 09:45] ffissore commented on #1812
I've been using your ALPHAs for a while now, so yes, I did upgrade from a previous plugin version.
After having invalidated caches and randomly clicked, I'm not able to reproduce the error any more. Thanks!

[2015-08-19 09:49] dlsniper commented on #1812
Cool. I'd highly suggest to switch to IDEA 14 meanwhile (unless you really need something from IDEA 15), there are some goodies that will come for it soon ;)

[2015-08-19 21:07] dlsniper opened #1814 "ConnectException when using dlv with a binary that can't be compiled"
When running a program that won't compile due to an error in the app this exception will happen:

[code]

Plugin compiled from revision: b1fe90b7d4474ee9552fddc6045153720303e275

[2015-08-19 22:10] dlsniper opened #1815 "Relative paths don't appear correctly in the stack frame"
I'm compiling this: https://github.com/dlsniper/u/blob/master/dbg/1/demo.go with the debugger enabled.
On lines: 7, 12, 14 and 19 I've setup breakpoints.

The run command looks like this:
[code]

However, in the stack frame I have the following entries:
[code]

I've traced the issue and it comes up because of the following line
[code]
from
[code]

It seems "findFileByPath()" will return always `nu

[2015-08-19 22:28] derekparker commented on #1815
Thanks for cc'ing me.

This has been brought to my attention, and the proposed solution was a flag
/ config for controlling the output of paths. Since shortened paths are
really just a terminal UI nicety, I think it would make sense to ensure
that the shortening of the paths happens in the presentation code. With
that, all consumers of the JSON-RPC service would receive full paths.
On Wed, Aug 19,

[2015-08-19 22:30] derekparker commented on #1815
In other words, this should be a quick fix in Delve and I can have a patch
ready shortly. Feel free to open an issue on Delve to track this.
On Wed, Aug 19, 2015 at 5:28 PM Derek Parker <parkerderek86@gmail.com>
wrote:

[2015-08-19 22:45] derekparker commented on #1815
See https://github.com/derekparker/delve/commit/32b499fa47dfd6bca564d2c1214ff62fb2e7566f for the fix. @dlsniper that patch should address the issue.

[2015-08-19 22:46] dlsniper commented on #1815
Oh my, that was fast! Thank you @derekparker! Awesome.

[2015-08-20 00:11] thawkins commented on #1763
Just my 2cents

There really should be a create go project item,  even if all it does is create a blank project.  Most people after installing tbe plugin will naturaly try and create a go project  and be puzzled when it is not listed as an option, i certainly was, and spent a few hours trying to work out if the plugin was loaded properly. It seems with the little popup notification, and the docume

[2015-08-20 00:52] thawkins commented on #1398
we are a PHP and golang shop, we have licensed versions of PHPStorm, all setup with various tools we use, we would rather not have to have multiple IDE's. A typical application would have JS/HTML/CSS clientside, PHP based presentation layer and a golang REST backend. PHPStorm hits all levels with the plugin in a single IDE.

[2015-08-20 06:43] zolotov commented on #1398
@thawkins and what is exactly stopping you from using golang plugin in PhpStorm?

[2015-08-20 06:52] dlsniper commented on #1398
@zolotov seems that people are confused by the lack of Go as a project type. I don't understand this last comment @thawkins did especially since he did this comment earlier https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1763#issuecomment-132830824 which states that they know how to use PHPStorm and Go. I'll address the documentation issue today as it slipped my mind but I do unde

[2015-08-20 08:34] ignatov commented on #1763
Make sense, thanks.

[2015-08-20 08:42] ignatov commented on #1398
Duplicates #1763

[2015-08-20 08:42] #1398 closed

[2015-08-20 09:34] dlsniper opened #1816 "Autoimport doesn't prepend a tab character in the import block"
Hi,

I've noticed that in the version b1fe90b7d4474ee9552fddc6045153720303e275 when using the autoimport/import suggestion feature, the resulting import statement will not be prepended with a tab character.

For example:
[code]

becomes:
[code]

[2015-08-20 11:32] eugene-auduchinok commented on #1816
It worked correctly when used `runWriteCommandAction` instead of `runUndoTransparentAction` as before 98a38cd1c7c7b6772afad67cd0f93f0e48287145.
I'll try to fix this.

[2015-08-20 20:00] #1815 closed

[2015-08-20 20:01] #1252 closed

[2015-08-20 20:02] ignatov commented on #25
The latest nightly build contains dlv integration.

[2015-08-20 20:02] #25 closed

[2015-08-20 20:03] ignatov commented on #1252
The latest nightly build contains dlv integration.

[2015-08-20 20:54] svalleru commented on #25
@ignatov, that's great, where to get the nightly build ?

[2015-08-20 20:56] dlsniper commented on #25
@svalleru please read the instructions in the README: https://github.com/go-lang-plugin-org/go-lang-idea-plugin#pre-release-builds Also keep in mind that there are some issues that might appear that are not catched yet or are part of delve itself. If you do encounter such issues, please open an issue for them (if they are not reported already). Thank you.

[2015-08-20 21:00] svalleru commented on #25
Sure thing.

[2015-08-20 21:44] #1752 closed

[2015-08-20 21:48] ignatov commented on #1750
Obsolete, please try the delve integration in the nightly channel.

[2015-08-20 21:48] #1750 closed

[2015-08-21 00:59] aaa4xu commented on #25
Any instructions about starting debug with dlv? I'm downloaded latest nightly build and Debug button is disabled

[2015-08-21 06:48] dlsniper commented on #25
I'll add the instructions soon. Delve only supports Linux and Mac OS X

[2015-08-21 07:25] Vektah opened #1820 "Support for the Go 1.5 Vendor Experiment (GO15VENDOREXPERIMENT)"
# Do not add "+1" comments
__Kindly do not add "+1" comments to this issue.__
Read [comment #1820](https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1820#issuecomment-166231301)

The rest of us are subscribing to this issue waiting for real updates, not email messages about someone "expressing interest" in this issue.

------
Original issue:

It seems there is no direct support for

[2015-08-21 08:11] dlsniper opened #1821 "Improve binary artifact name of debug runner"
Hi,

When opening a new project and using right click + debug, the command that is issues looks like this:

[code]

It would be nicer if the binary name would be named like the project name for example, or something like ` idea-go01 ` rather than ` Build demo.go and run0go `

Thanks.

[2015-08-21 09:52] donghwicha commented on #1750
@ignatov  That is so cool! I'll try it. :)

[2015-08-21 11:03] zolotov commented on #1821
What's the point? It's auto-generated temporary file in tmpfs? Who cares how it's called?

[2015-08-21 11:05] zolotov commented on #1821
And current file is named like the run configuration name, so it's on you how it will be called.

[2015-08-21 11:05] #1821 closed

[2015-08-21 17:41] stef-k opened #1823 "Incompatible with WebStorm 11 EAP"
WebStorm updater reports Go plugin as being incompatible.
WebStorm 11 EAP, build 142.4148

[2015-08-21 17:42] dlsniper commented on #1823
Thanks for reporting. That's correct. For the moment there are no new nightlies compatible with IntelliJ Platform 142. Please use Webstorm 10 meanwhile or a compatible IDE.

[2015-08-21 18:06] #1823 closed

[2015-08-21 18:08] zolotov commented on #1823
142.* builds won't be supported

[2015-08-21 18:17] dlsniper opened #1824 "Show delve request and responses in a separate delve console"
Hi, at least for debugging the integration it would be nice to have a separate console tab for the communication between the IDE and delve so that we can track what's happening.

[2015-08-21 20:41] dlsniper commented on #25
@aaa4xu and everyone else who's wondering how the integration works: Please make sure you are running on a supported IDE (see the README in the root of the project), open your project, set the breakpoints you want and then press the Debug option instead of the run option. You need to create a run configuration of type Go Application as a Run configuration of type Go file is not supported yet (the

[2015-08-23 22:28] ignatov commented on #1824
Please use IDEA log with debug output level.

[2015-08-23 22:28] #1824 closed

[2015-08-24 05:33] bryanrieger commented on #1763
Same with WebStorm.

[2015-08-24 07:43] tarqe39 opened #1825 "Refactoring nested non go projects"
I have a web app nested inside of go workspace. If i try to refactor javascript (ie extract variable) i get the error:
*Cannot perform refactoring. Cannot modify library or SDK code*

Can you please help me with this?

[2015-08-24 07:55] dlsniper commented on #1825
How does your workspace look like? Where are the gopath, go project dir and the web app project dir?

Afaik, this happens when you have a situation like this:
- gopath = /home/florin/golang
- project root = /home/florin/golang/src/github.com/dlsniper/demo
- web app = /home/florin/golang/src/github.com/dlsniper/another

[2015-08-24 20:32] #1763 closed

[2015-08-24 20:44] ignatov commented on #1763
A simple project generator has been added. Please check out the next nightly build.

[2015-08-24 20:47] thawkins commented on #1763
I will pull this down and check it out, i have phpstorm

On Tue, Aug 25, 2015, 04:44 Sergey Ignatov <notifications@github.com> wrote:

[2015-08-24 20:49] tarqe39 commented on #1825
It look exactly as you described. Is there a workaround to exclude the web app folder from golang refactoring?

[2015-08-24 21:02] dlsniper commented on #1825
Not as far as I know. I would suggest that you use a different project for the web project but I have to check to see if that works or not (it should afaik). I'll try tomorrow to see if it can be done or not and I'll update this afterwards.

[2015-08-24 21:24] BoazJR opened #1827 "Refactor- renaming doesn't rename all occurrences"
Aloha,
I have a function:
[code]
when I select any 'k' and right click->refactor->rename and change 'k' to 'd' it changes all of the occurrences of k to d. However, when I accept the change with enter, all the items revert back except for the variable deceleration.
[code]
I am using IDEA 14.1.4
With go version go1.4.2 windows/amd64
go version go1.4.2 (appengine-1.9.24) windows/amd64
java 7 update

[2015-08-24 21:29] dlsniper commented on #1827
Hi, please update the plugin to 0.9.460 as I can't reproduce with the given example. Thank you.

[2015-08-24 21:30] dlsniper commented on #1825
As a note, this is not related to the refactoring engine but to the way the GOPATH generates libraries in the IDE.

[2015-08-24 23:24] BoazJR commented on #1827
Thanks dlsniper, I updated and I still get the issue.

Is there any data I can share that may help pinpoint the issue?

[2015-08-24 23:26] dlsniper commented on #1827
Is that the actual code that reproduces the issue? Or even better, can you please record a video / gif with the issue? I really can't reproduce the issue with the provided code.

[2015-08-24 23:54] BoazJR commented on #1827
I just made that function because it's small, it compiles and there are a lot of the variables in it so it's easier too see, but the issue is the same with any variable renaming. Here is the gif:
![renaming issue](https://cloud.githubusercontent.com/assets/10247740/9455408/a7e2ea20-4a66-11e5-96b5-97230415142f.gif)
In the gif I am renaming a variable deceleration, as I do that, you can see all the

[2015-08-25 06:08] thawkins commented on #1763
I can confirm this works fine on phpstorm

I was able to

1. Install plugin
2. create project
3. type hello-world go file
4. compile
5. run

all in under 2 mins, with out needing any special knowledge,

Much better "newbie" experience.

Just some notes, where it could be smoother, for future reference.

1. If an sdk is detected, just set it up, i only had to keep hitting return, but if a valid sdk

[2015-08-25 06:11] HouzuoGuo opened #1828 ""The selected directory is not a valid home for Go SDK" issue has come back"
In the latest alpha, the false warning "The selected directory is not a valid home for Go SDK" has returned.

I'm not able to specify Go 1.4.2 installation root (/opt/goroot) as Project SDK due to the false warning.

System is Linux 4.1.6 and both Idea plugin and Idea are the latest.

[2015-08-25 06:15] HouzuoGuo commented on #1828
Correction - the plugin version is the latest nightly, not alpha.

[2015-08-25 07:36] dlsniper commented on #1763
Hi, thanks for the feedback.
Here's my view on it:

It's not uncommon to have different SDK, think stable and tip or stable and next release, at the same time on a machine. I have 3 SDKs installed for example,with only one matching the default location. As such, for me the current experience allows me to select what I need easily with a minimal distraction in case I want the default.

Given there

[2015-08-25 07:40] dlsniper commented on #1828
Still, what is the plugin version please? And what IDE do you use? How did you installed Go? Also, what's the content of $GOROOT/src/runtime/zversion.go (I think that's the correct path, if not, search for a file called zversion.go in the Go sdk). Thank you.

[2015-08-25 07:42] thawkins commented on #1763
Your points are all valid, and im not going to argue one way or the other,
I was just placing myself into the shoes of a new user, often its a good
idea to provide simple defaults and assistance in getting them up and
runnng. The plugin is going to make using go a lot easier for a bunch of
folks who may not be adept at juggling thier machine configurations, so its
worth considering.

On Tue, Aug 2

[2015-08-25 07:46] zolotov commented on #1828
What kind of linux do you have? Also specify where `go` binary is located?

[2015-08-25 10:15] HouzuoGuo commented on #1828
I am using openSUSE Tumbleweed. Go is not installed from openSUSE repository.
I downloaded go from the official website and extracted it to /opt/goroot. The user under which Intellij runs has read permission on all files under /opt.
The content of $GOROOT/src/runtime/zversion.go reports correct go version 1.4.2.

Intellij launched via desktop shortcut is not aware of GOROOT/GOPATH environment vari

[2015-08-25 11:11] dlsniper commented on #1828
@HouzuoGuo can IntelliJ also run the `go` binaries, does the user that runs it have the right permissions? Also, is it correct to assume that the binary is under: `/opt/goroot/bin/go` and that the SDK directory that you configure is `/opt/goroot`? And can you please run `cat /opt/goroot/src/runtime/zversion.go`? Thank you.

I have Go 1.4.2 from the zip archive from the go website (installed a few

[2015-08-25 13:03] eugene-auduchinok commented on #1827
I couldn't reproduce the bug.
Could you provide the whole file and your settings (`File` – `Export Settings...`), please?

[2015-08-25 13:07] HouzuoGuo commented on #1828
Correct. Intellij runs as user "howard" and all binaries under /opt/goroot/bin/ are executable by user howard. In fact I use the goroot outside of intellij without any trouble.

And indeed I tried to set up project sdk under /opt/goroot

This is the full output

<pre>
howard@g123 ~> cat /opt/goroot/src/runtime/zversion.go
// auto generated by go tool dist

package runtime

const defaultGoroot = `/

[2015-08-25 13:08] HouzuoGuo commented on #1828
The system also does not use apparmor or selinux, both are disabled.

[2015-08-25 13:08] dlsniper commented on #1827
I still can't reproduce it as well unfortunately. I've tried the same steps shown in the gif but nothing. Additionality, after I rename `var k = 1` to `var d = 1` the line `k+=k` becomes `d += d` which doesn't seem to happen in the gif.

[2015-08-25 13:49] zolotov commented on #1828
Please `ls -l /opt/goroot/bin/`

[2015-08-25 14:01] HouzuoGuo commented on #1828
Here's the output:
<pre>
howard@g123 ~> ls -l /opt/goroot/bin/
total 28648
-rwxr-xr-x 1 root root  9571864 Feb 18  2015 go*
-rwxr-xr-x 1 root root 16164032 Feb 18  2015 godoc*
-rwxr-xr-x 1 root root  3594712 Feb 18  2015 gofmt*
howard@g123 ~> ls -l /opt/goroot/
total 108
drwxr-xr-x  2 root root  4096 Feb 18  2015 api/
-rw-r--r--  1 root root 17575 Feb 18  2015 AUTHORS
drwxr-xr-x  2 root root  4096

[2015-08-25 14:05] dlsniper commented on #1828
One final question before I leave this to @zolotov. What happens if you run:
[code]

I have the same output as you have, down to the permissions and bytes but not for the permissions. Thank you.

[2015-08-25 14:07] zolotov commented on #1828
@dlsniper there are 755 rights + we actually don't check executable flag while adding SDK :)

[2015-08-25 14:08] HouzuoGuo commented on #1828
Thanks a lot for your help.
But very unfortunately it does not really help.
Here's the file list and environment variables of intellij:
<pre>
howard@g123 ~> l /opt
total 75M
drwxr-xr-x  2 root   root  4.0K Aug 24 10:49 bin/
drwxr-xr-x 12 howard users 4.0K Aug 25 08:05 goroot/
drwxr-xr-x  6 root   root  4.0K Aug 24 13:34 idea/
-rwx------  1 root   root   75M Aug 23 12:18 NVIDIA-Linux-x86_64-352.30.

[2015-08-25 18:23] tarqe39 commented on #1825
Ok thank you i will have to use a different project than.

[2015-08-25 19:09] zolotov commented on #1825
There is no workaround, there is a "proper" way for doing this stuff: if you're going to develop both projects simultaneously you have to create project with two modules (sub-projects).

[2015-08-25 19:09] #1825 closed

[2015-08-25 19:20] dlsniper commented on #1763
Like I've said, that's just my view on the things but your points are valid as well. A good onboarding of new users should be always kept in mind and I (I dare to say we) appreciate always feedback (more so when it's of the quality you provided).

@ignatov / @zolotov should I open a couple of issues with the points from above to have an overview for them for later down the road or if someone wants

[2015-08-25 19:27] BoazJR commented on #1827
I ended up reinstalling the most recent version of java, Go and gae and now everything seems to work.
Thank you for the help.

[2015-08-25 19:28] #1827 closed

[2015-08-25 19:29] zolotov commented on #1763
@dlsniper as @ignatov said the `simple` generator was added, just to not scare new users. We'll be working on user experience of generator closer to release, so I don't mind if you created the issue about it. I like all that @thawkins said, maybe except gimme thing. Installation go sdk on each platform is really hard and I'm afraid that the code part responsible for it will be bigger than our reso

[2015-08-25 19:32] zolotov commented on #1827
@BoazJR glad to hear that everything works for you, but it's might be important to know what exactly was wrong. Maybe some logs were saved after installation? You can find them under "Help | Show Logs" menu.

[2015-08-25 19:37] dlsniper opened #1829 "Automatically create a Go SDK if it's detected in the common installation paths"
Currently the plugin is able to suggest a few locations for where a Go SDK installation can be found.
As per request from https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1763#issuecomment-134491352 it would be nice the user wouldn't need to trouble with creating the Go SDK manually but have it already created by the plugin.

[2015-08-25 20:30] BoazJR commented on #1827
Sure, here they are:
[code]

[2015-08-25 20:33] zolotov commented on #1827
Looks a little out of date :( Thanks anyway.

[2015-08-25 20:45] BoazJR commented on #1827
??, I thought you wanted the first log right after the installation, this is the most recent one, or would you rather have the whole file?
[code]

[2015-08-25 20:49] dlsniper commented on #1827
@BoazJR if you could zip the whole directory and provide an approximate date / hour where this happened it would be easier to follow rather than using Github's unfortunate reporting system :D

[2015-08-25 20:55] zolotov commented on #1828
I've made debug logging for choosing SDK, it will appear in the next nightly build or you can install build from here: https://www.dropbox.com/s/fdv38o25ubz5c4y/Go.480.zip?dl=0

Before installing enable debug mode. To do this open `Help | Configure debug log settings...` and add there `#com.goide.sdk.GoSdkService`. After that install plugin, restart ide and try to set go sdk. After that please att

[2015-08-25 21:02] BoazJR commented on #1827
I pasted the gif 21 hours ago, it's now 11 so sometime between 13:00- 14:00 8/24/2015
file link: http://dropcanvas.com/#5N7TPT0jeX8h97

[2015-08-26 01:34] wrouesnel opened #1830 "Continuous builds?"
This may already be possible, but its not clear from the documentation how: can you have the plugin continuously build a project and parse errors into idea so you can jump to them?

[2015-08-26 06:12] HouzuoGuo commented on #1828
Thanks very much, I have the logs:
<pre>

2015-08-26 08:10:06,133 [      1]   INFO -        #com.intellij.idea.Main - ------------------------------------------------------ IDE STARTED ------------------------------------------------------
2015-08-26 08:10:06,169 [     37]   INFO -        #com.intellij.idea.Main - IDE: IntelliJ IDEA (build #IC-141.1532.4, 18 Jun 2015 00:00)
2015-08-26 08:10:06,169

[2015-08-26 06:42] dlsniper commented on #1830
Hi, this feature is not supported by the plugin.

There's no need for it, theoretically, as the one purpose of the plugin is to show you errors before the compilation step. Also, it would be impractical to have something running on save events as due to the architecture of IntelliJ platform, the even can happen from multiple places.

If you want to quickly run a project I suggest that you use the

[2015-08-26 06:42] #1830 closed

[2015-08-26 06:44] dlsniper commented on #1830
I've forgot to mention, when you will try to run the program and there's a compilation issues or a panic, the ide will try and provide links within the output for the files where the errors happen.

[2015-08-26 06:52] ctd1500 commented on #1830
If it's enough, you can at least continuously run a test configuration upon code change, which can re-build your project.
You can enable that after you run the test you want and then click the auto-test button, as shown highlighted red in the screenshot below.
![continuous build](http://i.imgur.com/x3tIf55.png)

[2015-08-26 07:56] zolotov commented on #1828
Ok, I've found the problem. `goroot` directory name is used for google app engine sdk and IDE decides that you've chosen a GAE sdk and tries to find GAE-specific executable file.

So as a workaround just change `goroot` name to any other :) Meanwhile I try to fix this

[2015-08-26 08:18] HouzuoGuo commented on #1828
hahahha :D
Thanks very much for the resolution.

[2015-08-27 13:34] zolotov commented on #1097
Fixed by @eugene-auduchinok

[2015-08-27 13:34] #1097 closed

[2015-08-27 15:40] #1751 closed

[2015-08-28 08:53] liugangnhm commented on #1766
how long waits for this feature..

[2015-08-28 08:57] dlsniper commented on #1766
@liugangnhm this is not a easy feature to have and there are a lot of other things to fix / improve as well. We gladly welcome contributions if you want to help rolling out this feature sooner. Thank you.

[2015-08-28 14:59] tenmozes opened #1834 "Error when set up "go vet" in before launch"
I've got an error ```can't load package: package .: no buildable Go source files in path/to/project```
when i added ```vet``` in before launch section in run configuration window
or ```go: unknown subcommand "vet path/to/project```  when added ```vet path/to/project``` command
os - Ubuntu 14.04
plugin - 0.9.481
go - 1.5
idea - 14.1.4

[2015-08-28 15:01] zolotov commented on #1834
run configuration screenshot please

[2015-08-28 15:07] tenmozes commented on #1834
go vet
![selection_012](https://cloud.githubusercontent.com/assets/1381404/9549571/600f7226-4daf-11e5-97b5-75e4c5f5db5a.png)
go vet path/to/project
![selection_013](https://cloud.githubusercontent.com/assets/1381404/9549607/8451091a-4daf-11e5-9d48-54eef637d81f.png)

[2015-08-28 15:19] zolotov commented on #1834
And what if you run `go vet` in `/var/www/amqp-to-websocket` from command line?

[2015-08-28 15:28] tenmozes commented on #1834
get error ```can't load package: package /var/www/amqp-to-websocket: cannot import absolute path```
but if i run ```go tool vet /var/www/amqp-to-websocket``` - no errors and normal work and in idea - still see ```go: unknown subcommand "tool vet /var/www/amqp-to-websocket"```

[2015-08-28 16:59] #1834 closed

[2015-08-30 00:24] ziyouchutuwenwu opened #1835 "it seems not support multi GOPATH"
i like put different libs to different dirs, this makes everything clear, but the plugin seems not support multi gopath, just like this

[code]

[2015-08-30 00:32] dlsniper commented on #1835
Can you please send a screenshot of File -> Settings -> (search for) Go Libraries. Also, do each of the paths in your GOPATH have a /src folder in which the sources are present? Thank you.

[2015-08-30 13:18] ziyouchutuwenwu commented on #1835
hi dlsniper, before solve this multi gopath issue, i found another bug(maybe), my enviromrnt is
[code]

i click create a project, when to choose golang sdk, i select my go unziped path
/Users/mmc/golang/go
![path_select_dialog](https://cloud.githubusercontent.com/assets/7458713/9567411/9b179b06-4f5c-11e5-8c2b-7bbf4a35bed5.png)
bug the dialog didn't add this path to gui, no error dialog poped;
![pa

[2015-08-30 13:35] dlsniper commented on #1835
Please follow these instructions in order to install the latest version of the plugin, 0.9.15.3 is not supported anyore (nor should you be able to install it on IDEA 14, I don't know how you managed to so that) https://github.com/go-lang-plugin-org/go-lang-idea-plugin#pre-release-builds

[2015-08-30 14:36] ziyouchutuwenwu commented on #1835
i tested with the alpha build, it worked, thanks
i tried for many times to download the alpha build, for the gfw, i hava nothing to say......

[2015-08-30 14:36] #1835 closed

[2015-08-30 14:45] dlsniper commented on #1835
@ziyouchutuwenwu since the repository is hosted by JetBrains maybe it's worth getting in contact with them via https://youtrack.jetbrains.com/ . I'll cc @zolotov and @ignatov for this one to keep in mind about China and the Great Firewall but I can't promise anything. Are downloads from Github allowed there? If so we might be able to add the plugin to each Github release.

[2015-08-30 16:50] amirhosseinab opened #1836 "Does not accept wildcard for building application"
In the `Edit Configuration` window, when you add new `Configuration` for building `Go Application` it does not accept `/...` wildcard in the File box.

[2015-08-30 16:51] dlsniper commented on #1836
Hi, what's the use case for this? The run configuration is also supposed to launch the application and get it's output back as well as launch a debug version of it.

[2015-08-30 20:48] vburenin opened #1837 "Unresolved reference on slice objects"
Recently I started seeing this issue:

<img width="478" alt="screen shot 2015-08-30 at 1 40 27 pm" src="https://cloud.githubusercontent.com/assets/4350891/9569342/bc6561de-4f1c-11e5-8b28-8adebc1b39d3.png">

It happens with arrays/slices defined as a different type. You can see it happens to SomeId struct member.

[code]

Environment:
➜  ~  uname -a
Darwin domain.com 14.5.0 Darwin Kernel Version 14

[2015-08-30 20:51] dlsniper commented on #1837
I can replicate this for commit: c3eb6cdcd66fa44169c025e9c4d528252cca714c

[2015-08-31 14:39] NormB opened #1838 "VerifyError: update failed"
The following errors happen very often:

9:51:38 AM VerifyError: update failed for AnAction with ID=Debug: com/goide/dlv/DlvDebugProcess
9:51:43 AM VerifyError: update failed for AnAction with ID=Debug: com/goide/dlv/DlvDebugProcess
9:51:48 AM VerifyError: update failed for AnAction with ID=Debug: com/goide/dlv/DlvDebugProcess

[2015-08-31 14:48] dlsniper commented on #1838
@NormB thank you for your issue. Please read the following section describing how to properly report issues: https://github.com/go-lang-plugin-org/go-lang-idea-plugin#bugs else we can't be helpful in fixing this. Thank you.

[2015-08-31 14:50] dlsniper commented on #1838
Unfortunately that IDE version is not supported yet. Please see the list of supported IDEs here: https://github.com/go-lang-plugin-org/go-lang-idea-plugin#pre-release-builds

[2015-08-31 14:50] #1838 closed

[2015-08-31 14:53] NormB commented on #1838
Not a problem.  The plugin appears to be working ok.  It's just the warning/error message that caught my attention.  Thank you for your efforts.

[2015-08-31 22:15] ignatov commented on #1814
Do you have any sample for reproducing?

[2015-08-31 22:17] dlsniper commented on #1814
I'll try and come with one but basically any code that's not compilable should do it:

[code]

I'll test this soon.

[2015-08-31 22:27] dlsniper commented on #1814
Hmmm, seems I can't reproduce with the plugin version I have anymore. Sorry. I'll close this for now.

[2015-08-31 22:27] #1814 closed

[2015-08-31 22:55] dlsniper opened #1839 "Debug action doesn't stop existing running instance"
- compile an app, for example:
[code]

- set a breakpoint on line 4 (the one with `println`)
- run the debug option
- while the debugger is stopped on the breakpoint run the debug executor again

[code]

Also, in this case, it's not a temporary file but rather the final file.

Plugin revision: f93a5110c25991569cc2566f25196c9867f66563

[2015-09-01 07:12] ziyouchutuwenwu opened #1840 "could you please add the command line project wizard support?"
as topic, could you please add the command line project wizard support?
thanks

[2015-09-01 07:14] dlsniper commented on #1840
Hi, how should this feature work? Please provide more details. Thank you.

[2015-09-01 07:17] ziyouchutuwenwu commented on #1835
the gfw will add update the blacklist frequently, so you need't change anything, i will try to use other method to download the updated release, thanks a lot!

[2015-09-01 07:22] ziyouchutuwenwu commented on #1840
if possible, add a button like "create new project"，
![aa](https://cloud.githubusercontent.com/assets/7458713/9598351/240ef6f0-50bd-11e5-9a49-a6e33716b706.png)

or inside this wizard，i can select golang project
![bb](https://cloud.githubusercontent.com/assets/7458713/9598358/3082d94c-50bd-11e5-8ad5-bdfe58b4217b.png)

[2015-09-01 07:34] dlsniper commented on #1840
This was fixed by @ignatov in a previous nightly. Please try that release channel or wait for the next alpha release. If the issue is still not fixed, please reopen this. Thank you.

[2015-09-01 07:34] #1840 closed

[2015-09-01 07:38] ziyouchutuwenwu commented on #1840
thank you very much

[2015-09-03 20:11] wrouesnel opened #1841 "Syntax category for built-in methods"
Built in methods like new(), delete() and make() etc. should have their own syntax category so they can be independently styled (since they are somewhat special, and somewhat important). There's already a category for built-in types (which inherit from the same module).

[2015-09-03 20:23] dlsniper commented on #1841
I do agree that the builtin functions are somewhat special but then go has also the "nice" which lets you define your own `new`, `delete` etc.. https://play.golang.org/p/vcuB7TJEdj

Here's the full list of builtin functions as of go 1.5:

[code]

@ignatov should we highlight these in a special way if they resolve to the builtin package? If so maybe I can find some time for this in the coming weeks

[2015-09-04 18:20] horkhe opened #1842 "Multiple assignment error is not reported"
[code]

[2015-09-04 18:25] dlsniper commented on #1842
This would be a good test for https://github.com/go-lang-plugin-org/go-lang-idea-plugin/pull/1668. I should also update that PR. Thank you for reporting this.

[2015-09-05 21:05] zolotov opened #1843 "Unnecessarily exported identifiers inspection"
The same funtionality as implemented in https://github.com/isaiah/unexport

[2015-09-06 03:25] jim-slattery-rs opened #1844 "Publish the latest alpha code to the Intellij repository"
**I suggest publishing the latest alpha code to the Intellij repository to keep people from giving up and moving to another Go IDE.**

I have been using the 0.9.15.3 plugin from the Intellij repository for months:
https://plugins.jetbrains.com/plugin/5047

I was frustrated that the project seemed to have been abandoned and the code navigation didn't work in so many cases.

On a whim, I installed t

[2015-09-06 03:26] tidezyc opened #1845 "idea plugin install failed"
I add `https://plugins.jetbrains.com/plugins/alpha/5047` to my idea plugin's repository, and I can get `0.9.221` , but when install, idea return 404.

I check idea's download link, I get url `https://plugins.jetbrains.com//plugin/download?updateId=19172`, so the problem is double `//`

[2015-09-06 08:23] zolotov commented on #1844
Hi @jim-slattery-rs,

Thanks you for feedback. We'll publish the alpha plugin to general channel for sure. At the moment we have no migration mechanism from 0.9.15 -> alphas, as soon it is implemented the plugin will be published.

As for syntax highlighting, maybe @dlsniper can say where you can find more colourful scheme, for now we're no going to change the default one.

[2015-09-06 10:08] dlsniper commented on #1845
0.9.221 is a very very old build and many things have changed since then. Plead upgrade your IDE to one of the latest supported ones (see README).

[2015-09-06 12:40] dlsniper commented on #1844
Is there a way to embed multiple color schemes in the plugin for the language? If so, I could work on getting a version that works with IntelliJ and one with Darcula.

[2015-09-06 12:44] dlsniper commented on #1843
I think this inspection could work only if the project inspected is an application not a library. And maybe it should be turned off by default or a `WEAK_WARNING`.

[2015-09-06 12:46] #1804 closed

[2015-09-06 20:10] dlsniper commented on #1842
I've fixed this in #1688, thanks for reporting.

[2015-09-06 21:49] dlsniper commented on #1781
I'm closing this as the tests run OK with the 141 branch.

[2015-09-06 21:49] #1781 closed

[2015-09-06 22:54] zolotov commented on #1843
@dlsniper indeed, it could be weak_warning by default or enabled for not_on_the_fly_mode only

[2015-09-06 22:55] zolotov commented on #1844
@dlsniper not for language, but custom color scheme could be included

[2015-09-07 09:12] dlsniper commented on #1844
Here's the color scheme that I use for Darcula: https://www.dropbox.com/s/9cqvmhjm4cl9jwh/GoDarcula.icls?dl=0

Screenshot:
![snapshot51](https://cloud.githubusercontent.com/assets/607868/9713155/cbd8a1a6-554f-11e5-9137-170e7cf6952b.png)

I don't know how to add it to the plugin, but if you can add this one, then I can do one for the IntelliJ (white) background as well and I'll keep updating this a

[2015-09-07 10:57] ignatov commented on #1845
Please specify your product version and describe how you can get the url with double slash.

[2015-09-07 11:20] #1837 closed

[2015-09-07 11:26] tidezyc commented on #1845
![Uploading Screenshot 2015-09-07 19.24.22.png…]()
![Uploading Screenshot 2015-09-07 19.24.22.png…]()

[2015-09-07 11:28] dlsniper commented on #1845
@tidezyc you commented before the screenshots were uploaded. Please update the comment. Thank you.

[2015-09-07 11:33] tidezyc commented on #1845
@dlsniper @ignatov
<img width="548" alt="screenshot 2015-09-07 19 17 30" src="https://cloud.githubusercontent.com/assets/1592766/9715790/65144b72-5596-11e5-8a5f-5f1fd89ad670.png">
<img width="668" alt="screenshot 2015-09-07 19 21 07" src="https://cloud.githubusercontent.com/assets/1592766/9715785/6469ba36-5596-11e5-94f7-09213076ce57.png">
<img width="494" alt="screenshot 2015-09-07 19 22 06" src="

[2015-09-07 11:34] dlsniper commented on #1845
IDEA 14 is not supported anymore, please see the readme for the list of supported IDEs https://github.com/go-lang-plugin-org/go-lang-idea-plugin#pre-release-builds (@ignatov please feel free to override me on this comment).

[2015-09-07 11:38] tidezyc commented on #1845
Thanks you @dlsniper , I will upgrade my idea and try again.

[2015-09-07 12:07] #1845 closed

[2015-09-07 12:18] #1809 closed

[2015-09-07 12:53] #1740 closed

[2015-09-07 14:21] ignatov commented on #900
@dlsniper Ping

[2015-09-07 14:50] dlsniper commented on #900
Sorry, this can be closed as it was meant to be for the resolving subsystem which works correctly now, as far as I can see (aside from the existing bugs).

[2015-09-07 14:50] #900 closed

[2015-09-07 16:15] #1723 closed

[2015-09-07 18:36] sjamesr commented on #1461
I'm having a go at this, it's my first attempt at a change to the go plugin

[2015-09-07 18:39] dlsniper commented on #1461
That's great, if there's something that we can help out, let us know. And please feel free to open a PR as soon as you have something or you get stuck somewhere ;)

[2015-09-07 19:11] sjamesr commented on #1461
Oh, this case is apparently already handled by GoUnusedImportDeclaration, I'm just going to add it to GoHighlightingTest unit tests

[2015-09-07 19:59] sjamesr commented on #1461
The patch is done, before I create a pull request, I have to get it OK'd by Google's open source legal folks.

I should already have a CLA on file with Jetbrains.

[2015-09-07 20:01] dlsniper commented on #1461
There's no need for the CLA for JetBrains, the plugin is under Apache 2 licence :)

[2015-09-07 21:39] vburenin opened #1846 "Unresolved reference on slices declared as types"
Hey folks. This is unresolved reference on slices, round two.
SomeId member highlighted as unresolved.

Originating bug has been fixed, however in that case object was created using NewDataSlice. This time I created a data structure in place: data := &DataSlice{} and as data := DataSlice{}

I am using 488 build of Go plugin.

[code]

One more example:

[code]

![image](https://cloud.githubusercont

[2015-09-07 21:48] dlsniper opened #1847 "For iteration on a pointer slice is not valid"
This is a continuation of #1837. The difference is that in that example `data` is initialized via a call to a function, here it's initialized directly

[code]

[2015-09-08 02:42] wmacgyver commented on #1844
given that the plugin is alpha, maybe you can require people to uninstall existing 0.9.15 before installing the new version? I've seen this done before, I remember having to do this with early intellJ scala plugins too.

[2015-09-08 03:38] cep21 opened #1849 "Debugging panic"
Had this panic debugging my production Go server.  Can't spend time getting a small reproducible example, but hope the stack trace helps.  I was trying to set a few break points and inspect variables.  Happens consistently.

panic: runtime error: makeslice: len out of range

goroutine 33 [running]:
github.com/derekparker/delve/proc.(*Thread).readMemory(0xc2093be990, 0xc820138000, 0xc8200ff3e0, 0x0

[2015-09-08 07:06] dlsniper commented on #1844
@wmacgyver the update process doesn't require tp uninstall the old version as it will install the new one over it. The problem is in migrating existing SDKs and project types seamlessly, among others.

[2015-09-08 07:09] dlsniper commented on #1849
Please report this to delve's repository as that's the correct place to report it. https://github.com/derekparker/delve/issues/new

[2015-09-08 07:09] #1849 closed

[2015-09-08 07:09] dlsniper commented on #1849
Cc @derekparker for this one, just in case :-)

[2015-09-08 07:10] cep21 commented on #1849
Looks like https://github.com/derekparker/delve/issues/189

[2015-09-08 07:17] sjamesr opened #1850 "How to bundle delve into the plugin on local compiling"
Hi there,

I noticed that when I'm running IntelliJ + go-lang-idea-plugin at HEAD in my dev environment, the debugging option is not available. How does one go about getting delve to work inside the (excellent) plugin dev environment?

Thanks,
James

[2015-09-08 07:38] ignatov commented on #1850
Hi, you should put delve from https://github.com/ignatov/delve into
https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/src/com/goide/runconfig/application/GoApplicationRunningState.java#L102

[2015-09-08 07:38] #1850 closed

[2015-09-08 07:39] ignatov commented on #1850
@dlsniper Will be cool to have such instruction in our contributing page.

[2015-09-08 07:41] ignatov commented on #1849
We'll upgrade out local delve bundle after the fix.

[2015-09-08 07:45] dlsniper commented on #1850
Noted. I'll add them soon. Thanks.

[2015-09-08 09:01] jmhodges commented on #1677
For me, 14.1.4 build 141.1532 (Community Edition)

[2015-09-08 09:06] dlsniper commented on #1677
@zolotov should we close this as it's fixed in 142 branch of IDEA (I've tested with latest EAP).

[2015-09-08 10:35] zolotov commented on #1677
@dlsniper yes, thanks

[2015-09-08 10:35] #1677 closed

[2015-09-08 11:36] zld406504302 opened #1851 "https://plugins.jetbrains.com/plugins/nightly/5047 debug error"
/usr/local/go/bin/go build -o /private/var/folders/7q/h53xbfx93n97b2hpd363p64r0000gp/T/go_demos0go -gcflags "-N -l" /Users/zhanglida/go_path/src/go_demos/src/xiaosheng/main/demos_main.go
"/Users/zhanglida/Library/Application Support/IntelliJIdea14/Go/lib/dlv/mac/dlv" --listen=localhost:57354 --headless=true exec /private/var/folders/7q/h53xbfx93n97b2hpd363p64r0000gp/T/go_demos0go --
panic: runtime

[2015-09-08 11:37] ignatov commented on #1851
Duplicates #1849

[2015-09-08 11:37] #1851 closed

[2015-09-08 16:50] jen20 opened #1852 "Create test files without _test suffix in package name"
I briefly searched but didn't find a duplicate of this, possible that it is though (if so apologies!)

Go Plugin Version: 0.9.488

## Steps to reproduce:

1. Create Go Module
1. Add a directory named (for example) `config`
1. Create a new Go file in the `config` directory named `config_test.go`

**Expected result:** the package name should be `config`
**Observed result:** the package name is `conf

[2015-09-08 16:52] zolotov commented on #1852
Why do you think it's incorrect behaviour?

[2015-09-08 17:00] Tyndie commented on #1852
Just tried this out, if you create a file called this_test.go in the same directory it will use the package config_test which seems correct.

[2015-09-08 17:01] jen20 opened #1853 "Unit test icons do not reflect the pass/fail status of the tests in runner"
Version: 0.9.488

When running unit tests, the icons for the tests do not reflect the pass/fail status of each test as expected.

### Steps to reproduce

1. Add a `.go` file with unit tests
1. Run the tests (via the context menu in this case)
1. Wait for the tests to pass or fail (as reported by the console output and the status bar)

**Expected result:** the icons show green/red for pass/fail as