[2015-02-08 17:03] #1250 closed

[2015-02-08 17:04] ignatov commented on #1241
Relates to #1257

[2015-02-08 17:21] #1238 closed

[2015-02-08 19:16] kalopsia opened #1273 "Unresolved reference to all built-in packages"
Hello, after upgrading to the new version (1.0.0.alpha#11) new problem was appeared! Please see screenshot.

![screenshot from 2015-02-08 22 04 11](https://cloud.githubusercontent.com/assets/6209197/6097898/10e0a166-afdf-11e4-9eee-59e53a4a8041.png)

Any built-in packages are unresolved. Invalidate caches and restart doesn't solve the problem.
My settings:
 - idea 14.0.3 (139.1117)
 - go 1.4.1
![sc

[2015-02-08 19:28] dlsniper commented on #1273
Hello,

Please create a new SDK for the project as the previous SDK version is not compatible with the new one.
If you have any problems, ping me on [Gitter](https://gitter.im/go-lang-plugin-org/go-lang-idea-plugin).

@ignatov, I'm not sure about the SDK upgrade, we used to have this capability to upgrade SDKs between versions of the plugin where we changed things. Do you think it's worth investig

[2015-02-08 19:35] ignatov commented on #1273
@dlsniper For instance, we can show a file-level notification if detect the previous SDK and ask to reimport it.

[2015-02-08 19:51] kalopsia commented on #1273
If you have any problems, ping me on Gitter.

Hey! Creating new SDK really solve this problem. Thanks! It is the first time when there is no any "resolve" problems for both built-in and custom packages!

![screenshot from 2015-02-08 22 45 47](https://cloud.githubusercontent.com/assets/6209197/6098081/6eb2e7b8-afe4-11e4-8dea-f2d89ef42164.png)

However as you can see there is now syntax highlighting

[2015-02-08 19:55] dlsniper commented on #1273
Glad it worked!

Yes, 1.0.0-alpha branch has a completely rewritten engine and some (most) of the things that used to work in the previous version are not yet ported. Syntax highlight is one of them, you can see one example of an open issue [here](https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1241).

We warmly welcome any contributions to the plugin ;)

I'll close this for now,

[2015-02-08 19:55] #1273 closed

[2015-02-08 19:58] kalopsia commented on #1273
Good. I'm glad that it worked even only now! Thanks)

[2015-02-08 20:26] #1247 closed

[2015-02-08 20:26] #1160 closed

[2015-02-08 20:26] kokizzu opened #1274 "No Web Application Framework Support for Go Module"
Right Click on the `Go Module`, choose `Add Framework Support`

![image](https://cloud.githubusercontent.com/assets/1061610/6098230/d4bbcd2e-b00a-11e4-926e-10c6d03df67e.png)

Only `SQL Support` checkbox shown

![image](https://cloud.githubusercontent.com/assets/1061610/6098239/f3eb00d4-b00a-11e4-8197-8d5019f978a4.png)

There should be `Web Application` checkbox shown
https://www.jetbrains.com/idea

[2015-02-08 22:34] m0sth8 opened #1275 "[1.0] False positive unused variable inspection"
Idea 14.0.3, plugin alpha#58

Variable `a` declared in `select` scope leaks to `main` function scope

[code]

[2015-02-08 23:21] dlsniper opened #1276 "[1.0] Possible Infinite loop when indexing go source repository"
It seems that the indexing phase of the go sources never stops, I've left it running for more than 10 minutes.

Steps to reproduce this:
- git clone https://go.googlesource.com/go
- use ```File | Open``` and point it to the sources
- don't add any SDK or anything else

Version used: commit sha 3b48c1f1980a55b5a4c46879b582e9b98ffc3aea

[2015-02-08 23:29] m0sth8 opened #1277 "[1.0] Analysis becomes slow when New() method exists"
Idea 14.0.3, plugin alpha#58

After I add `New` function in empty file then inspection analysis becomes very slow.
I don't know what is the reason for that. Maybe it's because I worked on a big project with a lot of New functions in different modules??

![image](https://cloud.githubusercontent.com/assets/470078/6099199/3157edea-afd1-11e4-9c83-8483903abb24.png)

[2015-02-08 23:31] dlsniper commented on #1277
This might be related to the #1276 but I'm not sure that the ```New``` is the one that triggers it. Unfortunately I'm too tired to check it now, I'll run it in YourKit tomorrow and see where the time is spent.
Thanks.

[2015-02-09 08:58] #1275 closed

[2015-02-09 09:00] ignatov commented on #1277
@m0sth8 Can't reproduce with my test project. Please share a code example or a sample project for reproducing.

[2015-02-09 09:34] ignatov commented on #1276
Reproduced, thanks. We need to unify index/slice expression. File to reproduce is ```./test/torture.go```.

[2015-02-09 09:35] dlsniper commented on #1276
:+1: I've just finished profiling it myself and was about to send the snapshot. Thank you!

[2015-02-09 09:54] dlsniper opened #1278 "[1.0] Support for AppEngine Go SDK"
AppEngine SDK is not supported right now and it should be.

[2015-02-09 09:56] dlsniper opened #1279 "[1.0] Add support for Go tip SDK"
Currently it's not possible to add the Go tip SDK (aka custom build from git repository, usually on HEAD). The SDK detection rules should be improved to support this case.

[2015-02-09 12:04] #1276 closed

[2015-02-09 12:05] dlsniper commented on #1277
@m0sth8 can you check the latest v1.0.0-alpha0 branch and see if the problem still happens to you?

[2015-02-09 12:33] m0sth8 commented on #1277
@dlsniper Sure, how can I built alpha0 for MacOs?

[2015-02-09 12:37] dlsniper commented on #1277
Follow these steps:
- ```shell
git clone git@github.com:go-lang-plugin-org/go-lang-idea-plugin.git
git checkout v1.0.0-alpha0
[code]

[2015-02-09 12:54] m0sth8 commented on #1277
@ignatov

1) Make an empty project with `src`
2) Download `github.com/docker/docker` to the `src`
3) Make an empty go file in `src`
4) If you have a function `New()` in this file then inspection is slower then if you have a function `NewF()`
5) [Optional] If you duplicate docker project then inspection becomes slower and slower.

[2015-02-09 13:06] m0sth8 commented on #1277
@dlsniper I've built the latest v1.0.0-alpha0 and nothing changes for me =(

[2015-02-09 13:07] ignatov commented on #1277
@m0sth8 Thanks for the STR, I'm going to investigate it soon.

[2015-02-09 13:09] m0sth8 commented on #1275
Thank you!

[2015-02-09 14:30] dmitry-vovk opened #1280 "Func init() wrongfully reported as duplicate"
In Go "each source file can define its own niladic init function to set up whatever state is required" ([from official site](https://golang.org/doc/effective_go.html#init)).

**Expected result:** each file in a package can have own ```func init()```, and that is not considered as duplicate.

**Actual result:** Plugin marks ```func init()``` with "Duplicate function name" error when there are more

[2015-02-09 14:32] dlsniper commented on #1280
This duplicates #1213.

[2015-02-09 14:32] #1280 closed

[2015-02-09 16:42] notzippy commented on #1266
@dlsniper thanks for demonstrating it better than I did, if you need a build tested let me know.

[2015-02-09 19:28] JoeBruner commented on #1210
It would seem like this could be fixed with a simple change of line 74 https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/v1.0.0-alpha0/src/com/goide/runconfig/testing/GoTestRunningState.java#L71
to

    final Map<String, String> goPathEnv = new HashMap<String, String>();
    goPathEnv.put("GOPATH", GoSdkUtil.retrieveGoPath(myModule));
    GeneralCommandLine installDependencies = new G

[2015-02-09 19:38] dlsniper commented on #1210
@JoeBruner please submit a PR and either @ignatov or @zolotov will review it. From what I can tell, the change you suggest should be right. Thanks for investigating this!

[2015-02-09 19:43] JoeBruner commented on #1210
Yah, I didn't make a PR because it didn't actually work :(

[2015-02-09 19:47] dlsniper commented on #1210
as an idea, instead of running a run/build command, run ```go env``` and check the output, this way you should be able to understand what's happening there.

[2015-02-09 20:02] JoeBruner commented on #1210
I think I might have an idea what might be wrong.  I don't think it's a GOPATH problem per say. Investigating...

[2015-02-09 20:04] zolotov commented on #1210
It's not that simple, the problem is in compiler, not in running. It's jps module and it has quite non-trivial API. I'm aware of how to fix it, I just need a little time. Please let me fix it myself. I hope we'll see another contribution from you someday ;)

[2015-02-09 20:38] dmitry-vovk opened #1281 "[1.0] Arguments from Run/Debug configuration not used to run the app"
See screenshot. Arguments are set, but apparently not being used when running Go app. Default flag value is used.
![screenshot - 090215 - 22 34 41](https://cloud.githubusercontent.com/assets/4119321/6115167/2a793160-b0ac-11e4-8d96-a15efd8f7cd7.png)

[2015-02-09 22:18] dlsniper opened #1282 "Support godep project workspaces"
Godep has it's own way to save and the use the dependencies in a project, thus providing a special, isolated, workspace for each project.

It would be nice if the plugin would detect automatically the ```Godeps/Godeps.json``` when the project is created / imported / folder is opened and then configure the library sources to point first to the ones in the ```Godeps``` dir, then the rest of the GOPA

[2015-02-09 22:22] dlsniper opened #1283 "[1.0] Order of Go Libraries"
Hello,

While creating #1282 I realized that there should be a order in which the libraries are used for both auto-complete and executing the various go tools.

Following the logic that could be found in the wild, I believe the best way to use them would be:
[code]

This will allow people to configure projects with Godeps for example, which assume that their local dependencies are first in the GOP

[2015-02-10 05:17] dashaus opened #1284 "[1.0] The inspector does not mark as error the mismatch of count values to be returned"
[code]

[2015-02-10 08:16] dlsniper commented on #1284
Duplicate of #1012

[2015-02-10 08:16] #1284 closed

[2015-02-10 21:58] sclasen opened #1286 "[1.0] alpha 58 struct fields dont autocomplete"
the 0.9 series worked (for me) whereas the 1.0 doesnt in the following kind of scenario

[code]

[2015-02-10 22:00] dlsniper commented on #1286
Thanks for reporting, however it's a duplicate of #1162.

[2015-02-10 22:00] #1286 closed

[2015-02-10 22:02] dlsniper commented on #1162
Since I'm not sure how hard this one is to implement, may I suggest moving the target to 1.next in favor of solving other issues first?

[2015-02-10 22:09] dlsniper opened #1287 "[1.0] Parsing function calls with variadic parameters fails"
Please see the example below:

[code]

[2015-02-11 07:01] dawi opened #1288 "Compilation error: Can't load package: package ."
I get the following error whenever I try to compile a go program using the IDEA compile button:

In fact the only run configuration that works somehow is the "Go Single File" run configuration.
In tests, for example I get the same error.

Environment:
* OSX 10.10.2
* IntelliJ IDEA 14.0.3
* go-lang-idea-plugin 1.0.0.alpha#58
* go 1.4.1 (I tested with both hombrew and go-installer)

Other infos:
* C

[2015-02-11 07:19] dlsniper commented on #1288
I believe this is a duplicate of #1209 or #1210 and as noted in the release notes, this is a known problem. Thank you for reporting

[2015-02-11 07:19] #1288 closed

[2015-02-11 09:02] vdininski commented on #1270
Was on 1.0.0.alpha#11 and moved to 1.0.0.alpha#58 on Ubuntu 14.04 with Idea 14 Community - both are working fine.

Should this be closed are reopened when/if feedback is provided?

[2015-02-11 09:23] dlsniper commented on #1270
@vdininski are you colleague / friend with @paulhsu ? I'd still like to understand what happened there as it might hide a different problem. Thank you

[2015-02-11 10:08] #1214 closed

[2015-02-11 11:05] dlsniper opened #1289 "[1.0] ConcurrentModificationException in 140.2285.5"
I was in another window, the switched back to IDEA and I've got this one:
- IDEA 140.2285.5
- commit hash 9a669b5dc0867685b2b6f4fc98fc2e3e55d277d8

[code]

[2015-02-11 11:14] vdininski commented on #1270
I don't know @paulhsu. Just thought some input regarding Ubuntu would've been useful.

[2015-02-11 11:15] dlsniper commented on #1270
I see, thanks. I'm also running on Ubuntu, but I haven't encountered an issue, hence the question.

[2015-02-11 12:33] dashaus commented on #1287
+1 Just came here to open the same issue!

[2015-02-11 13:44] dashaus opened #1290 "[1.0] Not find the fields of a struct in a slice when it is inside of a assertion switch"
[code]

[2015-02-11 14:22] m0sth8 opened #1291 "[1.0] Add newline after inserted import"
Right now autoimport works like this

[code]
->
[code]
but I think it should be like this
[code]

because of gofmt and according to styleguide [0]

[0] https://github.com/golang/go/wiki/CodeReviewComments#imports

[2015-02-11 15:19] #1291 closed

[2015-02-11 15:34] #1287 closed

[2015-02-11 15:48] EtienneBruines commented on #351
Not sure if the maintainers of this repository like/dislike this, but I would like to +1 this.

[2015-02-11 16:22] #1289 closed

[2015-02-11 16:53] dlsniper commented on #1194
I believe this is 0.9.x branch. closing as it doesn't have any feedback in more than 2 weeks.

[2015-02-11 16:53] #1194 closed

[2015-02-11 23:21] #1213 closed

[2015-02-11 23:38] #1216 closed

[2015-02-11 23:43] ignatov commented on #1221
Relates to #1222

[2015-02-11 23:43] ignatov commented on #1227
Relates to #1226

[2015-02-12 02:46] kokizzu opened #1293 "Do not fold imports by default"
When opening an old file imports are folded by default

![image](https://cloud.githubusercontent.com/assets/1061610/6160924/f151801c-b29b-11e4-986e-6ab8652313b1.png)

This is quite annoying when we need to move certain function to another package.

[2015-02-12 02:50] kokizzu commented on #1293
and it seems that the configuration doesn't work..

`editor` > `general` > `code folding` > `import`, checked or unchecked has no effect

[2015-02-12 02:53] jalateras commented on #442
This still seems to be an issue with intellj and webstrom. I am still getting these warning indicating that the variables have not been set

[2015-02-12 03:52] kokizzu opened #1294 "Refactor Rename doesn't rename the imports"
When doing refactor of a package name, the imports are not renamed also.
Steps to reproduce:

1. create a package, for example
`test/test1`

2. use that package on another file, for example `yay.go`
[code]

3. do `refactor` > `rename..` (right click the package folder `test1` into for example `test2`)

4. all package calling refactored from `test1.*` to `test2.*`, but the import still `test/test1`

[2015-02-12 07:06] dlsniper commented on #442
@jalateras and all, please try the latest 1.0 release from the github releases section and things should work better.

[2015-02-12 07:24] jalateras commented on #442
@dlsniper thanks. just installed it and all is good so far

[2015-02-12 08:22] zolotov commented on #1293
I won't change default settings but I'll fix the configuration

[2015-02-12 08:42] zolotov commented on #1293
And what exactly is annoying? Why do you need modify imports by hand?

[2015-02-12 08:45] kokizzu commented on #1293
It's related to this issue: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1294

[2015-02-12 08:46] zolotov commented on #1293
It's not really. And question is still open: why do you need modify imports by hand?

[2015-02-12 08:49] kokizzu commented on #1293
Annoying because I have to expand first.. (`ctrl+shift++`) then add or rename the imported package, my use case is: a function named `fun1` moved from `pkg1/subpkg1/fun1/foo.go` to `pkg2/fun2/bar.go` (the `Refactor` > `Move` doesn't work well, so I do it manually)

[2015-02-12 08:52] zolotov commented on #1293
What about using Optimize imports action and adding imports by Alt+Enter shortcut? Does it work for you?

[2015-02-12 08:58] kokizzu commented on #1293
After moving the function to another package, since the package name still wrong and the caller still uses old package, optimize import doesn't work..

`Alt+Enter` shortcut works but I still have to move my cursor to the unimported package name.

and one more thing, I use backtick ``` instead of double quote `"`, that's why I like to do it manually..

[2015-02-12 09:01] zolotov commented on #1293
Well it's quite correct behaviour. Package statement has more priority then the directory.

F2

Fair enough, I think we need introduce the code style settings for that.

[2015-02-12 09:02] kokizzu commented on #1293
Well thank you ^^

[2015-02-12 09:19] #1226 closed

[2015-02-12 09:30] IAmYmir commented on #1209
Error:Failed to launch go compiler: Cannot start process, the working directory C:\software\develop\intelijidea\workspace\golang does not exist

[2015-02-12 09:32] dlsniper commented on #1209
@IAmYmir what version of the plugin are you using? what's your setup? what are you trying to do specifically? Also have you seen that in the latest release we do mention that the plugin support for running apps/tests is still lacking? Please help us help you :)

[2015-02-12 09:42] IAmYmir commented on #1209
Error:Failed to launch go compiler: Cannot start process, the working directory C:\software\develop\intelijidea\workspace\golang does not exist
image
image

[2015-02-12 09:43] dlsniper commented on #1209
@IAmYmir please read this article on how to report errors: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/contributing.md#reporting-errors

[2015-02-12 09:55] dlsniper commented on #1269
Hi @ignatov,

I have to reopen this, seems the initial example was not good enough to reproduce all the scenarios. The scenario reported above works, but the one below doesn't.

Please see below another one for which the issue happens again:

[code]

Thank you.

[2015-02-12 10:24] dlsniper opened #1295 "[1.0] Inspections fail on returned value and parameter"
Please see below, the inspections fail in the func call in ```main()```, I'm sorry I can't describe it more clearly. Using f5bf42fe088c14282b9d7e0c05c018137608af81

[code]

[2015-02-12 10:48] dlsniper opened #1296 "[1.0] Possibly slow inspection / syntax analysis"
In the go SDK, please see the file ```src/crypto/md5/md5block.go```
The file contents are a bit special by themselves, so not sure how relevant things are, but at some point you can notice how 1-2 inspections will stop in place for a fraction of a second.
Hope it helps

[2015-02-12 11:38] dlsniper opened #1297 "[1.0] Inspection fails in for loop"
In the for loop from the go SDK (1.4.1) file: ```src/runtime/hashmap.go:209``` the inspection will fail.

I'm sorry I can't figure out how to reproduce it on a smaller code sample.

[2015-02-12 11:43] dlsniper opened #1298 "[1.0] goto label not recognized as a valid identifier"
The docs from language specs: https://golang.org/ref/spec#Goto_statements

[code]

[2015-02-12 11:51] dlsniper opened #1299 "[1.0] Inspection fails to asses struct construct in map usage"
This one might be related to / duplicate of: #1295

[code]

[2015-02-12 14:23] glyn commented on #185
Renaming a method in an interface is partially implemented, but it can introduce a compile error because it doesn't attempt to rename "corresponding" implementation methods. Similarly for renaming an implementation method.

Anyway, I'm pleased to see this bug has been raised.

[2015-02-12 14:25] dlsniper commented on #185
I'll migrate this one to 1.next as I'm not sure if it's that important for 1.0 release. The issue was opened for the 0.9.x branch

[2015-02-12 14:27] dlsniper commented on #1263
@dtanner any updates on this one?

[2015-02-12 14:29] dlsniper commented on #1201
@Symmetric can I close this one?

[2015-02-12 14:30] dlsniper commented on #1183
fixed in 1.0

[2015-02-12 14:30] #1183 closed

[2015-02-12 14:38] dlsniper commented on #465
@ignatov do you know of any way where I could start working on this for the 1.0 release? Thank you.

[2015-02-12 14:41] dlsniper commented on #490
Solved in 1.0.0

[2015-02-12 14:41] #490 closed

[2015-02-12 14:45] dlsniper commented on #553
@ignatov this is still relevant in 1.0.

In the example below, the completion engine doesn't work anymore after a such error.

[code]

[2015-02-12 14:46] dlsniper commented on #324
Fixed in 1.0

[2015-02-12 14:46] #324 closed

[2015-02-12 14:51] dlsniper commented on #578
This is fixed in 1.0

[2015-02-12 14:51] #578 closed

[2015-02-12 14:54] dlsniper commented on #587
Fixed in 1.0

[2015-02-12 14:54] #587 closed

[2015-02-12 14:55] dlsniper commented on #600
Missing steps to reproduce

[2015-02-12 14:55] #600 closed

[2015-02-12 14:59] dlsniper commented on #606
I'd close this for now, as there are no other requests to support this and there are more well suited apps to decompile apps.

[2015-02-12 14:59] #606 closed

[2015-02-12 14:59] dlsniper commented on #608
There's no need for this anymore.

[2015-02-12 14:59] #608 closed

[2015-02-12 15:01] dlsniper commented on #616
@ignatov I've moved this to 1.maybe as I'm not sure if the plugin should support gcc compile from 1.0 or we should add it after.

[2015-02-12 15:02] dlsniper commented on #620
When we have Delve support it would be (somewhat) easy to add.

[2015-02-12 15:02] dlsniper commented on #621
Not relevant for 1.0 anymore (at least for now).

[2015-02-12 15:02] #621 closed

[2015-02-12 15:03] dlsniper commented on #622
Not applicable anymore.

[2015-02-12 15:03] #622 closed

[2015-02-12 15:04] dlsniper commented on #629
Not applicable anymore.

[2015-02-12 15:04] #629 closed

[2015-02-12 15:04] dlsniper commented on #630
Fixed in 1.0

[2015-02-12 15:04] #630 closed

[2015-02-12 15:06] dlsniper commented on #634
Not applicable anymore.

[2015-02-12 15:06] #634 closed

[2015-02-12 15:07] dlsniper commented on #655
Not applicable anymore. @twoolie see Dereks and my efforts in: https://github.com/derekparker/delve/pull/57 if you want to help getting IDEA (and the Go community) a nice debugger. Thank you!

[2015-02-12 15:07] #655 closed

[2015-02-12 15:08] dlsniper commented on #664
Not applicable anymore.

[2015-02-12 15:08] #664 closed

[2015-02-12 15:08] dlsniper commented on #672
Not applicable anymore.

[2015-02-12 15:08] #672 closed

[2015-02-12 15:08] dlsniper commented on #684
Not sure if applicable anymore.

[2015-02-12 15:08] #684 closed

[2015-02-12 15:11] dlsniper commented on #687
This is fixed in 1.0

[2015-02-12 15:11] #687 closed

[2015-02-12 15:11] dlsniper commented on #696
This will be fixed in 1.0 and there's already a ticket for it I believe.

[2015-02-12 15:11] #696 closed

[2015-02-12 15:12] dlsniper commented on #698
Fixed in 1.0

[2015-02-12 15:12] #698 closed

[2015-02-12 15:13] dlsniper commented on #702
We'll follow up in 1.0

[2015-02-12 15:13] #702 closed

[2015-02-12 15:13] dlsniper commented on #717
Not applicable for the moment. Check 1.0

[2015-02-12 15:13] #717 closed

[2015-02-12 15:17] dlsniper commented on #767
Fixed in 1.0

[2015-02-12 15:17] #767 closed

[2015-02-12 15:19] dlsniper commented on #799
Fixed in 1.0

[2015-02-12 15:19] #799 closed

[2015-02-12 15:20] dlsniper commented on #869
Not going to happen. Docs fixed in 1.0. If they are missing a certain feature, please open a new issue.

[2015-02-12 15:20] #869 closed

[2015-02-12 15:21] dlsniper commented on #913
@ignatov I leave this to you to decide if it should be for 1.0 or later versions (please change the milestone accordingly).

[2015-02-12 15:22] dlsniper commented on #999
Shouldn't happen in 1.0 anymore

[2015-02-12 15:22] #999 closed

[2015-02-12 15:22] #1003 closed

[2015-02-12 15:22] dlsniper commented on #1041
Shouldn't happen anymore.

[2015-02-12 15:22] #1041 closed

[2015-02-12 15:23] #1085 closed

[2015-02-12 15:30] dlsniper commented on #1089
I've updated the example with a more extensive test that's also correct go wise.

[2015-02-12 15:33] dlsniper commented on #1105
This one is solved in 1.0 now

[2015-02-12 15:33] #1105 closed

[2015-02-12 15:34] dlsniper commented on #1107
Sorry, gdb won't happen, at least for now. Please check delve https://github.com/derekparker/delve

[2015-02-12 15:34] #1107 closed

[2015-02-12 15:35] dlsniper commented on #1109
This is fixed in 1.0 as far as I can tell.

[2015-02-12 15:35] #1109 closed

[2015-02-12 15:35] dlsniper commented on #1116
This is fixed in 1.0

[2015-02-12 15:35] #1116 closed

[2015-02-12 15:36] #1124 closed

[2015-02-12 15:36] #1140 closed

[2015-02-12 15:36] #1155 closed

[2015-02-12 15:36] #1169 closed

[2015-02-12 15:36] #1173 closed

[2015-02-12 15:36] #1178 closed

[2015-02-12 15:36] #1185 closed

[2015-02-12 15:36] #1187 closed

[2015-02-12 15:36] #1188 closed

[2015-02-12 15:36] #1193 closed

[2015-02-12 15:36] #1200 closed

[2015-02-12 15:36] #1246 closed

[2015-02-12 15:37] #1047 closed

[2015-02-12 15:37] #1106 closed

[2015-02-12 15:37] #1123 closed

[2015-02-12 15:38] dlsniper commented on #1126
Fixed in 1.0

[2015-02-12 15:38] #1126 closed

[2015-02-12 15:40] dlsniper commented on #1128
Please check 1.0 branch and reopen if it's not fixed. Thank you.

[2015-02-12 15:40] #1128 closed

[2015-02-12 15:40] dlsniper commented on #1129
This should be fixed in 1.0 branch.

[2015-02-12 15:40] #1129 closed

[2015-02-12 15:41] dlsniper commented on #1144
It's fixed in 1.0

[2015-02-12 15:41] #1144 closed

[2015-02-12 15:41] dlsniper commented on #1145
Assuming 0.9.x branch. Fixed in 1.0

[2015-02-12 15:41] #1145 closed

[2015-02-12 15:42] dlsniper commented on #1148
This should be fixed in 1.0 releases. Please check them out.

[2015-02-12 15:42] #1148 closed

[2015-02-12 15:43] dlsniper commented on #1149
Please check the 1.0 releases.

[2015-02-12 15:43] #1149 closed

[2015-02-12 15:43] dlsniper commented on #1152
Fixed in 1.0

[2015-02-12 15:43] #1152 closed

[2015-02-12 15:44] dlsniper commented on #1164
This should be fixed in 1.0

[2015-02-12 15:44] #1164 closed

[2015-02-12 15:44] dlsniper commented on #1167
Fixed in 1.0

[2015-02-12 15:44] #1167 closed

[2015-02-12 15:46] dlsniper commented on #1177
This shouldn't happen anymore with 1.0

[2015-02-12 15:46] #1177 closed

[2015-02-12 15:47] dlsniper commented on #1125
This shouldn't happen anymore in 1.0. Please reopen with more details.

[2015-02-12 15:47] #1125 closed

[2015-02-12 15:51] #566 closed

[2015-02-12 15:52] dlsniper commented on #867
Fixed in 1.0.

[2015-02-12 15:52] #867 closed

[2015-02-12 16:43] dtanner commented on #1263
Great - I'll close this and submit the PR in the next day or two.  Thanks.

[2015-02-12 16:43] #1263 closed

[2015-02-12 19:11] kalopsia opened #1300 "[1.0] Functions with multiple return parameters used in function calls are flagged as "not enough parameters""
Please see the screenshot. I don't know why it happens, but actually go code is correct and properly work.

![screenshot from 2015-02-12 22 11 08](https://cloud.githubusercontent.com/assets/6209197/6174991/15465c1e-b304-11e4-9df8-e897d2681fe9.png)

![screenshot from 2015-02-12 22 06 49](https://cloud.githubusercontent.com/assets/6209197/6174978/fa392654-b303-11e4-91ac-78654bfcea38.png)

[2015-02-12 20:33] zolotov commented on #1283
Yes, it's in current order while passing to external tools. Completion and resolving doesn't consider their order at all, @ignatov do you think that order could be important for resolving stuff?

[2015-02-12 20:34] zolotov opened #1302 "Introduce code style preferences"
Possible preferences:

– wrap import with backticks or quotes

[2015-02-12 20:35] zolotov commented on #1293
Folding configuration will be fixed in the next build. Also I've filed an issue about code style #1302

[2015-02-12 20:35] #1293 closed

[2015-02-12 21:03] #1281 closed

[2015-02-12 21:30] zolotov commented on #1210
@JoeBruner it turned out that your fix was right actually, sorry for misinformation. It seems that 'go test' are starting with wrong arguments, I'll try to figure out what's wrong.

[2015-02-12 22:02] JoeBruner commented on #1210
I did noticed that when I was running the test (Via right clicking on the method, Run "Test...") that the command line that it generated was something along the lines of `go test filename.go ....`.  According to http://stackoverflow.com/questions/14723229/go-test-cant-find-function-in-a-same-package that might be a problem.  I stopped looking into the problem, but maybe that's somewhere to start?

[2015-02-12 22:28] zolotov commented on #1210
That's right. File-based configuration (as well as single test configuration) doesn't work due to wrong arguments.
Package-based might not work because not really correct package-name validation.
Directory-based – don't know yet.

It would be great. There package 'com/goide/runconfig/testing' with all testing stuff. GoTestRunningState#fillCommandLineWithParameters fill parameters depending on conf

[2015-02-13 00:29] caylorme commented on #1240
I get the same issue as this. It doesn't appear to be the same issue indicated by zolotov.

Having Intellij on drive C: and your GOPATH / Project on another partition results in this error. The plugin seems to think it needs to look in C:\ when my project is loaded from E:\
`Error:Failed to launch go compiler: Cannot start process, the working directory C:\GOPATH\src\github.com\myuser\myproject do

[2015-02-13 07:55] fzerorubigd commented on #1164
For my own code, yes its resolved, but now, can not detect the go symboles, like string, true, false, and other symbols.
Is this another reported bug, or I should report it?

[2015-02-13 08:00] dlsniper commented on #1164
@fzerorubigd please follow the instructions from here:https://github.com/go-lang-plugin-org/go-lang-idea-plugin/wiki/v1.0.0-Setup-initial-project and if things still don't work out for you the yes, please open a new issue (please follow the instructions on how to report issues as well). Thank you

[2015-02-13 08:00] fzerorubigd opened #1303 "Duplicate function name, for init function"
I get error for init function if I have more than one init in a package, but base on godoc :
https://golang.org/doc/effective_go.html#init

[2015-02-13 08:05] dlsniper commented on #1303
Duplicate of #1213. Fixed in branch and will be visible in next release. Thanks

[2015-02-13 08:05] #1303 closed

[2015-02-13 08:17] ignatov commented on #1296
Hmm, can't reproduce, the code analysis is pretty fast for this file. Please attach a performance snapshot.

[2015-02-13 08:21] ignatov commented on #1299
Duplicates #1295

[2015-02-13 08:21] #1299 closed

[2015-02-13 08:31] ignatov commented on #1298
Very funny that the official specification has a non-optional statement here: https://golang.org/ref/spec#Labeled_statements

[2015-02-13 08:33] #1298 closed

[2015-02-13 08:34] ignatov commented on #1297
Duplicates #1295.

[2015-02-13 08:34] #1297 closed

[2015-02-13 08:45] dlsniper commented on #1298
I've got that from the Go sdk, guess they need better docs as well :-D

[2015-02-13 10:19] linniksa opened #1304 "[1.0] Ide add package url suffix intead package name in autocomplete"
[code]

expects:
[code]

happened:
[code]

plugin version: 1ac99ac032eafa63c936b747f34b815f01d2f34a

[2015-02-13 10:24] dlsniper commented on #1304
Cab you please provide an example of what expect and what's happening as well? Thank you.

[2015-02-13 11:09] linniksa commented on #1304
done. In popup i see right string, but after press enter it insert wrong code

[2015-02-13 13:18] Paradiesstaub opened #1305 "Go SDK setting doesn't recognizes Ubuntu Make Go installations"
Intellij IDEA Community Edition: 14.0.3
golang: 1.4
OS: Ubuntu 15.04 64-Bit
GOPATH: is set

# Setup description

IDEA and golang have been installed using the official Ubuntu tool called [Ubuntu Make](https://wiki.ubuntu.com/ubuntu-make). All IDEA and golang files are located in my *Download* directory. To install Intellij IDEA Community Edition and golang:

`umake ide idea; umake go`

# Problem

[2015-02-13 16:22] zolotov commented on #1304
Guys I really need your help with imports, I completely can't understand the rules :)

So, the completion problem: completion sees that the package with GetLevel() function had already imported and inserts "local name" of this package. Because import statement doesn't contains alias we're following the rule "Go's convention is that the package name is the last element of the import path: the packa

[2015-02-13 17:23] linniksa commented on #1304
As mentioned in go blog post http://blog.golang.org/organizing-go-code#TOC_3.

[2015-02-13 17:28] linniksa commented on #1304
По поводу тестов я всегда думал что он принимает именно папку (ну или import path), например:

    go test .
    go test ./../../src/test-my/

[2015-02-13 18:23] zolotov commented on #1304
Упячка какая-то...

Ok then. Thank you. I've fixed completion issue and thanks to your explanation found yet another related bug in unused import inspection (https://www.dropbox.com/s/j4krs2myhhfyxri/Screenshot%202015-02-13%2021.07.46.png?dl=0).

[2015-02-13 18:32] linniksa commented on #1304
As i can understand the tests added by you - dirName package cannot be used in go because go not allow mix package names inside dirrectory

про Упячку не понял

[2015-02-13 18:34] zolotov commented on #1304
Reference says it depends on compiler implementation, not sure if we need to support compilers that allows to do it

[2015-02-13 18:46] zolotov commented on #1304
Anyway, please try this build with completion fix: https://www.dropbox.com/s/pr1s9l9luii4tih/Go.76.zip?dl=0

[2015-02-13 18:48] zolotov commented on #1240
@caylorme that's all about relates to one single subsystem and we're going to get rid of it in favor of simple 'go build' running.

[2015-02-13 19:22] linniksa commented on #1304
it for package import, but http://golang.org/doc/code.html#PackageNames

test cases:

[code]

[code]

[2015-02-13 19:54] zolotov commented on #1304
Didn't understand the first case, why it had shouldn't?
The second case is great, thanks

[2015-02-13 20:03] linniksa commented on #1304
because package import as unnamed and could't be used directly

[2015-02-13 21:03] JoeBruner opened #1306 "Add sort ability to the Structure view"
With the latest release, the IDE doesn't allow you to sort the function names when viewing them in the `7:Structure` tab like it does with a Java project.  Could maybe even throw in the analog of `Sort by Visibility` which would group them by whether they are exported or not.

[2015-02-13 22:58] dlsniper commented on #1300
Here's an example to reproduce this:

[code]

[2015-02-13 23:08] dlsniper commented on #1300
I've added a much better example to reproduce it :)

[2015-02-14 10:00] rekby opened #1308 "[1.0] inline defer/go without method call doesn't show an error"
For example any of the lines:
[code]
must be show as error but they aren't.

I use plugin 1.0.0.alpha#58

[2015-02-14 10:29] linniksa commented on #1308
Same for go statement, in golang this produce same error:

[2015-02-14 10:38] dlsniper commented on #1308
Thanks both for reporting, I've updated the example to contain all the cases ;)

[2015-02-14 14:12] dlsniper opened #1309 "[1.0] Unexported struct field not recognized from anonymous function call result"
Hi,

I've got the following example, not sure if it's related to #1218.

[code]

[2015-02-14 15:35] zolotov commented on #1304
Got it, thanks.

[2015-02-14 16:16] ignatov commented on #1308
@linniksa @rekby deref/go case has been fixed. "evaluated but not used" it's another inspection, please file another issue.

[2015-02-14 16:22] dlsniper opened #1310 "Function cannot be declared in another function body without being used"
The continuation of #1308
[code]

[2015-02-14 16:23] dlsniper commented on #1308
I've opened #1310, thanks for solving it!

[2015-02-14 16:23] #1308 closed

[2015-02-14 20:38] #1306 closed

[2015-02-14 21:26] #1300 closed

[2015-02-15 03:30] dashaus opened #1311 "parses bad when wants to put the arguments of a function in different lines"
[code]

[2015-02-15 03:31] jakecoffman opened #1312 "unresolved reference with gorilla websocket pkg"
I tried getting this boiled down to what exactly was causing the problem with no luck. Something in the gorilla websocket package is causing the error returned from Upgrade to be unrecognized.

1.0 alpha branch on Windows, 14.0.3 Community Edition

[code]

[2015-02-15 06:33] XinwenCheng opened #1313 ""The selected directory is not a valid home for Go SDK" still happen"
Hi @mtoader ,

"The selected directory is not a valid home for Go SDK" still prompt even I installed Go successfully on Windows 7 Enterprise SP1.

I use Intellij Idea V14.0.3 Community Edition with Go V1.4.1 amd 64, and I've added bin directory path of Go to System Path. Command "go env" works correctly.

But I still meet "The selected directory is not a valid home for Go SDK" when I'm trying conf

[2015-02-15 09:24] dlsniper commented on #1311
@ignatov I think this is more related to the formatter than the parser. I don't have any problems with invalid arguments or any such things but indeed the formatting is broken right now.

[2015-02-15 09:28] dlsniper commented on #1312
Hi @jakecoffman, what do you have in the ```Settings | Languages & Frameworks | Go Libraries ```?

It might be a bit of a configuration issue with the project libraries, please try and see the [setup guide](https://github.com/go-lang-plugin-org/go-lang-idea-plugin/wiki/v1.0.0-Setup-initial-project) for 1.0.0 projects, hopefully that should help solve the problem.

[2015-02-15 09:29] dlsniper commented on #1313
Hi @XinwenCheng, please add the root directory of the go SDK, in this case ```C:\Go``` rather that the bin dir. That should work.

[2015-02-15 09:30] #1295 closed

[2015-02-15 10:13] ignatov commented on #1312
Reproduced.

[2015-02-15 12:15] #1309 closed

[2015-02-15 12:44] #1312 closed

[2015-02-15 17:41] kalopsia opened #1314 "How to prevent automatic import block folding?"
It's so annoying that editor automatically folds the import block. Can I somehow disable this behaviour?

[code]

[2015-02-15 17:47] dlsniper commented on #1314
I'm not sure this made it in to the ```alpha#58``` release but it will sure be fixed in the next release (it's in the code already).
To try out, go to ``` File | Settings | Editor | General | Code Folding ``` and untick the ```Imports``` option. I've forgot if this is per-project or global settings, sorry.

[2015-02-15 17:47] #1314 closed

[2015-02-15 17:50] kalopsia commented on #1314
I've already set it, but it doesn't make sense. Ok, got it. Thank you. So this behaviour will depend on the option above?

[2015-02-15 17:53] dlsniper commented on #1314
Yes. If it's not working it the release you have, please wait for the next one.
The plugin follows the options provided by IDEA for all the languages it has in order to be consistent and familiar with the users of the platform but I guess it's a very good case to add to the documentation.
Thank you.

[2015-02-15 20:20] vastbinderj commented on #1242
As for me, I've add my true GOPATH ```/Users/james/go```, but I was curious if I needed to...

[2015-02-15 20:26] dlsniper commented on #1242
@vastbinderj can you please detail a bit more on that one? What was the problem and how / if you fixed it? It's a bit unclear from your description. Thanks.

[2015-02-16 00:54] dashaus opened #1316 "the autocomplete fails after of a sentence if"
[code]

[2015-02-16 10:45] alextc001 opened #1317 "[1.0]Can't select Go Library"
When i trying to select go libraries there is only loading message. I'm using 1.0.0.alpha#58 version.
![screen shot 2015-02-16 at 12 46 51](https://cloud.githubusercontent.com/assets/7407097/6210587/d9cfa1e4-b5d9-11e4-9c0f-997cc4ffa90c.png)

[2015-02-16 13:42] dmitry-vovk opened #1318 ""Show method separators" setting not functional"
Checking "Editor > General > Appearance > Show method separators" check-box has no effect, no method (function) separators are drawn in the editor window.

IDEA: IU-140.2285.5
Plugin: 1.0.0.alpha#92

[2015-02-16 15:08] dmitry-vovk opened #1319 "Builtin functions colored as identifiers"
[Builtin functions](http://golang.org/pkg/builtin/) (such as ```new```, ```make```, etc.) are predefined and should have different coloring (e.g. as keywords), but now those are colored as identifiers.

IDEA: IU-140.2285.5
Plugin: 1.0.0.alpha#92

[2015-02-16 15:11] dlsniper commented on #1319
I'll see if I can fix it in #1315

[2015-02-16 15:18] dlsniper commented on #1317
Hi @alextc001,

 How did you installed the plugin?
Since you are on Mac (as far as I can tell), can you please have a look at this section from the readme: _Note for **Mac OS X** users: you need to download the entire zip file, not a several jars (see [Apple discussion forum](https://discussions.apple.com/thread/1483114))_
Also which IDE / version are you using?
As a final note, there's a new alph

[2015-02-16 15:39] alextc001 commented on #1317
Hello again,

Just updated to alpha#92 and now it works. Before i tried different versions of 1.0 and has the same problem. Thanks

[2015-02-16 15:40] #1317 closed

[2015-02-16 16:01] Symmetric commented on #1201
Got sidetracked and haven't had a chance to test this - feel free to close,
I will post again if the versions you suggested don't work out.

Thanks.

On Thu, Feb 12, 2015, 06:29 Florin Patan <notifications@github.com> wrote:

[2015-02-16 16:02] #1201 closed

[2015-02-16 20:50] JoeBruner commented on #1180
This doesn't seem to be a problem with the alpha line, so I'm going to close

[2015-02-16 20:50] #1180 closed

[2015-02-16 20:55] JoeBruner opened #1320 "New Go File is not valid"
As of alpha#92

If I try to right click on a dir in my project and do `New > Go File` and try to create a file of name `Foo.go` it will error saying

    'foo.go' is not a valid Go file name

If I change it to just `foo` it works fine.  The error is not intuitive that it's trying to automatically append the `.go` extension to the file name.  Also, it should be smart enough to know that if you appe

[2015-02-16 21:38] dlsniper commented on #1320
I'll take a stab at this and do it before the next alpha

[2015-02-16 23:23] stuartcarnie opened #1321 "Add support for language injections"

[2015-02-17 02:10] carmandrew opened #1323 "Incorrect "No new variables on left side of :=" when func in signature"
When I pass a function to a method, and that function takes named arguments, the plugin says those variables are already defined, but they shouldn't be. For example, this shouldn't be an error:

![generic_go_-__s0__-_s0_-____code_s0_](https://cloud.githubusercontent.com/assets/630721/6222363/036ed3bc-b607-11e4-8487-373ad35c9f1c.png)

[2015-02-17 03:32] Jamiltz commented on #1195
I have the same problem when importing a project. Is there a way to disable the gofmt on save action for an imported project?

[2015-02-17 06:03] dlsniper commented on #1195
@Jamiltz unless you are more specific, all I can say is read above. Please give us more details, and a very good question is: why do you want to disable gofmt in the first place? Thank you.

[2015-02-17 06:07] dlsniper commented on #1323
Hi @carmandrew, can you please be more specific with the issue? Which plugin version are you using? Also, can you post a minimal sample code that reproduces the issue? Thank you.

[2015-02-17 08:40] landaire commented on #1323
This is actually correct. You have `stop` as a parameter. `:=` is used for declaring and inferring new variables. Use the `=` operator instead. The playground provides the same error message: http://play.golang.org/p/-5g7eANxSl

And proper: http://play.golang.org/p/xqBBvpE1th

[2015-02-17 08:51] dlsniper commented on #1323
@landaire thanks for investigation. I've missed that detail. I'll close this for now based on that.

@carmandrew please feel free to reopen it if you have more details on this. Thank you.

[2015-02-17 13:01] Jamiltz commented on #1195
Sorry, it wasn't well explained. Basically I was having the same problem as @ankushagarwal. In IDEA, files a re automatically saved. And I believe the go-plugin runs `gofmt` on save as well. So when I press the `enter` key it keeps reformatting (see video http://cl.ly/0r3q1O1b302x).

[2015-02-17 13:44] zolotov commented on #1195
Not every second, not on every change, but yes it happens automatically.

This is expected behaviour and it has nothing to do with 'go fmt'. What do you expect should be happened on enter?

[2015-02-17 13:55] Jamiltz commented on #1195
It's all good sorry for the confusion :+1:

[2015-02-17 17:51] carmandrew commented on #1323
Sorry, should have made a playground example. [Here is a working example](http://play.golang.org/p/ZRKivMoenv). But when I copy it into intellij 14.0.3 with plugin version 1.0.0.alpha#92, it shows the error I mentioned above:
![generic_go_-__s0__-_s0_-____code_s0_](https://cloud.githubusercontent.com/assets/630721/6233784/4e590298-b68a-11e4-8d26-3daaf72d6e13.png)

[2015-02-17 17:59] landaire commented on #1323
Ah I had misread the original example -- my mistake. Yes, the plugin doesn't separate the parameter to `operation` and the local scope.

[2015-02-18 07:00] raoptimus opened #1324 "Execute Go format after saving file"
hotkey on macosx: cmd+alt+shift+f (uncomfortably)
please execute command "go fmt" after saving file (great)

thank you

[2015-02-18 07:04] dlsniper commented on #1324
@ignatov I'd like to work on this. Also, after I finish on the highlight PR, maybe I can get some guidance for formatter. Thanks.

[2015-02-18 08:15] mmadfox commented on #1324
hotkey on macosx: cmd+alt+shift+f (uncomfortably)
please execute command "go fmt" after saving file (great)

thank you

[2015-02-18 08:54] povod commented on #1324
"hotkey on macosx: cmd+alt+shift+f (uncomfortably)
please execute command "go fmt" after saving file (great)"

it's seem there should be an option, to switch between mods. I think this will be a more right way )

[2015-02-18 19:10] rogierlommers commented on #1324
Is it possible to run go fmt at the save file event? If so, how? I'm using version Go.92.zip.

[2015-02-18 19:15] dlsniper commented on #1324
Right now I'm not sure if it's possible (unless there's a way to make it so from IDEA to run a tool on file save). I'll work on integrating the option to do either gofmt, goimports or nothing on save, make the shortcuts configurable for the actions we have right now and push it hopefully in time for the next alpha. Then I'll start working on the formatter, which should hopefully make things easier

[2015-02-18 19:24] rogierlommers commented on #1324
Great to hear! Love your plugin. Works fine and will be even better I suppose!

[2015-02-18 20:17] raoptimus commented on #1324
I found a solution - plugin File Watchers
but would still be more convenient to integrate into your plugin

[2015-02-18 20:49] ignatov opened #1325 "Imports vs injections"
Please inject Go lang into those two strings and Voilà!

[code]

[2015-02-18 21:37] ignatov opened #1327 "Poor completion performance"
[code]
Idea 140.2538
https://www.dropbox.com/s/cwhy7jtq3hn86sy/Main-2015-02-19.snapshot?dl=0

[2015-02-18 22:23] dlsniper opened #1328 "[1.0] Valid switch marked as invalid"
On the example below I get the error: ``` ';', <NL>, or '}' expected, got 'case' ```
[code]

Thank you.

[2015-02-18 22:28] dlsniper commented on #1328
Also happens for:

[code]
or
[code]

[2015-02-18 22:30] #1323 closed

[2015-02-18 22:43] #1320 closed

[2015-02-18 22:43] ignatov commented on #1328
Can't reproduce

[2015-02-18 22:43] #1328 closed

[2015-02-18 22:44] #1321 closed

[2015-02-18 22:45] dlsniper commented on #1328
Classic case of pebcak, sorry

[2015-02-18 23:27] #1290 closed

[2015-02-19 12:24] dlsniper commented on #1269
Not sure if it's related, or I should open a different ticket for this one but I've found another example where a variable redeclared inside of a switch (case) statement and used later on in the function is referencing to the scoped declaration not to the non-scoped one. Please see the example bellow:

[code]

[2015-02-19 14:56] zolotov commented on #1304
Fixed autoimport issues that were mentioned here

[2015-02-19 14:56] #1304 closed

[2015-02-19 15:48] #1316 closed

[2015-02-19 20:02] #1218 closed

[2015-02-19 20:44] #1318 closed

[2015-02-19 21:27] ignatov opened #1330 "Completion for case keywords"

[2015-02-19 21:38] #1283 closed

[2015-02-20 08:47] linniksa opened #1331 "Quick fix for not exists packages - "run go get for this package""
if package not exists in GOPATH/GOROOT add user quick fix (not sure it's the right name) which launches "go get" command for this package

maybe for very known prefixes like github.com/code.google.com/golang.org etc.

[2015-02-20 09:18] zolotov commented on #1331
There is one https://www.dropbox.com/s/u0mwv4257e0260d/Screenshot%202015-02-20%2012.18.24.png?dl=0

[2015-02-20 09:21] XinwenCheng commented on #1313
Hi @dlsniper , when I choose C:\Go but not C:\Go\bin, this error message won't be shown after I click OK button, but panel below Project SDK: of New Project dialog will still be empty.

[2015-02-20 09:27] #1331 closed

[2015-02-20 09:36] linniksa commented on #1331
I missed it.
though it seems he has a lower priority (?) than the "unresolved import":

[code]

[2015-02-20 09:38] dlsniper commented on #1313
Sorry, I don't have a laptop with Windows anymore so I can't help reproducing the issue.

[2015-02-20 10:37] dlsniper opened #1332 "Change usage from unidentified to proper usage types in the 'Find usages' functionality"
Right now, if you do a find usages or a variable, function or anything else, things work but there's no separation between assignment and reading, definition and usage for example.

[2015-02-20 10:38] dlsniper commented on #1332
@ignatov I'm not sure if it's such a problem for 1.0, but I'd like to work on it myself rather than you or Alexander if that's ok for you. I'd want to learn more from the internals and hopefully this should help ;)

[2015-02-20 10:42] ignatov commented on #1332
See `com.intellij.codeInsight.highlighting.ReadWriteAccessDetector`.

[2015-02-20 11:48] zolotov commented on #1331
Yes, 'import popup' is too noisy, I'll try to fix it

[2015-02-20 12:16] ignatov commented on #1327
Need to check types completion as well.

[2015-02-20 12:24] #1327 closed

[2015-02-20 13:04] XinwenCheng commented on #1313
@dlsniper thanks all the same!

[2015-02-20 14:35] mark-anders opened #1333 "Can't run app in 1.0.0.alpha#92"
I'm on a Mac, 10.10.3, using Idea community edition 14.0.3 with alpha#92.  I've opened existing projects and created new ones and, after creating a run config get the following error:

Error running <filename.go>:  Cannot start process, the working directory <proj-path>/out/production/<proj-name> does not exist.

Even if I create the ./out/production/name directory, I still get the error.

[2015-02-20 14:39] jakecoffman opened #1334 "not enough arguments in call to ..."
1.0.0.alpha#92, IC 14.0.3

not enough arguments in call to template.Must

[code]

[2015-02-20 14:43] jakecoffman commented on #1324
You can also create a macro where you go fmt and then save-all. Bind that macro to ctl-s or whatever you usually hit to save. The only downside is when it saves on lose focus it won't go fmt.

[2015-02-20 14:45] rogierlommers commented on #1324
Therefore It's better to solve this with the plugin itself.

[2015-02-20 14:51] dlsniper commented on #1334
@ignatov I've seen this something that came up in #1300 but for some reason for the example there it works, for this one it doesn't.

[2015-02-20 15:09] linniksa commented on #1334
Same for me, looks like this not work for funcs in external packages:

[code]

[code]

[2015-02-20 15:41] #1334 closed

[2015-02-20 15:59] ignatov opened #1335 "Autoimport completion impro"
[code]
could insert fmt.Println and so on

[2015-02-20 16:04] dlsniper opened #1336 "ConcurrentModificationException on IDEA 140.2493.5"
I was changing a medium size code base, around 5k lines in around 30 files or so.

This happened when I was changing a return type signature from ```(*http.Header, error)``` to something like ```(string,///err happened here int, error)```.

I also have now a much more slower laptop, around 4 times slower, so I've noticed that inspections in files with 200+ lines of code run slower than on my forme

[2015-02-20 16:06] raoptimus commented on #1324
![](http://i.imgur.com/Yt5hMca.png)

[2015-02-20 16:40] dlsniper commented on #1296
Hi @ignatov, sorry for delay.
Please have a look at the section from 04:07 to the end, the section before that is done by IDEA starting and loading the project.

https://www.dropbox.com/s/uyjk4j49difrrgi/IntelliJIdea14-2015-02-20.snapshot.zip?dl=0

It's done directly from YourKit attached to a standalone IDEA instance.

Thank you

[2015-02-20 16:45] ignatov commented on #1296
Please repeat your activity and record a new one.
https://www.yourkit.com/docs/java/help/cpu_intro.jsp

Sergey Ignatov

On 20 February 2015 at 19:40, Florin Patan <notifications@github.com> wrote:

[2015-02-20 16:55] dlsniper commented on #1296
I'm a noob. Here it is: https://www.dropbox.com/s/60w4p07qiuo5lt9/IntelliJIdea14-2015-02-20-1.snapshot.zip?dl=0

[2015-02-20 16:56] dlsniper commented on #1296
The timing for the issue is from minute 2, I've just typed something random and quickly undone it.

[2015-02-20 17:01] dlsniper commented on #1296
and the commit hash for the plugin is: 4f59cb0a3e0bd69d20c09c088a2b8c4a5589bb55

[2015-02-20 17:06] ignatov commented on #1296
Nothing interesting, just symbols resolution. If you can share a project
it'll be cool.

Sergey Ignatov

On 20 February 2015 at 20:01, Florin Patan <notifications@github.com> wrote:

[2015-02-20 17:44] dlsniper opened #1337 "[1.next] Add quick fix to change unused variable to _"
[code]

Currently ```b``` is reported as unused but there could be a quick fix to change it to ```_```:
[code]

[2015-02-20 20:33] m0sth8 opened #1339 "[1.0] Bug in interface resolving returned from function"
v1.0.0-alpha0 9dc1707d34c810e9c3a93a7b3f572ed0fc19f17e (latest commit right now)

[code]

Update:
Fix code sample

[2015-02-20 21:03] frogprog opened #1340 "Support for file-based projects (.ipr)"
GoProjectLibrariesService storages need to be modified like this to support ipr projects:

  storages = {
    @Storage(id = "default", file = StoragePathMacros.PROJECT_FILE),
    @Storage(id = "dir", file = StoragePathMacros.PROJECT_CONFIG_DIR + "/" + GoConstants.GO_LIBRARIES_CONFIG_FILE, scheme = StorageScheme.DIRECTORY_BASED)
  }

[2015-02-20 21:05] dlsniper commented on #1340
@frogprog thanks for this. Please feel free to open up a PR with the change.
Also, for which version of the plugin would you like to see this one?
Thanks.

[2015-02-20 21:36] frogprog commented on #1340
@dlsniper I'm not sure what you mean about version. I've downloaded the latest 1.0.0.alpha#92 and because all my projects are file-based I wasn't able to save any of them - IDEA was throwing errors about missing macros. So I think its necessary to include this fix ASAP (for folks like me).

Thank you for hard work! Today I was able to upgrade from some old 0.9 release at last :) New version feels

[2015-02-20 21:39] dlsniper opened #1342 "[1.0] Parameter information not shown for chained functions"
When there are a few functions changed, it seems that the parameter information is not shown for ```.Methods```

I'll try and come up with a better example tomorrow
[code]

[2015-02-20 21:40] #1340 closed

[2015-02-20 21:41] dlsniper commented on #1340
@frogprog that's actually the work of @zolotov and @ignatov that you are seeing, for which I'm very glad as well. ;)

Happy to hear you like the new version.

Maybe you can detail a bit the use case, as I can't figure it out right now, but it might be helpful for other parts of the plugin as well.

Thank you for your contribution ;)

[2015-02-20 21:42] ignatov commented on #1342
Please add more detailed sample.

[2015-02-20 21:54] frogprog commented on #1340
Use case of a file based project? I just select it when creating the project..

![ipr-project](https://cloud.githubusercontent.com/assets/5803104/6310025/17471a3a-b953-11e4-8110-b7fd3728d505.png)

[2015-02-21 08:31] ignatov commented on #1340
It's a legacy storage format (https://www.jetbrains.com/idea/help/project.html#file_based_format)

[2015-02-21 08:48] dlsniper commented on #1270
I'm closing this as it doesn't have feedback from the author. Please feel free to open it again if needed.

[2015-02-21 08:48] #1270 closed

[2015-02-21 08:55] dlsniper commented on #1342
I've updated the example.

Also, I've noticed something strange in the autocomplete when trying to write the line: ```d.d1("1", 2).d2//autocomplete```, see the screenshot below. I'n not sure if it's the related to another ticket I've seen or not (I'll try and see if I can find the related).

![snapshot3](https://cloud.githubusercontent.com/assets/607868/6313499/8e7b1df8-b9ae-11e4-8974-cac3fd6fce9c

[2015-02-21 09:11] ignatov commented on #1342
It's releated, you're right. I've started a redesign some time ago: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/tree/selector-expression-rework.

[2015-02-21 09:47] frogprog commented on #1340
@ignatov when it will be dropped from IDEA?

[2015-02-21 09:49] ignatov commented on #1340
I don't know actually, but can ask a responsible developer.

[2015-02-21 10:18] linniksa opened #1343 "[1.0] Multiparam function call"
[code]

[code]

[code]

[2015-02-21 10:26] dlsniper commented on #1343
This looks like a continuation of: #1334 but I'm not sure if it's the same cause as: #1222 or even better: #1012

[2015-02-21 11:51] #1339 closed

[2015-02-21 14:44] moadqassem opened #1344 "Error while adding the go-lang sdk using Alpha release"
Hello,

I am having a problem installing the golang sdk in IntelliJ Idea 14.0.3, and when I try to add the sdk I always get this error and idea even refuse to close the dialogue box for choosing the sdk :

[  14065]  ERROR - llij.ide.plugins.PluginManager - com/goide/GoEnvironmentUtil
java.lang.NoClassDefFoundError: com/goide/GoEnvironmentUtil
	at com.goide.sdk.GoSdkType.isValidSdkHome(GoSdkType.j

[2015-02-21 14:46] zolotov commented on #1344
From releases page:
[code]

[2015-02-21 14:46] #1344 closed

[2015-02-21 14:46] #1182 closed

[2015-02-21 14:55] moadqassem commented on #1344
Thank you very much, I didn't know why I had extracted anyway, thanks again

[2015-02-21 15:04] #1336 closed

[2015-02-21 16:10] andornaut commented on #1313
I'm experiencing a similar issue on Ubuntu 14.04. I select /usr/local/go in the "Select Go home folder" window, but then nothing is displayed in the New Project / Project SDK window.

go 1.4.2
Idea 14.0.3
go-lang-idea-plugin 0.14.15

The go installation appears to be working fine otherwise.

[2015-02-21 17:21] dlsniper commented on #1313
@andornaut unfortunately I'm not aware of any version of the plugin called 0.14.15. Where did you installed the plugin from? Also how did you installed the go sdk?

[2015-02-21 17:22] andornaut commented on #1313
@dlsniper Sorry, that was a typo. I meant 0.9.15. The latest version no longer exhibits this issue, though.

[2015-02-21 17:24] dlsniper commented on #1313
ok, glad to hear it's fixed. Please use the 1.0.0-alpha releases until we'll get a chance to release the 1.0.0 stable on the plugin manager :)

[2015-02-21 17:30] andornaut commented on #1313
Will do, thanks!

[2015-02-21 17:45] bong0 opened #1345 "NullPointerException with unclear reason"
Got this exception today while editing. I saw it in the console when It had occured ten minutes before. I was only editing pretty much. I did not even build my project at that time.

[code]

OS: Fedora 21 with latest upgrades
JRE: openjdk version "1.8.0_31"
IDEA: 14.0.3 regular stable relase (latest)
Plugin: 0.9.15.3
Go: go version go1.3.3 linux/amd64

[2015-02-21 17:49] dlsniper commented on #1345
Hi @bong0.

Please give us more details about the problem you have:
- what plugin version are you using (or commit hash if you compiled the plugin yourself)
- what version of IDEA you have
- what version of Go / OS you have

Any way to replicate the issue would be also very helpful.

Thank you.

[2015-02-21 17:55] bong0 commented on #1345
@dlsniper I updated the issue just now

[2015-02-21 17:57] dlsniper commented on #1345
@bong0 Thanks. Please use the latest release from here: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/releases and things should be solved. We can't release it just yet but things should be much more stable and it has a completely reworked internal engine.

I'll close this for now but feel free to either open it again or to open new issues if needed. Any PRs are also gladly welcomed. :

[2015-02-21 17:57] #1345 closed

[2015-02-21 20:13] linniksa opened #1346 "[1.0] Autoimport completion for variables and constants"
[code]

Also i think autocomplete should contain package name itself, for example if i write os first 2 lines got from vfs package:

![123](https://cloud.githubusercontent.com/assets/424343/6315803/7f3843a4-ba1f-11e4-838f-20e78028e06b.png)

[2015-02-21 21:21] zolotov commented on #1346
There is no dot in your screenshot, so it's supposed that you may want to complete the function/type that is called "os". With the dot I can't see any function from not os-package.

[2015-02-21 21:25] zolotov commented on #1346
BTW, types/function from already imported package have more priority, so they will be on the top on completion list. After completing type/function from not-imported package, the proper import will be added. I don't see any misleading/confusing things here. Any details are welcome as always :)

[2015-02-21 21:34] linniksa commented on #1346
at this time if package not imported autocomplete only show methods for example os.Stdout, io.EOF (vars) is not shown.

[2015-02-21 21:36] zolotov commented on #1346
Sorry, I didn't understand the issue then. You're right, variables and constant are not supported in this way yet. I believe it's important to support it, thanks for the issue.

[2015-02-21 21:46] kostonstyle opened #1347 "Cat not set project sdk"
I can not set project sdk, even when clicking on the link

![image](https://cloud.githubusercontent.com/assets/701611/6316148/0517487a-ba1c-11e4-90a3-ecc9a787e96f.png)

What do I wrong? Why is the key words are red?
I am using webstorm 9.0.3

[2015-02-21 22:44] dlsniper commented on #1347
@kostonstyle thanks for reporting this. I can confirm the issue happens to me as well. Please use IDEA Community until this gets fixed.

@ignatov I've tried to reproduce this by building 3de78e607bc4282517671d1ff4c01ffea3161352 and the installing and running in a standalone WebStorm installation (WS-139.1112 to be more exact). Iirc this happened before this commit as well so it's not something new

[2015-02-21 22:46] dlsniper commented on #1347
I also can't see anything else in the logs mentioning any error/exception with the plugin.

[2015-02-21 22:48] dlsniper opened #1348 "[1.0] NoSuchMethodError when loading the Go Libraries list in Settings on WebStorm 139.1112"
I've ran the plugin under a standalone build of WebStorm and went to ```Settings | Languages & Frameworks | Go ```. Commit hash: 3de78e607bc4282517671d1ff4c01ffea3161352

[code]

[2015-02-21 23:27] #1245 closed

[2015-02-22 00:21] dlsniper opened #1350 "A package should not be able to import itself"
$GOPATH/src/demo/fol/fol.go
[code]

$GOPATH/src/demo/fol/fol_test.go
[code]

[2015-02-22 00:23] ignatov commented on #1350
@dlsniper please assign everything about import to @zolotov by default.

[2015-02-22 09:16] kostonstyle commented on #1347
I download the community edition, works until now like a charm. Good work guys.

[2015-02-22 11:52] #1342 closed

[2015-02-22 11:53] #1319 closed

[2015-02-22 11:53] #1257 closed

[2015-02-22 11:53] #1241 closed

[2015-02-22 12:16] dlsniper commented on #949
I'll close this as the 1.0 formatter has different bugs than the 0.9.x one

[2015-02-22 12:16] #949 closed

[2015-02-22 12:17] dlsniper commented on #840
I'll close this as the 1.0 formatter has different bugs than the 0.9.x one

[2015-02-22 12:17] #840 closed

[2015-02-22 12:17] dlsniper commented on #190
I'll close this as the 1.0 formatter has different bugs than the 0.9.x one

[2015-02-22 12:17] #190 closed

[2015-02-22 12:17] dlsniper commented on #189
I'll close this as the 1.0 formatter has different bugs than the 0.9.x one

[2015-02-22 12:17] #189 closed

[2015-02-22 12:18] dlsniper commented on #174
This is not a problem under 1.0.0 release branch anymore.

[2015-02-22 12:18] #174 closed

[2015-02-22 12:20] dlsniper commented on #138
I'll close this as it's not applicable to 1.0 anymore.

[2015-02-22 12:20] #138 closed

[2015-02-22 12:20] dlsniper commented on #135
I'll close this as it's not applicable to 1.0 anymore.

[2015-02-22 12:20] #135 closed

[2015-02-22 12:22] dlsniper commented on #1158
It should be fixed in 1.0 branch

[2015-02-22 12:22] #1158 closed

[2015-02-22 12:23] dlsniper commented on #1147
This should be fixed in 1.0 branch.

[2015-02-22 12:23] #1147 closed

[2015-02-22 12:23] dlsniper commented on #1150
This should be fixed in 1.0

[2015-02-22 12:23] #1150 closed

[2015-02-22 12:23] dlsniper commented on #1146
This should be fixed in 1.0

[2015-02-22 12:23] #1146 closed

[2015-02-22 12:25] dlsniper commented on #1141
This is fixed in 1.0 branch

[2015-02-22 12:25] #1141 closed

[2015-02-22 12:25] dlsniper commented on #1120
This should be fixed at some point before 1.0 release in the 1.0 release branch.

[2015-02-22 12:25] #1120 closed

[2015-02-22 12:26] dlsniper commented on #1113
This looks fixed in the 1.0 branch

[2015-02-22 12:26] #1113 closed

[2015-02-22 12:26] #1102 closed

[2015-02-22 12:28] dlsniper commented on #1101
It seems 0.9.16 won't be released before 1.0 is so I'm going to close this for now.

[2015-02-22 12:28] #1101 closed

[2015-02-22 12:30] dlsniper commented on #1087
This inspection should be ported to 1.0 branch

[2015-02-22 12:30] dlsniper commented on #1084
This should be fixed in 1.0 branch.

[2015-02-22 12:30] #1084 closed

[2015-02-22 12:30] #1048 closed

[2015-02-22 12:32] dlsniper commented on #948
This shouldn't happen anymore in 1.0

[2015-02-22 12:32] #948 closed

[2015-02-22 12:34] dlsniper commented on #1159
GAE support has been fixed in 1.0 branch so completion and all the other stuff should work now. Please feel free to open a new ticket if needed after the next release.

[2015-02-22 12:34] #1159 closed

[2015-02-22 12:34] #931 closed

[2015-02-22 12:35] dlsniper commented on #930
This shouldn't be a problem on 1.0 anymore.

[2015-02-22 12:35] #930 closed

[2015-02-22 12:35] dlsniper commented on #927
This shouldn't be a problem under 1.0 branch / releases anymore.

[2015-02-22 12:35] #927 closed

[2015-02-22 12:36] dlsniper commented on #915
The issues with the formatter will be addressed in 1.0 as that has its own problems

[2015-02-22 12:36] #915 closed

[2015-02-22 12:36] dlsniper commented on #607
The issues with the formatter will be addressed in 1.0 as that has its own problems

[2015-02-22 12:36] #607 closed

[2015-02-22 12:40] dlsniper commented on #900
To be checked for 1.0

[2015-02-22 12:40] dlsniper commented on #897
This should be fixed under 1.0

[2015-02-22 12:40] #897 closed

[2015-02-22 12:41] dlsniper commented on #866
This should be fixed under 1.0

[2015-02-22 12:41] #866 closed

[2015-02-22 12:41] dlsniper commented on #863
To be checked if it's in 1.0

[2015-02-22 12:42] dlsniper commented on #834
This should be fixed under 1.0

[2015-02-22 12:42] #834 closed

[2015-02-22 12:44] dlsniper commented on #793
@ignatov / @zolotov this still applies to 1.0 branch. Not sure who to assign this to, sorry.

[2015-02-22 12:45] dlsniper commented on #742
This shouldn't happen in 1.0 anymore.

[2015-02-22 12:45] #742 closed

[2015-02-22 12:45] dlsniper commented on #736
This should be fixed under 1.0 branch / releases.

[2015-02-22 12:45] #736 closed

[2015-02-22 12:46] dlsniper commented on #695
I'll close this as it doesn't have any feedback unfortunately, @activars or @robertsosinski please feel free to send a PR against the 1.0 branch to fix this. Thank you.

[2015-02-22 12:46] #695 closed

[2015-02-22 12:47] dlsniper commented on #545
This is fixed under 1.0 branch.

[2015-02-22 12:47] #545 closed

[2015-02-22 12:49] dlsniper commented on #402
This looks fixed in 1.0 branch

[2015-02-22 12:49] #402 closed

[2015-02-22 12:51] dlsniper commented on #1020
This is fixed under 1.0

[2015-02-22 12:51] #1020 closed

[2015-02-22 12:52] dlsniper commented on #828
This should be fixed under 1.0

[2015-02-22 12:52] #828 closed

[2015-02-22 12:53] dlsniper commented on #815
The formatter in 1.0 has different problems than the 0.9.x and it's likely that 0.9.16 won't be released before 1.0

[2015-02-22 12:53] #815 closed

[2015-02-22 12:55] dlsniper commented on #705
This should be reviewed when we have a proper debugger for go that we can integrate in IDEA.

[2015-02-22 12:55] #705 closed

[2015-02-22 12:55] dlsniper commented on #704
Closing this as we won't have a proper debugger for go for a while and it's not updated anymore.

[2015-02-22 12:55] #704 closed

[2015-02-22 12:59] dlsniper commented on #550
This won't happen in 0.9.x or later branch as it's not by design to be like this.

[2015-02-22 12:59] #550 closed

[2015-02-22 13:01] dlsniper commented on #543
@zolotov maybe you can point me out to where I could help with integrating gccgo to the build process? Thanks.

[2015-02-22 13:01] dlsniper commented on #542
This is fixed under 1.0

[2015-02-22 13:01] #542 closed

[2015-02-22 13:02] dlsniper commented on #536
This should be fixed under 1.0

[2015-02-22 13:02] #536 closed

[2015-02-22 13:02] dlsniper commented on #527
This looks fixed under 1.0

[2015-02-22 13:02] #527 closed

[2015-02-22 13:02] dlsniper commented on #513
This shouldn't happen anymore under 1.0

[2015-02-22 13:02] #513 closed

[2015-02-22 13:03] dlsniper commented on #508
This is fixed under 1.0

[2015-02-22 13:03] #508 closed

[2015-02-22 13:05] dlsniper commented on #497
This still happens under 1.0

[2015-02-22 13:07] dlsniper commented on #496
This is fixed under 1.0

[2015-02-22 13:07] #496 closed

[2015-02-22 13:08] dlsniper commented on #493
This should be fixed under 1.0 as it has many more highlighting options.

[2015-02-22 13:08] #493 closed

[2015-02-22 13:11] zolotov commented on #543
It depends on what you want to do. At the moment we decide not to use external compiler and let 'go build' to do its job. But if you want to compile project with gccgo, you should take a look at com.goide.jps.builder.GoBuilder#build and whole jps-plugin module

[2015-02-22 13:13] #468 closed

[2015-02-22 13:13] #464 closed

[2015-02-22 13:14] dlsniper commented on #462
This doesn't happen in 1.0 anymore.

[2015-02-22 13:14] #462 closed

[2015-02-22 13:16] #446 closed

[2015-02-22 13:17] dlsniper commented on #436
Fixed in 1.0

[2015-02-22 13:17] #436 closed

[2015-02-22 13:21] #420 closed

[2015-02-22 13:21] #161 closed

[2015-02-22 13:21] #196 closed

[2015-02-22 13:22] dlsniper commented on #206
This is still an issue as we don't have an inspection to check if files from different packages are in the same folder.

[2015-02-22 13:23] #266 closed

[2015-02-22 13:24] dlsniper commented on #44
I'll close this for the moment as the plugin supports all the IDEs from JetBrains.

[2015-02-22 13:24] #44 closed

[2015-02-22 13:26] dlsniper commented on #50
I'll close this for the moment as the plugin supports all the IDEs

[2015-02-22 13:26] #50 closed

[2015-02-22 13:26] dlsniper commented on #590
I'll close this as the plugin currently supports all IDEs

[2015-02-22 13:26] #590 closed

[2015-02-22 13:27] dlsniper commented on #593
I'll close this as the plugin currently supports all IntelliJ IDEs.

[2015-02-22 13:27] #593 closed

[2015-02-22 13:31] dlsniper commented on #1278
Fixed.

[2015-02-22 13:31] #1278 closed

[2015-02-22 13:49] kostonstyle opened #1352 "Show not enough wrong return value"
Hi dev team

I am using github.com/garyburd/redigo/redis to connect with redis server. When I call the statement
[code]
as you can see, it return 2 parameters reply and err. When I want to fetch data from redis I use the statement
[code]
The plugin shows error, that is not enough arguments is passed to Values function

![image](https://cloud.githubusercontent.com/assets/701611/6318711/c7b65c7e-baa

[2015-02-22 13:59] dlsniper commented on #1352
Hi @kostonstyle,

Can you give us some details about the plugin version and IDE version you are using?
Thanks.

[2015-02-22 14:04] dmitry-vovk opened #1353 "Inconsistent syntax coloring in show diff window"
Left pane has generic syntax coloring or something. See screenshot:
![screenshot - 220215 - 16 00 38](https://cloud.githubusercontent.com/assets/4119321/6318780/32e71e34-baac-11e4-8f50-3c1aba02220a.png)

Idea: IU-140.2493.5
Plugin: 0.9.92

[2015-02-22 14:13] dlsniper commented on #1353
@zolotov and @ignatov I'm not sure this one is caused by the go plugin, the git plugin or by the IDE.
I've tried with the same version as @dmitry-vovk and I only have the keywords highlighted in my diffs.

This happens even with 44ad224d3bd7cb87b13fed97b5b9cd434cbc45e9 so it's something that definitely is not affected by the highlight support as we've just merged that and 1.0.0-alpha#92 was releas

[2015-02-22 14:51] dlsniper commented on #423
@ignatov or @zolotov seems I'll need a bit more than the link I've found as on a first glance, the implementation the plugin has for ```GoSymbolContributor``` and ```GoTypeContributor``` looks the same as the one in the reference I've had. Also the element returned, ```com/goide/tree/GoStructureViewFactory.java::Element``` seems to be implementing the same interfaces as well.

Am I missing somethi

[2015-02-22 14:58] dlsniper commented on #1324
As this can be solved without changing the plugin, I'll close this for now.
The proper way to solve this would be to have the plugin take advantage of the builtin formatting engine anyway, which is the plan for 1.0 release.

[2015-02-22 16:17] kostonstyle commented on #1352
Of course
![image](https://cloud.githubusercontent.com/assets/701611/6319279/aca10960-bab6-11e4-8cb5-28a1fc8fd420.png)
Thanks

[2015-02-22 16:22] moadqassem opened #1355 "Can't use any imported packages, from the go get command"
Hello,

I have just imported the mgo package which is the mongodb driver for go, I tried to get it from idea but I keep get this error:

Something went wrong with `go get`
 package gopkg.in/mgo.v2: cannot download, $GOPATH not set. For more details see: go help gopath, even so the GOPATH is set and if I get it from the command line(" go get gopkg.in/mgo.v2 ") I can see it imported and when I build

[2015-02-22 16:37] moadqassem commented on #1355
Hey I have found the solution for it even so its really weird, I had to add the gopath inside the /etc/profile next to the goroot and then it worked, it supposed to be working to if I have set the path in .bashrc !! anyway its working now

[2015-02-22 16:38] linniksa opened #1356 "Autocomplete import path by package name instead of directory structure"
[code]

At this time i see first part of import path (bufio, github.com ... etc)
I think the better to show packages in autocomplete list instead of directory structure

[2015-02-22 17:12] dlsniper commented on #1355
@moadqassem with 1.0 release you should not be doing that.

How did you created the project? And what did you added to the Go Libraries under: ``` Settings | Languages & Frameworks | Go Libraries``` ?

Also, have you seen this page: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/wiki/v1.0.0-Setup-initial-project ?

[2015-02-22 17:28] moadqassem commented on #1355
Hey, I ve just did what its written in that page by details, however it didn't work and I have no idea why, so I am doing I am only using idea as text editor and if I want to build or run the project I do it from the command line which is fair and square to me, I don't know mate but sounds really weird !!

[2015-02-22 17:37] dlsniper commented on #1355
Can you please post some screenshots of the Go SDK and Go libraries. It's a very strange error and I'd rather track it down and either fix the docs or fix the issue.

Thank you for helping us.

[2015-02-22 17:44] dlsniper commented on #1356
I have mixed feelings for this one.

For example you can have a package called "demo" under "github.com/dlsniper/demo" and you can have another one under "de".
Their layout in the GOPATH would be:
- demo -> $GOPATH/src/github.com/dlsniper/demo/file.go
- demo -> $GOPATH/src/de/dem.go

From the go docs, https://golang.org/ref/spec#Import_declarations, the import section should contain a list of impo

[2015-02-22 17:46] moadqassem commented on #1355
I have just found out what was the problem and basically it's not an issue maybe its a workaround solution(ugly one I know specially when it becomes to the root permissions).

The thing is the go sdk or the plugin its self looks for the GOPATH and if it didn't find it it goes to the root and looks in it too, which means if you have set the gopath in the /etc/profile you don't need to add it via id

[2015-02-22 17:48] linniksa commented on #1356
at this time is very vardnes to write import manually, for example i try import globalconf to import this with autocomplete i need write github.com > rakyll > globalconf instead of simple write globalconf and enter to confirm selection in autocomplete

[2015-02-22 17:51] dlsniper commented on #1356
I see. But you can just write ```globalconf.//autocomplete``` and let the plugin do the rest. In case there are more than one ```globalconf``` packages are present you'll be able to select which one you want to have imported, if not, it will import the correct package.

[2015-02-22 18:01] moadqassem commented on #1355
I have just created a new project just and tested again, and it works :$ , I really don't know what happened, but I have started a whole new fresh projects and I set the path through the global libs and it worked, I really don't what happened for a sec!!

[2015-02-22 18:01] #1355 closed

[2015-02-22 20:01] dlsniper commented on #1352
I've managed to replicate this and it looks like a duplicate of #1343 or #1222. Please watch those for when this is fixed. Thank you.

[2015-02-22 20:01] #1352 closed

[2015-02-22 21:34] SchumacherFM commented on #1147
Fix confirmed

[2015-02-23 01:52] kokizzu opened #1359 "Cannot load artifact intellij-go.jar, unknown artifact properties ant-postprocessing"
When opening the project, there are some error: `Cannot load artifact intellij-go.jar`

steps to reproduce

[code]

open the sdk (error: cannot load artifact), rename SDK to `IDEA sdk`, set the sdk, then build, close idea, reopen the project, still got the same error

When the `ant-postprocessing` property removed from the `.idea/artifacts/intellij_go_jar.xml` it builds successfully
![image](https

[2015-02-23 08:46] dlsniper commented on #1359
From our [contributing](https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/v1.0.0-alpha0/CONTRIBUTING.md#getting-started-with-the-plugin-development) doc: ```Getting started with the plugin development / 6. Setup the ant support plugin ````

[2015-02-23 08:47] kokizzu commented on #1359
Ah, right, I forgot to re-enable Ant plugin..

[2015-02-23 08:47] #1359 closed

[2015-02-23 15:38] kostonstyle opened #1361 "After saved run gofmt"
Hi
Is it possible to customize, that gofmt should execute after saving file?

Thanks

[2015-02-23 15:45] dlsniper commented on #1361
Closing this as a duplicate of #1324

[2015-02-23 15:45] #1361 closed

[2015-02-23 16:27] JoeBruner opened #1362 "[1.0] Assignment check not recognized when inline"
The following code produces two red squiggles, even though it is valid go https://play.golang.org/p/HB_wIfj-nk:

    x := make(map[string]int)
    x["foo"] = 1

    if _, ok := x["foo"]; !ok {fmt.Println("Missing key 'foo'")}

If it is changed to multiple lines, the squiggles go away:

    x := make(map[string]int)
    x["foo"] = 1

    if _, ok := x["foo"]; !ok {
       fmt.Println("Missing key '

[2015-02-23 17:23] zolotov commented on #1333
Indeed, application run configuration is broken now. 'Go Run file' works fine though.

[2015-02-23 17:49] mark-anders commented on #1333
Will try that.

Thanks!

Mark

(Sent from my iPhone)

[2015-02-23 20:39] kostonstyle commented on #1361
Sorry thanks.

[2015-02-23 22:10] jayunit100 opened #1364 "error message for multi args."
I've found an apparent inconsistency of the alpha release candidate (Go.92.zip
) and the latest Go package (1.4.2), regarding interfaces and var args, for the following methods
[code]
The details are here. http://stackoverflow.com/questions/28684449/why-is-this-go-lang-intellij-plugin-is-inconsistent-with-gos-syntax ... hope this is useful (and not just a go mistake im making).

[2015-02-23 22:14] dlsniper commented on #1364
Hi,

It's not a mistake you are making, it's a known problem of the plugin.

This is a duplicate of 1352, #1343 or #1222. Please watch those for when this is fixed.

Thank you.

[2015-02-23 22:14] #1364 closed

[2015-02-24 08:08] KID-WuMeng opened #1366 "Automatically convert the tab to spaces when coding"
I have cancelled the "Use tab character" in "Settings / Editor / Code Style /" and "Settings / Editor / Code Style / Go Lang /", but it still use tab when I input a tab.

Where I input a tab in the JavaScript, PHP and so on with Idea, the tab will be automatically converted the spaces.

What should I do if I hope the tab to spaces automatically when coding Go Lang ?

[2015-02-24 08:17] dlsniper commented on #1366
Hi, please descibe a bit better the issur you have. When is it happening? What do you expect instead.
What version of IDEA are you using? What version of the plugin?
Go uses by default tabs to indent the source code, so fighting for this one is not an option. Thank you.

[2015-02-24 15:05] rambocoder commented on #266
@dlsniper in the 1.0-alpha the code is not highlighted as invalid, however the code suggestion does not kick in when I do (*Traceable). (Ctrl+Space)

I agree that we should close this for now.

[2015-02-24 15:08] dlsniper commented on #266
@rambocoder can you please open a different ticket for the autocomplete issue? And possibly a small snippet to reproduce? If not, I'll create one but I need as many details as possible to create one.
Thank you!

[2015-02-24 17:23] simonorono opened #1368 "Files under GOPATH are not being resolved"
![problem](https://cloud.githubusercontent.com/assets/8929354/6354660/148f5618-bc23-11e4-8760-dc4e9a3b5613.png)

As seen in the image, IntelliJ connot resolve nomis/container/list even though the package DOES exists inside GOPATH.

I'm using IntelliJ Idea 14.0.3 Build #IC 139.1117 running on OpenJDK 1.7.0_75 64 bits, Golang plugin 1.0.alpha#92 and Go 1.4.1

Is there any configuration I'm missing o

[2015-02-24 17:37] zolotov commented on #1368
Please make a screenshot of 'Settings | Languages & Framework | Go Libraries'

[2015-02-24 17:37] zolotov commented on #1368
And screenshot of expanded 'External libraries' node in Project View

[2015-02-24 17:39] dlsniper commented on #1368
@simonorono please create the project in the ```simon``` directory and that should work. Please follow [the tutorial](https://github.com/go-lang-plugin-org/go-lang-idea-plugin/wiki/v1.0.0-Setup-initial-project) to create a project when you have a single GOPATH entry and things should work.

@zolotov this looks like a duplicate of a previous ticket, I'm trying to locate it now.

[2015-02-24 17:42] dlsniper commented on #1368
@simonorono before doing what I've said, please provide @zolotov with the other information, I haven't seen his comments, sorry.

I've found the issue / comment: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1266#issuecomment-73357445

It seems that when ```src```is present in the directory, packages are not considered as being part of the GOPATH.

[2015-02-24 17:43] zolotov commented on #1368
@dlsniper what's the previous ticket? As I see at screenshot GOPATH was found but despite the fact that GOPATH is part of current project it was added as a library.

[2015-02-24 17:44] zolotov commented on #1368
@dlsniper ok, I'll try to figure out what's happening.
@simonorono as a workaround I believe you can open each project separately (not the whole GOPATH)

[2015-02-24 17:52] simonorono commented on #1368
@zolotov Go libraries was empty, I added the GOPATH and GOROOT and the problem was solved.

![window](https://cloud.githubusercontent.com/assets/8929354/6355315/5364dc88-bc27-11e4-8a01-a0aa040777bd.png)

![pro](https://cloud.githubusercontent.com/assets/8929354/6355367/b330cbc2-bc27-11e4-8e84-54af2bdfaede.png)

@dlsniper It even seems to work using the GOPATH as the project, not sure.

![problemno

[2015-02-24 17:54] zolotov commented on #1368
I wonder why the src directory is inside <Go 1.4.1> node. Did you add it in SDK configuration?

[2015-02-24 17:57] simonorono commented on #1368
Both, yes (as seen [here](https://cloud.githubusercontent.com/assets/8929354/6355315/5364dc88-bc27-11e4-8a01-a0aa040777bd.png)). Not adding them used to give me problems in the past.

[2015-02-24 18:00] zolotov commented on #1368
@simonorono I meant another thing. Could you please show attach screenshot of 'File | Project Structure | SDKs | Go 1.4.1'?

[2015-02-24 18:06] simonorono commented on #1368
![sdk](https://cloud.githubusercontent.com/assets/8929354/6355671/dd4375d4-bc29-11e4-8e09-8c51cf046ec1.png)

The only entry I added manually in the Classpath was the src directory of the GOPATH. I used src just because it seemed to be the default behavior.

To add the SDK I used as the SDK home /usr/lib/go; the entry /usr/lib/go/src was added to the classpath automatically.

[2015-02-24 18:14] zolotov commented on #1368
Ok, I've got it now, thanks. I advice you remove '/home/simonorono/Code/Go/src' from SDK because it could lead to strange behaviour :)

I'll add notification for the case when IDEA can't find GOPATH env variable with the suggestion to configure Go Libraries and close the issue after that. Thank you for details.

[2015-02-24 18:17] dlsniper commented on #1368
@zolotov is there any way to make the SDK immutable by the users? Another notification, or even block from the plugin, could be when the users try to add the SDK root to the libraries as well.

[2015-02-24 18:18] simonorono commented on #1368
Thanks to you! Off-topic: Where is the development being made? In the Github project page it says the last commit was made on December 15th, 2014.

[2015-02-24 18:19] zolotov commented on #1368
@simonorono in [1.0.0alpha branch](https://github.com/go-lang-plugin-org/go-lang-idea-plugin/tree/v1.0.0-alpha0)

@dlsniper don't know, will try to figure out.

[2015-02-24 18:22] simonorono commented on #1368
So, what should be added to the global libraries? Just the GOPATH or both the GOPATH and GOROOT?

[2015-02-24 18:25] zolotov commented on #1368
GOROOT is treated as an SDK. And Go Libraries is an internal representation of GOPATH, so GOPATH should be added to the global (or project/module) libraries. Also you can to find out why GOPATH wasn't passed to IDEA in the first place, in this case you have not to configure Go Libraries at all.

[2015-02-24 18:33] zolotov commented on #1368
Usually the reason of such things is a file where environment variable were defined. IDEA tries to take all environment for Xorg or from you default shell in login mode. The problem is that e.g. zsh doesn't read `~/.zshrc` in login mode and bash doesn't read `~/.bashrc` in login mode. So usually as a workaround you can redefine environment variables in the one of the following config files `/etc/<

[2015-02-24 18:42] dlsniper commented on #1368
@simonorono please read the wiki page, https://github.com/go-lang-plugin-org/go-lang-idea-plugin/wiki/v1.0.0-Setup-initial-project and you'll have all the information you need to setup the project. In case the page above has some things that are not clear, let us know so we can improve on it. Thanks!

[2015-02-24 19:08] jakecoffman opened #1369 "too many arguments in call to..."
Using the latest on 1.0.0alpha branch.

You might be able to simplify this example more.

[code]

[2015-02-24 19:21] dlsniper commented on #1369
@zolotov I'm not sure this is a duplicate of #1343 or not (or if @ignatov should be assigned to this and not you :D)

[2015-02-24 20:55] go-lang-idea-plugin-autoreport opened #1370 "[auto-generated] Crash in plugin"
I added the following code to a function, and "BOOM!"... or something.

	err = pager.EachPage(func(page pagination.Page) (bool, error) {
		serverList, err := servers.ExtractServers(page)

		for _, s := range serverList {
			serverList = append(&serverList, s)
		}
	})

Plugin Name: Go language (golang.org) support plugin
Plugin Version: 0.9.16-dev-0.9.16-alpha.7^0
OS Name: Mac OS X
Java version: 1.

[2015-02-24 20:56] dlsniper commented on #1370
Old plugin version is old.

[2015-02-24 20:56] #1370 closed

[2015-02-24 20:57] go-lang-idea-plugin-autoreport opened #1371 "[auto-generated] Crash in plugin"
This go file causes repeated ArrayIndexOutOfBoundsExceptions to be thrown:

package main

import (
	"github.com/rackspace/gophercloud"
	"github.com/rackspace/gophercloud/openstack/compute/v2/servers"
	//"github.com/rackspace/gophercloud/pagination"
)

func GetServers(pc *gophercloud.ProviderClient, opts servers.ListOpts) (serverList *[]servers.Server, err error) {
	serverList = new([]servers.Serve

[2015-02-24 21:01] #1371 closed

[2015-02-24 21:39] Scukerman commented on #1333
I have the same problem with new project...
How to setup compile and run configuration?! And where is my executable file will be stored?

I'm totally confused. When i ran "Make" Event log tells me "All files are up-to-date", but where?! I suppose this information about my executable file...or not

Can you provide some doc or screens, or example project to view how does it working?
Because I'm stil

[2015-02-24 21:47] dlsniper commented on #1333
@Scukerman, I'll quote from @zolotov :

Just go to ``` Run | Edit Configurations | + | Go Single File ```, select the file that contains the ```main()``` function and things should work.

[2015-02-24 21:49] Scukerman commented on #1333
@zolotov, Yeah I'm doing the same stuff, it runs and it works...but where is the executable file?!

[2015-02-24 21:50] zolotov commented on #1333
Go Single File run configuration is synonym to `go run` command. It doesn't produce any executable files.

[2015-02-24 21:52] Scukerman commented on #1333
Then what I should do if I want to get executables?
Should I just wait for a new release where it's gonna be working or can I use another build with working "application run configuration"?

[2015-02-24 21:57] dlsniper commented on #1333
You can test that things work from the IDE using the configuration described above.

As for getting a binary, you can safely use ``` go build ``` until there's a release that can build executables. Please refer to [the manual](https://golang.org/cmd/go/) on how to use it.

[2015-02-24 21:58] zolotov commented on #1333
@Scukerman  in IDEA – nothing, as I said before it's broken, it will be fixed soon but in the end IDEA is not a build tool so the building abilities will be poor anyway.

Without IDEA – there is [some docs](https://golang.org/cmd/go/) about it

[2015-02-24 22:04] Scukerman commented on #1333
@zolotov, @dlsniper: Yeah, thanks to you both. I know about manual compiling and I'm using it, but it's not comfort and I thought it should be somehow working like on first place of plugin implementation.

[2015-02-24 22:08] dlsniper commented on #1333
@Scukerman normally you need the binary only for deployment or running outside the IDE itself. While I know Alexander is working on this feature very hard, it's not an easy thing to support as the original implementation was... not nice (to put it nicely).
As the releases say, the plugin is in alpha, and, as the docs say in the release notes, some features might not be there yet. Else I'm sure we'

[2015-02-24 22:14] Scukerman commented on #1333
@dlsniper Of course I understand that :+1: Just want to get it asap ;-)

[2015-02-24 22:16] dlsniper commented on #1333
@Scukerman we are always welcoming contributions. So if you'd like to see something in, we'd definitely like a contribution to fix this issue. Thank you for your patience.

[2015-02-25 06:23] KID-WuMeng commented on #1366
@dlsniper thank you, I have solved this problem by used the " Edit / Convert Indents / To Spaces ".

[2015-02-25 07:51] #1366 closed

[2015-02-25 07:57] linniksa opened #1372 "[1.0] Hexadecimal number not has color"
[code]

[2015-02-25 07:59] dlsniper commented on #1372
To be clear, the 0xFFFF part is not colored as a number, yes?

[2015-02-25 08:03] linniksa commented on #1372
yes:
![123](https://cloud.githubusercontent.com/assets/424343/6366931/d73efd5c-bcdd-11e4-83fd-e74bb53dd035.png)

[2015-02-25 08:31] linniksa opened #1373 "[1.0] Redeclare type method inspection"
[code]

[2015-02-25 08:33] dlsniper commented on #1373
Closing as duplicate of #1023

[2015-02-25 08:33] #1373 closed

[2015-02-25 08:37] linniksa commented on #1373
ah, sorry

[2015-02-25 08:38] dlsniper commented on #1373
Don't worry ;)

On Wed, Feb 25, 2015 at 9:37 AM Sergey Linnik <notifications@github.com>
wrote:

[2015-02-25 09:59] #1369 closed

[2015-02-25 10:02] ignatov commented on #1372
@dlsniper you need to process hex literals as well.

[2015-02-25 10:07] ignatov opened #1374 "Should be an error: embedded type cannot be a pointer to interface"
[code]

[2015-02-25 11:28] zolotov commented on #1368
Notification about empty GOPATH is added

[2015-02-25 11:28] #1368 closed

[2015-02-25 11:41] dlsniper opened #1375 "[1.0] Package constants not offered to autocomplete"
See the example below:

[code]

Possible variants would be:
[code]

Not sure if this is related to the type inference system or not.

[2015-02-25 11:45] ignatov commented on #1375
Can't reproduce.
![screenshot 2015-02-25 14 44 57](https://cloud.githubusercontent.com/assets/426890/6370024/e659ded2-bcfc-11e4-9f5b-e41342e4a1d8.png)

[2015-02-25 11:46] dlsniper commented on #1375
I'll try to replicate this better, strange.

[2015-02-25 14:45] growler opened #1376 "[1.0] Plugin hungs on parsing tree structure declaration"
We have a large system (B/OSS) written mostly in Go. Recently I tried to switch from the pre-1.0 plugin to 1.0 and found it hangs on indexing. After a bit of fiddleing I nailed it down to a single reason.

We employ source generators heavily. For the CLI module we have generator which parses cli package and generates parameters validating wrappers for every function together with a syntax tree for

[2015-02-25 14:46] growler commented on #1376
I forgot to mention that Idea also hangs if you'd try to open generated file

[2015-02-25 21:42] #1376 closed

[2015-02-25 21:53] ignatov commented on #1376
Please try a private build with appropriate fix: https://www.dropbox.com/s/4lugaz3vz2x3e3s/Go.145.zip?dl=0

[2015-02-25 22:12] dlsniper opened #1377 "[1.maybe] Add a self-assignment inspection"
There should be an inspection to determine if we assign a variable to itself:

[code]

[2015-02-26 01:02] bronze1man opened #1378 "how to set GOPATH in 1.0.0.alpha#134?"
I have set src as my source path as the document said.

When I run a test I got following
[code]
![image](https://cloud.githubusercontent.com/assets/1107541/6384328/1166978e-bd96-11e4-8981-d64bf6cee38e.png)

I have serval project with different GOPATH,so set GOPATH global may not be a good idea.

[2015-02-26 01:09] bronze1man commented on #960
I use one GOPATH one project.
I use a `.kmg.yml` file like a `.git` file to mark where is the GOPATH of my current project,so I can use my own tool `kmg gorun` to run my code without set GOPATH again and again in command line.

[2015-02-26 01:34] dlsniper commented on #1378
Go to Settings | Languages and Frameworks | Go and use the project level libraries.

[2015-02-26 01:37] dlsniper commented on #960
So in this case is it correct to assume that you have the second use case described in the wiki page?

[2015-02-26 01:49] bronze1man commented on #960
I think it looks like c in the wiki page.
I only use a single path as GOPATH.

[2015-02-26 01:54] bronze1man commented on #1378
It works.
1.0.0.alpha#134 has less bugs than the 9.x.x.
Thanks for your great job.

[2015-02-26 01:54] #1378 closed

[2015-02-26 02:18] JoeBruner opened #1379 "Test framework quit unexpectedly"
Using Alpha#134

If I right click inside a test and do `Run TestFoo...` it will run the test as expect.  I'll see in the terminal window:

    /usr/local/go/bin/go test -v myproj/subdir --run='^TestFoo&'
    Test started at 4:20 PM ...
    PASS
    ok    myproj/subdir  0.006s

However on the left, I get the error message

    Test framework quit unexpectedly

instead of the expected

    All Tests

[2015-02-26 02:33] JoeBruner opened #1380 "Test Framwwork isn't actually running tests"
With alpha#134

I create the following test:

    func TestFoo(t *testing.T){
        fmt.Println("Ran the test")
        t.Fatalf("Intentionally failed")
    }

and I run it from the command line:

    dev@devbox:~/projects/go/src/proj/subdir$ /usr/local/go/bin/go test -v proj/subdir --run='^TestFoo$'
    === RUN TestFoo
    Ran the test
    --- FAIL: TestFoo (0.00s)
            my_test.go:118: I

[2015-02-26 03:56] kokizzu opened #1381 "Autocomplete for unimported internal package"
The autocomplete for unimported internal package seems doesn't work well, or is there anything else that I should set?

IntelliJ version: 14
Plugin version: latest-git
GOPATH: /home/kyz/Dropbox/go
GOROOT: /usr/lib/go

autocomplete shown when typing `bytes.Buffer`:
![image](https://cloud.githubusercontent.com/assets/1061610/6385864/b1ca52a4-bda2-11e4-8935-7b0240627898.png)

expected output: `bytes.

[2015-02-26 04:07] kokizzu commented on #1381
after adding `/usr/lib/go` on the `Go Libraries` (last screenshot) more autocomplete shown, but not the `Buffer` type:
![image](https://cloud.githubusercontent.com/assets/1061610/6386184/9b7969c2-bda7-11e4-8527-de91ca2bedce.png)

[2015-02-26 04:26] jimbojetlag commented on #1278
Why is this closed?

- There is no way to create an app engine project.
- There is no way to launch an app engine go app.

Also, things have slightly changed since gae 1.9.18, and the old goapp path does not work anymore, intead `google-cloud-sdk/bin/goapp` must be used.

[2015-02-26 07:42] dlsniper commented on #1278
@jimbojetlag it's closed because there's support for creating the SDK inside the IDE so all the other code level functions work.

Please detail the change you are referring about the change in the path as I can't find anything in the release notes such a change https://code.google.com/p/googleappengine/wiki/SdkForGoReleaseNotes

How did you installed the GAE SDK for Go? Personally, I've downloaded

[2015-02-26 07:48] dlsniper commented on #1381
@kokizzu please don't add the GOROOT to the libraries. The GOROOT is meant to be as an SDK only. As well, please don't change the SDK yourself, the SDK should never contain the GOPATH itself, I don't know why you did that change.

Also, you've added the GOPATH all over the place. This is not what the plugin tells you to do when you install it. It points you to the following document: https://githu

[2015-02-26 07:53] dlsniper commented on #1379
@JoeBruner can you please provide some more context for this?
What did you set as Go libraries under ``` Settings | Languages and frameworks | Go ```?
Where is your project dir in relation to the entries in the libraries section?

Thank you.

[2015-02-26 07:58] dlsniper commented on #960
Ah, right. Sorry, I was almost asleep when I posted that :D The plugin should be able to use a single GOPATH / project right now, but I've personally not tried it yet.

[2015-02-26 08:00] dlsniper commented on #1377
@ignatov I'd like to work on this myself to get used to the way inspections work and this looks quite simple, that's why I didn't assigned it to you. Also it's not really high priority so I've put it into the maybe part as we can do 1.0 without having it :)

[2015-02-26 08:14] zolotov commented on #1379
@JoeBruner please try this build https://www.dropbox.com/s/eplutjm8ow4wx16/Go.148.zip?dl=0. I fixed single test running mode just after Go#134 have been published.

[2015-02-26 08:15] zolotov commented on #1379
@JoeBruner please ping me if it doesn't work for you, I'll reopen the issue.

[2015-02-26 08:15] #1379 closed

[2015-02-26 08:15] zolotov commented on #1380
The same as #1379

[2015-02-26 08:15] #1380 closed

[2015-02-26 08:32] zolotov commented on #1381
@kokizzu indeed we don't complete not imported types for that context, only in places when actually type definition is expected:

![screenshot 2015-02-26 11 27 31](https://cloud.githubusercontent.com/assets/140920/6388443/0a022156-bdab-11e4-9153-a75cc6658ab1.png)

Do you think that it's useful to complete them everywhere?

[2015-02-26 08:38] kokizzu commented on #1381
ah you're right..

one more thing, how to add exception there's a lot of folders inside my GOPATH, and I don't want it to show..
![image](https://cloud.githubusercontent.com/assets/1061610/6388511/3f38cea2-bdcd-11e4-9d95-e5ac5fd6b7b3.png)

but this one seems not giving the types also.. (`bytes` not yet imported)
![image](https://cloud.githubusercontent.com/assets/1061610/6388515/50c0ac08-bdcd-11e4

[2015-02-26 08:43] zolotov commented on #1381
There is no way to do it right now, but I can add excluding rules by package. Please file a separate issue about that.

They are not types but functions :)

[2015-02-26 08:46] kokizzu commented on #1381
for comparison, when `bytes` imported (manually)

![image](https://cloud.githubusercontent.com/assets/1061610/6388624/8a841a64-bdce-11e4-8abd-094b8b48a2e7.png)

[2015-02-26 08:50] zolotov commented on #1381
Yes, I know. As I said that we don't complete only not imported types in these contexts. I'm not sure that it's right decision and it's indeed looks inconsistently. So yet again:

Do you think that it's useful to provide completion for non-imported types in these context?
Or maybe we should disable completion for imported types here as well?

[2015-02-26 08:53] kokizzu commented on #1381
yes, it would be useful to show also non-function (types) in those context, since assigning to variable not always comes from a function.

[code]

[2015-02-26 08:54] kokizzu opened #1382 "Feature request: import exclusion/inclusion by directory"
the case, when there are a lot of libraries in `GOPATH/src`, the autocomplete shows too much unused library:

![image](https://cloud.githubusercontent.com/assets/1061610/6388665/0874c766-bdcf-11e4-91c6-8971aa70b58a.png)

It would be nice to add exception directories,
or better way `GOPATH` and list of directories to be autocompleted within `GOPATH`

most cases I only need certain <10 libraries (fr

[2015-02-26 08:59] zolotov commented on #1278
@dlsniper well, at least we can do deploying. Not sure about launching, maybe 1.0.maybe? :)

@jimbojetlag personally I don't use GAE, so it's easy to miss some slightly changes in it. Meanwhile the plugin is open sourced and ```Also, things have slightly changed since gae 1.9.18, and the old goapp path does not work anymore, instead google-cloud-sdk/bin/goapp must be used.``` looks like great oppo

[2015-02-26 09:06] dlsniper commented on #1278
@zolotov yes, deploying could look like something we could do. I can work on it for 1.0 or next.
However, I've seen that there's an [AppEngine](https://plugins.jetbrains.com/plugin/4254?pr=idea) plugin with IDEA Ultimate so, should we integrate with that or do we want to rollout something custom for Go only?

[2015-02-26 09:29] zolotov commented on #1278
Definitely not custom. Will try to integrate with existing solution, maybe it will be available for Ultimate/PhpStorm/PyCharmPro only.

[2015-02-26 09:31] dlsniper opened #1383 "Create notification when paths in sdk and libraries either overlap or include each other"
- [ ] There should be a warning if someone tampers with the SDK and the SDK has multiple entries
- [ ] There should be a warning if someone adds libraries to the SDK
- [ ] There should be a warning if someone adds GOROOT to the libraries
- [ ] There should be a warning if someone adds a library (sub)path from the Global to Application scope

[2015-02-26 09:32] dlsniper commented on #1278
Ok, it makes sense for me. I'll open up the issue for deployment. Thank you.

[2015-02-26 09:37] dlsniper opened #1384 "[1.maybe] Provide deployment option to AppEngine using builtin IDEA facility"
The plugin should be able to use the [builtin facility](https://plugins.jetbrains.com/plugin/4254?pr=idea) to deploy AppEngine projects.

[2015-02-26 09:42] dlsniper commented on #1278
@jimbojetlag I've just tried the AppEngine 1.9.18 and I can't see any changes. I'm not an active user of AppEngine so as @zolotov mentioned, any help with this is greatly appreciated. Thank you.

[2015-02-26 09:59] growler commented on #1376
Works like a charm. Thank you!

[2015-02-26 11:09] dlsniper commented on #1382
One possible candidate for exclusion should be the directory called ```Godeps```. The nature of ```godep``` tool will make it to duplicate things. There's already a ticket to support ```godep``` workspaces at a later time after 1.0.

I'll try and investigate other package managers as well to see if we can eliminate by default directories.

[2015-02-26 11:20] dlsniper opened #1385 "Check if there's a space between the tag name and value"
There should be a check to see if there's a space between a tag name and value as there's should always be one (unless otherwise tested by the user, say in testing scenario).

[code]

[2015-02-26 12:44] JoeBruner commented on #1379
@zolotov It seems to be working right, thought there is one minor annoyance.  If I right click run the tests individually they work as expected, but if I right click between functions and try `Run my_test.go` it will fail with `Test framework quite unexpectedly`.  It will fail with the following:

    /usr/local/go/bin/go test -v /home/dev/projects/go/src/A/B/my_test.go
    Testing started at 7:13

[2015-02-26 13:25] zolotov commented on #1379
Yes, it's known issue. I don't like current behaviour too, but...

I don't know how to make `go test` use tests from single file only. If you'll think of the solution, please let me know and I'll fix the File run configuration.

[2015-02-26 13:28] zolotov commented on #1379
Although, I think can collect all test-function names and make unmodifiable filter like 'Test1|Test2|...'

[2015-02-26 13:29] JoeBruner commented on #1379
Hmmm, that's intriguing.  I like it. The test names would have to be unique across files otherwise go will complain.  I think that might just work.  Brilliant!

[2015-02-26 13:30] dlsniper commented on #1379
@zolotov you can check this [stackoverflow answer](http://stackoverflow.com/a/16936314/951414) about running tests from a single file. The approach to get all tests functions seems good but there's going to be a need to change the filter every time there's a function added or removed.

[2015-02-26 13:32] zolotov commented on #1379
@dlsniper thanks for the link.

Not really, I won't store the function names and will calculate it before each running

[2015-02-26 13:32] dlsniper commented on #1379
:+1:

[2015-02-26 13:43] dlsniper opened #1386 "Inspection to check if the the function/method/package documentation starts with the correct name"
godoc relies on this and we should get the same rules as it has (to check golint).
This applies to packages, structs, interfaces, methods, functions. Special cases exists for each, covered in the golint as well.
Usually applies to exported elements only, optional toggle for private elements as well?

[code]

We could also have a quick fix for the above that generates the missing doc headers.

[2015-02-26 14:10] zolotov commented on #1379
And here we are https://www.dropbox.com/s/eh0zvnga1eqznbb/Go.150.zip?dl=0

Please try it

[2015-02-26 14:25] jimbojetlag commented on #1278
@dlsniper sorry, I had the impression that this issues also covers launching a gae app.

I know gae runs its own continuous server, and doing its own 'go fmt', it can interfere with open files (as it happened with the old plugin). But having the output of the server inside IDE, and specially being able to click on error lines to to go the right file and line, is very valuable.

The issue with gae

[2015-02-26 14:25] JoeBruner commented on #1379
Works great.  I created test, ran it, added new function, re-ran and it picked up the new test.  I even right clicked on a folder and did `Run all in foo` and it worked.  Great work!

[2015-02-26 14:53] dlsniper commented on #1278
@jimbojetlag no worries. Thank you for your feedback, it's really appreciated.

I can see the point of having the GAE server launched from the IDE, but I'll have to get some help from Alexander or Sergey in order to see how we can do that and not interfere with what IDEA expects to be build / run process as I don't have the required experience with this (or with the builtin support for AppEngine).

[2015-02-26 15:06] jimbojetlag opened #1387 "Support Go App Engine project launcher, and possibly project type"
The old plugin used to support a Go App Engine project type, and launcher. Currently, Intellij Idea Ultimate supports these for Java App Engine.

Integrating gae dev server with IDE has advantages like being able to click the error line and going straight to the right line of the right file.

There are downsides like gae dev server interfering with Intellij as it runs its own `go fmt` and changes

[2015-02-26 15:11] jimbojetlag commented on #1278
Sure, here is the issue: #1387.

I simply extract it to the default directory, which is in `~`. By `google-cloud-sdk/` I meant the installation directory.

I think it makes sense to have the project root directory in the path for that project. Go App Engine dev server does this. Otherwise, every time the project directory is changed, we need to update the absolute path to the project dir.

[2015-02-26 22:15] dlsniper opened #1389 "[1.0] Autocomplete doesn't kick in for local structs with local fields in same package from different files"
The autocomplete doesn't kick in for local defined structs with the private fields if they are used in the same package but in different files than the one in which they are defined.

a.go
[code]

b.go
[code]

[2015-02-27 02:02] dashaus opened #1390 "Refactor renames the fields of struct literals with equal name to of a struct"
[code]

[2015-02-27 02:21] merriam commented on #728
Added the "External Tools" workaround to http://stackoverflow.com/questions/22928364/google-go-language-plugin-with-pycharm

[2015-02-27 04:55] lox opened #1391 "Can't find Go SDK on OSX"
Trying to install the latest public version of the plugin (0.9.15.3) on IDEA Community 14.0.3. Go is installed at `/usr/Cellar/go/1.4`. I select the Add SDK and choose the directory using the keyboard shortcut and then nothing happens. No SDK is added to my list. I see the following error in the logs:

[code]

[2015-02-27 04:56] lox commented on #1391
@lwc also experienced this issue using IntelliJ Ultimate edition.

[2015-02-27 05:22] dlsniper commented on #1391
Please use the latest release from github releases https://github.com/go-lang-plugin-org/go-lang-idea-plugin/releases.

[2015-02-27 05:22] #1391 closed

[2015-02-27 05:27] dlsniper commented on #728
Please usr the latest release from Github releases https://github.com/go-lang-plugin-org/go-lang-idea-plugin/releases. It supports PyCharm 4.0.5+

[2015-02-27 07:18] dlsniper opened #1392 "Provide support for Printf placeholders"
Support for Printf placeholders should be added so that we can count how many placeholders are vs how many parameters are.

[2015-02-27 08:05] dlsniper opened #1393 "[1.maybe] Display const value rather than name"
[code]

Question: should I use a FoldingBuilder like in the example from https://confluence.jetbrains.com/display/IntelliJIDEA/Folding+Builder to solve this?

[2015-02-27 08:07] zolotov commented on #1393
Yes, platform has no any other approaches for solving this task yet

[2015-02-27 18:50] merriam commented on #728
Thank you.  Tried it and failed so far.   I'm using the PyCharm community
edition v4.0.4 on OS/X Yosemite.  Trying to install the file go.134.zip, I
get a dialog error "Plugin Go is incompatible with current installation".

On Thu, Feb 26, 2015 at 9:27 PM, Florin Patan <notifications@github.com>
wrote:

[2015-02-27 18:54] dlsniper commented on #728
Please wait for the next version of PyCharm. Or try IDEA Community :-)

On Fri, Feb 27, 2015, 20:50 Charles Merriam <notifications@github.com>
wrote:

[2015-02-27 22:45] horkhe opened #1394 "[1.0] Unbound closure variable is not resolved if the closure is defined in a function call"
[code]

[2015-02-27 22:51] dlsniper commented on #1394
I think this one is a parser recovery issue as the variables will become resolved with the following code (I hope I'm not way of in my assumption):

[code]

[2015-02-28 02:31] juanibiapina commented on #1278
By reading the discussion on this issue, I understand goappengine is working well on the latest 1.0 release candidate. Is this the case?

For me is doesn't work at all. I have compilation problems in IntelliJ, problems building the project (NullPointerException) and other issues.

On 0.9 it works for a few minutes, then it breaks and we have to invalidate caches in order to continue.

Is anyone el

[2015-02-28 07:23] dlsniper commented on #1278
@juanibiapina in the latest 1.0 release appengine should work ok (minus the things discussed, ofc). If it's not the case, please create different issues containing details about the problems you are experiencing in order for us to be able to look into them and fix them.

From what I understand, you have problems with running the project from inside IDEA. This, as you can read above, is not a funct

[2015-02-28 13:24] alpe opened #1395 "Fix version number for 1.0.0"
`1.0.0.alpha#134` release is shown as `0.9.134` (in Intellij 14.0.3)
This may confuse others who want to upgrade as well.
![screen shot 2015-02-28 at 14 20 32](https://cloud.githubusercontent.com/assets/28003/6426325/16a4d5f6-bf55-11e4-9f1a-39a5ea67eab6.png)
Anyway, thanks for a new release. I'm looking forward to use it.

[2015-02-28 13:31] dlsniper commented on #1395
The change made by @zolotov looks intentional to me https://github.com/go-lang-plugin-org/go-lang-idea-plugin/commit/23d41bc41bb38b6904f4aa1529652f40a677156e

I suspect the reasons behind it but I can't tell you for sure why the plugin is named like that.

[2015-02-28 14:29] dvshapkin opened #1396 "Can't create Go project in WebStorm 10-alpha"
When creating a new project, the project list does not contain the Go project

[2015-02-28 14:44] dlsniper commented on #1396
Closing as duplicate of #1347

[2015-02-28 14:44] #1396 closed

[2015-02-28 16:00] zolotov commented on #1395
Yes, it was intentionally. When 1.0.0 will be released its version should be higher of current weekly releases.

[2015-02-28 16:00] #1395 closed

[2015-02-28 19:26] jnak commented on #154
+1 :)

[2015-03-01 00:00] #1236 closed

[2015-03-01 00:47] #1381 closed

[2015-03-01 00:48] #1347 closed

[2015-03-01 01:03] #1237 closed

[2015-03-01 01:06] #1348 closed

[2015-03-01 12:36] #1335 closed

[2015-03-01 15:01] bronze1man opened #1397 "[1.0.0.alpha#134] plugin show unsolved error,but compile well."
![image](https://cloud.githubusercontent.com/assets/1107541/6431303/6c05b04e-c066-11e4-8f5a-dee68c11565b.png)

[code]

The working project is open source:
https://github.com/bronze1man/kmg

Problem file url:
https://github.com/bronze1man/kmg/blob/c42dbbfa564e17627ebbf09e08c083ae45a5daa5/kmg/internal/goCommand/GoCrossCompileInit.go

[2015-03-01 15:17] bronze1man commented on #1397
After I edit some code, the problem disappear.
Good file url:
https://github.com/bronze1man/kmg/blob/bddcd543821ad5838be09bcf73a7cd36b56963d5/kmg/internal/goCommand/GoCrossCompileInit.go

[2015-03-01 15:27] zolotov commented on #1397
Can't recreate. What exactly inspection report it was? As far as I understand it can't be unresolved, unresolved inspection just isn't run on variable declarations.

[2015-03-01 23:30] #1209 closed

[2015-03-01 23:33] #1210 closed

[2015-03-02 01:32] bronze1man commented on #1397
Can not recreate too.

[2015-03-02 01:32] #1397 closed

[2015-03-02 04:36] dvshapkin commented on #1396
![image](https://cloud.githubusercontent.com/assets/6525348/6435418/55cb2394-c0d0-11e4-827e-068e314ab089.png)

[2015-03-02 04:44] dvshapkin opened #1398 "Support "Go project" types in small IDEs"
plugin version 1.0.0.alpha#164
In the list of types of projects is not a project Go
![image](https://cloud.githubusercontent.com/assets/6525348/6435470/437f0862-c0d1-11e4-8e0b-a11c1ee6eda5.png)

[2015-03-02 08:50] dlsniper commented on #1398
Thank you for creating a issue, again.
Please create an empty project and then a go file. You will be prompted to setup the go sdk and then the go libraries.

[2015-03-02 08:51] dlsniper commented on #1396
https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1398#issuecomment-76676463

[2015-03-02 09:15] chashnikov commented on #1340
We can probably remove this option from 'New Project' wizard but we'll still need to support file-based project created in previous versions of IDEA, so it wouldn't make much sense. However I think we can add @Storage annotation for file-based format implicitly to avoid such problems, feel free to create an issue about that in [our tracker](https://youtrack.jetbrains.com/issues/IDEA).

[2015-03-02 09:15] kokizzu opened #1399 "Case indentation always wrong"
Sample snippet
[code]
![image](https://cloud.githubusercontent.com/assets/1061610/6437948/09223a10-c0f7-11e4-898e-5b50c8ac5bf7.png)

Desired behavior:
[code]

[2015-03-02 09:19] dlsniper commented on #1399
Please watch #1363

[2015-03-02 09:26] zolotov commented on #1399
@dlsniper why did you close this? #1363 doesn't cover this case yet. Also such issues could be useful for creating tests.

[2015-03-02 09:28] dlsniper commented on #1399
Sorry, I've misclicked without realizing

[2015-03-02 09:30] zolotov commented on #1398
@dvshapkin I don't see any reasons to create `Go Project` item in `new project`-wizard. What do you expect `Go Project` wizard will do?

[2015-03-02 09:36] zolotov commented on #1333
@mark-anders running should be fixed in 1.0.0alpha#164. Please check it out.
@Scukerman making binary files not implemented yet and I'm not sure that it will be targeted on 1.0.0 release. Please create a separate issue for that.

[2015-03-02 09:36] #1333 closed

[2015-03-02 09:37] zolotov commented on #1372
Fixed by @jakecoffman

[2015-03-02 09:37] #1372 closed

[2015-03-02 09:40] zolotov commented on #1242
@vastbinderj, @ElvizLai could you please check it on 1.0.0alpha#164 release? I believe it should be fixed there

[2015-03-02 09:45] dvshapkin commented on #1398
And what makes a Go Project wizard in IDEA? There it is.
The absence of the master is surprising, since the user expects to see him. And the user begins to think that the plugin does not work.

[2015-03-02 09:47] TheDistractor commented on #1398
Additional info: I use Community (all works fine excepting known limitations), however I also have Webstorm 9/10EAP, The create GO SDK [Link] does not work in Webstorm 9/10, the toast notification pops up with hyperlink but you cannot click it. Seems no other way to set correct SDK info in Webstorm 9/10?? - do not seem to be able to do it in Settings->Plugins or Settings->Project etc.

[2015-03-02 09:48] zolotov commented on #1398
Changes module type and selects SDK from predefined application-level SDKs. Small IDEs don't have application-level SDKs and `go` module type.

[2015-03-02 09:49] zolotov commented on #1398
@TheDistractor go plugin version? That was fixed in #164 only, [release notes](https://github.com/go-lang-plugin-org/go-lang-idea-plugin/releases/tag/%23164) contain the info about setting SDK in small IDEs.

[2015-03-02 09:53] zolotov commented on #1398
@dvshapkin

WebStorm also doesn't contain JavaScript Project but it doesn't mean that JavaScript plugin doesn't work.
Well, I'm still not sure that it's needed so I won't implement it. But feel free to contribute this.

[2015-03-02 09:55] TheDistractor commented on #1398
@zolotov hmm, just rechecked, seems my 164 did not apply in WS, still 134!, Community all fine though. Will retry update in WS again.

[2015-03-02 09:58] kokizzu opened #1400 "Variable declared within switch-case should be inaccessible outside switch-case"
[code]

[2015-03-02 10:00] zolotov commented on #1398
@TheDistractor 1.0.0 branch still doesn't support autoupdate so you have to install new releases manually

[2015-03-02 10:07] dlsniper commented on #1400
This looks like a duplicate of #1269, see this comment : https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1269#issuecomment-75043641

[2015-03-02 10:14] TheDistractor commented on #1398
@zolotov my bad, seems I may not have correctly installed 164 in WS, only in IntelliJ. Just reinstalled 164 in WS 9.0.3 now, SDK setting works fine, however I got a:

The SAME project opens "without" this message in IntelliJ. Both compile and run file.

[2015-03-02 10:38] dlsniper commented on #1398
@theDistractor that happens because you've opened the same project in IDEA and WebStorm. I think you can safely ignore it as well

[2015-03-02 10:58] TheDistractor commented on #1398
@dlsniper

Yep - seems no adverse affect, and switched between some pretty large multi-module projects in last 20mins.

BIG high five for the plugin team !
over and out.

[2015-03-02 11:01] brenthub opened #1401 "[1.0]tip error when struct has same method name"
![20150302185646](https://cloud.githubusercontent.com/assets/10822807/6439495/2cf071d4-c10e-11e4-906d-17f765724471.png)

the last method will cover the front method when struct has same method name

[2015-03-02 11:12] dlsniper commented on #1401
Hi, can you please send a small reproducible, copy-pasteable sample that reproduces the error? Thank you

[2015-03-02 11:12] ElvizLai commented on #1242
@zolotov I downloaded #164, and modify GOPATH in Languages & Frameworks->Go Libraries->Project libs .
It works well without src, when I added the `src` and run, it shows:

[code]

The err msg is clear, and user know what's wrong.

[2015-03-02 11:19] juanibiapina commented on #771
@olostan  I also have a project with multiple modules. How do you even start working with it?

[2015-03-02 11:29] juanibiapina opened #1402 "Compile simple go project using GAE sdk"
Intellij 14.0.3
OSX Yosemite
JDK 1.8

Setup:
  - Do not set GOPATH or GOROOT
  - Create a new project and add a `main.go` file that prints "hello world".

What works:
  - Set up a go sdk using go from homebrew (usually in /usr/local/Cellar/go/1.4/libexec)
  - Compile and try to run `main.go`

What doesn't work:
  - Set up a go sdk using `go1.2.1 (appengine-1.9.17)`
  - Run `main.go`

Error: cannot

[2015-03-02 11:38] zolotov commented on #1242
@ElvizLai ok, thanks for feedback, I'll look at this

[2015-03-02 12:52] dlsniper commented on #1402
Closing this as a duplicate of #1387

[2015-03-02 12:52] #1402 closed

[2015-03-02 13:19] dlsniper commented on #1398
As a reference, if someone wants to implement this, I think [this](https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/src/ro/redeul/google/go/template/GoApplicationGenerator.java) and the commits in master branch can be used as a reference (unless @zolotov says it's not good enough).

[2015-03-02 13:51] juanibiapina commented on #1402
I don't see anything related to this bug on #1387. Or do you mean you plan to resolve this bug and others when you rewrite appengine support?

[2015-03-02 14:38] dlsniper opened #1403 "[1.0] Builtin function(s) not available for autocomplete"
In the following sample, the ```println``` function is not offered to auto-completion (see the attached screnshot).

[code]

![snapshot13](https://cloud.githubusercontent.com/assets/607868/6442720/25662768-c0f2-11e4-801f-006f1668d2a8.png)

Thank you.

[2015-03-02 14:47] dlsniper commented on #1402
The bug you reported is that there's no way to run the AppEngine app, which is exactly what is described in the mentioned ticket. Just because it errors faster / in a different point, it doesn't mean it will work if this is fixed.

As you can see from the previous discussions, as well as milestone target, this might make it or not in the initial release as this is not considered a priority or a cr

[2015-03-02 15:06] juanibiapina commented on #1402
This is not an appengine app, and I'm not trying to run the server, only trying to use the appengine sdk to compile a hello world go project. I believe this should be fixed as a first step to get appengine working, since it is probably something simple.

I have already started working on the plugin development, but given my inexperience, I don't yet how to debug failures.

[2015-03-02 15:54] dlsniper commented on #1402
Here's what happens when I'm trying to run a go app with the Go AppEngine SDK:

[code]

[2015-03-02 15:56] dlsniper commented on #1402
Unless either @zolotov or @ignatov override me on this one, I'd say running normal Go apps with an AppEngine is really not a priority as there's the straight forward method of just running Go apps with the Go SDK.

[2015-03-02 16:01] juanibiapina commented on #1402
Awesome. So that's an appengine problem. I failed to notice this.

[2015-03-02 21:58] jondunning opened #1406 "Cant seem to get debugging working"
Hi,

I followed various instructions online but to no avail. The debug button doesn't seem to trigger anything?

Im running IntelliJ 14 CE with the newest build of go-lang-idea-plugin.

Any advice would be grateful.

Thanks,

Jon

[2015-03-02 22:11] dlsniper commented on #1406
At the moment that part of the plugin is not working as intended and there are not many efforts done to make it work. The reason is that gdb doesn't work well with cgo and gccgo support is untested (by me at least), aside from the fact that gccgo is usually behind the cgo version by 1-2 releases at least.

You can follow: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1252 for wh

[2015-03-02 22:13] dlsniper commented on #1406
I'll leave this open to @zolotov in case there's something I'm missing.

[2015-03-03 00:11] ivannp opened #1407 "Couldn't get it working on Windows"
Windows 8.1 (64 bit)
JDK 1.8.0_31
IntelliJ 14.0.3, Community
go 1.4.2 (tried both 64 and 32 bit)

What a waste of time. A clean install of everything. Whenever I try to add a "Go SDK" to the project or to the global settings and point it to my go folder, nothing gets added.

[2015-03-03 00:22] dlsniper commented on #1407
Unfortunately I don't have a Windows machine available to investigate this. I'm sorry things didn't worked out for you but saying things like "What a waste of time" is really not helpful (not to mention a turn off).

Please feel free to contribute with a fix to the plugin, we, and the community would greatly appreciate it.

[2015-03-03 00:29] dlsniper commented on #1407
Also, you haven't reported which plugin version you are using so I'm going to assume it's 0.9.x, which means that you can try to use the latest release from here: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/releases which should fix the issue you are describing.

[2015-03-03 02:05] jakecoffman commented on #1407
I develop on windows and everything works okay for me, but I build the plugin from source. @ivannp if you can tell me what version of the plugin you used I can try to reproduce.

[2015-03-03 02:36] kokizzu opened #1408 "Invalid hint on HTML sources when Go package has the same name as JavaScript function"
problem: Go hint shown on HTML instead of JavaScript's

how to reproduce:
1. create a go package named `A`
2. create a JavaScript function named `A`
3. call `A` function on JavaScript, the hint shown as Go instead of JavaScript

hover on `A` in the JavaScript part of HTML source file, then hold `Ctrl`
![image](https://cloud.githubusercontent.com/assets/1061610/6455576/70eaa79a-c188-11e4-8859-7b5c0

[2015-03-03 03:06] aaronjwood commented on #1407
I ran into this as well with mostly same specs as the OP. I found that when I tried to add the SDK and got nothing there was an internal IDE crash that was handled. This was the 0.9.15.3 version from the repo browser in the IDE. Switching to the 0.9.16 version from the github releases solved all of these issues for me.

[2015-03-03 03:10] aaronjwood commented on #1407
Here's what gets logged in the Event Log:

```10:08:18 PM IllegalArgumentException: Argument for @NotNull parameter 'virtualFile' of com/intellij/openapi/projectRoots/impl/ProjectRootContainerImpl.addRoot must not be null```

Here's the stack trace:

[code]

[2015-03-03 05:02] brenthub commented on #1401
import (
    "github.com/codegangsta/martini"
)

func Start(){

    var m *martini.ClassicMartini = martini.Classic()

    m.Get("/",func() string{ //this code can run
        return "Hello,world!"
    })

    m.RunOnAddr(":3001")
}

[2015-03-03 07:34] zolotov commented on #1408
I didn't undestand anything. Could you give a whole code sample with function definitions and with imports that you're using? What are you expectations about behaviour of IDE?
Also, if you're building plugin from git, specify revision number, tomorrow it might not be `latest git`

[2015-03-03 07:38] kokizzu commented on #1408
1. create a `A.go` in a folder named `A` (`A` package):
[code]
2. create a javascript file, with any name, for example:`global.js`, but has a function named `A`
[code]
3. create a html file, with any name, and call `A()` function within javascript
[code]

[2015-03-03 07:40] zolotov commented on #1408
ok, thanks, I'll check it

[2015-03-03 09:47] dlsniper commented on #1407
@aaronjwood that is a known issue. Please switch to the latest 1.0.0 releases and that error won't happen again.
I'll close the issue for now.

[2015-03-03 09:47] #1407 closed

[2015-03-03 09:54] dlsniper commented on #1408
A bit of an off-topic topic and possibly not even related with the issue, can you please send a screenshot of your Go SDK ```File | Settings | SDK ````.  I suspect that things are not setup properly there as I don't recall having a function A() in the Go SDK.

[2015-03-03 09:58] kokizzu commented on #1408
Project Structure > Platform Settings > SDK?

![image](https://cloud.githubusercontent.com/assets/1061610/6460043/79d8bab6-c1c6-11e4-932a-3e1777fc0bfd.png)

[2015-03-03 10:00] kokizzu commented on #1408
or this one?

Settings > Go Libraries?
![image](https://cloud.githubusercontent.com/assets/1061610/6460068/b64b2f60-c1c6-11e4-8213-651ef432511c.png)
(2 listbox below that screenshot are empty)

[2015-03-03 10:11] kostonstyle opened #1409 "Better recover until switch statement is needed"
The ide complain missing return value, even though I return it.
![capture](https://cloud.githubusercontent.com/assets/701611/6460254/e5e7b6c0-c195-11e4-98cd-8e62ef386aee.PNG)
As you can see on the picture, three return statement.

Thanks

[2015-03-03 10:20] dlsniper commented on #1408
Sorry for my confusion, I wasn't near my computer when I've wrote it. However, both are useful. As I suspected, you have a malformed setup. Please make the following changes:
- in the Go SDK from ```File|Project structure|SDKs|Go 1.4.1``` leave only the ```/usr/lib/go``` paths (remove anything extra from ```Classpath``` and ```Sourcepath```)
- in ```File|Settings|Languages & Frameworks|Go Librarie

[2015-03-03 10:25] kokizzu commented on #1408
error shown on the editor `Cannot resolve directory somethingThatInMyGOPATH`

[2015-03-03 10:28] dlsniper commented on #1408
@kokizzu lets take this on [Gitter](https://gitter.im/go-lang-plugin-org/go-lang-idea-plugin) as it's off-topic but it looks like there's a problem with your setup or with the plugin. And if it's with the plugin, I'd rather not fix it like this, with workarounds but with something that all users can benefit from. Thanks.

[2015-03-03 10:36] dlsniper commented on #1409
I've tried to reproduce this with the following code and I couldn't:

[code]

Can you please share a code that reproduces the issue?
Also, please share a bit more details, like which version of the plugin are you using (and if you compile it, what's the commit hash).

Thank you.

[2015-03-03 14:43] go-lang-idea-plugin-autoreport opened #1410 "[auto-generated] Crash in plugin"
The code parser keep old scopes in checked although the code that it was complaning was fixed already. This happen for code inspection sand also for grammar errors.

Plugin Name: Go language (golang.org) support plugin
Plugin Version: 0.9.16-dev-0.9.16-alpha.9
OS Name: Linux
Java version: 1.7.0_75
Java vm vendor: Oracle Corporation
App Name: IDEA
App Full Name: IntelliJ IDEA
App Version name: Inte

[2015-03-03 14:43] #1410 closed

[2015-03-03 14:43] dlsniper commented on #1410
If someone sees this, please use the latest release from Github releases (from 1.0.0 branch). Thank you.

[2015-03-03 15:05] kostonstyle commented on #1409
Here we go
[code]
![1](https://cloud.githubusercontent.com/assets/701611/6465081/00e386e2-c1bf-11e4-924d-9216f41ab517.png)
![2](https://cloud.githubusercontent.com/assets/701611/6465082/028b7f68-c1bf-11e4-85d8-6acace198040.PNG)

[2015-03-03 15:10] kostonstyle commented on #1409
I've forgot the case statement.

[2015-03-03 15:10] dlsniper commented on #1409
@kostonstyle I've just noticed, does your code compile? You are missing the ```case``` keywords from the cases.

[2015-03-03 15:40] natrim opened #1411 "[1.0] don't add GO_PATH in non-go project"
Hello i use this plugin v1.0#164 aplha with PhpStorm
and the plugins adds GO_PATH external library even for non-go projects

[2015-03-03 16:12] dlsniper commented on #1411
Hi @natrim. Can you please detail a bit more what's happening. Unfortunately I don't understand from the description what's going wrong with the plugin. Thank you.

[2015-03-03 16:22] zolotov commented on #1411
There is no difference between go-project and non-go projects in small IDEs.
Why does the library bother you?

[2015-03-03 16:24] zolotov commented on #1409
@ignatov better recover until switch statement is needed

[2015-03-04 02:40] brenthub commented on #1401
the same with [too many arguments in call to... #1369]
already fixed，thank you!

[2015-03-04 02:40] #1401 closed

[2015-03-04 03:58] kokizzu opened #1412 "Incorrect autocomplete insertion"
Example:
![image](https://cloud.githubusercontent.com/assets/1061610/6478037/3e0fac6e-c25d-11e4-98a1-938b50b64cf8.png)
after pressing enter (or clicking the first one):
![image](https://cloud.githubusercontent.com/assets/1061610/6478040/48f5b10a-c25d-11e4-845c-b77bddd95e27.png)
it should be: `W.Context` instead of `W.W.Context`

IDEA version: 14.0.3
plugin version: f0a0b123bcbf7e2326cd48e5c404f834

[2015-03-04 06:44] dlsniper commented on #1412
I'm closing this as we currently don't have a type inference system (thay I know of) and this doesn't bring anything new to it (also copy-pasting code from screenshots it's known to be a bit tricky)

[2015-03-04 07:21] natrim commented on #1411
It'z just a something i find ugly, to have go libs in PHP projects .)
it'z something i can live with though, it'z just that it would be nice to not be it like this

[2015-03-04 10:11] zolotov commented on #1412
It's not about type inference system, it's about calculating prefix for completion

[2015-03-04 13:55] jtseatwave opened #1413 "1.0.0.alpha#164 Cannot Run Go Application configuration"
*** I removed the full paths from screenshots and output below ***
I am unable to run the go application.  I can run ```go build``` from the project directory and it creates a go executable.  However I get the below output from the run command.  It appears that the plugin is only building the main source file and not the whole directory

![screen shot 2015-03-04 at 13 52 26](https://cloud.githubus

[2015-03-04 14:00] dlsniper commented on #1413
Please select the full path to the file not the relative path.

[2015-03-04 14:23] jtseatwave commented on #1413
I just removed the full path to hide the project name.

[2015-03-04 14:26] zolotov commented on #1413
What happens if you run `go build run_imports.go` in console?

[2015-03-04 14:29] jtseatwave commented on #1413
[code]

[2015-03-04 14:33] zolotov commented on #1413
And what if you run `go build -i run_imports`?

[2015-03-04 14:42] jtseatwave commented on #1413
same output

[2015-03-04 14:47] zolotov commented on #1413
Ok, thank you. And the last one: `go build -n`. Just want to know what exactly go build does if there are no any parameter.

[2015-03-04 14:50] jtseatwave commented on #1413
[code]

[2015-03-04 14:53] zolotov commented on #1413
Ok, thank you. Will try to figure out how to implement building on packages

[2015-03-04 15:00] jtseatwave commented on #1413
Thank you

[2015-03-05 00:23] niwaywood commented on #1398
I experienced the same thing. I installed 164 and I thought the plugin wasnt working because `Go Project` wasnt in the `new project` wizard. If I didnt find this issue I would have given up thinking the plugin is broken.

It is especially confusing because the setup instructions here https://github.com/go-lang-plugin-org/go-lang-idea-plugin/wiki/v1.0.0-Setup-initial-project says this:
- create a n

[2015-03-05 09:26] ccustine commented on #1413
@zolotov Just a couple of things to point out here that will surely come up 5 seconds after you release application run configuration :-)  The somewhat popular technique/hack for getting multiple executables from a single project will be a bit challenging, but I think there will be high demand.
<pre>
myapp/
  main.go
  - commands/
      - cmd1/
          main.go
      - cmd2/
          main.go
</p

[2015-03-05 22:23] dlsniper commented on #1340
I've opened https://youtrack.jetbrains.com/issue/IDEA-137327 and I'll see if I can send a PR with the first part of the change to remove the ipr stuff from the UI.

Is there a way I could do the PR to make it in time for IDEA 14.1? Thank you.

[2015-03-05 22:23] carmandrew opened #1415 "One line if statements don't parse correctly"
http://play.golang.org/p/uNy-BwWHeq is valid, but the plugin gives these two errors:
![json-to-struct_go_-__s0__-_s0_-____code_s0_](https://cloud.githubusercontent.com/assets/630721/6515889/af909552-c342-11e4-8cab-6e9a8828ba33.png)
![json-to-struct_go_-__s0__-_s0_-____code_s0_](https://cloud.githubusercontent.com/assets/630721/6515904/cf0d2bde-c342-11e4-9ce9-0485a37536ec.png)

On version 1.0.0.alp

[2015-03-05 22:28] dlsniper commented on #1415
@zolotov could this be a duplicate of : https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1362 . or #1362 have the same cause of this one?

[2015-03-05 22:30] zolotov commented on #1415
@dlsniper I think so

[2015-03-05 23:43] dlsniper opened #1416 "Should the Go plugin be used when compiling IDEA from IDEA?"
Hi,

I'm having the following issue:
- I'm using java 8 as default on my system (linux)
- I have java 6 installed for compiling and running IDEA from IDEA(139.1117)
- I have the go plugin which I'm compiling with java 8 installed in the IDE

Compiling IDEA using ant works fine from command line. However, I've noticed that if I try and compile IDEA from IDEA, I get the following error:

[code]

I u

[2015-03-06 00:15] zolotov commented on #1416
Yup, compiling task uses all defined serializer extensions.

[2015-03-06 00:15] #1416 closed

[2015-03-06 00:18] dlsniper commented on #1416
Got it, thanks!

On Fri, Mar 6, 2015 at 1:15 AM Alexander Zolotov <notifications@github.com>
wrote:

[2015-03-06 08:03] chashnikov commented on #1340
IDEA 14.1 is currently in stabilization phase and will be released in a few weeks so I don't think that this change should be pushed to it.

[2015-03-07 01:52] dashaus opened #1417 "Marks variables as unused when it is using"
[code]

[2015-03-07 14:06] Mingan opened #1418 "go-lang-idea-plugin takes over Run context configuration"
After I installed the plugin the function `Run context configuration` in Idea no longer works correctly. I can run go program just fine but when I switch to a completely separate Ruby project and try to use the `Run context configuration` option on Rspec folder it fails with: `Error running All in 'module-name': Sdk is not set or Sdk home path is empty for module`.

It's not a Go project, uninstal

[2015-03-07 15:04] zolotov commented on #1411
Since now any project without go-sdk are treated as non-go project

[2015-03-07 15:04] #1411 closed

[2015-03-07 15:10] zolotov commented on #1417
Well, it's unused actually

[code]

[2015-03-07 15:10] #1417 closed

[2015-03-07 15:15] #1418 closed

[2015-03-07 15:15] zolotov commented on #1418
Fixed, thanks for report

[2015-03-07 15:17] Mingan commented on #1418
That was fast! Thanks!

[2015-03-07 15:38] #1412 closed

[2015-03-07 15:43] zolotov commented on #1408
Cannot recreate. I'll reopen it if you give me working steps for reproducing.

[2015-03-07 15:43] #1408 closed

[2015-03-07 16:04] zolotov commented on #1403
@ignatov why? `com/goide/psi/impl/GoReference.java:121`

[2015-03-07 16:26] dashaus commented on #1417
Oh... of course... My bad!

[2015-03-07 23:23] olegdunkan opened #1419 "Plugin doesn't recognize GoSDK"
IDE: Intelij IDE 14.0.3
OS: Windows 8.1
Golang version: 1.4
GOROOT: D:\Go
GOPATH: not important

Installed folder structure:

D:\Go\pkg\windows_amd64\... (packages)
D:\Go\src\... (package sources)
D:\Go\bin\

For GoSDK folder I select D:\Go but it doesn't work
I have tried
D:\Go\pkg\windows_amd64\
D:\Go\pkg\
D:\Go\src

but no one isn't eaten by plugin I think your plugin is not hungry, what's wron

[2015-03-07 23:25] dlsniper commented on #1419
What version of the plugin are you using? if it's 0.9.16 or earlier please use the latest version from the github releases section. If not please reopen this issue. Thank you.

[2015-03-08 09:07] olegdunkan commented on #1419
I used 0.9.164 version

[2015-03-08 10:08] #477 closed

[2015-03-08 11:53] dlsniper opened #1420 "Usage of package XYZ without selector"
The third parameter to ```fmt.Printf()``` should be flagged with an error saying: "Usage of package time without selector"

[code]

[2015-03-08 11:57] dlsniper opened #1421 "[1.0] Variables that shadow imported package names should be flagged as such"
The example below will fail with the following errors:

[code]

The reason is that on like 9 we shadow the package definition by creating a variable with the same name as an imported package. The IDE should at least have a weak warning about this as now it properly flags the ```Now()``` function as being unavailable on ```time```.

[code]

[2015-03-08 12:17] dlsniper opened #1422 "Show const values in tooltips"
It should be nice to display a cost value in the tooltip, besides the ```const``` value that we have right now.

![snapshot17](https://cloud.githubusercontent.com/assets/607868/6545710/6dc1c556-c595-11e4-9170-14fd71fe13b5.png)

[2015-03-08 14:46] zolotov commented on #1242
I still can't reproduce this. But I have couple questions about your configuration.

1. Output contains `/Users/ElvizLai/IdeaProjects/YunTu/src/src/controllers`. And screenshot with Go Libraries configurable don't. So where did you define this path?
2. Did you try to unvoke `go run` in terminal? It's `go run /Users/ElvizLai/IdeaProjects/Test/src/main/main.go` according to screenshots. What's the o

[2015-03-08 15:26] zolotov commented on #1305
Sorry for long answer. Please specify plugin version and show the whole error message

[2015-03-08 15:34] pftbest commented on #1305
IntelliJ IDEA version 14.0.3, plugin version 0.9.15.3, go version 1.4.2
also tried compiling go from source and a binary distribution, but nothing helped
[code]

[2015-03-08 15:36] zolotov commented on #1305
Please try the 1.0.0-alpha version, you can find it at [Releases page](https://github.com/go-lang-plugin-org/go-lang-idea-plugin/releases)

[2015-03-08 15:45] pftbest commented on #1305
1.0.0.alpha#164 works for me, thanks!

[2015-03-08 15:46] #1305 closed

[2015-03-08 17:51] kokizzu commented on #1408
when you tried, it gives you correct autocomplete?

[2015-03-08 18:36] zolotov commented on #1408
Yes. It's just impossible that JS symbols is appeared in completion/resolving in go. Unless you're using some other third-party plugin that does it.

[2015-03-08 18:37] kokizzu commented on #1408
no, it's the opposite, Go's symbols appeared on JS's completion..

[2015-03-08 18:44] zolotov commented on #1408
The same. You can attach the project when I can recreate it.

[2015-03-08 20:00] zolotov commented on #1266
@notzippy since the project is part of GOPATH I've just added it to Go Libraries and everything works fine now. Does it work for you?

[2015-03-08 20:04] nikolaykuz opened #1423 "Argument for @NotNull parameter 'virtualFile' of com/intellij/openapi/projectRoots/impl/ProjectRootContainerImpl.addRoot must not be null"
I use IntellJ IDEA 14.0.3 and got following error then trying to add Go SDK in Project -> Project Structure

[code]

[2015-03-08 20:06] dlsniper commented on #1423
Please read the readme before opening issues. Also search for issues like this. Also use the latest release from Github releases. Thank you.

[2015-03-08 20:06] #1423 closed

[2015-03-08 20:17] notzippy commented on #1266
If you do that, then Ctrl+click a type the ide thinks the code is outside
the project scope

On Sun, Mar 8, 2015, 1:00 PM Alexander Zolotov <notifications@github.com>
wrote:

[2015-03-08 20:18] zolotov commented on #1266
What does it mean?

[2015-03-09 03:22] ElvizLai commented on #1242
@zolotov
 1、Screenshot and Output looks different because they are not the same project. I configure it in `GOPATH in Languages & Frameworks->Go Libraries->Project libs`.

2、`go run /Users/ElvizLai/IdeaProjects/Test/src/main/main.go` can not be run on terminal, because my Computer's GO PATH is `/Users/ElvizLai/GoWorkSpace`. It's not my IDEA workspace.

[2015-03-09 07:44] natrim commented on #1411
![fluttershy_yay100](https://cloud.githubusercontent.com/assets/488136/6551414/71625038-c638-11e4-8cbc-8a5e827a8639.png)
yay!

[2015-03-09 09:20] zolotov commented on #1242
Could you make all screenshots and output of the same project please? At the moment all screenshots are placed in different comments and have different paths on it.
Or even better, attach sample project that I can use to recreate the issue.

[2015-03-09 11:59] olegdunkan commented on #1419
I have checked logs and that's what I saw
a bunch of error like a -

2015-03-09 14:38:46,803 [  39212]  ERROR - aemon.impl.PassExecutorService - IntelliJ IDEA 14.0.3  Build #IU-139.1117.1
2015-03-09 14:38:46,804 [  39213]  ERROR - aemon.impl.PassExecutorService - JDK: 1.8.0_25
2015-03-09 14:38:46,804 [  39213]  ERROR - aemon.impl.PassExecutorService - VM: Java HotSpot(TM) Server VM
2015-03-09 14:3

[2015-03-09 12:00] zolotov commented on #1419
From release description:
[code]

[2015-03-09 12:00] zolotov commented on #1419
And from README:
[code]

[2015-03-09 12:32] olegdunkan commented on #1419
Oooo mama mia, it is works. If i see something zipped my first intention is to extract it and then apply.
Sometimes habits do wrong things) Maybe it is possible to make some checks against this happen while installing plugin?
Thanks a lot!

[2015-03-09 12:32] #1419 closed

[2015-03-09 12:34] zolotov commented on #1419
It's too hard to do it and it won't be needed after we'll publish the plugin in jetbrains repository.

[2015-03-09 12:56] olegdunkan commented on #1419
Yes, I agree with you, your are right! Спасибо Саша!

[2015-03-09 16:57] notzippy commented on #1266
I am not sure I understand your original post, if I symlink the project source to the GOPATH the project will resolve imports but the file locations will be messed up and the plugin thinks that the imported file is different then the file in the source folder. IMHO the source folders inside the IDE should be internally added to the gopath so that the ide may be able to resolve imports.

[2015-03-09 22:09] dlsniper commented on #1266
@notzippy can you drop me a line on [Gitter](https://gitter.im/go-lang-plugin-org/go-lang-idea-plugin) either on the public room or in private so that I can better understand the problem you have and help Alexander solve it? Thank you.

[2015-03-09 22:44] zolotov commented on #1266
@notzippy I'm not saying about symlinking anything to GOPATH, just add you project root to Settings | Go Libraries.

It shouldn't, there are other different approaches of project organising that don't require this.

[2015-03-10 02:10] proudlily commented on #1418
ｉ　see the Go.164.zip,whether put it in idea plugins?and then it will be ok?

[2015-03-10 08:27] zolotov commented on #1418
@proudlily Settings | Plugins | Install plugin form disk

[2015-03-10 10:49] proudlily commented on #1418
whether i choose intellij-go.jar to idea install ?i have tried,but it said Plugin Go is incompatible with current installation.beside my idea is 14.0.1 .

[2015-03-10 10:58] zolotov commented on #1418
@proudlily from release's description

[code]

[code]

[2015-03-10 12:27] go-lang-idea-plugin-autoreport opened #1425 "[auto-generated] Crash in plugin"
Was trying to use gdb64.exe from liteide on Windows 8.1 ;)

Plugin Name: Go language (golang.org) support plugin
Plugin Version: 0.9.16-dev-0.9.16-alpha.9
OS Name: Windows 8
Java version: 1.8.0_25
Java vm vendor: Oracle Corporation
App Name: IDEA
App Full Name: IntelliJ IDEA
App Version name: IntelliJ IDEA
Is EAP: false
App Build: IU-139.1117
App Version: 14.0.3
Last Action: CheckForUpdate

[code]

[2015-03-10 14:21] #1425 closed

[2015-03-10 18:02] dlsniper commented on #1234
Fixed in latest release

[2015-03-10 18:02] #1234 closed

[2015-03-11 10:04] ajres opened #1426 "1.0.0.alpha#176 "Import project from external model" no longer shows "Go""
With plugin version 0.9.16-alpha.9, when importing a project I get a "Go" option  when "Import project from external model" is selected.

With plugin version 1.0.0.alpha#176, I no longer get this option.

[2015-03-11 10:04] dlsniper commented on #1426
Just import the project from existing sources and things should work.

[2015-03-11 10:04] #1426 closed

[2015-03-11 11:47] dlsniper opened #1427 "create folders for structs, type / var / const groups"
it would be nice if I could fold those when I want to quickly search for something in a file that has 500 lines of nested structs defined like this:

[code]

[2015-03-11 12:08] dlsniper opened #1428 "Find by symbol name doesn't work when prefixing symbol with receiver name"
In the following example, searching for ```Method``` works but searching for ```a.Method``` doesn't.

[code]

[2015-03-11 18:00] dmitry-vovk opened #1429 "Cannot create new Go file with dashes in the name"
*Steps to reproduce:*
* Right click in Project view pane and select New > Go File
* Enter name with dashes, e.g. "test-test" and click OK
* Observe error message ```'test-test' is not a valid Go file name```

*Expected result:*
* File with dashes in its name is created

*Actual result:*
* Error message is shown and OK button is disabled

I can create new Go file with underscores and then rename it

[2015-03-12 06:03] sclasen commented on #1162
fwiw this worked in 0.9 and is among the most valuable features (to me personally at least) of the plugin.

[2015-03-12 06:20] coocood opened #1430 "Autocompelete do not show shorthand declared local variable in outter scope"
IDEA version: 14.0.3
JAVA SDK version: 1.6
Go plugin version: 1.0.0.alpha#176
Go SDK version 1.4

    func main() {
        abc := 0
        def := 1
        {
            de// here we should has auto compeletion
        }
    }

[2015-03-12 11:08] JoeBruner commented on #1162
You know, I thought I was going crazy.   I swore that init'ing structs used to autocomplete fields but it hasn't for a bit.  I thought it was because the plugin was being buggy (sometimes it takes sooo long for the plugin to catch up to my typing that it seems like it's not working when it really is).  This definitely is a very useful feature.

[2015-03-12 16:03] lewgun commented on #1305
os:  os x 10.10
go sdk: go version devel +1c86edd196bd Fri Jan 03 10:41:56 2014 +1100 darwin/amd64
intellij idea: Intellij IDEA Community Edition: 14.0.3
plugin:  164  or 176

problem: can't set sdk with no error.

plugin: 0.9.15.3 is OK

[2015-03-12 16:09] zolotov commented on #1305
@lewgun that's interesting, I'll check it out. Could you file a separate issue please, it would be more convenient for me to handle it? Thank you.

[2015-03-12 19:01] ajaysharma2007 opened #1431 "Switching between apps cause cursor to move from currently typing location"
Hi,
   Switching between apps cause cursor to move from currently typing location.

   For  exmaple:
    type:
var (

	)

    Switch app and come back.

    var ()

[2015-03-12 19:23] dlsniper commented on #1431
@ajaysharma2007 can you please read the readme and report more in the issue, like idea version, plugin version and so on? Until then I'll close the issue as it doesn't have enough details to even try to reproduce. Thank you.

[2015-03-12 19:23] #1431 closed

[2015-03-12 19:49] ajaysharma2007 commented on #1431
HI,
   Please find env details below:
    IDEA version: 14.0.3
   JAVA SDK version: 1.8
   Go plugin version: 0.9.16-dev
   Go SDK version 1.4.2

![before_switching](https://cloud.githubusercontent.com/assets/4421186/6626685/032b13c2-c8b6-11e4-8ca8-74952f32da3f.png)
![after_switching](https://cloud.githubusercontent.com/assets/4421186/6626687/05e19640-c8b6-11e4-857d-6cea7df744a5.png)

[2015-03-12 20:03] zolotov commented on #1431
@dlsniper btw this is one of the reason why I don't like the idea of invoking go fmt on save :)

[2015-03-12 21:35] dlsniper commented on #1431
I'll ping you on Gitter tomorrow, sorry for the on-off availability

[2015-03-12 21:51] zolotov commented on #1431
It's ok, as you see I also don't make plugin regularly

[2015-03-12 22:26] notzippy commented on #1266
@dlsniper Sorry was away, am back again if you want to discuss

[2015-03-12 22:34] zolotov commented on #1429
@ignatov do you remember why you made validator?

[2015-03-12 23:19] ajaysharma2007 commented on #1431
@dlsniper @zolotov can you guys please open this again so that it's not lost. Thanks in advance.

[2015-03-13 00:08] dlsniper commented on #1431
@ajaysharma2007 there's no real problem as far as I can tell, the plugin works as intended.
In the plugin configuration you'd see there's an option to run gofmt on save, selecting do nothing would prevent gofmt to work.
Regardless, please upgrade to the latest version as there we don't have the option to run gofmt / goimports on save yet

[2015-03-13 02:01] lewgun opened #1432 "Go SDK setting doesn't recognizes OS X Go installations"
os: os x 10.10
go sdk: go version devel +1c86edd196bd Fri Jan 03 10:41:56 2014 +1100 darwin/amd64
intellij idea: Intellij IDEA Community Edition: 14.0.3
plugin: 164 or 176
problem: After installing go-lang-idea-plugin it is not possible to select the Go SDK using the Project Structure setting. When clicking on New ... then select the  Go SDK location by me but after clicking okay, nothing is selec

[2015-03-13 02:02] lewgun commented on #1305
@zolotov  done  #1432

[2015-03-13 02:33] dlsniper commented on #1432
Can you please paste what you have in the "src/runtime/zversion.go"? Thank you

[2015-03-13 04:18] ignatov commented on #1429
Not really.

Sergey Ignatov

On 13 March 2015 at 01:34, Alexander Zolotov <notifications@github.com>
wrote:

[2015-03-13 04:58] kokizzu opened #1433 "Prioritize nearest package on autocomplete"
I think it would be better to prioritize the project's module or the nearest package when package autocomplete shown:

![image](https://cloud.githubusercontent.com/assets/1061610/6633217/b1c378a4-c977-11e4-8165-f33a4dc8bb44.png)

(since the project name is `PUKIS`, that name should be the top most)

Just like this `package.Type` autocomplete:
![image](https://cloud.githubusercontent.com/assets/106

[2015-03-13 06:21] #1403 closed

[2015-03-13 09:58] kokizzu commented on #1215
+1 https://stackoverflow.com/questions/29029258/setting-specific-macro-only-run-for-certain-file-extension-on-intellij

[2015-03-13 10:14] zolotov commented on #1432
@lewgun are you trying to use go sources as an SDK without building them? The plugin expects that go already built and zversion.go file already created (see https://github.com/golang/go/blob/master/src/cmd/dist/ for details)

[2015-03-13 11:06] #1429 closed

[2015-03-13 12:27] lewgun commented on #1432
@zolotov, i had builded it, but there is no zversion.go, maybe it's too old, i will update and build it again,

[2015-03-13 12:29] lewgun commented on #1432
@dlsniper @zolotov with go 1.4.2 that's work thx

[2015-03-13 12:29] #1432 closed

[2015-03-13 20:45] olegdunkan opened #1434 "Check for unused variables"
Try this and you will see warning  "Check for unused variables" for "ptr"
but all is ok, Go successfully compiles this.

type Some struct {
    field int
}

func main () {
    ptr := &Some{1}
    _ = (*ptr).field
}

[2015-03-13 21:16] linniksa commented on #1434
in this code ptr var really unused

[2015-03-13 21:18] mtoader commented on #1434
It is referred in the assignment `_ = (*ptr).field` which means it is used by go compiler definition.

[2015-03-13 21:20] ignatov commented on #1099
Please check out a fix for more effective memory consuming: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/commit/42af60a6e8d0d8822ba9b919de8fd835716ca200

[2015-03-13 21:31] linniksa commented on #1434
yes and no, because code behaviour is not changed if i remove main body.
but for the intended behavior for unused vars inspection that code should be marked as a warning, not an error

[2015-03-13 21:38] dlsniper commented on #1434
Go compiler will throw errors and won't compile the code if there are variables that are declared and initialized but not used to read from so I think the detection should be made better not the error level reduced.

[2015-03-13 21:52] mtoader commented on #1434
Maybe two types of analysis might be in order ?

1st level would be matching the compiler behavior, mostly because if it can't be compiled it will not run.

2nd level would be: opportunities for improvement by detecting no-op usages (as this one appears to be, etc)

1st one is relatively mechanical and straight forward to do and it should be done. The second one has the potential to be more compli

[2015-03-14 08:44] kalopsia opened #1435 "Again: unresolved reference to methods of external packages and GOPATH as external library"
I don't understand what happens, but after updating to the latest version of plugin I faced with the same problems like in previous versions:

Here we see that methods of custom types don't resolve
![screenshot from 2015-03-14 11 36 15](https://cloud.githubusercontent.com/assets/6209197/6650954/85dc8754-ca3e-11e4-9383-0884af705f0f.png)

Every time I add new project, IDEA automatically add GOPATH d

[2015-03-14 08:47] dlsniper commented on #1435
What do you have in ```Settings | Languages & Frameworks | Go Libraries ```?

[2015-03-14 08:51] kalopsia commented on #1435
![screenshot from 2015-03-14 11 50 27](https://cloud.githubusercontent.com/assets/6209197/6650993/5fe643bc-ca40-11e4-9d13-c4eeb8b446b4.png)

[2015-03-14 08:57] dlsniper commented on #1435
So the plugin detects the GOPATH setting in your environment and adds it automatically to the libraries section in order to mimic the environment you are on.
If you don't want it added to your project, I guess you should remove it from the ```Global Libraries``` section and add it per project in the ```Project Libraries``` section.
Does this work?

Also, what's the output of ```go env``` from comm

[2015-03-14 09:17] zolotov commented on #1435
What's the problem? I didn't get it.

@kalopsia please provide as small as possible code samples (in text) that will allow us to recreate the problem, we can't guess resolving problems basing on screenshot, it's more like divination

[2015-03-14 09:18] kalopsia commented on #1435
just a mininute

[2015-03-14 09:50] denisov opened #1436 "Poor colors in the Default color scheme"
Hello!

I am using default light color scheme. And it looks poor compared to the Darcula dark scheme. Function names and types are not highlighted (see screenshot below). I know, I can tune it myself, but it would be great to have good color scheme out of box.

Thanks

IDEA version: 14.0.3
OS version: Ubuntu 14.04
JDK version: 1.7.0_76
plugin version: 1.0.0.alpha#176

![idea-golang-color-schemes](

[2015-03-14 10:15] kalopsia commented on #1435
@dlsniper What the reason to add it into each project? As all we know IDEA like to indexing indexing and indexing everything and everytime we start|restart project.

I tried to remove it from settings, but the "-" (delete button) is disabled:
![screenshot from 2015-03-14 13 10 08](https://cloud.githubusercontent.com/assets/6209197/6651272/faf2e72e-ca4b-11e4-8e53-8ea003f3c5b2.png)

`go env`:
[code]

[2015-03-14 10:18] kalopsia commented on #1435
I've tried to reinstall IDEA, deleting any preference from home directory but it doesn't work)

[2015-03-14 10:39] zolotov commented on #1435
In order to resolve symbols to sources from GOPATH and provide completion from there, it's not discussable.

No, it's not. If you're experiencing endless indexing or full reindexing on each project opening it means that something wrong with it, tell me the libraries that you have in GOPATH and I'll try to recreate the problem. Also logs would be useful (Help | Show log)

It means that this path is

[2015-03-14 10:40] zolotov commented on #1435
I still don't see the problem that you're trying to report. I see unresolved symbols problem but you didn't provide anything to reproduce it. About external library I didn't get the problem at all.

[2015-03-14 10:56] kalopsia commented on #1435
I found out the problem. The problem was in I every time delete GOPATH from `External Libraries` in `Project structure...` dialog. So I do it because in previous version everything works without adding GOPATH as external library and indexing of GOPATH hanged IDEA (as you can see in the screen below here is huge `node_modules` folder).

![screenshot from 2015-03-14 13 41 58](https://cloud.githubuse

[2015-03-14 11:09] kalopsia commented on #1435
Why IDEA create `[project-name].iml` file? Can I get rid of it?

[2015-03-14 11:50] #1435 closed

[2015-03-14 11:51] zolotov commented on #1435
It doesn't matter why did you remove library, it's just weird decision to remove something that IDE prepared for you.

It doesn't matter how big folder is, as I said before if IDEA hangs then it's bug and it'd be nice if you provide information about content of gopath/node_modules to reproduce it.

I didn't get what exactly was solved and I don't know what're you going to solve by removing node_mo

[2015-03-14 12:17] kalopsia commented on #1435
@zolotov Слушай, ты русский и это видно. Почему `node_modules` внутри проекта и внутри `GOPATH`? Посмотри https://github.com/google/web-starter-kit, `node_modules` нужен для `gulp`a, у меня такая же структура как WSK, только внутри папки `app` есть go файлы и папка `app` как рут проекта. Помоему логично все это добро держать внутри одного пректа и не плодить кучу папок в разных местах. Если ты пол

[2015-03-14 15:20] zolotov commented on #1435
@kalopsia моя национальность не повод для фамильярности. Тем не менее, я и так знаю для чего нужен node_modules, мой вопрос был в том, почему директория попала в $GOPATH/src, в чём задумка? На web-starter-kit посмотрел, какое отношение это имеет к go не понял.
В любом случае node_modules индексируется не go-плагином, а JavaScript плагином, если очень волнует скорость индексациий, то советую снять

[2015-03-14 21:37] dashaus opened #1437 "Autocomplete not shows the methods of a struct from another file as argument of a function"
[code]

[code]

[2015-03-15 07:35] #1434 closed

[2015-03-15 07:37] ignatov commented on #1434
Please create another issue about more intelligent checks for unreachable code.

[2015-03-15 07:40] ignatov commented on #1437
Are those files placed in the same directory?

[2015-03-15 07:44] ignatov commented on #1436
We use some predefined styles that are provided for all languages by default. So it's platform specific issue. Also, as for my opinion it's definitely not a good idea to use very bright colour scheme by default.

[2015-03-15 08:09] #1430 closed

[2015-03-15 08:10] ignatov commented on #1428
Are you talking about `go to symbol` action?

[2015-03-15 09:24] linniksa commented on #1437
this happens if directory (/m on you screenshot) marked as project library

[2015-03-15 09:30] linniksa opened #1438 "Autogenerate function callback by parameter type"
It would be cool to code like:
[code]
expands as:
[code]

[2015-03-15 13:01] razorness commented on #1407
Would be great if you could mention this problem and fix in README. :)
Took me hours to find this issue thread.

[2015-03-15 13:10] dlsniper commented on #1407
@razorness you can submit a PR and we'll gladly merge it. Also, as the name says, 1.0.0 is alpha so... :)

[2015-03-15 13:12] dlsniper commented on #1428
I'm thinking of ``` Navigate | Symbol ``` menu action

[2015-03-15 16:14] kalopsia commented on #1435
Прикольное слово) Ок не будем разводить неясные диалоги, я тебя услышал, благодарю за помощь и ответы.

[2015-03-15 20:56] ignatov commented on #1362
Fixed in 2d88e525042e874045f08145593fb4633ccd53b1

[2015-03-15 20:56] #1362 closed

[2015-03-15 20:56] #1415 closed

[2015-03-16 07:59] ignatov commented on #1375
Any news?

[2015-03-16 10:02] zolotov commented on #1437
So, /m is inside project but marked as a project library?

[2015-03-16 10:06] linniksa commented on #1437
yes... "/m" is just example for @ignatov screenshot

[2015-03-16 10:20] zolotov commented on #1437
I don't know whether it's related to the issue but no one directory inside project should be marked as library. Please enable debug logging for `GoModuleLibrariesInitializer` (add `#com.goide.project.GoModuleLibrariesInitializer` in Help | Configure Debug Log Settings...), restart IDE and attach logs.

[2015-03-16 10:24] linniksa commented on #1437
I did it by my self, because i use per-project GOPATH:
![default](https://cloud.githubusercontent.com/assets/424343/6664326/bafcc820-cbdf-11e4-9833-9e8543c7cf47.png)

[2015-03-16 11:06] zolotov commented on #1437
I understand that, but there is a code that prevents marking directories in project as libraries and it seems it failed, so I need log to understand why it happened.

[2015-03-16 13:04] linniksa commented on #1437
http://pastebin.com/i66YNptj

[2015-03-16 14:51] DonBranson opened #1439 "Add SDK fails with internal error and no details"
OS: Ubuntu 14.10
JDK: java version "1.7.0_71"
Intellij: 14.0.3

I cloned the repo into $HOME/apps/go, did `git checkout go1.4.2`, and ran all.bash. The hello world program runs correctly. My .profile includes:

export GOROOT=$HOME/apps/go
export GOPATH=$HOME/projects/go
export PATH="$GOROOT/bin:$GOPATH/bin:$PATH"

This step:

* Add a new Google Go SDK by clicking the plus sign an choosing the appr

[2015-03-16 14:58] DonBranson commented on #1439
My thought is that I may have missed something on the install which leads to this failure. As far as bugs are concerned, though, the popup should show the details offered, and that would probably show me what I need to fix.

[2015-03-16 15:01] DonBranson commented on #1439
More info. This stack trace is dumped where I ran idea.sh:

[  37749]  ERROR - llij.ide.plugins.PluginManager - Argument for @NotNull parameter 'virtualFile' of com/intellij/openapi/projectRoots/impl/ProjectRootContainerImpl.addRoot must not be null
java.lang.IllegalArgumentException: Argument for @NotNull parameter 'virtualFile' of com/intellij/openapi/projectRoots/impl/ProjectRootContainerImpl.a

[2015-03-16 15:16] DonBranson commented on #1439
The fix to the underlying problem is to clone and build the plugin from github, because the released version does not support go 1.4. Will there be a release cut soon that supports that?

I'd still like some info in the details error popup, though, to help figure out these issues.

[2015-03-16 15:57] eddgrant commented on #1439
Exactly the same issue here with the following:

OS: Ubuntu 14.04
JDK: java version "1.7.0_67"
Intellij: 14.0.3

[2015-03-16 16:23] dlsniper commented on #1439
Please use the search function of github, there's at least a half dozen issue with this error. In all of them you'll be sent to download the latest version of the plugin from the releases section https://github.com/go-lang-plugin-org/go-lang-idea-plugin/releases. It's not published yet because we are not there yet in terms of quality. For more info, read the existing closed issue. Thank you

[2015-03-16 16:23] #1439 closed

[2015-03-16 18:01] DonBranson commented on #1439
I searched on this issue and found nothing. Because why? Because THE ERROR BOX DOES NOT SHOW THE ERROR! Fix that.

[2015-03-16 18:03] DonBranson commented on #1439
@dlsniper The error is not the bug - the lack of a searchable error in the error display is the bug.

[2015-03-16 18:06] dlsniper commented on #1439
Before you go all caps lock: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues?q=is%3Aissue+Argument+for+%40NotNull+parameter+%27virtualFile%27+of+

Also, all the errors in IDEA have a stack trace, like the one above, selecting part of it and searching for it. The fact that you've pasted it here tells me you've seen it :)

IntelliJ Platform doesn't integrate with Github in a manner

[2015-03-16 18:10] DonBranson commented on #1439
:) Sorry about the caps lock. https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues?q=is%3Aissue+Argument+for+%40NotNull+parameter+%27virtualFile%27+of+ is not related to the bug I'm reporting. Thanks, though.

[2015-03-16 18:20] dlsniper commented on #1439
That's the way how IntelliJ platform reports errors that we, the plugin authors, don't catch. It's how it works, you didn't provided the plugin version nor a screenshot or anything to help seeing the issue you are describing. After that, there's the stack trace from the exception saying "Argument @NotNull".. which, upon a search, reveals a dozen matches of closed issues.

Also, the error that IDEA

[2015-03-16 19:49] dashaus opened #1440 "Autocomplete shows json as a shortcut `json=""` inside the functions"
[code]

[2015-03-16 20:06] dashaus commented on #1437
The error happens only when the project is inside of $GOPATH root.

[2015-03-16 23:58] zolotov commented on #1437
Can't recreate. According to logs `Z:/go/apps/upay/src` is not marked as library, could you attach screenshot of Project View panel with expanded `External libraries` node?

My test project works fine with described configuration:

https://www.dropbox.com/s/ko52ijpb8pmnxhv/Screenshot%202015-03-17%2000.57.54.png?dl=0
https://www.dropbox.com/s/28esxhrx75e906x/Screenshot%202015-03-17%2000.58.00.png?d

[2015-03-17 03:28] dashaus commented on #1437
![preferences](https://cloud.githubusercontent.com/assets/1870208/6680880/4dd97920-cc55-11e4-980e-a38f51d13c1f.png)

The project must be in the $GOPATH path. If the project is not in the $GOPATH path it works well.

[2015-03-17 03:29] dashaus commented on #1437
@zolov try to put your externalGo project inside of /Users/zolotov/tmp/gopath/src and you should see the error

[2015-03-17 06:21] aubble opened #1441 "Cannot even install properly..."
The one from the current repo in intellij won't use my go installation? It just won't?

The one here that I can download just says internal error when trying to create a new project lol.

I tried the latest dev build and my intellij wouldn't even start...

Mac latest stable osx yosmite along with the latest stable intellij

[2015-03-17 06:56] aubble commented on #1441
fixed it, simply changed my JRE version in the info.plist file of intellij to use 1.8 instead of 1.6 and its blazing awesome!

I don't know how to compile for 1.6 yet.

[2015-03-17 07:52] zolotov commented on #1441
The content of internal error would be useful

[2015-03-17 08:03] zolotov commented on #1437
I've reproduced it, thanks

[2015-03-17 09:43] dlsniper commented on #1441
@aubble which branch did you compile? Also, have you tried just downloading the latest release from the Releases section of the repository? That one is compiled against Java 1.6.

[2015-03-17 10:16] #1437 closed

[2015-03-17 14:09] #1356 closed

[2015-03-17 14:27] dlsniper opened #1442 "Cross file completion when packages are *_test"
Hi,

I've came across this bug in the following situation:

github.com/dlsniper/project/pack1/pack1.go
[code]

github.com/dlsniper/project/pack2/pack2_test.go
[code]

In this example, ```pack1_test```from ```pack1_test.Demo``` is flagged as unresolved reference.
The go code compiles however.

[2015-03-17 14:28] dlsniper commented on #1442
I've forgot to add that if I change the code to the thing below, it works:

github.com/dlsniper/project/pack1/pack1.go
[code]

github.com/dlsniper/project/pack2/pack2_test.go
[code]

```pack1.Demo``` is resolved properly now.

[2015-03-17 14:49] dlsniper commented on #1442
And another two things:
- I'm not sure this applies only to *_test packages / files
- plugin version is: a28598998e1cc20491cbf675dfebc3aa09d42463

[2015-03-17 16:20] dlsniper opened #1443 "autocomplete for field json tag is inserting more that it should"
I'm using: a28598998e1cc20491cbf675dfebc3aa09d42463 on IDEA 141.104.1

If i have the following example

[code]
and I receive the `json:""` then the result is:
[code]

I haven't seen when the commit for this happened so I'm not sure if it's related to the plugin or not but I don't recall seeing this until now happening.

[2015-03-17 16:40] zolotov commented on #1443
duplicate #1440

[2015-03-17 16:40] #1443 closed

[2015-03-17 16:40] zolotov commented on #1443
And it's not completion, it's live template

[2015-03-17 16:41] dlsniper commented on #1443
it was bound to happen that I open a duplicate ticket :D Thanks for update

[2015-03-17 17:01] dlsniper commented on #1441
I'll close this one as the user refers to 0.9.15.3 and there's a dozen of threads on how to deal with it. Also the compilation problem with Java is properly documented in the readmes

[2015-03-17 17:01] #1441 closed

[2015-03-17 18:28] dlsniper opened #1444 "Use of package XYZ without selector"
The following code should give an error:

github.com/dlsniper/project/package1/package1.go
[code]

github.com/dlsniper/project/main.go
[code]

[2015-03-17 21:08] aubble opened #1445 "Add using JDK 1.6 to build plugin in the build read me for OS X"
It currently has outdated instructions. First, it asks you for idea and then the JDK, and you have to make sure the JDK is 1.6, least on mac because it runs on only JDK 1.6 and using 1.8 to compile leads to a startup crash. Perhaps I've overlooked but I didn't see this information anywhere.

You can change to 1.8, its like 4 times faster but it has bugs, eats battery and looks ugly.

[2015-03-17 21:10] dlsniper commented on #1445
Hi, the mention for JDK 6 is already in the docs: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/v1.0.0-alpha0/CONTRIBUTING.md#important-macos-x-users-note

[2015-03-17 21:11] #1445 closed

[2015-03-17 21:46] #1394 closed

[2015-03-17 22:25] dmitry-vovk opened #1446 "Unresolved reference error"
Given the working code:
[code]
Line with comment shows "Unresolved reference 'MyVal'" error.

IDEA IU-141.104.1
Plugin 0.9.176

[2015-03-17 22:43] dlsniper commented on #1446
I can confirm it on commit e48e0e5073c4001d70ceed633d2d68623af219a5 (and I hope I assign it to the right person :D)

[2015-03-18 01:36] jbuberel opened #1447 "On Windows, the Go SDK directory is not properly detected"
- I downloaded and installed IntelliJ Community Edition, v14.0.3 on Windows8.1.
- Following the online instrucitons, opend Settings -> Plugins -> Browse Repositories
- I then filtered the list for 'golang' and proceeded to install v0.9.15.3
- I then restarted IntelliJ to activate the feature.
- Once restarted, I started a new project. I selected Go as the project type
- Clicked "next" on the "Addi

[2015-03-18 01:37] dlsniper commented on #1447
Please download and install the latest version of the plugin from the Github releases section of this repository. Thank you.

[2015-03-18 01:37] #1447 closed

[2015-03-18 01:52] jbuberel commented on #1447
That works much better! Playing with it now.

[2015-03-18 02:24] jbuberel opened #1448 "Import of an existing go project does not configure gopath correctly"
- I selected File -> Import Project...
- I selected the top level directory of an existing go project:

c:\users\jason\downloads\workspace

- The top level directory for the project contain a src folder with this structure:

src\github.com\jbuberel\gometrics\

- The \gometrics\ directory contain a gometrics.go file (package main).
- When I open that file, I see broken import refrerences:

![image

[2015-03-18 02:27] dlsniper commented on #1448
What do you have configured under ```Settings | Languages & Frameworks | Go Libraries```?

[2015-03-18 02:29] jbuberel commented on #1448
Just the default values - never manually added any paths:

![image 1](https://cloud.githubusercontent.com/assets/1711364/6701575/d96a69d2-ccdb-11e4-8bf3-62a4f47f4b95.png)

[2015-03-18 02:31] jbuberel commented on #1448
Is the expected behavior that the project folder containing the 'src' folder should be automatically included in the GOPATH information?

That's what I would have hoped for.

[2015-03-18 02:38] dlsniper commented on #1448
What values do you have in your GOPATH? The plugin adds ```c:\users\jason_000\go\src``` as far as I can tell, but you expect that things in ```c:\users\jason\downloads\workspace``` to be included as well.
Also, am I correct to assume that the project compiles from the command line without issues?
I might be wrong, but you can try to add ```c:\users\jason_downloads\workspace\``` to the ```Go Librar

[2015-03-18 02:44] jbuberel commented on #1448
Well, in this case, I was creating a project from existing sources, found in `C:\Users\jason_000\Downloads\workspace`.

That results in the .idea project folder gets created in that directory: `C:\Users\jason_000\Downloads\workspace\.idea`

So my expectation was that the plugin would add `C:\Users\jason_000\Downloads\workspace\` to the GOPATH automatically at the time of project creation.

[2015-03-18 02:47] jbuberel commented on #1448
Even after changing the project strucutre to indicate that 'src' is a 'source code folder', the errors are still displayed:

![image 3](https://cloud.githubusercontent.com/assets/1711364/6701761/678f3d4e-ccde-11e4-8ff2-3ce4fcd1ce34.png)

[2015-03-18 02:50] dlsniper commented on #1448
Can you please confirm that adding the workspace dir to the Project Libraries doesn't help?

[2015-03-18 02:53] jbuberel commented on #1448
Manually adding `C:\Users\jason_000\Downloads\workspace\` to the Project Libraries fixes import and refernces error.

However, when I run build project, I see errors in the log view:

![image 4](https://cloud.githubusercontent.com/assets/1711364/6701821/3bda7618-ccdf-11e4-878b-2d9bb4071064.png)

[2015-03-18 02:54] dlsniper commented on #1448
Cool, thanks. I'll leave this for Alexander then :-)

On Wed, Mar 18, 2015, 03:53 Jason Buberel <notifications@github.com> wrote:

[2015-03-18 03:11] alecswan commented on #1288
I am experiencing the same problem with the same system configuration and alpha#176 version of the plugin. Both issues #1209 and #1210 have been closed, but the problem persists. Are there any plans for fixing this?

[2015-03-18 07:38] zolotov commented on #1288
@alecswan what exactly does persist? Both issues are actually fixed.

[2015-03-18 07:45] zolotov commented on #1448
Yes, it is proper solution. Since you want this directory in GOPATH you have to add it to Go Libraries. Automatically adding project into Go Libraries is very questionable, existing of src-directory doesn't mean anything.

It's not very informative. What's the error message? What's the run configuration that you've run? What're the source files that were trying to compile?
Also build log also cont

[2015-03-18 11:37] #1446 closed

[2015-03-18 12:02] dmitry-vovk opened #1449 "Unresolved type with func named new"
Given the code
[code]
Have an issue with function named "new". Looks like it is resolved as operator ```new```, not as valid local function.

IDEA IU-141.104.1
Plugin 0.9.201 (and earlier)

[2015-03-18 12:11] dlsniper commented on #1449
I think this one happens because ```new``` is also part of the language. I'll open an issue to flag this kind of overrides as a weak warning.

[2015-03-18 12:13] dlsniper opened #1450 "Flag overriding builtin functions"
Taking the code from #1449 ```new``` should be flagged with a weak warning about overriding the ```new``` function from the language.

[code]

[2015-03-18 12:25] coocood opened #1451 "False positive inspection for "range" statement."
plugin version: 1.0.0.alpha#201
Go version: 1.4.2

    func TestRange(t *testing.T) {
        s := "abc"
        for _ = range s { // here we get "assignment count mismatch" report
            t.Log("abc")
        }
    }

[2015-03-18 15:00] alecswan commented on #1288
I am getting the following error when compiling my Go project in IntelliJ:
[code]

The root of my Go project is in $GOPATH. The structure of the project is as follows:
go
  - src
    - pkg1
      - common
        - common.go
      - implementations
        - impl.go

My system configuration:
* OSX 10.9.5
* IntelliJ IDEA 14.0.3
* go-lang-idea-plugin 1.0.0.alpha#176 (installed as an entire ZIP)
* go

[2015-03-18 15:04] khoahv opened #1452 "Intellij IDEA can't add Go SDK"
- IDEA version: IC-139.1117
- OS version: Ubuntu 14.04.2 LTS
- JDK version: java version "1.8.0_40"

I follow instructions [here](https://github.com/go-lang-plugin-org/go-lang-idea-plugin#how-to-use-it) but still can't add Go SDK. It throws an exception:
Argument for @NotNull parameter 'virtualFile' of com/intellij/openapi/projectRoots/impl/ProjectRootContainerImpl.addRoot must not be null
java.la

[2015-03-18 15:05] dlsniper commented on #1452
Duplicate of many issues, please use the search function

[2015-03-18 15:05] #1452 closed

[2015-03-18 15:26] zolotov commented on #1288
So is it presented in File | Settings | Languages & Frameworks | Go Libraries? If not then just add it there.

[2015-03-18 15:36] alecswan commented on #1288
In File | Other Settings | Default Settings | Languages & Frameworks | Go Libraries I already had the following entry: [GOPATH] /Users/alebedev/Documents/dev/playground/go/src. The entry is greyed out and I am unable to delete it. Note that it has /src at the end. My $GOPATH env variable is pointing to the directory containing /src. However, as I said, I am unable to delete this greyed out entry.

[2015-03-18 15:46] khoahv commented on #1452
OK I got it

[2015-03-18 15:50] armhold opened #1453 ""Make Project" doesn't actually compile/verify code"
Build Menu -> Make Project (or CMD+F9 on Mac) *seems* to compile/verify your code, as it briefly prints "Make..." in the IDEA window gutter. However in reality it does not seem to actually run the compiler.

To reproduce: create a simple go file with an error:

[code]

Build Menu -> Make Project produces no errors. "go build" from the command line will complain.

* Intellij 14.0.3
* Java 1.6.0_65

[2015-03-18 15:51] dlsniper commented on #1453
Plugin version plx?

[2015-03-18 15:54] armhold commented on #1453
I did leave out the most important bit of information, didn't I?  :-)

Sorry, it's 0.9.164.

[2015-03-18 16:00] dlsniper commented on #1453
Can you please try with the latest release? I think there were some
improvements for running stuff frlm IDEA but I can remember for sure.

Thank you.

On Wed, Mar 18, 2015, 16:54 George Armhold <notifications@github.com> wrote:

[2015-03-18 16:06] armhold commented on #1453
The IDEA repo only seems to have 0.9.15.3 from 2014-01-09. Where can I get the latest plugin?

[2015-03-18 16:07] zolotov commented on #1453
Indeed it doesn't run the compiler. What do you think it should run (I mean what exactly go command)?

[2015-03-18 16:09] zolotov commented on #1288
Other idea: since you have appropriate GOPATH variable in env try to run go build from command line.

[2015-03-18 16:13] armhold commented on #1453
I would expect it to run "go build", and if there is any error output it should show up as errors in the Intellij build results window. Then the line #s with errors would be clickable for easy fixing. This is the normal way of handling builds in Intellij.

However I'm new to Go (about 1 week so far), so perhaps someone wiser than I am has a better idea than "go build"? Thanks for your attention.

[2015-03-18 16:23] zolotov commented on #1453
On which file?

[2015-03-18 16:30] armhold commented on #1453
"Make Project" is for building the entire project, so I would expect it to run "go build" without arguments, in the root of the project dir, thereby building all packages in the current project.

[2015-03-18 16:34] armhold commented on #1453
... and is there a more recent version of the plugin than  0.9.164? If so, where can I get it? Do I really need to build the entire Intellij Community Edition just to compile the plugin, as the docs suggest?  Thanks.

[2015-03-18 16:37] dlsniper commented on #1453
https://github.com/go-lang-plugin-org/go-lang-idea-plugin/releases

[2015-03-18 16:43] zolotov commented on #1453
If project root doesn't contain any package (e.g. https://github.com/limetext/lime) it fails. If project root contains several main files – if fails. If project root is the whole GOPATH – it fails. It seems that it's not a universal approach.

Yes, you can find it on [releases page](https://github.com/go-lang-plugin-org/go-lang-idea-plugin/releases)

Not necessary, we upload new plugin builds ever

[2015-03-18 16:46] zolotov commented on #1453
And if you want to compile plugin manually then it''s not required too. Only plugin will be compiled, your IDEA will be used as an SDK so you don't need IntelliJ CE source at all.

[2015-03-18 17:30] alecswan commented on #1288
Here is the trace from building Go files from $GOPATH:
[code]

[2015-03-18 19:03] zolotov commented on #1288
IDEA doesn't run `go build` in such way. What the whole `go build` command that you use for compiling and what the command line that IDEA runs?

[2015-03-18 19:06] armhold commented on #1453
Thanks. I would suggest making that more prominent on the [main page](https://github.com/go-lang-plugin-org/go-lang-idea-plugin#how-to-use-it).

[2015-03-18 19:09] zolotov commented on #1453
We'll make but later.
About `make project`. If someone think of a way to do it for any type of go project I'll be glad to implement it. Until then closing the issue.

[2015-03-18 19:09] #1453 closed

[2015-03-18 19:16] armhold commented on #1453
Perhaps the term "project root" is incorrect. I am **not** referring to all of GOPATH/**. I am referring only to the "content roots" in the IDEA project. For example, I have my project configured like this:

![go-plugin](https://cloud.githubusercontent.com/assets/528692/6717175/1ddb3588-cd81-11e4-8331-2af4635922ba.png)

There is `pinwheel`, `pinwheel.static`, `pinwheel.dao`, and `pinwheel.geo` sub

[2015-03-18 19:19] linniksa opened #1454 "Autocomplete show functions from _test.go files"
[code]

[code]

[2015-03-18 19:20] armhold commented on #1453
OK, I see, if there is no .go file in the toplevel, then it fails. Best I can suggest is to run it in all subdirs with at least one .go file.

[2015-03-18 19:35] zolotov commented on #1453
It also might fail if couple packages are depending on each other :) Also `go build` could produce different results depending on compiling packages, main files, target arch and so on, IDE has no this information while making project.

"content roots" doesn't mean anything for go. Because many users have very different project layout and because different IDEs (RubyMine, IDEA, WebStorm) have diffe

[2015-03-18 19:36] dlsniper commented on #1454
I can't replicate it on my machine / setup.
Can you please provide more details on how to replicate it? What's the plugin build ID, how are your Go libraries configured and what's the path for the files you mentioned.
Also, does the problem happen if you have ```packge foo_test``?

[2015-03-18 19:58] alecswan commented on #1288
I don't know how to tell which command IntelliJ is running. However, when I run ```go build``` in $GOPATH I get the same error as in IntelliJ ```can't load package: package .: no buildable Go source files in /Users/alebedev/Documents/dev/playground/go```.

[2015-03-18 20:06] zolotov commented on #1288
It is shown in the very first line of output.

I see. Then just change working directory in run configuration

[2015-03-18 20:21] alecswan commented on #1288
I pasted both lines from IntelliJ output:
[code]

[2015-03-18 20:26] zolotov commented on #1288
What does it mean? What exactly are you doing inside IDE?

[2015-03-18 20:37] alecswan commented on #1288
Build | Rebuild Project

[2015-03-18 20:41] zolotov commented on #1288
Build | Rebuild Project is disabled for go (see #1453 for details). Are you sure about 1.0.0.alpha#176 version? Could you attach logs (Help | Show Log).

[2015-03-18 20:44] linniksa commented on #1454
I put whole test project to dropbox:
https://www.dropbox.com/sh/yov3bkj3ripmynf/AAAgQXTx5bgBTWwo2G6wXI3ja?dl=0
plugin version 2a2abd070ffa95dfe11465bae70232036cfc5389

I not understand this part

Small collage:
![default](https://cloud.githubusercontent.com/assets/424343/6718954/87ed447e-cdc8-11e4-9422-37e14fa4b110.png)

[2015-03-18 22:45] alecswan commented on #1288
I was able to create a Run Configuration for my test class and run it. I guess I expected Build | Rebuild Project to work. I uninstalled Go plugin, restarted IntelliJ and installed it using the ZIP file again. Yet, still I am getting the same error during project rebuild.

I see the following message in idea.log related to the Go plugin:
```2015-03-18 16:44:08,075 [  27618]   INFO - t.GoModuleLibr

[2015-03-18 23:10] dlsniper opened #1455 "What does the "signature_owner" comes from?"
Hi,

I've noticed that the plugin displays some interesting tooltips along vars, fields, funcs and other types.
I'm wondering where does this come from and what's the purpose for it? Is it only good for debugging or it should be something in the final version as well? I haven't noticed a similar functionality in the Java editor, at least as far as I've used it.

![snapshot20](https://cloud.githubu

[2015-03-18 23:13] niwaywood opened #1456 "1.0.0.alpha#201 Fails to build from Run/Debug Configurations"
I have a project with two files in `package main`.

![image](https://cloud.githubusercontent.com/assets/3773641/6721278/d2a92d8c-ce1f-11e4-9367-2b07476bcc4e.png)

When I try to build the application using the Run/Debug Configurations it fails because it can't 'see' the handler functions from `handlers.go` (`func main()` is in `wiki.go`).

![image](https://cloud.githubusercontent.com/assets/3773641

[2015-03-18 23:18] dlsniper commented on #1456
Can you also provide what configuration you have for ``` File | Settings | Languages & Frameworks | Go Libraries ``` and where's your go sdk (goroot)? also, if you execute from the command like the same command, ``` /usr/local/go/bin/go build -o output_file_path /Users/nick/.../wiki.go``` what does it happen? Also which Run option have you used to run the command?

[2015-03-18 23:29] niwaywood commented on #1456
Here is my configuration for `Go Libraries`:

![image](https://cloud.githubusercontent.com/assets/3773641/6721499/d22a9128-ce21-11e4-8966-f958f29e8f1e.png)

The first path in the above image is my `GOPATH` and the second is `GOROOT`.

I get the same output when I execute `/usr/local/go/bin/go build -o output_file_path /Users/nick/.../wiki.go` from command line.

I don't know exactly what you mean

[2015-03-18 23:34] dlsniper commented on #1456
I see two problems:
- you should remove GOROOT from Go Libraries, that's not needed and it shouldn't be there (there's no such guidance in the readme page afaik, please read the readmes when you try alpha versions ;) )
- if go build outputs the same problem, then the problem is not in the plugin, it's somewhere else.

What do you get if you run ``` go env ```?

[2015-03-18 23:41] niwaywood commented on #1456
Ok

- I just removed GOROOT from Go Libraries as you suggested, I think I put it in there out of desperation once when I was trying to get something to work. Sorry about that.
- I probably should note that the problem only started happening once I refactored the application into 2 files, WebStorm built the application successfully when all of `package main` was in `wiki.go`
- Here is my output fro

[2015-03-18 23:51] zolotov commented on #1288
Glad to hear.

As you can see in #1453 discussion it's a big question what Rebuild Project should do in terms of `go build`

Please attach full log

[2015-03-18 23:51] #1455 closed

[2015-03-18 23:52] dlsniper commented on #1456
I'd recommend reading the following links:
- https://golang.org/doc/code.html
- http://blog.golang.org/organizing-go-code

Also I'd highly recommend moving the second file contents to its own package as it makes things easier to maintain and more in line with the Go expectations.

Still, if you want to keep multiple files for the same main package, you need to specify them to the go tool such as `

[2015-03-19 00:04] zolotov commented on #1456
@dlsniper thanks, I'll leave it open for a while as a test case of building

@niwaywood since `go install` works for you could you show me the output of `go install -x` please? Just to known what go build does in your case.

[2015-03-19 00:09] niwaywood commented on #1456
Thanks for the feedback, I have already read the two links you mentioned and I would argue that having multiple files in `package main` goes against Go expectations. The way I see it is that application specific code should refactored into files and non-application specific code should be refactored into libraries. This may come down to personal preference but I just had a look at some open source

[2015-03-19 00:19] niwaywood commented on #1456
@dlsniper you said

"Still, if you want to keep multiple files for the same main package, you need to specify them to the go tool such as `go run handlers.go wiki.go` where as `go run wiki.go` won't run"

I understand that, but (correct me if I'm wrong) you can't specify extra run parameters like that from the Run/Debug Configurations. Meaning that there is still no way to do this with the plugin/

[2015-03-19 14:20] dmitry-vovk opened #1457 "Assignment count mismatch in range"
In the code:
[code]
Line ```for range...``` reports error "Assignment count mismatch: 0 = 1".

IDEA IU-141.104.1
Plugin 0.9.201

[2015-03-19 14:27] dlsniper commented on #1457
Not sure if it's a duplicate ofhttps://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1451 or not

[2015-03-19 16:29] dlsniper opened #1459 "Folding for anonymous functions"
There should be a folder for anonymous functions as sometimes things could get quiet big in the code.

[2015-03-19 20:20] dmitry-vovk opened #1460 "Feature request: add support for go:generate comments"
As for Go 1.4, there is ```go generate support``` in line comments. Example:
[code]
As in [Generating code](http://blog.golang.org/generate) blog article.

Please add support for this feature:
* syntax highlighting
* command to run go generators

[2015-03-19 20:23] dlsniper commented on #1460
Hi, what exactly do you expect from the syntax highlighting part? Aside from ```//go:generate```, there's nothing else that's standard about it.

I could see how running ```go generate``` before the build / run step could be useful.

[2015-03-19 20:25] dmitry-vovk commented on #1460
It would be nice to have go:generate colored differently, to easily spot among plain line comments.

[2015-03-19 20:36] dlsniper commented on #1460
Btw, running ```go generate``` is possible right now. You need to edit your run configuration and add a new ```Go command``` to the ```Before launch section```.

That should do the trick (I haven't tested it as I don't use this part of the plugin at all)

![snapshot21](https://cloud.githubusercontent.com/assets/607868/6740415/e28f7b38-ce7f-11e4-92ff-ba5bc4e3a9fb.png)

[2015-03-19 20:45] dmitry-vovk commented on #1460
Yes, I use that. But it would be nice to have "Go generate" command beside "Go fmt" and "goimports" commands in Code menu. Sometimes I want to inspect generated files, and switching between IDE and console is not very productive.

[2015-03-19 21:02] dlsniper commented on #1460
If you want that, then I can suggest to try and implement something like the menu option for ```go fmt``` for the whole project.
It should be straightforward if you use https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/v1.0.0-alpha0/src/com/goide/actions/fmt/GoFmtProjectAction.java as a blueprint for it.

[2015-03-19 22:17] dlsniper opened #1461 "Redeclared package import inspection"
the following should produce an error:

[code]

[code]

[2015-03-20 17:34] notzippy commented on #1266
Closing issue, was all my fault - I was adding my paths to Project structure - when I should have been adding them to the Settings->Languages & Frameworks -> Go Libraries (frack).

Sorry for the time waste...

[2015-03-20 17:34] #1266 closed

[2015-03-20 17:50] ignatov commented on #1389
Obsolete

[2015-03-20 17:50] #1389 closed

[2015-03-20 17:52] zolotov commented on #1266
Thanks for update

[2015-03-20 17:53] ignatov commented on #1296
Are you still suffer from this?

[2015-03-20 17:54] dlsniper commented on #1296
I can't tell for sure at the moment as I've switched laptops to an older model and some things are slower by default. I'll close it for now.

[2015-03-20 17:54] #1296 closed

[2015-03-20 17:57] #1375 closed

[2015-03-20 18:32] #1221 closed

[2015-03-20 18:59] dashaus opened #1462 "In middle of a comment text, if I press Enter should creates a new comment line but it doesn't do."
[code]

[2015-03-20 19:03] #1222 closed

[2015-03-20 19:23] dlsniper opened #1463 "Can't resolve exported struct field from different package from exported var"
Hi,

Using 43e38a2982ad138f4ba189e957cc54e784725767 I can't use exported fields from structs anymore, this was working in c275c80bc1ec93236b8df47f37310519c853ceb7

To reproduce:

$GOPATH/src/demo/pack/pack.go
[code]

$GOPATH/src/demo/main.go
[code]

[2015-03-20 19:28] ctd1500 commented on #1462
How will the editor know that it is the middle of a comment text, and that you don't simply want to move on to writing code on the next line?
Isn't this what block comments are for?
[code]

Though it seems block comments are not auto-completed for Go when typing `/*` and pressing enter, so unless I'm missing a setting, maybe that should be fixed.

[2015-03-20 19:31] zolotov commented on #1462
@ctd1500 it's common feature for IntelliJ IDEs. See how it works in JavaScript: http://screencast.com/t/beW2iNtj