[2015-03-20 19:33] zolotov commented on #1462
If the comment is placed just before function declaration it's unlikely that you simply want make empty line.

[2015-03-20 19:34] zolotov commented on #1462
Sorry for the third message in a row.

It's not implemented yet. I believe I'll implement it all together: line and block comments.

[2015-03-20 19:35] dlsniper commented on #1462
Also, I'd argue that the multi-line doc block isn't used by the go team, by the number of comments like this: https://github.com/golang/go/blob/master/src/time/time.go#L12

[2015-03-20 19:53] ctd1500 commented on #1462
That I can understand. And now that I see how it's implemented in Webstorm, it only continues the comment if you split an existing comment line, not simply by hitting enter at the end, which makes sense to me.

Fair enough, thanks for the explanation.

[2015-03-20 20:37] ignatov commented on #1463
Can't reproduce.
https://www.dropbox.com/s/h3d0iunfkowxhz5/Screenshot%202015-03-20%2023.37.21.png?dl=0

Sergey Ignatov

On 20 March 2015 at 22:23, Florin Patan <notifications@github.com> wrote:

[2015-03-20 20:50] dlsniper commented on #1463
I should stick to my examples in code when I post them online... Here's mine:

![snapshot22](https://cloud.githubusercontent.com/assets/607868/6760606/a864241a-cf4a-11e4-9c87-b4d22a8d4c58.png)

I'll try to find a better example soon

[2015-03-20 21:04] dlsniper opened #1464 "Parser issue with for syntax"
Please see this (it's present in the go1.4.2 sdk as well, not just latest devel)

https://github.com/golang/go/blob/master/src/runtime/race/race_test.go#L167

This might be related to another "for" issue but I can't find that one right now.
Using 43e38a2982ad138f4ba189e957cc54e784725767

[2015-03-20 21:08] dlsniper opened #1465 "Parser issue"
https://github.com/golang/go/blob/master/src/runtime/map_test.go#L335
Bug exists with go1.4.2 SDK as well.
Using 43e38a2982ad138f4ba189e957cc54e784725767

[2015-03-20 21:11] dlsniper commented on #1464
This is as well related to "for" parsing: https://github.com/golang/go/blob/master/src/runtime/proc_test.go#L117
Should I open a different ticket for it?

[2015-03-20 21:16] ignatov commented on #1463
Please share your sample

Sergey Ignatov

On 20 March 2015 at 23:50, Florin Patan <notifications@github.com> wrote:

[2015-03-20 21:16] ignatov commented on #1464
Yes, please

Sergey Ignatov

On 21 March 2015 at 00:11, Florin Patan <notifications@github.com> wrote:

[2015-03-20 21:18] dlsniper opened #1466 "Parser issue with for syntax"
This is as well related to "for" parsing: https://github.com/golang/go/blob/master/src/runtime/proc_test.go#L117

https://github.com/go-lang-plugin-org/go-lang-idea-plugin/commit/43e38a2982ad138f4ba189e957cc54e784725767

[2015-03-20 21:20] dlsniper commented on #1463
Please see: https://www.dropbox.com/s/ymppfv385ew4xld/u.tar.gz?dl=0 I can reproduce it on a different project but that one is closed source, I'm trying to find an open source version of it with the problem.

[2015-03-20 21:59] dlsniper opened #1467 "Parser issue with "if" syntax"
https://github.com/golang/go/blob/master/src/go/build/deps_test.go#L402

[2015-03-20 22:21] dlsniper commented on #1463
Eurika! I've finally found an open source project that I can reproduce the error: https://code.google.com/p/go/source/browse/html/charset/gen.go?repo=net#37 from the package  ```go get http://godoc.org/golang.org/x/net/html```

[2015-03-21 03:42] aubble opened #1468 "indirected pointer isn't "in use""
https://www.dropbox.com/s/h74ajidbf4w6vvj/Screenshot%202015-03-20%2023.39.56.png?dl=0

As you can see in that picture, I have a program that calculates the absolute value of a vertex. There is a pointer pointing to my vertex, but when indirected there is a line under it that says

https://www.dropbox.com/s/d1cx9ebrm7kytgg/Screenshot%202015-03-20%2023.41.42.png?dl=0

Unused variable?

[2015-03-21 04:59] nhooyr opened #1469 "A interface types function is not highlighted."
https://www.dropbox.com/s/008sy2mh5h2zo7w/Screenshot%202015-03-21%2000.55.16.png?dl=0

As you can see in that picture, fmt.Println(a.Abs()), Abs is not considered a func and not highlighted. a is of type Abser (a interface). Its value currently is a *Vertex and there is a method implemented for this type, called Abs with same signature as declared in the interface. Code compiles fine but it won't

[2015-03-21 05:22] aubble opened #1470 "Dereferencing a pointer to struct does not highlight the variable"
https://www.dropbox.com/s/a9xdig6h1hmsv0d/Screenshot%202015-03-21%2001.22.11.png?dl=0

(same code from my previous issue https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1469)

Here the problem is that as you can see, if I manually dereference the *Vertex in the first function, Y, and X are not recognized as variables. But when I let go do it for me automatically, it does. Code com

[2015-03-21 05:48] aubble commented on #1436
I don't know if you'll like it or even trust me but here is a color scheme I made (its for the dark version but imo it looks pretty nice). I haven't worked too much in Go, but if you want a decent color scheme, too lazy to make it yourself here you go.

https://www.dropbox.com/s/02cqk0yxo91b703/Screenshot%202015-03-21%2001.47.20.png?dl=0

Looks like that

Here is the settings.jar https://www.dropb

[2015-03-21 08:31] ignatov commented on #1468
Duplicates #1434. Please download the latest release.

[2015-03-21 08:31] #1468 closed

[2015-03-21 08:33] ignatov commented on #1436
@aubble Thanks.

[2015-03-21 08:50] aubble opened #1471 "Latest Release says 0.9.201 in plugin settings"
https://www.dropbox.com/s/m0v1xtorcs0hmre/Screenshot%202015-03-21%2004.49.21.png?dl=0

Or is this intended until the "real" 1.0?

[2015-03-21 09:05] dlsniper commented on #1471
While the name for 1.0 is v1.0.0-alpha0 in the branch, the releases are done with 0.9.XYZ until we reach 1.0 in order to properly work with the plugin manager versioning system.

[2015-03-21 09:05] #1471 closed

[2015-03-21 09:23] dlsniper commented on #1436
Here's mine for Darcula as well, it's exported from IDEA 14.1 EAP (141.175.3) and might be incompatible with 14.0.x as I've had IDEA crashes in the past switching between these versions. It's useless for the standard white background version.

https://www.dropbox.com/s/f5jwmwx4g2qwqv1/colors%2014.1.jar?dl=0

![snapshot25](https://cloud.githubusercontent.com/assets/607868/6764541/0e6ae294-cfb4-11e4

[2015-03-21 09:25] dlsniper commented on #1436
@denisov if you've got a proper version that's in the spirit of the IDEA color scheme and want to share it, I guess maybe @ignatov or @zolotov can take the decision to include it in the release (is it possible?)

[2015-03-21 09:38] aubble commented on #1436
@dlsniper definitely incompatible. My IDEA won't start anymore

[2015-03-21 09:44] dlsniper commented on #1436
Ouch, find the ```dlsniper.icls``` file and remove it, hopefully it should fix things back.

[2015-03-21 09:49] dlsniper commented on #1469
@ignatov this might be a problem of resolving not highlighting.

I've took the example from the playground and did the following:
- ctrl+click on ```v.Abs()``` which sent me to ```func (v *Vertex) Abs() float64```
- ctrl+click on ```a.Abs()``` which sent me to ```Abs() float64``` interface definition not to ```func (f MyFloat) Abs() float64```

In the highlighting part I'm checking where we resolv

[2015-03-21 09:54] aubble commented on #1436
I just deleted all the cache and preference folders from here: https://www.jetbrains.com/idea/help/project-and-ide-settings.html

[2015-03-21 09:54] dlsniper commented on #1470
@ignatov, same problem here as well.

Change the code from
[code]
to
[code]

and you'll notice that the ```(*v).X``` doesn't resolve anymore where as ```v.X is resolving```

[2015-03-21 10:46] ignatov commented on #1469
If so, please create a nice code sample and reassign the issue too me.

[2015-03-21 10:48] dlsniper commented on #1469
[code]

[2015-03-21 12:28] #1466 closed

[2015-03-21 12:28] #1467 closed

[2015-03-21 12:29] ignatov commented on #1465
Duplicates #1467

[2015-03-21 12:29] #1465 closed

[2015-03-21 12:30] ignatov commented on #1464
Duplicates #1466

[2015-03-21 12:30] #1464 closed

[2015-03-22 12:07] #1162 closed

[2015-03-23 05:46] kokizzu opened #1473 "Infinite repeated executing 'Go Formatting' task"
![image](https://cloud.githubusercontent.com/assets/1061610/6774892/9403e00c-d15a-11e4-93d7-6cab3bfb674a.png)

git rev: b22e1f722025d1f9646a7888183a0f51f5e37fe1

I got infinite repeated "executing 'Go Formatting' task"

I need help for which part did I do wrong?

[2015-03-23 05:48] #1473 closed

[2015-03-23 10:06] dlsniper opened #1474 "Parser issue"
Please see below
Plugin commit: b22e1f722025d1f9646a7888183a0f51f5e37fe1

Thank you!

[code]

[2015-03-23 10:20] MorganWu commented on #1456
I have the same problem. It seems the plugin will run under a custom directory, but fail to create the directory. Right now I run in command line under the directory where main file is put, everything is just fine.

[2015-03-23 10:53] MichaelKuger opened #1475 "Cannot add go SDK"
I can't add a go sdk to my project.

Error:
IllegalArgumentException: Argument for @NotNull parameter 'virtualFile' of com/intellij/openapi/projectRoots/impl/ProjectRootContainerImpl.addRoot must not be null

IntelliJ Ultimate 14.03
Plugin Version: 0.9.15

[2015-03-23 10:54] zolotov commented on #1456
@MorganWu I didn't understand what `fail to create the directory` means. What directory should be created, why and when?
You can specify any working directory in run configuration.

[2015-03-23 10:57] ignatov commented on #1475
Please make your best in searching through the issues.

[2015-03-23 10:57] #1475 closed

[2015-03-23 11:02] MorganWu commented on #1456
Yes, I specified a working directory in my run configuration, like '/gopath/src/xxx.com/dm', but the case is when I printed the first argument (os.Args[0]), I got '/private/var/folders/zb/xtqgq0jd38ddsdq4cjxg3zqc0000gn/T/d1_0go' instead. Am I doing wrong to get the working directory?

[2015-03-23 11:23] zolotov commented on #1456
@MorganWu Args[0] has nothing to do with working directory, it's path to binary file. Use os.Getwd for retrieving working directory.

[2015-03-23 16:27] MorganWu commented on #1456
@zolotov Thanks, actually I got this problem when I was using an open source web framework, which try to retrieve config files in working directory, but uses 'args[0]' in fact. Anyway, I'll do some adjustment accordingly later, thank you.

[2015-03-23 18:45] horkhe opened #1476 "1.0.0: Field is reported unknown if it is instantiated by a local var of the same name"
[code]

[2015-03-23 18:49] dlsniper commented on #1476
As another point, if you CTRL+click on the "b" from ```b:``` section, you'll get that it references multiple implementation, one is the parameter b and the other one is the field in the struct. It should only reference to to the field in the struct as the one in the parameter is unrelated.

[2015-03-23 19:00] ignatov commented on #1476
Thanks for reporting, will be fixed soon.

[2015-03-23 19:55] horkhe opened #1477 "1.0.0: Struct literal is reported as error if declared inside a for loop"
[code]

[2015-03-23 20:05] dlsniper commented on #1477
Duplicate of #1474

[2015-03-23 20:05] #1477 closed

[2015-03-23 20:05] dlsniper commented on #1477
(I think it's a duplicate, at least :D)

[2015-03-23 21:35] #1476 closed

[2015-03-23 22:51] horkhe commented on #1476
Indeed it is. Thank you.

[2015-03-24 17:57] xian commented on #1459
See https://github.com/go-lang-plugin-org/go-lang-idea-plugin/pull/1478

[2015-03-24 19:22] ichekrygin opened #1479 "Inspection: uknown structure literal"
type Foo struct {
    bar string
}

func main() {
    bar := "qux";
    foo := &Foo{
        bar: "baz", // <-- inspection error: unknow field 'bar' structure literal
    }
    fmt.Printf("Foo: %v, bar: %s", foo, bar)
}

[2015-03-24 19:24] dlsniper commented on #1479
Plugin version? Duplicate of others?

[2015-03-24 19:57] ichekrygin commented on #1479
plugin branch: v1.0.0-alpha0 on: b22e1f7
ingellij: IC-141.175.3
jre: 1.8.0_40-b25 amd64
os: Linux 3.13.0-48-generic #80-Ubuntu x86_64 x86_64 x86_64 GNU/Linux

[2015-03-24 20:03] dlsniper commented on #1479
@zolotov isn't this a duplication of #1474 ? Also, it doesn't happen in c275c80bc1ec93236b8df47f37310519c853ceb7 which I was forced to use because of #1474

[2015-03-24 20:29] zolotov commented on #1479
I don't see the connection between #1474 and this issue. But it's fixed in #1476

[2015-03-24 20:29] #1479 closed

[2015-03-24 21:00] zolotov commented on #1459
Fixed by @xian

[2015-03-24 21:00] #1459 closed

[2015-03-25 13:58] davelar opened #1481 "One line feed is lost in the tests output"
I am not exactly sure where this issue lies, and maybe I'm just doing something wrong, but if I run a couple of tests and they have something like fmt.Printf("test1\n") and fmt.Printf("test2\n") respectively, the output will be something like:

Testing started at...
test1test2

If I add a second \n, so something like fmt.Printf("test1\n\n") and fmt.Printf("test2\n\n") the output would be:

Testing

[2015-03-26 01:20] #1451 closed

[2015-03-26 01:20] #1457 closed

[2015-03-26 01:20] #1470 closed

[2015-03-26 01:20] #1474 closed

[2015-03-26 01:22] ignatov commented on #1269
@dlsniper Please provide a link to the reference. I can't actually understand the rules.

[2015-03-26 06:46] dlsniper commented on #1269
@ignatov, I'm not sure I can help you with more that https://golang.org/ref/spec#Declarations_and_scope

Should I improve the second example maybe?

[2015-03-26 19:11] jimbojetlag opened #1482 "Project GOPATH gets reset after restarting idea (1.0.0.alpha#201)"
I need the current project to be in GOPATH. _I think this should happen by default anyway, even if the project is out of GOPATH._ For this to happen, I have to set the absolute path to my project in the project settings > Libraries, which is a bad idea, as this should not be shared to other developers.

Forgetting about the above flaws (hint: we shouldn't), the GOPATH project settings > Libraries

[2015-03-26 19:20] jimbojetlag opened #1483 "Primitive types are not resolved in projects (1.0.0.alpha#201)"
![image](https://cloud.githubusercontent.com/assets/11205806/6855062/28e38d00-d3ed-11e4-992d-3301da042ddc.png)

[2015-03-26 19:21] dlsniper commented on #1483
What SDK do you have attached to the project?

[2015-03-26 19:24] jimbojetlag opened #1484 "go fmt throws exception com.intellij.execution.process.ProcessNotCreatedException (1.0.0.alpha#201)"
At least for app engine:

[code]

[2015-03-26 19:25] zolotov commented on #1482
It shouldn't. IDE has no idea what directory should be in GOPATH. Project root? Parent directory of project root? One of child directories?

Please attach .idea/goLibraries.xml just after changing libraries list and the same file after restarting IDE.

[2015-03-26 19:26] jimbojetlag commented on #1483
Go 1.4.1 (appengine-1.9.18)

[2015-03-26 19:27] dlsniper commented on #1483
and it's attached to the module as well?

[2015-03-26 19:28] zolotov commented on #1484
You've already created the issue #1387.

Where is the exception is appeared? In event log or just as notification?

[2015-03-26 19:31] zolotov commented on #1484
Sorry, didn't noticed that it's about go fmt. But anyway it's related to #1387

[2015-03-26 19:32] dlsniper commented on #1484
@zolotov as a comment, on AppEngine the ```go fmt``` doesn't work as the ```go``` tool is not there anymore (on the 1.9.18 version that is) and we should run ```gofmt -w path```.

The layout of AppEngine dir is now:
[code]

[2015-03-26 19:35] jimbojetlag commented on #1484
I'm not sure if this is related to #1387. I tried Code > Go fmt file (awkward keyboard shortcut on OS X by the way)
![image](https://cloud.githubusercontent.com/assets/11205806/6855319/04831690-d3ef-11e4-82a2-3d242b0e920d.png)
The exception appears as a notification.

[2015-03-26 19:36] zolotov commented on #1484
@dlsniper I believe that goapp wrapper is able to run `goapp fmt`

[2015-03-26 19:36] zolotov commented on #1484
@jimbojetlag thanks

[2015-03-26 19:38] jimbojetlag commented on #1482
At least, allow an option to add a relative directory (relative to project root), so that this can be sharable. (Does idea allow this already? Sorry I'm not an idea expert)

The xml file does not change after restart:

[code]

[2015-03-26 19:39] jimbojetlag commented on #1483
I believe so:

![image](https://cloud.githubusercontent.com/assets/11205806/6855413/d10d6490-d3ef-11e4-85a6-46d7c56e867c.png)

[2015-03-26 19:42] zolotov commented on #1482
It does, as you can see `web` directory is stored in settings as a relative path to project. We just show absolute paths in settings, it's just representation.

But Go Libraries dialog became empty?

[2015-03-26 19:44] zolotov commented on #1484
@jimbojetlag

You can use internal formatting processor (cmd+shift+L), it's not fully matched with gofmt but all these cases are bugs and we're going to fix it.

[2015-03-26 20:38] #1481 closed

[2015-03-27 00:11] ignatov commented on #1469
I'm not sure that we can fix this issue.
`var a Abser` has a type Abser. And the resolution algorithm is going though the interface not though implementations.

[2015-03-27 00:25] #1161 closed

[2015-03-27 01:01] ignatov opened #1486 "Should reports assignment count mismatch error"
[code]
Extracted from #1219

[2015-03-27 01:02] #1486 closed

[2015-03-27 01:14] ignatov commented on #1219
#1482 has been extracred

[2015-03-27 01:16] ElvizLai opened #1487 "wrong defer hint"
The code blow works well，but the hint is improper.
This hint works well on release 201,but not ok on 223.

[code]

![qq20150327-3](https://cloud.githubusercontent.com/assets/501861/6860359/f2d0e922-d461-11e4-8d71-01b11f1e6991.png)
![qq20150327-4](https://cloud.githubusercontent.com/assets/501861/6860473/87f257b0-d463-11e4-88bd-e29a89799aa0.png)

[2015-03-27 01:58] kokizzu opened #1488 "README.md 404 links"
the links on the README.md for https://plugins.jetbrains.com/plugins/alpha/list and https://plugins.jetbrains.com/plugins/nightly/list are 404

[2015-03-27 04:50] ichekrygin opened #1489 "compile (build) fails: no buildable Go source files in /home/user/go"
Possibly relate to #1288

Repro steps:

select go file (any go file) and try to compile using go plugin:
 (Ctrl+Shif+F9) or via right click or build menue

Expected: go build run on the selected file
Actual: Error:go: can't load package: package .: no buildable Go source files in /home/user/go

/home/user/go - is a $GOPATH

[2015-03-27 04:58] ignatov commented on #1488
There's no need to open them into your browser, just paste them to IntelliJ.

[2015-03-27 04:58] #1488 closed

[2015-03-27 05:23] ignatov commented on #1487
Thanks for reporting, reproduced. Will be fixed soon.

[2015-03-27 07:07] dlsniper commented on #1489
Which version of the plugin are you using? Also, if you are trying to use the build menu options (or shortcuts)  please don't. You've read already, it's not possible. Thank you.

[2015-03-27 07:25] dlsniper commented on #1489
Yeah, I've just checked, it's the build menu.

[2015-03-27 07:25] #1489 closed

[2015-03-27 10:24] dlsniper commented on #1463
This seems to be fixed in the latest master.

[2015-03-27 10:24] #1463 closed

[2015-03-27 11:21] bong0 opened #1490 "Exclude directories "testdata" and "_*" from Alt-Enter auto-include"
I discovered that in one of my procect's files a package from `golang.org/x/tools/cmd/vet/testdata` was included for some reason. This may likely have happened due to semi-automatic including which comes up when the plugin detects a name of a non-imported package.

Like Dave suggests here https://groups.google.com/d/msg/golang-nuts/WS39uEWUA-0/A4WpJ1fLA_gJ testdata and directories beginning with a

[2015-03-27 11:26] dlsniper commented on #1490
@zolotov if it's not too complicated, I think it would be useful to mark ```testdata```, any ```_dirName``` as excluded when creating the project (or importing the libraries). Also, I'd suggest adding ```Godeps``` to the list of excluded dirs. What do you think?

[2015-03-27 11:38] zolotov commented on #1490
@dlsniper Excluding `testdata` and `_dirname` approach works for SDK sources only. And they should be excluded indeed, it will fix the issue and speed up indexing.

What about Godeps? What the rules of exclusions?

[2015-03-27 15:30] ichekrygin commented on #1489
What are the alternatives to build go files/packages (other than command line)?

[2015-03-27 15:41] dlsniper commented on #1489
You can use the runners option. Asside from that, building from command
line is known to work very well

On Fri, Mar 27, 2015, 16:30 ichekrygin <notifications@github.com> wrote:

[2015-03-27 15:56] ichekrygin commented on #1489
By "runners" I assume you're talking about RUN menu. If so, how do I use runners, especially for "non main" go files? It seems I don't even get an options to create a runner where I can navigate to a non-main go file.

I guess the same question is for "go test". If I recall, in previous version of the plugins (older than 1.0.0) go test used to work. Now it seems doesn't. I am getting this:

/usr/l

[2015-03-27 17:25] ichekrygin opened #1491 "Reformat Code... is not consistent with go fmt"
On branch v1.0.0-alpha0
As of: 6be350e

Repro steps:
open any go file and Code/Reformat Code ...
Expected: code formatted consistently with go fmt output
Actual: something other... looks like plugin has defined and using format definition under "Settings/Editor/Code Style/Go", which is appears to be incomplete.

[2015-03-27 17:27] dlsniper commented on #1491
Known bug. Closing as duplicate of existing issue.

[2015-03-27 17:27] #1491 closed

[2015-03-27 18:17] linniksa commented on #1469
@ignatov
but "type" Abser has method Abs()

[2015-03-27 19:37] esiqveland opened #1492 "Type fields not resolved for untyped struct in pointer slice"
IDEA: 141.177
Go Plugin Version: 0.9.223 taken from https://plugins.jetbrains.com/plugins/alpha/list
JDK 1.6 Apple

Struct fields are correctly resolved for an 'untyped' entry in a slice, but not for pointer-slice.

See screenshot and example below:

Screenshot:
![screen shot 2015-03-27 at 20 30 27](https://cloud.githubusercontent.com/assets/105188/6875621/823cf732-d4c0-11e4-8f64-9bd340e2f2ba.png)

[2015-03-27 23:18] zolotov commented on #1489
I didn't understand anything. What exactly do you want to do and how do you run your application without IDE?

Testing started at 8:48 AM ...
can't load package: package foo/bar/buz/qux: cannot find package "foo/bar/buz/qux" in any of:
/usr/local/go/src/foo/bar/buz/qux (from $GOROOT)
/home/user/go/src/src/foo/bar/buz/qux (from $GOPATH)

Obviously it's output of go. So here are two questions:
1. wh

[2015-03-27 23:21] ichekrygin commented on #1489
@zolotov thx for following up. Actually it was a "user error", I had invalid configuration for $GOPATH as per out: `/home/user/go/src/src/foo/bar/buz/qux (from $GOPATH)`

[2015-03-27 23:25] zolotov commented on #1489
@ichekrygin Ok, thanks for update. And what about runners for 'non-main go file'?

About `make file` you can read discussion in #1453. TL;DR: I have no know idea what `make` action should do in terms of go.

[2015-03-28 00:10] dlsniper opened #1493 "Possible performance issue?"
Maybe it's my slow laptop (i7-2630QM CPU, 8GB RAM, Ubuntu 14.10), but I've noticed while working on a personal project that sometimes I can't even rely on autocomplete to be there when typing something as simple as http.Status<ctrl+space>.

As such, I've followed the tutorial [on snapshoting](https://intellij-support.jetbrains.com/entries/29983118-Reporting-performance-problems) and I've created t

[2015-03-28 00:43] JoeBruner commented on #1493
I've noticed that my desktop fan is churrning way more these days as my files get bigger and bigger.  I don't _usually_  have problems with autocomplete, but I have the problem frequently where the IDE will "red squiggle" a variable and say it's an "Unused variable" when in reality it's used in many places.  Oddly (or maybe it's just a figment of my imagination), it seems like I can speed up the p

[2015-03-28 01:01] ignatov commented on #1493
I'll do my best on this issue. BTW, it'll be really cool to have some
reproducible sample.

Sergey Ignatov

On 28 March 2015 at 03:43, JoeBruner <notifications@github.com> wrote:

[2015-03-28 01:27] dlsniper commented on #1493
I've managed to replicate it in an open-source project! :tada:

The package is: ```golang.org/x/net``` (```go get golang.org/x/net ``` and then switch to the revision 7dbad50ab5b31073856416cdcfeb2796d682f844, to have the same version as I have)

To replicate it, after you have the said package in your GOPATH, create a project pointing to where the package is, in my case ```/home/florinp/golang/src

[2015-03-28 01:36] JoeBruner commented on #1493
I loaded that up and the Intellisense popped up the millisecond I typed `.`

Unfortunately, my proj is not hosted on a public repo.  I'll see if I can reproduce my probs in that project.

[2015-03-28 01:40] JoeBruner commented on #1493
I can get my Unresolved ref problem in that file

[2015-03-28 01:44] dlsniper commented on #1493
@JoeBruner are you referring to the line which contains a ```nil```, like this line: ``` if err = json.Unmarshal([]byte(result.(string)), user); err != nil {``` ?

[2015-03-28 01:44] JoeBruner commented on #1493
So at line 791 I did this (it's not useful, but reproduces the problem)

    q = t
    if err := TestMemFile(q); err != nil {
    }

this will cause problems because TestMemFile doesn't return a value.  It then marked `a` on line 799 and 800 as problems.  I then change it back to:

    q = t
    TestMemFile(q)

and it takes a while (min or 2) and eventually the problems at line 799/800 go away, bu

[2015-03-28 01:46] JoeBruner commented on #1493
Then I changed `q = t` to `q := t` and about 25 seconds later it finally figures out that it's legit.

[2015-03-28 01:50] dlsniper opened #1494 "Unresolved nil in shorthand inline if construct"
Please see the example

[code]

[2015-03-28 12:05] dmitry-vovk opened #1495 "Feature request: make "file_name:line_number" references in run output clickable"
Log package allows to include file names and line numbers in log output:
[code]
And this produces output like this:
![screenshot - 280315 - 13 59 35](https://cloud.githubusercontent.com/assets/4119321/6880973/c7df699a-d552-11e4-9fab-a1a975ccc93c.png)

It would be really nice to make reference to ```file:line``` clickable, so clicking on ```tcp-server.go:30``` would open the file ```tcp-server.go``

[2015-03-28 12:56] dlsniper commented on #1495
@zolotov I might do it in a few days if you don't have time until then

[2015-03-28 14:04] zolotov commented on #1242
Any news on this?

[2015-03-28 14:19] dlsniper commented on #1490
Sorry for not being clearer.

In regards to Godeps, it already contains a directory called ```_workspace``` so if ```_*``` or ```testdata``` dirs are excluded automatically then it would it shouldn't be a problem.

How I see this working:
- the plugin detects when loading a project the dirs that start with _ or are named testdata and marks them as excluded
- the plugin detects when indexing the SD

[2015-03-28 15:33] dlsniper opened #1496 "Struct fields autocomplete adds colon after the field name"
Completing the struct fields will always append ``` : ``` after the field name in situations like this:

[code]

revision 20de07ff813bea3b298433437cbf70054d9493f5

[2015-03-28 17:12] JoeBruner commented on #1495
:thumbsup:

[2015-03-28 22:56] Quikr opened #1497 "Go Test config - not all tests being executed"
Builds runs the Tests of the 69 of 77 tests its says everything has passed (event log) but there 8 that it will not do.
Now if I run this in my other build environment everything runs as expected.
If I just select one of the tests that failed to run by itself it passes and works fine in the IDE.

Is there a limit of 69 tests that it can only execute?
As if I remove or add Tests it drops out at 69

[2015-03-28 22:58] dlsniper commented on #1497
Can you send a project that can replicate the issue?

[2015-03-29 02:05] dlsniper commented on #1497
@Quikr I'm running a series of 128 tests, with 40 skipped and all the tests appear correctly for me. I'm running the tests via the package option.

[2015-03-29 03:34] Quikr commented on #1497
![image](https://cloud.githubusercontent.com/assets/6963137/6883992/7fdada30-d61f-11e4-9462-37aaf6c72cb2.png)
Ok as you can on the left is Done 69 of 78.
Test_Postcode_Getoa was the last one, I created a second one "Test_Postcode_Getoa2" it is being executed. It's in the output result log which is a bonus.
As you can from the left why do we have 9 entries in the Test Results? Shouldn't we have all

[2015-03-29 08:42] zolotov commented on #1497
@Quikr I'm sure that all tests are executed but something wrong with parsing output of `go test`. To recreate and fix this I need raw output of `go test`, please run the command that on the very top of test log in terminal and attach the output.

[2015-03-29 11:42] Quikr commented on #1497
Ok, you are right my Logging is being done to the console, as such it confuses Test Parser when it's trying to determine if a Test has succeed or failed.
So after realizing this I have cleaned up console output and it ran fine.

As for an example it seems to be a hit and miss once I have something solid I will post it.

[2015-03-29 13:18] dlsniper opened #1498 "Better run configuration description for running a project for the first time"
Hi,

As I'm starting to slowly migrate my habit of running the programs I'm writing from the console to the IDE, I've noticed something that I think the plugin should address a bit better.
When I tried to run the source code, I've got two different options: what appeared to be the file and the other one to be the file again, but this time with a Run in front of it. For me that was confusing quite

[2015-03-29 13:40] zolotov commented on #1498
You've created two run configuration, what's the problem of plugin?

[2015-03-29 13:45] dlsniper commented on #1498
I'll show a dialog on a fresh project if it helps but the "output" will be the same as in the screenshot. On a fresh project, when you go to ``` Run | Run ``` you are still greeted with two different run configs.

[2015-03-29 17:52] dmitry-vovk opened #1499 "Feature request: mark tests covered functions as unused"
If I create a function that is not used it is marked as unused (which is right). But if I get the function covered by test, but still not using it in real code elsewhere it is not marked as unused anymore.

I suggest that functions that are used in tests only should be marked as unused.

Note: Global package variables already behave this way. I can use a variable in a test (and can find it by "Fin

[2015-03-29 18:14] zolotov commented on #1498
 Stil don't understand what do you mean.

[2015-03-29 19:42] aubble opened #1500 "Problem detecting types with casts"
https://play.golang.org/p/yd3yhaCNnj

try putting that code in the plugin. It fails to detect casts:

https://www.dropbox.com/s/qlx1fhrmt2qnnbl/Screenshot%202015-03-29%2015.41.59.png?dl=0

Code compiles fine.

[2015-03-29 19:48] dlsniper commented on #1500
Thanks for reporting.

There's something interesting that happens, if the code is changed to this:

[code]

Things work again properly.

[2015-03-29 19:57] aubble commented on #1500
Well hope it gets fixed soon xD thanks

[2015-03-30 04:54] Quikr commented on #1497
Ok, got it apparently if the last output to the console doesn't have a carriage return line feed it the Test parser can't see the result from the Test correctly.

func Test_Sp(t *testing.T) {
    fmt.Println(" Test_Sp ")
    lsStr := Sp(5)
    if len(lsStr) != 5 {
        t.Errorf("Invalid len of Returned string. ")
    }
    fmt.Print("Test_Sp............end")
//    ^ if this is a Println it work

[2015-03-30 08:06] omribahumi opened #1501 "Plugin doesn't autocomplete fsnotify.v1"
I just installed Intellij IDEA 14.1 with Go plugin 0.9.223.
When using the following code:
[code]

Entering `watcher.` inside `main` doesn't list possible function calls

[2015-03-30 08:28] dlsniper commented on #1501
How did you configured the sdk and go libraries?

[2015-03-30 08:35] omribahumi commented on #1501
@dlsniper just the automated configurations. Anything you would like to know in particular?
Did you successfully reproduce it?

[2015-03-30 09:02] zolotov commented on #1501
Actually I can't recreate this.

![screenshot 2015-03-30 12 02 03](https://cloud.githubusercontent.com/assets/140920/6893311/992d9774-d6d4-11e4-8930-e3077673be1c.png)

[2015-03-30 09:03] zolotov commented on #1501
Is "import gopkg.in/fsnotify.v1" resolved (it's red if not)?

[2015-03-30 09:04] zolotov commented on #1497
I've fixed the issue about tests, you can build plugin from sources or wait until nightly build will be ready (it's about 14 hours).

`Go Application` run configuration doesn't cover all cases yet. How do you build it from console?

[2015-03-30 09:28] omribahumi commented on #1501
The `NewWatcher()` works. What happens if you do `watcher.` in the next line?
And the import is resolved.

[2015-03-30 09:32] omribahumi commented on #1501
![image](https://cloud.githubusercontent.com/assets/2558457/6893819/d6253a8e-d6d8-11e4-8c88-78d5aaabc38e.png)

[2015-03-30 09:32] zolotov commented on #1490
No, excluded directories is excluded from all indices, it means that TODO index and `Find in path` won't work there as well. It's ok for Godeps but I'm not sure that this is right way for `testdata` and underscored directories.

[2015-03-30 09:36] zolotov commented on #1501
First of all, set project SDK, there is a link to configure on the top of editor.

If it doesn't help there are two variants. You haven't installed fsnotify.v1 or installed package is not in IDE's GOPATH.
To fix the first one just place caret in red import, invoke Alt+Enter and choose `go get`.
To fix the second one, check that there is appropriate GOPATH in Settings | Languages & Frameworks | Go

[2015-03-30 09:38] zolotov commented on #1484
Fixed

[2015-03-30 09:39] zolotov commented on #1498
I've understood what do you mean :)

What about this?
![screenshot 2015-03-30 12 38 52](https://cloud.githubusercontent.com/assets/140920/6893955/da154192-d6d9-11e4-9806-ade9958321d4.png)

[2015-03-30 09:39] dlsniper commented on #1501
Are you coming from 0.9.16 or earlier version of the plugin?

On Mon, Mar 30, 2015 at 11:36 AM Alexander Zolotov <notifications@github.com>
wrote:

[2015-03-30 09:40] dlsniper commented on #1498
Hi, yes, that would be much better! Thank you.

On Mon, Mar 30, 2015 at 11:39 AM Alexander Zolotov <notifications@github.com>
wrote:

[2015-03-30 09:42] #1498 closed

[2015-03-30 12:38] omribahumi commented on #1501
@dlsniper yes I am. I installed the stable version before this one.

[2015-03-30 12:42] dlsniper commented on #1501
Hmmm, I need to better document this case.
Please remove follow the plugin instructions, they should work even in this
case. You need to remove the old (plugin?) and sdk and follow the guidance
from the plugin afterwards.

On Mon, Mar 30, 2015, 14:38 Omri Bahumi <notifications@github.com> wrote:

[2015-03-30 13:57] omribahumi commented on #1501
Steps to reproduce:

With a fresh IntelliJ installation (I deleted all `~/Library/*/IdeaIC14` folders):
1. Press next until you get to the new project wizard
2. Click configure and follow the instructions to install the `alpha` plugin from [here](https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/README.md)
3. Create a new Go project (configure the SDK)
4. Configure an empty dir

[2015-03-30 15:11] johnleegrant opened #1502 "Add Go SDK: The selected directory is not a valid home for Go SDK"
Can't set Go SDK.

Project Structure > SDKs > Add New SDK - Go SDK >
Browse to c:\go or c:\go\bin click OK and get the same error:
The selected directory is not a valid home for Go SDK

Windows 8.1
go version go1.4.2 windows/amd64
IntelliJ IDEA 14.1
Go Plugin 0.9.234
GOPATH=C:\Projects\Go

[2015-03-30 15:42] johnleegrant commented on #1502
Now able to set the Go SDK. Was able to revert back to Go Plugin 0.9.223 via the alpha repository at https://plugins.jetbrains.com/plugins/alpha/list

[2015-03-30 15:48] zolotov commented on #1501
You can't set empty directory as GOPATH. The directory should corresponds [go workspace](https://golang.org/doc/code.html). At least it should contains `src` directory, otherwise it will be ignored and won't be passed to `go get` execution.

[2015-03-30 15:58] zolotov commented on #1502
Unfortunately I don't have windows. I will appreciate if you will able to debug this (https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/src/com/goide/sdk/GoSdkType.java#L66).

For now IDE checks that the path doesn't end with '/goroot', contains './bin/go' and has `./src/pkg/runtime/zversion.go` or `./src/runtime/zversion.go` file with version. Is something wrong with that for

[2015-03-30 17:10] linniksa commented on #1502
./bin/go.exe ?

[2015-03-30 17:24] zolotov commented on #1502
@linniksa thanks! We definitely need committer with windows. Will be fixed in the closest nightly.

[2015-03-30 17:24] #1502 closed

[2015-03-30 18:00] omribahumi commented on #1501
@zolotov it created the `src` after the first `go get`. It's ok.
I'll upload a screenshot tomorrow. Thanks!

[2015-03-30 18:13] aubble opened #1503 ", at the end of receiver"
In this piece of code: https://play.golang.org/p/qpCPe2BCsR

https://www.dropbox.com/s/0gs8dgue0ab55kd/Screenshot%202015-03-30%2014.09.51.png?dl=0

On line 24, the int part of "d.int" has no color. I think it should :D. Another more real problem is that notice at the top, line 8, I have a comma after "func (ds *dasa" This screws everything up, it is valid go syntax but the plugin doesn't recognize

[2015-03-30 18:16] zolotov commented on #1503
Please specify plugin version

[2015-03-30 18:25] aubble opened #1504 "Two identifiers for a varadiac"
https://www.dropbox.com/s/ugucwvv7vcj2130/Screenshot%202015-03-30%2014.23.49.png?dl=0

As you can see, with two identifiers for a variadic, it detects its wrong, but its tooltip could be better.

[2015-03-30 18:28] aubble commented on #1503
Latest alpha from the channel. 0.9.223

[2015-03-30 18:31] zolotov commented on #1504
Better in which way?

[2015-03-30 19:43] #1504 closed

[2015-03-30 20:26] jimbojetlag commented on #1484
I just tried the nightly build and got the below error. Should I try the next nightly build, or is the existing one supposed to fix it?

[code]

[2015-03-30 20:28] zolotov commented on #1484
What did you do exactly?

[2015-03-30 20:29] zolotov commented on #1484
And specify gae sdk version please

[2015-03-30 20:45] jimbojetlag commented on #1484
I removed the existing GO SDK (1.9.18), and create it again, and it worked fine. Now 'go fmt file' and 'go fmt project' work as expected.

One problem is that when having multiple modules, 'go fmt project' only formats one of them.

[2015-03-30 20:56] jimbojetlag commented on #1387
Seems like you use `gcloud/google-cloud-sdk/platform/google_appengine/goapp` to run appengine dev server.

Since gae 1.9.18, this does not work anymore, leading to:

[code]

You should use `gcloud/google-cloud-sdk/bin/goapp` instead.

[2015-03-30 21:01] zolotov commented on #1387
According to https://cloud.google.com/appengine/docs/go/gettingstarted/devenvironment I shouldn't

Why since exactly 1.9.18? Where I can find the information about it?

Actually it works fine for my hello world projects. Could you show how you run goapp from terminal and how you configured GAE run configuration?

[2015-03-30 21:03] zolotov commented on #1484
Thanks, I didn't think about it.

This actions formats base directory of project. Are some your modules is outside project directory?

[2015-03-30 21:10] jimbojetlag commented on #1387
*Last updated September 22, 2014.*

Just google for 'ImportError: No module named docker' and you'll see this problem everywhere (Google engineering quality seems to have declines recently). You will find most fixes include [changing the path](https://github.com/gae-init/gae-init/issues/318).

`/path/to/gcloud/google-cloud-sdk/platform/google_appengine/goapp serve .` in terminal gives me exactly t

[2015-03-30 21:11] zolotov commented on #1387
I see, thanks

[2015-03-30 21:13] jimbojetlag commented on #1484
Yes. The modules outside of the base directory do not get formatted. If an IJ project is supposed to consist of modules which could be outside of the project base directory, perhaps all modules should get formatted.

[2015-03-30 21:14] zolotov opened #1505 "Go fmt project should format modules outside the project"

[2015-03-30 21:15] zolotov commented on #1484
You're. Since this is not about GAE I've filed another issue #1505

[2015-03-30 21:22] zolotov commented on #1387
I've tried the bin/goapp on appengine 1.9.18 and got this issue: http://stackoverflow.com/questions/21198584/goapp-serve-unable-to-find-dev-appserver-py/21215399#21215399

As a workaround, they said, I should use goapp "from the top of the SDK" :(

[2015-03-30 22:23] jimbojetlag commented on #1387
Does bin/goapp work fine for you in terminal? If so,have a look at `gcloud/google-cloud-sdk/completion.bash.inc` maybe you need to set some env variables in IJ.

[2015-03-30 23:05] olostan commented on #771
@juanibiapina as I've wrote above: created empty `app.yaml` file to satisfy validation.

[2015-03-30 23:34] Quikr commented on #1497
Go build -v -o Spacer.exe ./...

Given I am in the working folder of s:\projects\Go\Spacer
If I need something more complex as compiling for different platforms or forcing a package rebuild I will setup a set of batch files to fire off instead.
This is doing the job at the moment.

Doing a great jobs guys well done!

[2015-03-31 00:07] #1503 closed

[2015-03-31 00:11] SchumacherFM opened #1506 "Allow multiple init() functions"
Multiple init() functions are currently marked as "Duplicated" but according to Effective Go you can have n-init() functions.

![screen shot 2015-03-31 at 11 07 29 am](https://cloud.githubusercontent.com/assets/372027/6909849/71dd0570-d796-11e4-9d0b-ffc59dc5c831.png)

Latest version from master branch and fresh compiled with Intellij 14.1 stable release on OSX 10.9

[2015-03-31 00:56] ElvizLai commented on #1487
release 238 in nightly， still unsolved.

[2015-03-31 00:57] dlsniper commented on #1487
@ElvizLai we warmly accept contributions :)

[2015-03-31 03:28] #1506 closed

[2015-03-31 03:36] SchumacherFM commented on #1506
Awesome thanks! :sparkles: :+1:

[2015-03-31 06:38] zolotov commented on #1387
Nope, the terminal gives the same error. Maybe it's macos-specific. In this case we can use `goapp` for mac and `bin/goapp` for linux. The only question what should we do on windows?

[2015-03-31 07:18] zolotov commented on #1483
did recreating sdk fixed this?

[2015-03-31 11:41] zolotov commented on #1497
Go Application run configuration doesn't cover this case yet.
Actually I have some troubles with that. You can read about my concern at https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1413 and https://github.com/go-lang-plugin-org/go-lang-idea-plugin/pull/1414.
It would be cool if you would cooperate with @ccustine and will think of the universal solution for building (at least it

[2015-03-31 12:00] Quikr commented on #1497
"Go Application" - will look into it further - to be honest, I do so much work around the 'Go Test' that the only think I would like is the support of color output (of my logging) in the run window but bash or Terminal is ok at the moment (it helps identifying key areas in my logging) .

Current Issue Tested against lastest nightly build and works fine. Thx.

[2015-03-31 12:00] #1497 closed

[2015-03-31 12:40] jimbojetlag commented on #1387
If you have the same error in terminal, probably your installation has a problem. Try `gcloud components update`, Google has recently made many patches for 1.9.18.

I think with a proper installation, bin/goapp should works fine in IJ, and it should be cross platform.

[2015-03-31 12:47] jimbojetlag commented on #1483
No, I did not.

Custom GOPATH in Project Settings > Libraries > GOPATH <project-name> still gets reset after restart. I tried invalidating cache and restarting with no effect.

[2015-03-31 12:47] JoeBruner commented on #1497
Speaking of the color output of the the logging -  I've started playing around with the logger at "github.com/Sirupsen/logrus".  One of the nice features of this logger is that it can log in color - However, when you try to log to stderr in IntelliJ the output is all red.  Logging to stderr is nice as that's how the default logger logs, and thus if you try to log to stdout, you can get weird overl

[2015-03-31 13:59] zolotov commented on #1387
It's not broken installation, it's installation without using gcloud utility. I just followed this instruction: https://cloud.google.com/appengine/downloads#Google_App_Engine_SDK_for_Go, not that https://cloud.google.com/sdk/#Quick_Start. I believe we should support both installations. Any ideas how to handle it in IDE?

[2015-03-31 14:01] dlsniper commented on #1387
@zolotov in the old 0.9 version I was just setting the env variable ```APPENGINE_DEV_APPSERVER``` to the GAE SDK home and things where then running nicely. I know it's a bit hacky but maybe that's a way to do it? What do you think/

[2015-03-31 14:03] zolotov commented on #1387
@dlsniper yes, it is solution and indeed it's hacky :) I will do it in this way if we won't think of something better till tomorrow.

[2015-03-31 14:06] zolotov commented on #1483
I've asked about primitive types.

Is this a problem? Actually you don't need `Project Settings > Libraries > GOPATH`? It's internal library and it's configured by IDE according to directories in `Settings | Language & Frameworks | Go Libraries` and directories in the project.

[2015-03-31 14:09] zolotov commented on #1497
Please file a separate issue about that, I'll investigate it later.

Try `Settings | Editor | Colors & Fonts | Console Colors | Log console error`.

[2015-03-31 14:10] jimbojetlag commented on #1387
@zolotov the gcloud and standalone appengine sdk installation are not consistent.

If you plan to support both, you'll probably end up with detecting the installation type, and take a different approach for each type.

[2015-03-31 14:14] zolotov commented on #1387
Ok, I try to figure out how to distinguish these installations. I'm going to use standalone version and will be really appreciate if you'll report an issues about gcloud installation. We'll be able to cover all cases with your help :)

[2015-03-31 14:25] JoeBruner commented on #1497
Hmm, I unmarked it, but it didn't seem to do anything

[2015-03-31 14:28] zolotov commented on #1497
Maybe `Console error output` :)

[2015-03-31 14:29] JoeBruner opened #1507 "Investigate modifying stderr to not be just one color"
Presently, when running tests, any message that is written to stderr is output in ANSI red.  This prevents libraries for logging such as http://github.com/Sirupsen/logrus from being able to display color coded messages at the prompt.  Writing to stderr from the console with logrus will color as expected.  Writing to stderr is a usefull feature as that's how the built in go `log` library works and

[2015-03-31 14:31] JoeBruner commented on #1497
Derrrrr.  :)

I changed it and the coloring changed, however, I don't get the coloring
from the logging library.  I created a new ticket for this as suggested.

On Tue, Mar 31, 2015 at 10:28 AM, Alexander Zolotov <
notifications@github.com> wrote:

[2015-03-31 15:18] ansel1 opened #1508 "AssertionError in PSI parsing"
Getting a lot of these with the pen package:

[code]

RubyMine 7.1 EAP 141.373 on OSX 10.10.3, go 1.4.2, latest plugin from alpha plugin repo as of today's date (sry, seems like the plugin reports the wrong plugin version in the IDE's plugin settings)

[2015-03-31 15:25] dlsniper commented on #1508
I'm sorry, I can't replicate this with IDEA Ultimate

[2015-03-31 15:37] zolotov commented on #1508
Invoke File | invalidate Caches

What does it mean?

[2015-03-31 16:40] jimbojetlag commented on #1483
The primitive types problem is still present. It used to go away when I added the project directory to GOPATH with the above method, but this does not work anymore.

[2015-03-31 16:42] jimbojetlag commented on #1483
Sorry, the primitive types problem is now resolved for me. I got it mixed it with the project path problem.

[2015-03-31 16:45] zolotov commented on #1483
So I can close the issue?

[2015-03-31 16:53] linniksa opened #1509 "Wrong if expression parsing"
[code]

[2015-03-31 16:54] dlsniper commented on #1509
Closing as duplicate of previous ticket #1494

[2015-03-31 16:54] #1509 closed

[2015-03-31 17:15] jimbojetlag commented on #1483
I guess so!

[2015-03-31 17:21] ansel1 commented on #1508
I've tried invalidating caches.

The plugin settings comment is about the version number shown in the plugin dialog.  I think the plugin version is 1.0.0.something at this point, but the plugin manager still shows it as 0.9.x.  I'll attach a screenshot.

Firing up IDEA 14.1 to see if these issues are related to the ruby mine eap...the version in the plugin manager is still 0.9.x...will update abou

[2015-03-31 17:23] #1483 closed

[2015-03-31 17:23] dlsniper commented on #1508
@ansel1 can you uninstall the previous version of the plugin first then see if you can install the plugin from the repository? Thanks.

[2015-03-31 17:24] dlsniper commented on #1508
P.S. the screenshot you've show shows the plugin version from the plugin repository not the one you have installed, which is the one @zolotov was asking about.

[2015-03-31 17:26] zolotov commented on #1508
0.9.xxx is ok. 1.0.0.xxx is greater than 1.0.0, right? We won't publish 1.0.0.xxx before 1.0.0.

[2015-03-31 17:31] ansel1 commented on #1508
Ah, I see.  You do your version nums a little different than us, it threw me.  0.9.223 is current alpha release then.

[2015-03-31 17:35] dlsniper commented on #1508
As a small mention, if you chose to build the plugin from sources (because nightly isn't fast enough), the version number there is 1.0 so it will prevent the auto-update to work until we release 1.0 stable so please be careful about that. Also, when reporting issues, in this case, please also send the git commit hash in the issue. Thanks.

[2015-03-31 17:37] zolotov commented on #1508
Yep.

About the issue. Usually this exception means that some committer forgot to update index version, it's not fatal, Invalidate Caches just works and you'll never get the exception again (at least till the next update). But perhaps it's indexing bug, in this case you'll see the exception again and again. So. I'm going to close the issue now, but if you'll get the exception again please ping me

[2015-03-31 17:39] ansel1 commented on #1508
When in the rubymine 7.1 eap, the error happens repeatedly.  If you are editing a file which imports encoding/pem.  Eventually, it seems like indexing gives up, and stuff like syntax highlighting and completion is sort of only half enabled.

But I'm seeing it at all on idea 14.1.

[2015-03-31 17:41] zolotov commented on #1508
Ok, will check it.

[2015-03-31 17:42] ansel1 commented on #1508
Importing crypto/x509 may also be triggering it

[2015-03-31 18:18] zolotov commented on #1482
project settings > Libraries should be updated automatically

[2015-03-31 18:20] #1484 closed

[2015-03-31 18:40] #1313 closed

[2015-03-31 21:29] dlsniper opened #1510 "Unresolved reference when return signature mismatches"
I've noticed during a refactoring that if I change the function signature, for example the number of values to return, then certain fields will be flagged as unresolved but the returns are not flagged as having an incorrect number of parameters.

[TODO for me -> explain this with a use-case]

[2015-03-31 21:56] zolotov commented on #1387
Fixed for gcloud installation

[2015-03-31 21:56] #1387 closed

[2015-03-31 21:59] zolotov commented on #1495
Will implement for Llongfile. Lshortfile is questionable, what directory I should use to look for a file? At the moment "link-maker" uses working directory of running process, gopath entries and project basedir for that.

[2015-03-31 22:26] dlsniper commented on #1495
Unless there's a very simple way to display all the files with the same name as the one in the output in a list, I'd say try current dir and if not, don't link the file.

[2015-03-31 22:43] dlsniper opened #1511 "auto-importing for packages doesn't keep track of existing packages"
I'm yet to be very sure when this issue happens but I've find it quite a few times now when I find myself seeing 2 to 5 or more copies of the same package being added to the imports list automatically.

[code]

Commit: 502f466236f8cb6aec7bd68403c2664fcaae4e3f

[2015-04-01 05:41] zolotov commented on #1495
It will work. Files that exists in working directory of running process, gopath entries and project basedir will be highlighted

[2015-04-01 10:06] nisckis opened #1512 "GAE Windows installations should search for 'goapp.bat' instead of 'goapp.exe'"
GAE Windows installations should search for `goapp.bat` instead of `goapp.exe`.

[2015-04-01 12:45] jimbojetlag commented on #1482
1. Adding module directory in Project Settings > Libraries > GOPATH <my-module> has no effect (eg autocomplete does not work for the code in module)
2. After making the above change, .idea/goLibraries.xml does not have any libraries:
[code]

[2015-04-01 12:46] jimbojetlag commented on #1482
The above bugs are for 0.9.241.

[2015-04-01 12:49] jimbojetlag commented on #1387
As of 0.9.241 it still runs `gcloud/google-cloud-sdk/platform/google_appengine/goapp serve .`. please ignore this if the fix is not included in this build.

[2015-04-01 13:37] zolotov commented on #1482
Works as expected, you shouldn't modify Project Settings > Libraries > GOPATH. Use Go Libraries configuration.

[2015-04-01 13:41] zolotov commented on #1387
It's fixed in 0.0.242. I've update repository, new build will be available soon

[2015-04-01 14:06] aubble opened #1514 "Cannot run application in latest nightly build"
It works fine in alpha. What happens in nightly when I try to run is that instead of looking at my file specified in the Go Application build setting thing, it looks at the working directory, doesn't find any files and gives me a error?

Alpha:
https://www.dropbox.com/s/tbfsx6cqgwhz3pd/Screenshot%202015-04-01%2010.03.46.png?dl=0

Nightly:
https://www.dropbox.com/s/lvev3znoe3m6azz/Screenshot%202015

[2015-04-01 14:07] aubble commented on #1514
Oh, to add, if I do make the working directory, the directory of the file it works fine?

[2015-04-01 14:08] aubble opened #1515 "Can't specify a relative path?"
https://www.dropbox.com/s/lxv1fs148jimwtz/Screenshot%202015-04-01%2010.07.48.png?dl=0

That file is inside of my working directory but I have to use the full path? When I used to use java in intellij I believe I could use the relative path from my working directory?

[2015-04-01 14:11] zolotov commented on #1515
No, when you use java, you're using class, not file.

Well, it makes sense, but has quite minor priority to me. Feel free to contribute if you want (see GoRunConfigurationEditorForm and GoRunConfigurationWithMain).

[2015-04-01 14:13] jgroeneveld opened #1516 "Unknown field for embedded structs if they are from another package"
IDE: Intellij CE 14.1 March, 23
Plugin: 0.9.223 from repo

Embedded structs from other packages are marked as unknown. Structs from the same package work as expected.

[code]

[code]

[2015-04-01 14:35] zolotov commented on #1514
Oops, will be fixed in the next build. Thank you.

[2015-04-01 14:35] #1514 closed

[2015-04-01 17:14] dmitry-vovk opened #1517 "Broken run configuration"
Run/Debug configuration stopped working:
![screenshot - 010415 - 20 10 12](https://cloud.githubusercontent.com/assets/4119321/6946858/bd894630-d8ab-11e4-8e04-57a2a48c9785.png)

Looks like command line arguments are all mixed up.

IDEA 14.1.1
Plugin 0.9.242

[2015-04-01 20:04] jimbojetlag commented on #1482
After updating to 0.9.242, I tried these with no luck:

- Deleted the project an recreated a new Go project.
- Added the project path to Go Libraries Global part.
- Added the project path to Go Libraries Project part.
- Added the project path to Go Libraries Module part.
- Invalidated cache and restarted IDE.

Autocomplete still does not work for the code in the project.

[2015-04-01 20:15] ansel1 commented on #1508
I'm getting errors now on idea 14.1.1 (OS X 10.10.3, plugin 0.9.223) parsing file which imports encoding/pem.  Manifests as some syntax highlighting flashing on and off, and the idea logs filling up with this:

[code]

[2015-04-01 20:29] jimbojetlag commented on #1387
Thanks, launchers works fine in 0.9.242. However, the most useful part of this does not work: when there is an error, the error file/line in console is not clickable.

[2015-04-01 20:29] ignatov commented on #1508
Reproduced, thanks.

[2015-04-01 21:08] dlsniper commented on #1482
@jimbojetlag can you try to create a video of what's happening? Also, do you have any other plugin or do you run only with the default plugins? Do you have any errors reported by the IDE (```Help | Show Log in File Manager```, you might want to open the folder, close idea, wipe everything from there and start IDEA again, then the logs should be more clean). Do you have any antivirus or otherwise s

[2015-04-02 00:23] juddernaught opened #1518 "Updating IntelliJ version automatically"
By pointing IntelliJ to https://plugins.jetbrains.com/plugins/alpha/list, will IntelliJ automatically update as a new alpha version is available? Just want to know how to keep my version updated to the latest. Thanks!

[2015-04-02 00:24] Kane-Sendgrid opened #1519 "update through alpha channel doesn't work"
When trying to install from here: alpha: https://plugins.jetbrains.com/plugins/alpha/list
Idea says 404 not found

[2015-04-02 00:24] dlsniper commented on #1518
By reading the readme you can do that https://github.com/go-lang-plugin-org/go-lang-idea-plugin#pre-release-builds :)

[2015-04-02 00:24] #1518 closed

[2015-04-02 00:25] dlsniper commented on #1519
Please read the readme which states for which versions of IDEA / other IDEs this plugin currently works https://github.com/go-lang-plugin-org/go-lang-idea-plugin#pre-release-builds

As a tip, it works for all IDEs that have the plaform version 141.2 or greater

[2015-04-02 00:25] #1519 closed

[2015-04-02 00:26] juddernaught commented on #1518
Thanks for responding so fast! I followed the steps on that readme and have installed version 2.3.0, but my IntelliJ hasn't automatically updated to the current version. Any ideas?

[2015-04-02 00:31] dlsniper commented on #1518
As you've selected the alpha channel, as mentioned in the readme, you'll get updates to the plugin about once a week (maybe less). Nightly is updated every night, but it might increase chances for bugs.
Also, I can see 0.9.223 in the alpha channel, I have no clue how you see 2.3.0 (there's not even a 1.0 release yet :D)

[2015-04-02 00:43] juddernaught commented on #1518
Apologies, I meant version 0.9.230 as the version it shows under my installed plugins, but if I click on browse repositories, and select the repository pointing to https://plugins.jetbrains.com/plugins/alpha/list, it shows version 0.9.223, as it should. I wanted to make sure I am still using the alpha version, even though it shows version 0.9.230 when I select the Go plugin that I installed.

[2015-04-02 00:47] dlsniper commented on #1518
did you at any point added the nightly channel then removed it? Other than that, the only other issue I can think of is a rollback but for that either Sergey or Alexander should confirm. I can't really help with that as I'm compiling the plugin manually, sorry :)

[2015-04-02 01:08] juddernaught commented on #1518
I'm certain I never used the nightly because I did this with two other team members. We all seem to be showing a nightly version under our installed plugins and a lower alpha version when clicking on browse repository. One of us did it at a different time and are showing an even later version of 0.9.244 (I'm not positive on the exact number but think it was that) and the other two of us are showin

[2015-04-02 01:12] dlsniper commented on #1518
0.9.244 is the latest nightly. Which IDEA / other IDE version are you using?

[2015-04-02 01:25] dlsniper commented on #1518
I've just checked, 0.9.220 is the last version for IntelliJ platform < 141.2 (aka IntelliJ IDEA 14.0.x). Are you sure it's not not 0.9.220 the version that you are seeing?

[2015-04-02 02:18] aubble commented on #1517
Just update to the new version, I already complained about it and they fixed it :D

Reload the plugins in the nightly repo and just click update.

[2015-04-02 04:40] ltzMaxwell opened #1520 "Allow running projects composed of multiple files"
for instance:
I can run in terminal like this : go run test0.go test1.go
How can I run this in Idea ?

[2015-04-02 05:53] zafayar commented on #1520
This bug makes this plugin completely useless.

[2015-04-02 06:02] zafayar commented on #1520
As an addition, when I try to run the project, the command executed is:

``` /usr/local/go/bin/go build -o /tmp/run6go /home/niral/go/src/xxx/main.go ```

and because this project has more files, I get bunch of 'undefined' errors.  I get the same error if I do "go build main.go".

[2015-04-02 07:13] zolotov commented on #1520
@ltzMaxwell it's not possible via UI yet. How do you think it should looks like? You can try to configure Go Application configuration that uses `go build` instead.

Seriously? Running application is the only reason why you use IDE? Anyway see #1414 and #1413 discussions, you have a chance to be the first who will invent the solution and make plugin `usable`.

[2015-04-02 07:18] zolotov commented on #1482
@jimbojetlag please tell about your project configuration and give an code example where completion doesn't work.

[2015-04-02 07:20] zolotov commented on #1512
Fixed by @nisckis

[2015-04-02 07:20] #1512 closed

[2015-04-02 07:23] zolotov commented on #1501
any news on it?

[2015-04-02 07:24] zolotov commented on #1387
Some of them works. I'm working on it (see #1495). Could you give me more examples for testings?

[2015-04-02 10:44] omribahumi commented on #1501
![image](https://cloud.githubusercontent.com/assets/2558457/6962578/5461ea20-d93e-11e4-9f7b-8f30e1e4f027.png)

[2015-04-02 10:48] zolotov commented on #1501
It's red, so something wrong with it. Are you sure that the directory exists?

[2015-04-02 10:55] omribahumi commented on #1501
@zolotov I tried playing with it and left it as `gopath2`, tuning it back to `gopath` solved the problem.
I think the problem was old plugin data after the upgrade (or even a duplicate of the two plugins)
Fresh install of the current alpha version with a _right_ gopath seems to work.

Thanks and sorry for the trouble

[2015-04-02 10:55] #1501 closed

[2015-04-02 10:56] zolotov commented on #1501
Thanks for feedback. I think we should do something for painless migration on alpha version.

[2015-04-02 11:02] omribahumi commented on #1501
+1

[2015-04-02 11:03] #1508 closed

[2015-04-02 11:03] #1487 closed

[2015-04-02 11:03] #1492 closed

[2015-04-02 11:23] akaspin commented on #1516
Bump

[2015-04-02 12:00] carlskii opened #1521 "Broken Url"
The plugins URL seems to be broken.

https://plugins.jetbrains.com/plugins/alpha/list

[2015-04-02 12:14] dlsniper commented on #1521
no it's not. read the readme

[2015-04-02 12:14] #1521 closed

[2015-04-02 12:16] dlsniper commented on #1516
@akaspin we're gladly accepting contributions, thank you for asking. Please find out more on how to contribute by reading this: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/CONTRIBUTING.md Thank you for offering to bump the contributors numbers :)

[2015-04-02 12:41] dlsniper commented on #1511
I've updated the description to reflect the way to reproduce the issue. Please let me know if it's clear on how to do it. Thank you.

[2015-04-02 12:47] dlsniper commented on #1510
Doesn't happen with 502f466236f8cb6aec7bd68403c2664fcaae4e3f

[2015-04-02 12:47] #1510 closed

[2015-04-02 12:52] dlsniper commented on #1448
@jbuberel any updates on this? Also, have you updated the plugin meanwhile? There have been lots of changes to runners lately. Thanks.

[2015-04-02 13:08] dlsniper commented on #1520
@zolotov for running a project composed of multiple files, would it be possible to have a "Go Multiple File" runner with an interface that lets you choose which files from the project to run?

Another option would be to provide an option to allow the IDE to create a list of all files that are in the same directory as the file that contains "func main()" and invoke go tool with that list (same shou

[2015-04-02 13:09] ltzMaxwell commented on #1520
@zolotov How can I set go build in configuration?, in 'before launch ,go command'? It seems not work.

[2015-04-02 13:11] dlsniper commented on #1520
@ltzMaxwell ```Run | Edit Configurations | + | Go Application```

[2015-04-02 13:13] ltzMaxwell commented on #1520
@dlsniper  and then?

[2015-04-02 13:15] dlsniper commented on #1520
Then you can configure the runner and that will run a ```go build``` command instead of ```go run```

[2015-04-02 13:40] jimbojetlag commented on #1482
Regenerating this problem is easy:

- Create a new Go project _outside of your GOPATH_
- Create a simple package and main file like this:
[code]
[code]
[code]
- In IJ Preferences > Languages & Frameworks > Go Libraries, add the current project path to Global libraries (or Project libraries, or Module libraries).

- The Go Project package is not parsed:

![image](https://cloud.githubusercontent.com

[2015-04-02 13:44] jimbojetlag commented on #1387
It looks like go appengine dev server copies the files to a tmp directory. When the errors appear from the tmp dir, they are clickable. But sometimes the errors happen directly from the project dir, which are not clickable.

It is not clear to me under which condition the tmp and the project dir are shown in the console.

[2015-04-02 13:47] zolotov commented on #1387
Yes, I know that. I made some efforts with links to tmp files and didn't do anything with directly paths. It would be nice if you give me examples of real logs so I'll be able use it in tests.

[2015-04-02 13:47] zolotov commented on #1482
So try to add you project root to Go Libraries

[2015-04-02 13:49] dlsniper commented on #1482
But that's not a valid go project layout.
If you want to have a project outside of the GOPATH, you MUST follow the instructions here: https://golang.org/doc/code.html#Workspaces

Your layout must be:
[code]

@zolotov I've noticed that in this setup it's impossible to create a runner configuration. If it's not a known issue, should I open a new one?

[2015-04-02 14:00] dlsniper commented on #1387
@zolotov here are some logs for this, maybe it's useful: http://pastebin.com/mfsxLnjz
You can ```go get https://github.com/gophergala/yps``` to install the app in your GOPATH.
Hope this helps.

[2015-04-02 14:30] jimbojetlag commented on #1482
Not necessarily, that's just a recommendation. Specifically, appengine projects do not have the src directory.

[2015-04-02 14:36] jimbojetlag commented on #1387
Try a project with 2 modules: one an appengine project, and the other just a package somewhere in your GOPATH.

The errors for the appengine module (from tmp dir) are clickable. But errors for the package module are not clickable.

You probably want to make this pattern clickable:
[code]
, with the exception of a file copies to the tmp dir being mapped to the actual project file, which is already

[2015-04-02 15:04] dlsniper commented on #1482
"Go code must be kept inside a workspace. A workspace is a directory hierarchy with three directories at its root:"

Also, this blog post reflects how GAE is workspace aware https://blog.golang.org/the-app-engine-sdk-and-workspaces-gopath

So, at least to my understanding, if you want to have a project outside of the main GOPATH, you should respect the workspace structure. The plugin behaves corre

[2015-04-02 15:16] jimbojetlag commented on #1482
Appengine Go SDK does not follow the above convention, see https://cloud.google.com/appengine/docs/go/#Go_Organizing_Go_apps :

Here, `project-dir` is any arbitrary directory outside, or inside GOPATH, with, or without the `src` directory.

I think the IDE must follow the Appengine SDK conventions, rather than the golang workspace conventions. At the very least, this should be applied to a Go Appe

[2015-04-02 17:50] #1500 closed

[2015-04-02 17:50] #1516 closed

[2015-04-02 17:58] #1494 closed

[2015-04-02 17:58] ignatov commented on #1494
Looks like out of date, @dlsniper please confirm.

[2015-04-02 18:02] dlsniper commented on #1494
It's not here anymore, on version abf30fe27431d8ec416a54ff322e806583bbb848 that's correct (it was in 502f466236f8cb6aec7bd68403c2664fcaae4e3f )

Thank you.

[2015-04-02 18:42] dmitry-vovk commented on #1517
Both "Go Application" and "Go Single File" are broken if "Program arguments" is set. If it is left empty, runs as usual.

[2015-04-02 19:33] dlsniper commented on #1517
@zolotov I'll submit a patch for this shortly.

[2015-04-02 20:02] dmitry-vovk opened #1523 "Unresolved reference issue"
This code compiles:
[code]
But gives "Unresolved reference 'persist'" in IDE

IDEA 14.1.1
Plugin 0.9.244

[2015-04-02 20:05] landaire commented on #1520
I'm having this issue myself. If you *really* want to run an application from within the IDE you can set the path to the package import path ([example](http://i.imgur.com/xNWC9yb.png)), hit run, you'll get an error window, continue anyways, then hit run again and all will work as expected.

[2015-04-02 20:43] zolotov commented on #1387
This pattern is clickable now: ^[ \t]*/any/path/to/a/gofile.go:linenumber$. And there is the exception for files from tmp-dir.
Anyway this info is unusable for testing, I asked for real logs.

@dlsniper thanks, will try the project too.

[2015-04-02 20:45] zolotov opened #1525 "Resolve imports relatively to app.yaml"
Actual for GAE project. Details here: https://cloud.google.com/appengine/docs/go/#Go_Organizing_Go_apps

[2015-04-02 20:46] zolotov commented on #1482
@jimbojetlag got it, created the separate issue #1525

[2015-04-02 20:46] #1482 closed

[2015-04-02 21:53] SchumacherFM commented on #351
:+1: At the moment I'm using .hbs file extension which are Mustache/Handlebars templates for the JS world but the syntax is different ...

[2015-04-02 23:28] jimbojetlag commented on #1387
0.9.244 uses `gcloud/google-cloud-sdk/platform/google_appengine/goapp` again :( I'm not able to generate some log for testing.

[2015-04-02 23:30] dlsniper commented on #1387
@jimbojetlag try running the server directly and do some of the stuff you'd do normally in the IDE. That should work ;)

[2015-04-02 23:34] zolotov commented on #1387
@jimbojetlag sorry, my bad, I need a test for that.

[2015-04-02 23:39] jimbojetlag commented on #1387
@zolotov You're regex will work correctly. There's nothing special about the log, anything should do the job, including this:

[code]

[2015-04-02 23:50] zolotov commented on #1387
thanks, good sample.

meanwhile i've uploaded the new nightly build, please try it, running should be fixed.

[2015-04-03 02:42] ColorFuzzy opened #1527 "Code analysis error"
// file1.go
    type Ormer interface {
    	Read(interface{}, ...string) error
    	ReadOrCreate(interface{}, string, ...string) (bool, int64, error)
    	Insert(interface{}) (int64, error)
    	InsertMulti(int, interface{}) (int64, error)
    	Update(interface{}, ...string) (int64, error)
    	Delete(interface{}) (int64, error)
    	LoadRelated(interface{}, string, ...interface{}) (int64, error)

[2015-04-03 12:16] dlsniper opened #1528 "Test runner should display test names"
It would be nice if the test runner could display the test names as they happen. We could then correlate those with the test functions we have in the project.

For example:
[code]

[2015-04-03 12:55] zolotov commented on #1528
didn't understand the issue

[2015-04-03 13:58] dlsniper commented on #1528
When running the tests on the package ```github.com/labstack/echo```, you'll get the output of the tests and the following two lines:
[code]

It would be nice if the test runner could parse the output, extract the test name, ```TestFunctionNameHere``` and then check for each test if there's a line with ```---STATE: TestFunctionNameHere```` where STATE is one of the following: ```PASS```, ```SKIP``

[2015-04-03 14:42] zolotov commented on #1528
It works for couple month

![screenshot 2015-04-03 17 41 51](https://cloud.githubusercontent.com/assets/140920/6983621/bb52ce1c-da28-11e4-9519-55be539d1d5f.png)

[2015-04-03 14:42] #1528 closed

[2015-04-03 14:51] jbuberel opened #1529 "Feature request: Replace built-in go fmt with goimports"
Consider using the 'goimports' tool as a drop-in replacement for 'go fmt'.
http://golang.org/x/tools/cmd/goimports

In addition to code reformatting, it will also fix common import problems, such as missing or unused imports. It is maintained by the core Go team, and works across all Go platforms.

[2015-04-03 15:00] dlsniper commented on #1529
Hi, I'll address this in order:
- the platform takes care already of the missing imports as you write the code, which is far better that what goimports
- support for removing unused imports is yet to be done, I'm not sure if there's an easy way to have it done
- formatting code has been debated and it's much better to have the platform do the formatting rather that use an external tool.

However,

[2015-04-03 15:00] #1529 closed

[2015-04-03 15:04] dlsniper commented on #1528
Then I either do something wrong for the said project or there's something that breaks the test runner because I've never got any test names there.

![snapshot32](https://cloud.githubusercontent.com/assets/607868/6983902/4728188a-da23-11e4-924b-92c3d7a87f21.png)

I'll try to investigate the issue as well in the weekend. Thank you

[2015-04-03 15:08] zolotov commented on #1528
You have enabled test filter: only failed tests is shown.

![screenshot 2015-04-03 18 08 16](https://cloud.githubusercontent.com/assets/140920/6983955/72555bd6-da2c-11e4-8248-efc69680101a.png)

[2015-04-03 15:10] zolotov commented on #1529
It implemented long time ago: Code | Optimize imports or Code | Reformat code

[2015-04-03 15:14] dlsniper commented on #1529
Sorry, I mean it to be automatic, without invoking the command specifically.

[2015-04-03 15:14] dlsniper commented on #1528
I need to learn to use the IDE... thank you

[2015-04-03 15:29] zolotov commented on #1529
#1268

[2015-04-03 15:30] #1517 closed

[2015-04-03 15:51] jbuberel commented on #1268
I would recommend running import optimizer as an optional on-save hook.

[2015-04-03 15:59] dlsniper commented on #1268
We've had that discussion as well but it turns out that due to the way the platform saves files it's really not the way to approach the problem. The best thing would be for the plugin to have the formatting engine running. Until then, you can use the File watcher plugin to perform this in a much better way: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1215#issuecomment-72361111

[2015-04-03 16:38] ukautz opened #1530 "Performance issue with nested functions"
Using [Goconvey](http://goconvey.co/) quite a lot I noticed that the performance degrades measurable when nesting (multiple) functions: On saving a file with (deeply) nested functions a single CPU core is bumped to 100% usage for a couple of seconds (feels geometrically'ish proportional to the nesting depths).

An (extreme) example project to reproduce the issue (works on my two machines (i7-3770

[2015-04-05 03:23] #1530 closed

[2015-04-05 03:24] ignatov commented on #1530
Thanks for reporting.

[2015-04-06 16:40] dlsniper opened #1531 "Variables with same name as struct fields are masked by struct fields"
Please see below:

[code]

[2015-04-06 21:09] dmitry-vovk opened #1532 "Issue with literal maps"
[code]
Valid and compiling code (https://play.golang.org/p/cX966bbUwg), but first two lines of ```ValidName``` func are marked as "Missing return at end of function" and "Unused variable kind".

IDEA 14.1.1
Plugin 0.9.251 (and 0.9.250)

[2015-04-06 21:13] dlsniper commented on #1532
The actual error is on line 21, ```}[strings.ToLower(name)]; ok {``` before ```; ok``` with the value ``` const,func,type or var expected, got ; ```

[2015-04-06 21:31] sclasen commented on #1162
@ignatov is this in an alpha build yet?  I am not seeing it work, despite updating as soon as new alphas are available

[2015-04-06 21:34] dlsniper commented on #1162
@sclasen it is indeed in the alphas since a couple of weeks. Can you please open a new issue with a way to reproduce this? For me the feature works since it was commited. Thank you.

[2015-04-06 21:42] sclasen opened #1533 "struct field name completion doesnt seem to work"
@dlsniper do these illustrate the issue enough?

![image](https://cloud.githubusercontent.com/assets/523338/7013017/b86de8d2-dc6a-11e4-8190-bc38eed9ad03.png)

![image](https://cloud.githubusercontent.com/assets/523338/7013039/dfd58240-dc6a-11e4-98dc-d08d1ca92f81.png)

I would expect a popup with

[code]

thats how 0.9 worked anyhow

[code]

[2015-04-06 21:43] sclasen commented on #1533
similar behavior with stdlib structs and library structs too

[2015-04-06 21:48] dlsniper commented on #1533
Strangely enough, this works on my machine, please see below:
![snapshot33](https://cloud.githubusercontent.com/assets/607868/7013154/565d0b1c-dcb7-11e4-8c7e-ea3632989198.png)

![snapshot34](https://cloud.githubusercontent.com/assets/607868/7013155/56619aa6-dcb7-11e4-8a2a-c41d172a0821.png)

(I've updated the issue to contain the go code I'm using, it should be the same as in your example)

[2015-04-06 21:56] dlsniper commented on #1533
@sclasen is your project in the Go libraries paths? It's about the only thing that I can think of right now for this not to work. I'm using a build of the plugin from master (commit 7192e5a7a1a0824dfea50fba66efa8665dee19a0) but I don't think it should be a problem vs the alpha / nightly builds. Have you tried typing the first 1-2 letters (sorry if it seems silly)? Thank you.

Also, here's what I h

[2015-04-06 22:07] sclasen commented on #1533
![image](https://cloud.githubusercontent.com/assets/523338/7013432/fbf7a856-dc6d-11e4-980a-dd3674f116a5.png)

![image](https://cloud.githubusercontent.com/assets/523338/7013435/09f57398-dc6e-11e4-81b9-955d3d372726.png)

similar lists with `Na<aoutcomplete>`

This is on OSX btw, if that makes a difference. You look like you are on linux @dlsniper

The libraries in question are all in the project.

[2015-04-06 22:18] dlsniper commented on #1533
Unfortunately I have to leave this to Sergey as I can't figure out why the problem could happen. The OS definitely shouldn't be a problem. Thanks once again for reporting.

[2015-04-06 22:19] sclasen commented on #1533
Thanks @dlsniper, and everyone who works on this project!

[2015-04-07 00:01] nhooyr opened #1534 "Coloring Issues"
https://www.dropbox.com/s/d7jaqqxv7twfw6t/Screenshot%202015-04-06%2019.57.25.png?dl=0

In that code, in the struct literal, var1 should be highlighted just as it is in the println statement no? It is treated as simply an identifier in the colors and fonts list for go.

Also, why are packages treated as identifiers as well? Should they not have their own colors in the fonts and colors tab? I haven'

[2015-04-07 00:08] dlsniper commented on #1534
Thanks for reporting.

@ignatov I can work on this but I'd like to understand why the PSI tree has different values for the two fields.

[code]

![snapshot36](https://cloud.githubusercontent.com/assets/607868/7014870/f3d198dc-dcca-11e4-8ddc-f6dea7c52fd1.png)

Thank you!

[2015-04-07 02:11] Talos208 opened #1535 "Call func with anonymous func within if statement, cause parser stop."
* There is a func that takes a func as an argument.
* Call the func with anonymous function within if statement and user return value.
* Parser stops from end of the function
Here is a sample code.
[code]
![2015-04-07 11 10 22](https://cloud.githubusercontent.com/assets/1047374/7015925/d5bf714c-dd16-11e4-908d-3e59a4dbda23.png)

[2015-04-07 12:27] dlsniper opened #1536 "CNFE Error editing yaml files"
I'm editing a project with a yaml file and a Go SDK attached and I've got this error while typing  something into the file:

[code]

Plugin hash: 7192e5a7a1a0824dfea50fba66efa8665dee19a0

file.yaml
[code]

Please let me know if you need more details.

[2015-04-07 16:20] johnleegrant opened #1537 "Default Go project encoding windows-1252 instead of UTF-8?"
Creating a new Go project from File > New > Project... > Go... defaults to Windows-1252 encoding:

![image](https://cloud.githubusercontent.com/assets/5324735/7027541/f3c4af32-dd47-11e4-8081-b08fa7393c1a.png)

This means the following won't compile because of error: line 6: illegal UTF-8 sequence

[code]
Can everything be set to always default to UTF-8?

IDEA version: 14.1.1
OS version: Windows 8.

[2015-04-07 16:27] zolotov commented on #1537
Didn't get it. Why do you set windows-1252 if you know that it won't compile?

[2015-04-07 16:42] johnleegrant commented on #1537
Plugin version: 0.9.250 creates projects using windows-1252. There's no way to change the encoding during the initial wizard. If you forget to change to UTF-8 ( in File > Settings > Editor > File Encodings ) at the start you inevitably have to manually convert all your go files to UTF-8 when you hit an encoding problems with the compiler at a later stage.

My point is, the plugin should start with

[2015-04-07 16:48] zolotov commented on #1537
I believe that go plugin has nothing to do with it. Try to close all projects and check encoding settings while none of project is opened, maybe you or some third-party plugin changed the default value.

[2015-04-07 17:09] #1536 closed

[2015-04-07 17:10] johnleegrant commented on #1537
My apology. OK, you have to configure IDEA to use a specific encoding before you start with Go. Maybe the plugin could provide a warning if the global setting is not UTF-8 to prevent subsequent build problems? The Go spec does state that source code should be Unicode text encoded in UTF-8 [golang.org/ref/spec#Source_code_representation](http://golang.org/ref/spec#Source_code_representation)

[2015-04-07 17:22] zolotov commented on #1537
Hmm, it makes sense. Actually I can forbid changing encoding for Go files, so despite of project settings it will be always UTF-8:
![screenshot 2015-04-07 20 19 58](https://cloud.githubusercontent.com/assets/140920/7029108/845b1bb0-dd63-11e4-9faf-b74d081a0608.png)

Do you think it's a good solution or someone may want to change the encoding for Go files?

[2015-04-07 17:25] mtoader commented on #1537
It has been like that since the first days. If you really are concerned with the changing it can be done as a customization option as: "Enforce UTF-8 for Go files". If set, which should be the default, will enforce it, it not set it will default to the normal behaviour. That way if the standard will ever change people will be able to tweak their local config to work.

But also, this might be overk

[2015-04-07 17:27] johnleegrant commented on #1537
For someone as forgetful as me, I think that's a great suggestion. I can't think why you would want to use anything other that UTF-8.

[2015-04-07 17:29] zolotov commented on #1537
The option is the last thing that I want to do :)
Ok, I'm going to do so for Go file types and will think about other solutions if someone will ask for it.

[2015-04-07 17:34] #1537 closed

[2015-04-07 18:29] dlsniper commented on #1536
Thank you!

[2015-04-07 23:24] Kane-Sendgrid opened #1538 "goimports file stopped working in 0.9.250, was working before"
expected: when choosing goimports file from menu, should fix imports section
current: doesn't make any changes.

[2015-04-08 02:21] 3dseals commented on #1456
Hi, i have a problem with idea 14.1 and go plugin 1.0.0.alpha#201
i can't build or debug the go project
but i can run it with config the goroot and gopath(library)
how could i debugging the go project?any Tutorial for me?
i also try the idea 13 and 0.9x plugin

[2015-04-08 08:06] dlsniper commented on #1538
Hi @Kane-Sendgrid, can you please give me a bit more details? What happens when you select the goimports option from the menu? Is the option in the menu enabled in the first place? Does any window appear with any message? Can you see anything in the logs? Thank you.

[2015-04-08 08:16] dlsniper commented on #1456
@3dseals if you are using IDEA 14.1+ please upgrade to the latest version of the plugin, see the README on how to add the alpha channel to the IDE and access it. Also, please open a new issue so that we can address your issue specifically.
As for the whole debugging thing, @zolotov please correct me if I'm wrong, but it's safe to say it's experimental at this point and it's only as good as running

[2015-04-08 09:08] dlsniper opened #1539 "Performance test "testUnusedFunction" fails with RuntimeException"
Hi,

I've finally got around running the performance tests from the plugin, and one of them ended up in failure.
You can see the logs here: http://pastebin.com/mctdJBnN

Commit hash: 3fe5150f633206d7d8e7a3f960914fb7564ef800
Ubuntu 14:10
Docker: 1.5.0
IDEA: 141.498.1
Java:
java version "1.8.0_40"
Java(TM) SE Runtime Environment (build 1.8.0_40-b25)
Java HotSpot(TM) 64-Bit Server VM (build 25.40-b25

[2015-04-08 10:02] zolotov commented on #1539
We know this and run performance tests regularly, it will be fixed when it will be fixed :)

[2015-04-08 10:02] #1539 closed

[2015-04-08 10:03] dlsniper commented on #1539
Ah, ok, I thought it's something I've did wrong on my setup or something. Thank you.

[2015-04-08 10:05] zolotov commented on #1456
@3dseals debugging doesn't work sorry, we'll look at it in the nearest future. As for running, it works for some cases but not for all, see #1413 and #1414 for details.

Closing issue as a duplicate of #1413 and #1414

[2015-04-08 10:05] #1456 closed

[2015-04-08 10:06] zolotov commented on #1538
Also it would be nice to have source code and code that you're expecting to get after 'goimports' invocation

[2015-04-08 14:52] anidotnet commented on #1538
And also it looks like "Go fmt file" and "Go fmt project" are also not working in linux. Though in PATH every thing is set, still it is giving the below error while invoking from menu.

`exec: "gofmt": executable file not found in $PATH`

[2015-04-08 14:54] dlsniper commented on #1538
@anidotnet that's a different issue. For that you need to have the PATH env variable configured in ```.profile``` @zolotov please correct me if I'm wrong (I haven't tested it as I'm not using that part of the functionality)

[2015-04-08 15:22] JoeBruner commented on #1533
@sclasen , I'm using Ubuntu, but I noticed that this feature did not work as of build 201, but it apprears to be working as of 250.  I believe there was an issue to fix this, but don't know the number or status off the top of my head.

[2015-04-08 15:43] anidotnet commented on #1538
@dlsniper, just an FYI, I can see proper command is getting invoked with proper path in Run window. The command itself works in external terminal but not in IDE. PATH is set in default profile zsh and bash. Let me know if it is specifically has to be .profile or not.

[2015-04-08 15:45] dlsniper commented on #1538
@anidotnet please open a different issue with this problem as it's not related to the one that @Kane-Sendgrid describes. We'll see if we can address it there. Thank you.

[2015-04-08 15:50] Kane-Sendgrid commented on #1538
@dlsniper menu item is not greyed, I can click it but nothing happens. I would expect it to run format the source and add missing imports/remove unused ones. No windows, error messages and nothing in the log, looks like it's just a noop. I've downgraded to 0.9.201 in the meantime, it works in that release.

[2015-04-08 15:52] Kane-Sendgrid commented on #1538
@zolotov here is an example of what I would expect
before goimports
[code]
after:
[code]

[2015-04-08 16:05] dlsniper commented on #1538
I think I've managed to replicate this, I'll see if I can work on it to fix it before passing it to @zolotov. Thank you.

[2015-04-08 16:09] sclasen commented on #1533
@JoeBruner this one? https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1162

If so, I am using a build that supposedly has this fix, yet still exhibits the symptoms I screenshotted.

[2015-04-08 16:10] sclasen commented on #1533
Ooh! I do have 201 though.   The alpha repo is timing out for me. I will try and test once I can get a list.

[2015-04-08 16:17] dlsniper commented on #1533
@sclasen make sure you are using IDEA 14.1+ and the nightly / alpha repositories should work for you. Thank you.

[2015-04-08 16:18] JoeBruner commented on #1533
Yah, I didn't realize that you needed 14.1.  I was trying with 14.0.x and
it wasn't updating.  I just updated my version to 14.1 today and it
upgraded my plugin.

On Wed, Apr 8, 2015 at 12:17 PM Florin Patan <notifications@github.com>
wrote:

[2015-04-08 16:21] sclasen commented on #1533
Woo!  250 works for me!

On Wed, Apr 8, 2015 at 9:18 AM, JoeBruner <notifications@github.com> wrote:

[2015-04-08 16:21] sclasen commented on #1533
fixed in 250

[2015-04-08 16:21] #1533 closed

[2015-04-08 16:24] dlsniper commented on #1538
Fixed in #1540

[2015-04-08 16:44] #1532 closed

[2015-04-08 16:44] #1535 closed

[2015-04-08 16:58] dlsniper opened #1541 "Support for multiple packages in coverage runner"
It would be nice if the plugin could present one of the following options:
- a nicer way to specify ```-coverpkg=pkg1,pkg2,pkg2``` for the coverage runner (not really sure how to do this)
- a checkbox that says: Coverall in project (behind the scene it should generate the list of all packages from the current project and append it to the ```-coverpkg``` option).

The second option could potentiall

[2015-04-08 20:19] #1538 closed

[2015-04-08 20:20] dlsniper opened #1542 "Cannot cast bash file to go file"
I have the bash support plugin installed.
While editing a .sh file I've right clicked on the file and this happened

As it doesn't seem too hard / long to do I'll fix it myself.
[code]

[2015-04-08 20:23] zolotov commented on #1542
Sure, use `PsiFile file = contextElement.getContainingFile(); if (GoTestFinder.isTestFile(file)) { }` for that. Just like in `setupConfigurationFromContext` method

[2015-04-08 20:30] zolotov commented on #1541
I think that it makes sense but it's more about tests and there are two different issues:

Coverage corresponds to tests and doesn't have its own configuration, if you want to see coverage of several packages you should create test configuration for several packages. So the first issue is about test configuration that allows you to test several packages.

Checkbox is ambiguous and what test run co

[2015-04-08 21:49] #1542 closed

[2015-04-09 03:38] Kane-Sendgrid commented on #1016
still doesn't work in 0.9.264, what's the plan on fixing this?

[2015-04-09 09:36] ignatov commented on #1016
still doesn't have a million in my pocket,  what's the plan on fixing this?

[2015-04-09 14:37] dlsniper opened #1543 "Type inference for casting struct slices"
In the example bellow, the resolving engine doesn't see the cast to ```[]Param()``` and thus renders the struct keys as unresolved.

[code]

[2015-04-09 16:29] JoeBruner opened #1544 "[feature] Add ability to execute scratch files"
IntelliJ has the ability to do scratch files.  This sort of mimics the functionality of https://play.golang.org/ , however the go playground is limited in that you can't test against 3rd party libs.  The formatting and such works for Go files in IntelliJ, however, there is no way (that I can tell) to execute the file which is sort of limiting.   It is possible to execute scratch files for specific

[2015-04-09 16:37] dlsniper commented on #1544
I've labeled this as 'next' as I'm not sure how hard it is to implement. If there's a place where I could have a look at something similar, I'd like to give it a try. Thank you.

[2015-04-09 16:53] JoeBruner commented on #1544
Apparently, according to http://blog.jetbrains.com/idea/2014/09/intellij-idea-14-eap-138-2210-brings-scratch-files-and-better-mercurial-integration/
@ignatov might already know about this issue and be working on it??

[2015-04-09 16:58] dlsniper commented on #1544
I'm not sure on what Sergey works on but that's why I've left the message here :) If he can point me in the right direction, I can have a try to do this (or anyone else for that matter, since the plugin is open-source).

But again, I don't know how hard it is to do / if it's a priority for the plugin to have this right now. Currently, one can simply create a new file, right click on it and select

[2015-04-09 17:21] #1495 closed

[2015-04-09 20:43] dashaus opened #1545 "the autocompleter adds a colon in the end when I press over a suggestion of the fields of a struct"
[code]

[2015-04-09 20:44] zolotov commented on #1545
relates to #1496

[2015-04-09 20:46] dashaus commented on #1545
Ops! Sorry..

[2015-04-09 20:54] zolotov commented on #1545
It's just bookmark :) I'm not sure that it's duplicate but I want to easily find similar issue when I'll fixed one of them.

[2015-04-09 23:35] horkhe opened #1546 "[1.0] An embedded struct name is not recognized as a valid field name"
[code]

[2015-04-09 23:38] dlsniper commented on #1546
Hi, at least in the example you are missing the quotes for import and I believe the right import should be: ```import "net"``` not ```import net.Conn```.
Did you took the example via copy&paste or you typed it in here?

[2015-04-09 23:48] horkhe commented on #1546
@dlsniper sure you are right. I fixed the example.

[2015-04-09 23:50] dlsniper commented on #1546
@horkhe cool, thanks. Which version of the plugin and IDE are you running? I can't replicate it with da79d7a823e1fee75c08b499b58d2ed6b72d4f66 (roughly equivalent to whatever it's the latest nightly)

[2015-04-09 23:53] aubble opened #1547 "Highlighting the package?"
Normally whenever I select a variable, all instances of the variable are highlighted.

https://www.dropbox.com/s/nbwef22vilbjdov/Screenshot%202015-04-09%2019.52.43.png?dl=0

My cursor is over the first var2 in the struct type definition. Doing so also highlights all the usages like in the println statement and the struct literal. Now this is all fine and dandy. The problem is doing the same with p

[2015-04-09 23:55] horkhe commented on #1546
@dlsniper I am on d02c1cc of v1.0.0-alpha0 branch, and using Idea 14.1.1

[2015-04-09 23:59] dlsniper commented on #1547
I've put it to "1.0 maybe?" as it's rather an improvement / feature request than a bug imo.
If someone wants to take a stab at it, the sources for the highlighter can be found here: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/tree/master/src/com/goide/highlighting It would be very much appreciated.

[2015-04-10 00:01] dlsniper commented on #1546
Unless there's a really good reason to stay on that, I'd say it's safe to remove that version and use either the alpha or nightly channels. The info on how to do so is in the readme, https://github.com/go-lang-plugin-org/go-lang-idea-plugin#pre-release-builds

[2015-04-10 00:06] horkhe commented on #1546
@dlsniper I used it since it was very different from master. But I see that the alfa branch has been merged to master so I am switching to master. You are right the master has the problem fixed. Thank you.

[2015-04-10 00:06] #1546 closed

[2015-04-10 00:07] dlsniper commented on #1546
@horkhe that's good. Thanks for feedback ;)

[2015-04-10 00:11] kiryaka commented on #1520
@dlsniper can you please be more specific about "configure the runner and that will run a go build command instead of go run". [here](https://www.dropbox.com/s/fhpnwyim7lpbz7h/Screenshot%202015-04-09%2020.08.33.png?dl=0) is the new configuration -> Go Application. What next? I'm using go build && app_name from the terminal view right now and it is annoying.

[2015-04-10 00:16] dlsniper commented on #1520
@kiryaka from your screenshot I can see an error, you need to specify the main file. Also, if your project has multiple files in the main package, things won't work. See Alexanders' comment for why this is not supported (yet). We gladly welcome contributions.

[2015-04-10 00:20] kiryaka commented on #1520
I need to do *go build* on the directory and then run the binary. What main.go can do with it? I can put it there. It will to run it and exit with error, because the application have way more files then just main.go How to include other files?

[2015-04-10 00:23] dlsniper commented on #1520
I'm really not sure what's so unclear. You cannot do that yet. The original poster asked where he can run go build, I pointed him there, there was no mention that you can run / compile multiple files.

[2015-04-10 00:30] kiryaka commented on #1520
It's actually still unclear for me from your replies where to run "go build" on the directory. But anyhow, if the feature allowing to build and run the whole project from run configuration is not ready yet, then just consider my posts as +1 to this feature request :) Thank you.

[2015-04-10 10:09] M-Gray commented on #1520
I've been using a "make" file for building multiple files. Make sure the working directory includes your source code. https://github.com/M-Gray/IdeaJGO/blob/master/make.go

[2015-04-10 11:17] coocood opened #1548 "Disable CGO inspection if import "C" is present"
If ```import "C"``` is present, then all the references to ```C.``` should be ignored by the analysis engine.

[code]

[2015-04-10 11:22] dlsniper commented on #1548
I've changed a bit the wording in the description and hopefully assigned it to the right person :)

[2015-04-10 11:22] ignatov commented on #1548
Relates to #1260

[2015-04-10 14:00] ignatov commented on #1496
Obsole

[2015-04-10 14:00] #1496 closed

[2015-04-10 14:08] #1545 closed

[2015-04-10 14:16] dlsniper opened #1549 "Prevent folding for interface{}"
Currently the interface ``` interface{} ``` folds to ``` interface{...} ``` which can be annoying to do as it's misleading.

[2015-04-10 14:16] dlsniper commented on #1549
I'd like to work on this in the weekend.

[2015-04-10 21:12] ignatov commented on #1549
It's pretty easy, just check that nothing exists inside the interface :)

[2015-04-10 21:28] ignatov commented on #1544
At the moment scratches don't have extensions. And the `go run` command can't run them.
Also see corresponding change https://github.com/golang/go/commit/ed936a3f22bcc8165390545471633141088eca26#diff-625aa2f64551b1e6337ca53cacf06be5R34

As a workaround you can add an extension manually, but it's not really convenient. Use rename refactoring **Shift+F6** or open the file in Scratches view **Alt + F

[2015-04-10 21:33] ignatov commented on #1100
Already done

[2015-04-10 21:33] #1100 closed

[2015-04-10 21:34] ignatov commented on #602
Obsolete?

[2015-04-10 21:35] dlsniper commented on #602
Yes, I'll close it. the support is working pretty nice in the latest versions + IDEA 14.1. Thank you!

[2015-04-10 21:35] #602 closed

[2015-04-10 21:37] ignatov commented on #465
Ping ;)

[2015-04-10 22:17] #1544 closed

[2015-04-11 01:42] JoeBruner commented on #602
?? Did I misinterpret what you said?  It sounds like you're saying that the go tool cover is integrated into IDEA. I haven't seen any way to do it other than running from terminal.

[2015-04-11 10:50] esiqveland opened #1550 "Functions used from package main are not marked as in use"
Example code:

IDE: WebStorm 10 WS-141.506
GO plugin: 0.9.250

[code]

[code]
A usage search for NewContext func usage, says no usage is found in project.

Could be main package is not correctly identified as part of project?

[2015-04-11 10:55] dlsniper commented on #602
To get this working you need to create a test run configuration and then simply select ```Run with Coverage``` instead of ```Run``` from the IDE. I'll start working on the plugin documentation and I'll make sure to cover this as well.

[2015-04-11 11:05] dlsniper commented on #1550
I've checked with creating a different package in the same project and indeed it does seem that the example is valid. The inspections don't process ```package main``` as part of the package for some reason.

[code]

[2015-04-11 12:12] esiqveland commented on #1550
Possibly related:

https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/206

[2015-04-11 13:01] zolotov commented on #602
@JoeBruner see the [demo](http://screencast.com/t/S2N0q9F7D)

[2015-04-11 19:03] dlsniper commented on #1393
I've closed the PR for this a while ago as this might not be always useful from real life tests.

[2015-04-11 19:03] #1393 closed

[2015-04-11 19:05] dlsniper commented on #1324
We've decided not to use this approach but rather fix the formatter. Please watch #1215 for progress on it.

[2015-04-11 19:05] #1324 closed

[2015-04-11 19:05] dlsniper commented on #1279
Obsolete

[2015-04-11 19:05] dlsniper commented on #960
Also, obsolete. master does it nicely now.

[2015-04-11 19:05] #960 closed

[2015-04-11 19:07] dlsniper commented on #342
Run configurations support running go tools before actual runner. Also, the rules in golint should rather be ported in the plugin. Closing this for this reason.

[2015-04-11 19:07] dlsniper commented on #524
Master branch has this handled very well within the IDE itself which is even better.

[2015-04-11 19:07] #524 closed

[2015-04-11 19:08] dlsniper commented on #978
We don't have an automated reporter anymore due to JetBrains involvement. Closing as obsolete.

[2015-04-11 19:08] #978 closed

[2015-04-11 19:15] #1549 closed

[2015-04-11 19:32] ignatov commented on #342
Better to use is as an external annotator.

[2015-04-11 19:33] dlsniper commented on #342
I'll have a look into that next then. Thank you.

[2015-04-14 06:25] bronze1man opened #1556 "Support // @deprecated in golang plugin."
The phpstrom support @deprecated to said a function ,a class is deprecated.Everywhere use that function will have a delete line on it.
I think it will be good to support it.

[2015-04-15 13:06] hufeng opened #1557 "Intellij 14: homebrew install, can't recognize SDK"
λ ~GOROOT git:(master) ✗ ll
total 8
-rw-r--r--   1 bee1314  admin   273B Feb 28 12:28 INSTALL_RECEIPT.json
drwxr-xr-x   4 bee1314  admin   136B Jan 16 09:10 bin
drwxr-xr-x  20 bee1314  admin   680B Apr 15 17:31 libexec
λ ~GOROOT git:(master) ✗ pwd
/usr/local/Cellar/go/1.4.1
λ ~GOROOT git:(master) ✗

bin and libexec can't recognize sdk

[2015-04-15 13:06] zolotov commented on #1557
plugin version?

[2015-04-15 13:26] zolotov commented on #1557
also logs could be useful (Help | Show Log)

[2015-04-15 14:33] hufeng commented on #1557
@zolotov version: 0.9.15.3,  thank you!

[2015-04-15 14:35] dlsniper commented on #1557
@hufeng please install a newer version of the plugin by following the instructions from here: https://github.com/go-lang-plugin-org/go-lang-idea-plugin#pre-release-builds

[2015-04-15 14:35] #1557 closed

[2015-04-15 14:36] hufeng commented on #1557
@dlsniper thank you very much. let me try.

[2015-04-15 22:31] henryx opened #1558 "Can't recognize SDK if golang is installed via distribution package"
As reported in http://stackoverflow.com/questions/19108421/the-selected-directory-is-not-a-valid-home-for-go-sdk , the plugin can't recognize the SDK if is installed via distribution package (tested in Fedora and in Debian)

[2015-04-15 22:36] dlsniper commented on #1558
@henryx the issue on SO has been reported a year ago. Can you please specify the plugin version?

If it's < 0.9.100 please see the instructions in the readme on how to update the plugin to a more recent version.

If not, please help us identify the problem by providing more information on things such as:
- the plugin version
- the layout of the Go SDK on Fedora
- the layout of the Go SDK on Debian

[2015-04-16 14:54] hyt-hz opened #1559 "The selected directory is not a valid home for Go SDK on Fedora"
OS: fedora 21
intellij: 14.1.1
go plugin: 0.9.250

golang is installed vi yum:

    (1/4): golang-1.4.2-2.fc21.x86_64.rpm                       | 3.0 MB  00:04
    (2/4): golang-pkg-bin-linux-amd64-1.4.2-2.fc21.x86_64.rpm   |  14 MB  00:06
    (3/4): golang-pkg-linux-amd64-1.4.2-2.fc21.noarch.rpm       | 7.2 MB  00:02
    (4/4): golang-src-1.4.2-2.fc21.noarch.rpm                   | 5.8 MB  00:02

[2015-04-16 14:56] dlsniper commented on #1559
Hi @hyt-hz, thanks for reporting.
Can you please also do a ```ls -alh /usr/lib/golang```?

[2015-04-16 15:14] henryx commented on #1558
Plugin version is 0.9.250 (latest in https://plugins.jetbrains.com/plugins/alpha/list )

Layout and package version of the Go SDK on Fedora is:

[ebianchi@cnk123 ~]$ rpm -qa|grep golang
golang-src-1.4.2-2.fc21.noarch
golang-pkg-bin-linux-amd64-1.4.2-2.fc21.x86_64
golang-pkg-linux-amd64-1.4.2-2.fc21.noarch
golang-1.4.2-2.fc21.x86_64
[ebianchi@cnk123 ~]$ rpm -ql golang
/etc/gdbinit.d
/etc/gdbinit.d/

[2015-04-16 15:29] zolotov commented on #1558
Thanks, I think I see the problem. Please as a workaround try following:
[code]

[2015-04-16 15:43] zolotov commented on #1559
duplicates #1558. @hyt-hz please try the workaround that I suggested there.

[2015-04-16 15:43] #1559 closed

[2015-04-16 15:49] henryx commented on #1558
Thanks, currently I use the workaround, as suggested in the Stackoverflow's link ;)

[2015-04-16 17:26] dlsniper commented on #1558
@zolotov I'll work on this by the end of the if that's ok for you.

[2015-04-16 17:50] zolotov commented on #1558
@dlsniper sure. See com.goide.sdk.GoSdkService#getGoExecutablePath(java.lang.String)

[2015-04-16 18:11] dlsniper commented on #1490
@zolotov I'd like to work on this over the weekend, any tips on where to pick this up? Thank you.

[2015-04-16 20:01] zolotov commented on #1490
@dlsnipet leave this to me, this is hard one with questionable possible solutions and with harmful side effects for non-go modules

[2015-04-16 21:17] dlsniper commented on #1490
Ok, sure. I wanted to get a bit more familiar with the completion code and see where I can help with other tickets so this one seemed simple enough (discard matches from "testdata" && "^_(.*)$" dirs).

[2015-04-16 21:36] zolotov commented on #1490
@dlsniper

#1511 should be simple. See  constructor of GoAutoImportCompletionContributor and GoAutoImportCompletionContributor#autoImport.

#1382 also not really complicated but it could lead to performance problem, you can try to implement in the same way as functions/types completion done in GoAutoImportCompletionContributor in the separate branch and create some performance tests for that.

And

[2015-04-17 00:42] dlsniper commented on #465
@ignatov I've started working on it here: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/wiki/%5BWIP%5D-v1.0-Documentation I plan to add more by the end of the week.

Please let me know what do you think about it. Thank you.

[2015-04-17 12:27] hyt-hz commented on #1559
@zolotov  Thanks, it works.

@dlsniper
Here is the output:

ls -alh /usr/lib/golang
total 84K
drwxr-xr-x  10 root root 4.0K Apr 16 22:26 .
dr-xr-xr-x. 77 root root  36K Apr 16 22:26 ..
drwxr-xr-x   2 root root 4.0K Apr 16 22:26 api
drwxr-xr-x   3 root root 4.0K Apr 17 20:23 bin
drwxr-xr-x   8 root root 4.0K Apr 16 22:26 doc
-rw-r--r--   1 root root 1.2K Feb 18 12:38 favicon.ico
drwxr-xr-x   3 root

[2015-04-18 09:17] SchumacherFM commented on #1556
:+1:

[2015-04-18 09:29] SchumacherFM opened #1560 "Bug: private funcs and struct fields accessible in package_test test files"
![screen shot 2015-04-16 at 8 07 41 pm](https://cloud.githubusercontent.com/assets/372027/7214836/428fba2e-e600-11e4-956c-42a917e16b8a.png)

![screen shot 2015-04-18 at 7 20 56 pm](https://cloud.githubusercontent.com/assets/372027/7214842/8eff9dde-e600-11e4-8f92-1ef71423a195.png)

Reproduceable:

file1:

[code]

file2 is in the same package as file1:

[code]

Expected result: I cannot access the f

[2015-04-18 10:07] ignatov commented on #1560
Thanks for reporting.

Sergey Ignatov

On 18 April 2015 at 12:29, Cyrill Schumacher <notifications@github.com>
wrote:

[2015-04-18 10:23] ignatov commented on #1560
Sorry, can't reproduce. Please attach a layout (output from `tree` util) or just a small project for reproducing.

[2015-04-18 10:29] ignatov commented on #1556
Hmm, can't find an official way to deprecate something in Go. Just some stuff from [godoc](https://groups.google.com/forum/#!topic/golang-nuts/MgG8JTVLs20).

[2015-04-18 10:39] SchumacherFM commented on #1560
Here is the repo: https://github.com/SchumacherFM/intellijGoPluginBug `go get github.com/SchumacherFM/intellijGoPluginBug`

It is still reproduceable.

[2015-04-18 11:04] ignatov commented on #1550
@zolotov Please check `GoFile#getImportedPackagesMap` cache dependencies and https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/src/com/goide/util/GoUtil.java#L163-163

[2015-04-18 11:05] ignatov commented on #1560
Thanks, http://linux.die.net/man/1/tree

[2015-04-18 11:43] #1560 closed

[2015-04-18 11:52] ignatov commented on #1547
`com.goide.util.GoUtil#couldBeReferenceTo`

[2015-04-18 13:50] #1523 closed

[2015-04-18 14:57] ignatov opened #1561 "Don't show useless quickfixes"
[code]
![screenshot 2015-04-18 17 52 12](https://cloud.githubusercontent.com/assets/426890/7215909/d9e1e634-e5f3-11e4-883c-60d4bca59fb5.png)

[2015-04-18 20:34] SchumacherFM commented on #1560
Cool! Thanks a lot!

[2015-04-18 20:55] #1527 closed

[2015-04-18 21:12] #1561 closed

[2015-04-18 21:50] #1543 closed

[2015-04-18 22:02] #1547 closed

[2015-04-19 01:50] bronze1man commented on #1556
I think `// @deprecated` and `/* @deprecated */` should be good for me.
java,php,csharp use something like this,
The user come from another language may learn less stuff.

[2015-04-19 01:58] bronze1man opened #1562 "Autocomplete const and variables from another package when that package is not imported"
not imported
![image](https://cloud.githubusercontent.com/assets/1107541/7217844/7314f3b0-e67a-11e4-9add-5c917092496e.png)

imported
![image](https://cloud.githubusercontent.com/assets/1107541/7217848/8ef737be-e67a-11e4-892b-ed590ba88554.png)

code
[code]
All referenced packages is open source.

[2015-04-19 13:00] ignatov opened #1563 "Yet another performance issue"
[code]

[2015-04-19 13:21] dlsniper commented on #1556
I'm not sure we should go down this path just yet. There's no consensus in the community for how.
A quick search on github reveals there are only 19 code matches for "@deprecated", out of which 5 matches are in code from your repository. https://github.com/search?l=Go&q=%22%40deprecated%22+language%3AGo&ref=advsearch&type=Code&utf8=%E2%9C%93

[2015-04-19 22:09] ignatov commented on #1556
Just [**deprecation**](https://github.com/search?q=%22DEPRECATED%22+language%3AGo&type=Code) looks more popular.

[2015-04-20 06:57] antonikonovalov opened #1564 "Integration with upsource"
It's posible intergate that plugin with upsource? (https://www.jetbrains.com/upsource/)
For analyse and navigate to code like sourcegraph (https://sourcegraph.com/github.com/golang/go@f58a5cb9e2d03ff1baa37cce63766cdb8cba7221/.GoPackage/encoding/json/.def/Marshal)

[2015-04-20 20:41] #1311 closed

[2015-04-21 00:51] bronze1man commented on #1556
I think deprecated is good.
A workable standard like json is a good thing for the community.
@ignatov how to do if i actually have a logic that is about deprectated?

[2015-04-21 03:15] bronze1man opened #1565 "Rename function between package."
I have call a function from packageA in packageB.
I rename the name of function in the origin packageA.
The name of the function of Imported packageB is not changed.

[2015-04-21 05:00] bronze1man opened #1566 "[features] delete unused packages when delete some codes."
When the users delete some code,they want the IDE can delete unused packages automatic.

[2015-04-21 06:47] zolotov commented on #1566
duplicates #1268

[2015-04-21 06:47] #1566 closed

[2015-04-21 06:49] zolotov commented on #1565
Can't recreate. Is packageB part of your project?

[2015-04-21 08:37] #473 closed

[2015-04-21 12:29] dlsniper opened #1567 "Stub and PSI element type mismatch (again)"
Hi,

I've got two of these today by doing the following steps:
- open three different Go project in tree IDE windows
- disabled the ```.ignore``` (version 1.1.1) plugin
- selected to restart the IDE after disabling the ```.ignore``` plugin
- I've waited for IDEA to finish indexing the before doing anything else

I was jumping between windows, both IDE and other apps, while the indexing was happeni

[2015-04-21 12:30] dlsniper commented on #1567
I've forgot to mention, I've restarted the IDE with clear cache option and only one project window before restarting and then the error didn't happened again, all looks ok now.

[2015-04-21 13:00] dlsniper opened #1568 "Support 'Generate' actions"
I'd like to have a "Generate" action that enables me to implement all the methods defined in a interface on a certain struct, just like I can use it in Java to add the boilerplate code to implement a certain method / interface / abstract class.

The way it should work would be like this:
Allow you to search in the list of all existing interfaces, once you've selected which interfaces you want to u

[2015-04-21 13:02] dlsniper commented on #1568
@ignatov and @zolotov as this is something I bump into every day I'll gladly stop everything else and jump into the implementation but I'd need a reference into where to start from. Can you please point me in the right direction and I'll do the rest of the work? Thank you!

[2015-04-21 13:08] zolotov commented on #1568
See http://www.youtube.com/watch?v=-ZmQD6Fr6KE

[2015-04-21 13:08] dlsniper commented on #1568
Awesome, thank you!

On Tue, Apr 21, 2015 at 3:08 PM Alexander Zolotov <notifications@github.com>
wrote:

[2015-04-21 20:10] dashaus commented on #1311
Thanks, @ignatov!! Now use it is really comfortable :)

[2015-04-21 20:12] ignatov commented on #1311
Nice to hear that!

[2015-04-22 04:32] james4e commented on #1417
package main

import(
    "fmt"
)

type User struct{
    Name string
    Age uint8
}

func (u *User)Play(){
    fmt.Println(u.Name, "is playing.")
}

func main() {
    u := &User{}
    u.Name = "james"
    u.Play()
}

[2015-04-22 04:39] james4e commented on #1417
[code]

The variable 'u' is marked as “Unused Variable 'u' ".

[2015-04-22 05:02] james4e opened #1569 "Unused Variable mark"
[code]

The variable 'u' is marked as “Unused Variable 'u' ".

[2015-04-22 09:13] yangzhe1991 opened #1570 "compile error on system library code"
hi, I use idea 14.1.1 and plugin 0.9.284, in my project, library by "go get" has no problem but system library(like package net/http ) will get error like this:

![2015-04-22 5 13 08](https://cloud.githubusercontent.com/assets/860739/7270980/e684397e-e912-11e4-8692-1414189b689a.png)

In this code, the variable err will be reported "unused variable err", and the function ParseForm won't be indexed

[2015-04-22 09:19] ignatov commented on #1570
Please provide a small code sample for reproducing. Thanks.

[2015-04-22 09:23] yangzhe1991 commented on #1570
hi, in my project almost every sdk library has this compile error, so each code that use sdk library will reproduce this

[2015-04-22 09:25] dlsniper commented on #1570
Can you please post a screenshot of your Go SDK? ```File | Project Structure | Platform Settings / SDKs ``` select the Go SDK? Also, what plugin version do you use? What IDE / which version? How did you configured the Go SDK? How did you installed the Go SDK?

[2015-04-22 09:25] ignatov commented on #1570
OK, please specify the path of the file from your screenshot?

Sergey Ignatov

On 22 April 2015 at 12:23, Phil Yang <notifications@github.com> wrote:

[2015-04-22 09:27] yangzhe1991 commented on #1570
![2015-04-22 5 26 27](https://cloud.githubusercontent.com/assets/860739/7271270/cbfba8d8-e914-11e4-8458-ad34c516b7d9.png)
this sdk is installed by go1.4.2.darwin-amd64-osx10.8.pkg in https://golang.org/dl/

[2015-04-22 09:31] yangzhe1991 commented on #1570
the sdk library screenshot file is /usr/local/go/src/net/http/request.go

[2015-04-22 09:34] dlsniper commented on #1570
And is the SDK attached to project? Can you find the net/http/request.go file there? You should see it in the "External Libraries" section of the "Project" tool window.

![snapshot63](https://cloud.githubusercontent.com/assets/607868/7271388/611d808a-e8e3-11e4-85ef-614ab2b0531c.png)

And like @ignatov already said, can you try and replicate it on a smaller code sampler?

[2015-04-22 09:40] yangzhe1991 commented on #1570
Oh, I tried to recreate this project and it is no problem now, maybe it is because that I created this project by an older plugin version months ago.
Thank you all, sorry for disturbing

[2015-04-22 09:40] #1570 closed

[2015-04-22 09:42] dlsniper commented on #1570
Glad to hear it worked! Feel free to open up issues or ask on Gitter if you have any other problems in the future.

[2015-04-22 10:46] Codenator81 commented on #1398
Keep in mind WebStorm good for AngularJs and html5 css work on. Golang very often used with Angular so WebStorm is good IDE for that. Please support it more there. On idea Community many thing builded for Java and on PhpStorm for PHP. So I think WebStorm is best platform for Go.

[2015-04-22 22:13] ignatov commented on #1569
Can't reproduce. Please try the latest alpha/nightly build and reopen if needed.

[2015-04-22 22:13] #1569 closed

[2015-04-22 22:48] ignatov commented on #1277
@m0sth8 some work's been already done for this issue: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/src/com/goide/util/GoUtil.java#L137-137

[2015-04-22 23:00] #1462 closed

[2015-04-23 12:13] akaspin commented on #1490
Excludes not works. It's pain.

[2015-04-23 20:12] strotz commented on #771
with 0.9.250 Go App Engine runner calls "goapp serve ." and it seems like there is no way to do multi-modules, since Go runtime returns error:

/google-cloud-sdk/bin/goapp serve . module/other.yaml
goapp serve: . is not a YAML file

[2015-04-23 23:06] SchumacherFM commented on #604
I've just missed this feature to extract an interface from a struct with all its method receivers ...

[2015-04-23 23:10] dlsniper commented on #604
@SchumacherFM I think you've just missed a different feature than the original poster :)

Please open a different issue for this as you'd rather like to have a "Generate interface from struct" and the issue refers to extracting code from a method and creating another method.

We also welcome contributions and I know for sure that Alexander and Sergey will do their best to guide people thru the imp

[2015-04-23 23:32] SchumacherFM commented on #604
:laughing: thanks for pointing out. Indeed I've only searched for "extract" in the issues.

I've never coded in Java so I can only throw :moneybag: at you.

[2015-04-23 23:37] SchumacherFM opened #1571 "Feature: Generate interface from struct"
and the other way round to issue #1568 :-)

I do not know Java ... so I'm aware that this feature may take some time.

I'm also aware of: https://medium.com/@rakyll/interface-pollution-in-go-7d58bccec275

[2015-04-23 23:37] SchumacherFM commented on #1568
:+1:

[2015-04-24 01:28] #1511 closed

[2015-04-24 01:29] #1433 closed

[2015-04-24 04:39] diwakergupta opened #1572 "Incorrectly flagging unused imports"
Plugin version: 0.9.250
Idea version: 14.1.2

The plugin is planning spurious imports as unused. E.g. in the following code fragment:

[code]

The plugin incorrectly flags `syscall` as unused. As it stands, the plugin is basically unusable for me due to all the spurious errors.

[2015-04-25 15:07] ignatov opened #1573 "Subscription to project root changes already exists"
During the repro for #1442, got an exception:

[code]

[2015-04-25 15:19] ignatov commented on #1442
@zolotov Please see [GoUtil#getAllPackagesInDirectory](https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/src/com/goide/util/GoUtil.java#L182-182).

[2015-04-25 15:24] ignatov commented on #1353
The left editor has only highlighting from the lexer. Sure it's a not an issue for the Go plugin.

[2015-04-25 15:24] #1353 closed

[2015-04-25 15:46] #1337 closed

[2015-04-25 15:48] olostan commented on #771
I also can't find way to start multi-module project except run serve in terminal...

[2015-04-25 16:12] epixerion opened #1574 "go compiler using wrong drive if project's drive != goSDK's drive"
Plugin version : 0.9.250
Idea verison : 14.1.2

Have the current error when trying to run module :
[code]

The expected path was :
[code]
goSDK installed on C:/ drive

[2015-04-25 17:10] #1269 closed

[2015-04-25 17:34] dlsniper opened #1575 "Introduce quick fix to solve "No new variables on left side...""
It should fix this:
[code]

[code]

[2015-04-25 17:39] ignatov commented on #1563
@zolotov Do you have any thoughts about it?

[2015-04-25 17:40] dlsniper opened #1576 "Highlight "nil" with the same color as the one used for other builtin types"
Should we highlight nil with the same color as the other built in types?
According to go's builtin.go file, nil is a var and we highlight it as such, but sometimes, reading the code, it's not that clear (my mind always try to see it as a builtin / color even).

I guess, an even better question would be if we should highlight the builtin types with a different color altogether.

I can work on this

[2015-04-25 20:45] ignatov opened #1577 ""Function call used as value""
[code]

[2015-04-25 20:45] ignatov commented on #1343
The third case extracted to #1577

[2015-04-25 20:45] #1343 closed

[2015-04-25 20:48] ignatov commented on #1575
Relates to #1337

[2015-04-26 13:22] ignatov commented on #1400
Duplicates to #1269.

[2015-04-26 13:22] #1400 closed

[2015-04-26 13:23] ignatov commented on #554
@zolotov @dlsniper Does it work correctly with the latest build?

[2015-04-26 14:01] #1531 closed

[2015-04-26 14:32] juanibiapina commented on #771
It seems to me you guys are talking about running the project from intellij. I am still stuck trying to get it to compile.

It doesn't find any app engine imports.

[2015-04-26 14:50] dlsniper commented on #771
@juanibiapina which version of the plugin are you using? A few releases ago there were some changes that requires the GAE SDK to be reset. Can you give some more details please? If you want, ping me on our Gitter channel and I should be able to help you sort things out so that AppEngine works for you as well.

[2015-04-26 15:04] dlsniper commented on #1568
I've started working on this but I have one question: How do I get a list of interfaces available from the current package + all public interfaces from the other packages (like how the completion code works?) I guess I could then adapt it to be generic and get a list of structs and so on.

Thank you!

[2015-04-26 18:55] angelow1337 commented on #1574
I can confirm this issue.

[2015-04-27 14:04] juanibiapina commented on #771
@dlsniper Thanks for the help, but I'm currently changing jobs so I will stop working with app engine for now.

[2015-04-27 16:13] dlsniper opened #1580 "Tracking for auto-reported issue 833542"
I'll open this to keep a track of the issue https://ea.jetbrains.com/browser/ea_reports/833542 which is a case of ```PSI and index do not match```

Plugin commit is: 40857414251d893fd86bee4ea1f9566f9079b765

[2015-04-27 16:18] dlsniper opened #1581 "Completion suggestions should prioritize the builtin keywords when the full keyword is typed"
I have the following scenario:
[code]
At this point, the completion window shows me a bunch of things that match ```struct```
![snapshot64](https://cloud.githubusercontent.com/assets/607868/7352053/781963f6-ed09-11e4-84f9-2d5a06ecdea0.png)
The problem is that I don't want any of those as the option since all I want is to create a new struct. If I press Enter, then the wrong thing will happen unfor

[2015-04-27 16:21] dlsniper commented on #1580
Also, I have this: https://ea.jetbrains.com/browser/ea_reports/831879 previously, not sure how to report these better (I'm asking here for others to have the answer as well).

[2015-04-27 16:29] dlsniper opened #1582 "Completion suggestions reset when cursor moves on next line on multiline call chain"
For example:

[code]

If I move back to the same line with the chain, things work properly again.

[2015-04-27 18:30] bmw0128 opened #1583 "WebStorm issue, figuring out code completion for 'appengine' and 'strconv'"
My WebStorm is showing 'ParseInt(...)' in red, which means, i think, that it cannot 'see' this method 'strconv'. I think there is a conflict, and I do not know how to rectify the issue.

My set up:

I Preferences, under “Go”, i have:

Go SDK= /usr/local/go (which is version 1.4.2)
Under “Go Libraries”, in “Global Libraries” section i have: /opt/go_appengine/goroot
and under “Project Libraries”, i

[2015-04-27 18:39] dlsniper commented on #1583
Hi @bmw0128.

Firs of all, I'd like to know which plugin version you are using as all the instructions bellow refer to releases from 0.9.200+. If you have anything lower, please see the README doc in the root of the repository to get information on how to get the latest releases.

As for the setup itself, I think there's a small mistake in your setup that we should fix with better documentation.
I

[2015-04-27 18:43] bmw0128 commented on #1583
I am using plugin 0.9.291...i will try the suggestions you have given (thank you!) and report back

[2015-04-27 18:55] bmw0128 commented on #1583
Your suggestions resolved my issue, thank you very much.
So I understand, may i think of my /opt/go_appengine install like my original go install (/usr/local/go), but with appengine stuff added? If so, when I look at the 'strconv' directory for each (the appengine version vs original go version), why are they different? I am assuming that this directory would not change, for example, between the t

[2015-04-27 19:04] dlsniper commented on #1583
Glad to hear it worked!

The differences that I see on my setup are related to the lack of test files in the Go AppEngine SDK distribution. I think that's a decision the AppEngine team took in order to ship only what's needed for them. Also, please keep in mind that the Go versions might be different between AppEngine and the regular Go (1.4.1 vs 1.4.2 in my case).
If you plan to work on projects

[2015-04-27 19:04] #1583 closed

[2015-04-27 19:20] bmw0128 commented on #1583
Thanks very much.

[2015-04-27 20:49] fwlab commented on #1313
I have exactly the same problem under Yosemite Mac OSX.

[2015-04-27 21:01] dlsniper commented on #1313
@fwlab can you please send more details than that? It's very had to identify a problem by commenting on a closed issue with "me too". Which plugin version do you have? Have you read the readme of the project? How did you installed go? Which settings have you made before coming here?

[2015-04-28 07:06] sebcante opened #1584 "Can not resolve directory '_workspace' when using godep"
Hi,

First, thanks for this amazing plugin, it is very useful!

I have one question, i migrated one of my go project to godep, the imports now refer to the Godeps/_workspace directory but for some reasons the plugin does seem to exclude *_workspace* directory. Is there a way to remove this exclusion or is there any workarround ? The impact is the import line become red and the autocompletion stopp

[2015-04-28 07:45] dlsniper commented on #1584
This is intended as the ```go build``` command ignores anything starting with ``` _ ```, ``` . ``` or named ```testdata```. What's the use-case you have with godep? How do you structure your projects? Do you have multiple projects that don't obey the GOPATH rules?

[2015-04-28 07:49] dlsniper commented on #1584
For further reference: https://groups.google.com/forum/#!msg/golang-nuts/WS39uEWUA-0/A4WpJ1fLA_gJ and https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1490

[2015-04-28 07:53] dlsniper commented on #554
@ignatov yes, this should work now, I think, it's a bit tricky to check as I don't have a good case to reproduce it right now. I suggest closing this and if needed we can either have it reopened or a new issue.

[2015-04-28 08:11] dlsniper commented on #1584
More details on this.
There's three ways of using godep https://github.com/tools/godep

One of them is to use ```godep restore``` which restores the packages from ```Godeps/_workspace``` to a GOPATH setup.
For this, we shouldn't be concerned with anything.

The second use case is prepending it to the go tools such as ```godep go env``` in which case the GOPATH will look like this:
[code]
(original

[2015-04-28 08:31] #554 closed

[2015-04-28 08:39] dlsniper opened #1585 "Tracking for 833815 and 833816"
Two StackOverflows :)

https://ea.jetbrains.com/browser/ea_reports/833815
https://ea.jetbrains.com/browser/ea_reports/833816

[2015-04-28 09:42] sebcante commented on #1584
thanks @dlsniper for the quick response and the clarification.

i use the last use case you mentioned,  godep with path rewriting `godep save -r`

the typical import statements instead of having:
`import ("github.com/bitly/go-nsq")`
 gets rewritten by `godep save -r`
`import ("bitbucket.org/mycompany/myproject/Godeps/_workspace/src/github.com/bitly/go-nsq")`

The benefit of godep path rewritting i

[2015-04-28 11:13] fwlab commented on #1313
Hello.
I'm using the last Go and Google App Engine Go SDKs available now: 1.4.2 golang.
I had tried the version which came installed via the IntelliJ Idea standard repositories.

I then switched to the alpha version of the plugin (0.2.9.1).
The alpha version of the plugin does indeed recognise the Install path correctly.
Why isn't the default plugin repository updated?
The "standard" version is pr

[2015-04-28 11:34] dlsniper commented on #1313
@fwlab the plugin currently is in alpha releases as it's not where we want it to be yet. I agree it's not nice to keep the old version around but it will be updated when it will be updated :)

[2015-04-28 11:36] #1582 closed

[2015-04-28 14:04] imikushin commented on #1523
I'm seeing Unresolved references all over. Is this the same or a new bug?

[code]

[2015-04-28 14:07] imikushin commented on #1523
IDEA-14.1.2, plugin 0.9.291

[2015-04-28 14:10] ignatov commented on #1523
Please create another issue.

[2015-04-28 14:10] dlsniper commented on #1523
@imikushin I'd suggest opening a new issue as and provide a bit more details as I can't replicate the issue, see my screenshot:

![snapshot65](https://cloud.githubusercontent.com/assets/607868/7371368/bf470000-edc0-11e4-91ed-6e242f9635d8.png)

Are is the ```Go Libraries``` section configured properly? I'm running on the latest master but I don't think it's that mach of a difference.

[2015-04-28 14:49] bmw0128 commented on #1583
Hi….I was thinking, is it possible for me to get involved in the project somehow?

I am a pretty average java programmer, and I am learning Go by building a side project (uses Go, Angular, with WebStorm).

I want to grow my skills as a dev, and I want to contribute to a project, to learn and to be involved.

If so, would you give me a push in a direction?

Thanks

[2015-04-28 17:29] zolotov commented on #1574
Cannot recreate on 0.9.291. Please attach screenshot of run configuration that you're trying to run.

[2015-04-28 20:17] ignatov commented on #1583
@bmw0128 Nice to hear that. We need some time to realise what we can offer you. Stay tuned!

[2015-04-28 20:18] bmw0128 commented on #1583
Great, thanks.
I am willing to do most anything, I want to learn and be helpful however I can.

[2015-04-28 20:31] ignatov commented on #1583
BTW, you can start with building the plugin from scratch and reading the following links: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/CONTRIBUTING.md#useful-links

[2015-04-28 20:48] #1563 closed

[2015-04-28 21:07] bmw0128 commented on #1583
Will do, thanks.

I may have a few ‘getting started’ questions, and I’ll just email if so.

[2015-04-28 21:09] dlsniper commented on #1583
@bmw0128 feel free to check out the Gitter room as well, I usually lurk there and at least with the basic stuff I can help as well. Looking forward for your contributions ;)

[2015-04-28 21:09] #1573 closed

[2015-04-28 21:11] bmw0128 commented on #1583
Sorry, Gitter room, haven’t heard of such, I’ll look it up, but….

I will see how to get to the Gitter room on the main page?

[2015-04-28 21:12] dlsniper commented on #1583
Yeap, the link is in readme:
https://gitter.im/go-lang-plugin-org/go-lang-idea-plugin you can
authenticate with Github and things should work ;)

On Tue, Apr 28, 2015 at 11:11 PM Brian Wilson <notifications@github.com>
wrote:

[2015-04-28 21:42] ignatov commented on #1567
@dlsniper Please specify your go sdk version.

[2015-04-28 21:44] dlsniper commented on #1567
1.4.2 for Linux, installed from the tar.gz archive on the website. I get these from time to time, I'm not really sure how to best reproduce them in a consistent manner

[2015-04-28 21:49] ignatov commented on #1567
go1.4.2.linux-amd64.tar.gz?

[2015-04-28 21:50] dlsniper commented on #1567
Yes, that's the one. https://storage.googleapis.com/golang/go1.4.2.linux-amd64.tar.gz

[2015-04-28 21:54] dlsniper commented on #1353
I've noticed that in the latest IDEA version, 141.814.3 (EAP for 14.1.3) this works between files that are on disk but it doesn't work between git revisions for the same file. And I think that's ok as the IDE couldn't be able to properly analyze the file properly from a previous revisions as other things might change as well which would render the analysis useless.

[2015-04-29 01:26] epixerion commented on #1574
Have updated plugin to 0.9.291
working fine now !

[2015-04-29 05:04] #1574 closed

[2015-04-29 05:13] imikushin commented on #1523
@dlsniper Turns out, I've misconfigured my project. I have `Godeps/_workspace/src` dir with dependencies. And though I have `Godeps/_workspace` in my project's Go Libraries, I also had this folder marked as excluded. Now, after unmarking it as excluded everything looks great. Thanks!

(I'm probably sounding like an idiot, but that's okay). Lesson learned: don't mark your Godeps or gopath as exclud

[2015-04-29 05:22] smallsmallwolf opened #1586 "gofmt not found"
![5f939a57-ec37-4835-8cae-0ac1a85758bd](https://cloud.githubusercontent.com/assets/975175/7385091/9bee368a-ee71-11e4-8e49-e075d520cfc6.jpg)

`gofmt` is here `/usr/local/bin/gofmt` and `Global libraries` had been added, but `gofmt not found`

[2015-04-29 06:12] dlsniper commented on #1586
There are a few ways to fix this:
- launch the ide from the command line
- change the idea.sh (i don't know the Mac equivalent) file to add your PATH there as it's not being transmitted from your environment to the Java process.

[2015-04-29 08:56] zolotov commented on #1586
Both solutions are not the best.
I can add running `/path/to/sdk/bin/gofmt` instead of running `go fmt`. Meanwhile, @smallsmallwolf where you have defined `/usr/local/bin/` in PATH variable?

[2015-04-29 08:58] zolotov commented on #1586
@smallsmallwolf also what happens if you run the same command as on screenshot in terminal?

[2015-04-29 09:24] itnik opened #1587 "IDEA14.1.1 and IDEA14.1.2 both can not recognize the go1.4.2 sdk!help!"
I had try the all the solution to make the IDEA can recognize the sdk these days.

This plugin i try all the version but faild.
My Env is:
OXS Yosemite 10.10.3
zsh
Go1.4.2
IDEA14.1.1 ULTIMATE and IDEA14.1.2 ULTIMATE
go-lang-idea-plugin (all version from 0.9.15.3 ~ 0.9.292)

Plugin can install but can't choose the SDK. It don't let me to click the 'Choose' button.I think it might can not recognize

[2015-04-29 09:26] dlsniper commented on #1587
Please read the docs: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/wiki/v1.0.0-Setup-initial-project
Also, what error do you have? Is there anything in the logs? How did you installed 0.9.292? How did you installed the go SDK? where are you trying go point the go SDK root to? how is the go sdk setup looking like? Can you make some screenshots of what's happening? Do you see any errors

[2015-04-29 09:56] ignatov commented on #1353
Please see the platform issue: https://youtrack.jetbrains.com/issue/IDEA-115600

[2015-04-29 09:59] lindroth commented on #1584
I have the same problem since 0.9.291. We also use paths like
import ("github.com/mycompany/myproject/Godeps/_workspace/src/github.com/bitly/go-nsq")
Which does not work anymore.

Adding Godeps/_workspace to the Go Libraries under the Project Libraries section does not solve it. As this would only fix imports of  ("github.com/bitly/go-nsq") right?

Anyhow, sadness. And it would be nice if this cou

[2015-04-29 10:03] dlsniper commented on #1584
@lindroth and @sebcante can you please what's the behavior of the go tools in the following scenario:

- package demopack is in $GOPATH/src/test/_demo/demopack
- package demopack is in $GOPATH/src/test/demo/_demopack

And you include the package in a file from $GOPATH/src/test/main.go with this:
- ```import "test/_demo/demopack"
- ```import "test/demo/_demopack"

Once this behavior is established

[2015-04-29 10:53] jgroeneveld commented on #1584
a package in a folder named _.. is not buildable

[2015-04-29 11:20] gabrielf commented on #1584
I'm new to go so maybe I'm not doing it right but here is a minimal project that uses both kinds of paths and it works with `go run` and `go build` but IntelliJ won't index the code in any of the _* directories.

https://github.com/gabrielf/go-underscore-sandbox

[2015-04-29 11:58] jgroeneveld commented on #1584
@gabrielf you are right, by convention I named my file _demopack/_demopack.go which will get ignored because of the underscore in the file, not the package name.

the go documentation does not disallow underscores in package names but they are state that they should only contain lowercase letters and numbers. so the underscore package name is actually fine although not fitting the conventions.

[2015-04-29 13:25] gabrielf commented on #1584
So is this merely a matter of changing a pattern in the plugin so that packages beginning with underscore are accepted?

It seems reasonable to accept those given that they actually work with `go build` and `go run` plus that this is the way `godeps` work when vendoring dependencies. I've created a minimal project using `godeps` with vendoring here: https://github.com/gabrielf/go-godep-sandbox

[2015-04-29 18:39] zolotov commented on #1490
Partially reverted, exclusion works only in small IDEs now

[2015-04-29 18:48] zolotov commented on #1584
Exclusions are reverted for files in project (not in libraries)

[2015-04-29 18:48] #1584 closed

[2015-04-29 20:33] m0sth8 commented on #1277
It seems like the issue has gone. Thank you!

[2015-04-29 20:33] #1277 closed

[2015-04-29 20:49] zolotov opened #1588 "Not an expression as function parameter should be highlighted"
[code]

[2015-04-29 21:01] zolotov commented on #1581
What exactly the code that you want to get? It seems that

[code]

is not valid construction

[2015-04-29 21:09] zolotov commented on #1581
Nevermind, struct{}{} should work

[2015-04-29 21:21] zolotov commented on #1576
I don't mind to introduce yet another text attribute settings for builtin variables/constants (nil, true, false). Not as default of course.

[2015-04-29 21:35] #1550 closed

[2015-04-29 22:06] zolotov commented on #1581
And one more question. Is it true that it doesn't make sense to completion function in unary &-operation?

E.g. following code shouldn't complete `println` function

[code]

[2015-04-29 22:09] #1581 closed

[2015-04-29 22:39] dlsniper commented on #1581
That's correct. I've chose the ``` a := &struct``` scenario as it was one of the handy ones but it can very well be ```a := struct``` or other things as well.

I'll test out tomorrow the latest changes. Thank you very much!

[2015-04-29 22:58] zolotov commented on #1581
Not true for other thing, types are valid after &-operator

[2015-04-29 23:26] hyangah commented on #1279
Does it mean the plugin now support Go tip?
I am using plugin 0.9.296, and it doesn't allow me to set the tip as Go SDK yet.
I get "The selected directory is not a valid home for Go SDK" error message if I select the tip go directory.

[2015-04-29 23:51] dlsniper commented on #1279
I wish the go team would be consistent on their naming....
@hyangah you are right, go tip is not supported anymore, I'll reopen this...

[2015-04-29 23:51] dlsniper commented on #1279
I'll fix it this weekend.

[2015-04-30 01:04] #1442 closed

[2015-04-30 01:05] #1454 closed

[2015-04-30 01:18] kokizzu opened #1589 "Latest master has error 3b8430e"
in `3b8430e`

[code]

[2015-04-30 01:19] zolotov commented on #1589
Thanks, will fix

[2015-04-30 01:21] #1589 closed

[2015-04-30 01:30] zolotov commented on #1442
Reverted #1182, it was right :)

[2015-04-30 01:47] zolotov commented on #1572
Works fine for me on 0.9.300, please try it

[2015-04-30 02:22] JakeWarner opened #1590 "Cannot customize target OS for development via UI."
(Creating this for tracking purposes)

In chat earlier today:

@zolotov responded:

It worked great and I asked if it would be implemented on a per-project basis, to which @zolotov responded:

[2015-04-30 03:10] smallsmallwolf commented on #1586
@zolotov `/usr/local/bin/`defined in `~/.zshrc`, and I try to run the same command in terminal, it works fine.
Then I try `mv /usr/local/bin/gofmt /bin/gofmt`, it solved this problem.

[2015-04-30 08:15] linniksa commented on #1590
also _{target}.go not the only way to specify platform for file, see #1199 (and alse // +build ignore)
@zolotov What do you think about when or how to "build" flag processing can be done?

[2015-04-30 08:41] zolotov commented on #1590
@linniksa I think it will be my next task. As for how, I don't know yet, at least we should index and parse build flags, then I'll think about supporting.

[2015-04-30 08:42] lindroth commented on #1584
Thanks, that was quick. This is a really great plugin btw. Thanks for all the work!!!!!!!!11one

[2015-04-30 08:47] zolotov commented on #1584
@lindroth thanks. Does 0.9.300 work for you?

[2015-04-30 12:02] ukautz opened #1591 "Code completion: high CPU load on first letter"
Not sure if this is just a local issue of mine or if anybody else has the problem:

With either `Autopopup code completion` activated, or if code completion (`ctrl + space`) is triggered manually:
* On typing the first letter a single CPU core goes up to 100%
* Unless one continues typing, the CPU load stays at 100% while the code completion dialog is present
* Not all letters are "affected the sa

[2015-04-30 12:04] dlsniper commented on #1591
@ukautz can you please provide a way to reproduce this? You can search for current / previous issue which match for "performance" in search. Any test sample would that can reproduce it would be good.
Also, you can help by profiling the CPU used by IntelliJ, please read the docs here: https://intellij-support.jetbrains.com/entries/29983118-Reporting-performance-problems

[2015-04-30 12:05] dlsniper commented on #1591
If you want to try older versions, you can download some of them from the Github releases section, but I'm not sure how nice they will play with IDEA 14.1.

[2015-04-30 12:22] ukautz commented on #1591
@dlsniper Thanks for the super fast reply. After submitting the issue I got a hunch and while I cannot provide you a project to reproduce it, I think I nailed the source of the issue down:

The effect is most visible with `e`. `n` and `a` since those are simply very common letters in English. When I started a new project with an empty `GOPATH` (besides go core packages) the behavior did not occur

[2015-04-30 12:30] zolotov commented on #1591
@ignatov please fix unstubbing on completion or disable showing types in lookup items

[2015-04-30 12:33] ukautz commented on #1591
I think this issue can be ignored. Sorry for the waste of time. I "fixed" it by doubling general heap memory and especially `ReservedCodeCacheSize` for IntelliJ. I guess I simply use too many packages...

[2015-04-30 12:43] zolotov commented on #1591
We want the plugin works fine with default settings and with many packages :)

[2015-04-30 12:44] zolotov commented on #1591
So if you made a cpu dump while long completion it would be very helpful.

[2015-04-30 13:30] ukautz commented on #1591
Alright, never used this YourKit before (not a Java guy for some time now). Got a dump, but it's large and not sure if it's the right one. Can I mail you the URL (the dump contains sys infos..)?

[2015-04-30 13:35] dlsniper commented on #1591
@ukautz if you don't want to share it, there's a way in the docs to upload it to the JetBrains FTP server which only they have access to read from. Also, we are on Gitter so if you send me the URL I can forward it to the private chat there ;)

As a fun fact, my setup has about 1.1Gb of files in GOPATH/src and well, quite a few lines of code :D
![snapshot67](https://cloud.githubusercontent.com/asse

[2015-04-30 13:51] ukautz commented on #1591
Alright, I send you the URL on Gitter. My GOPATH is much smaller, btw:
[code]

[2015-04-30 18:20] jaydonnell opened #1592 "Can't find app engine packages when using app engine SDK"
I'm using intellij 14.1.2 and version 0.9.300 of the plugin.

I've setup the SDK to point to the google app engine SDK, but the plugin is still unable to find app engine specific packages with error message "Cannot resolve directory 'appengine'". Images below show the issue and my configuration.

![intellij-sdk](https://cloud.githubusercontent.com/assets/8443/7419554/9c216b4a-ef2a-11e4-8456-3ece77

[2015-04-30 18:25] dlsniper commented on #1592
Hi, your SDK looks very strange to me, at least on Linux.
Also, you seem to be using an outdated version of the Go AppEngine SDK, please update that first and create a new SDK with that, then make sure it's attached to the project. If you have any troubles, please let me know.

Thank you.

[2015-04-30 18:26] dlsniper commented on #1592
I've forgot to mention, I have the SDK installed from the sources directly, not via OS package manager and for example, the Go SDK root points to ```/usr/local/go_appengine``` (without any of the subdirectories). Hope this helps.

[2015-05-01 00:30] sebcante commented on #1584
@zolotov  i confirm 0.9.300 works for me with godeps path rewriting thanks a lot!!

[2015-05-01 08:37] dlsniper commented on #1406
Closing this for now.

[2015-05-01 08:37] #1406 closed

[2015-05-01 08:40] dlsniper commented on #620
I'll close this is as it's related to another ticket, supporting gdb which well, is "deprecated" by delve. Delve will have native remote debugging options as it's running over websockets, see https://github.com/derekparker/delve/pull/88

[2015-05-01 08:43] dlsniper commented on #1252
Delve support is done: https://github.com/derekparker/delve/pull/88 so I'll start poking around this after second week of May, should be a fun one to do, hopefully it's going to be here in time for 1.0 :)

[2015-05-01 12:39] johnnywidth commented on #621
@nkev I can run debug like you on ubuntu, and preference go application look like in this question http://stackoverflow.com/questions/28104508/how-to-use-intellij-idea14-0-2-to-debug-the-golang
But on mac 10.10.3 with idea 14.1 my go application preference look like this
![image](https://cloud.githubusercontent.com/assets/3796597/7430203/fa8f05be-f017-11e4-93d0-6f49fd26f216.png)
What wrong?

[2015-05-01 12:43] dlsniper commented on #621
@johnnywidth there's nothing wrong with the screenshot you've mentioned. That is part of the unreleased version 0.9.16 which was available in the master branch for the better part of the last year.
Meanwhile, the plugin was updated heavily and debug support for GDB still exists, but it's highly experimental. You should upgrade the plugin in both installations of the IDEs by following the instructi

[2015-05-01 13:00] johnnywidth commented on #621
@dlsniper Add alpha url and upgrade plugin to 0.9.300, nothing change.

[2015-05-01 13:03] dlsniper commented on #621
@johnnywidth please open a new issue to not send messages to the other issues as the thread is a year old. Thank you.

[2015-05-01 13:18] johnnywidth opened #1593 "Go plugin 0.9.300, Can not see debug preference."
After update plugin from link ttps://github.com/go-lang-plugin-org/go-lang-idea-plugin#pre-release-builds,
on mac 10.10.3 with idea 14.1 my go application preference looks like this
![image](https://cloud.githubusercontent.com/assets/3796597/7430203/fa8f05be-f017-11e4-93d0-6f49fd26f216.png). And i can not configure debug preference, but earlier i could.

[2015-05-01 13:19] johnnywidth commented on #621
@dlsniper thanks, created. https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1593

[2015-05-01 13:23] dlsniper commented on #1593
I get it now, if you want to use GDB with the latest versions of the plugin, please create a Go GDB runner not a Go Application.

![snapshot68](https://cloud.githubusercontent.com/assets/607868/7430606/cc86b54c-f015-11e4-878f-402237eefc7e.png)

[2015-05-01 13:33] johnnywidth commented on #1593
Do you have some example how configure Go GDB? Because i saw that and can not understand how use it.

[2015-05-01 13:39] dlsniper commented on #1593
You must build the application like this: ``` go build -gcflags "-N -l" main_file.go``` then, when you get the binary, create the run configuration in IDEA, point the ```Application Executable``` filed to the binary and you can try it.
Again, it's highly experimental and things might not work as Go doesn't properly support GDB (or vice-versa better said) https://golang.org/doc/gdb

[2015-05-01 19:42] dlsniper commented on #1242
I'll close this due to lack of feedback. Please reopen if there's anything new.

[2015-05-01 19:42] #1242 closed

[2015-05-01 19:43] dlsniper commented on #1448
I'll close this due to the lack of feedback. Please reopen this if needed. Thank you.

[2015-05-01 19:43] #1448 closed

[2015-05-01 19:45] dlsniper commented on #1565
@bronze1man any updates on this? Thank you.

[2015-05-01 19:50] dlsniper commented on #1572
@diwakergupta any news on this? I can't reproduce it either running the latest version. Please upgrade the plugin as described in the README and it should work properly. If not, feel free to reopen this. Thank you.

[2015-05-01 19:50] #1572 closed

[2015-05-01 19:54] dlsniper commented on #1586
@zolotov might be a stupid idea but instead of changing from ```go fmt``` to ```gofmt``` shouldn't the plugin add ```SDK/bin``` and each ```Go Library/bin``` folders to the path if they are not there? That way we could recreate the environment closer to the user environment when such information is not sent to the IDE. What do you think?

[2015-05-01 19:54] dlsniper commented on #1587
I'll close this for now as there's no feedback. If anything changes please reopen this. Thank you.

[2015-05-01 19:54] #1587 closed

[2015-05-01 19:55] dlsniper commented on #1592
@jaydonnell any updates on this? I'll close it for now and if something changes please reopen it. Thank you.

[2015-05-01 19:55] #1592 closed

[2015-05-02 03:34] jaydonnell opened #1594 "Reopening: Can't find app engine packages when using app engine SDK"
I'm reopening the following issue: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1592

I've installed the latest go SDK and am still getting the same issue.

![intellij-go](https://cloud.githubusercontent.com/assets/8443/7439809/7eafdb60-f041-11e4-803c-20adc82c3cbc.png)

[2015-05-02 06:24] dlsniper commented on #1594
Please point the sdk dir to ```/Users/ddonnell/bin/go_appengine```, without the goroot dir.

[2015-05-02 09:05] dlsniper opened #1595 "Structure view for multiple files in a package?"
Hi,

Before considering this being an issue, I'd like to ask what's the feeling in regards to changing the ```Structure view``` to display the whole package contents rather than the single file? Or maybe it should be an option / highlight differently the contents from the current file vs rest of the package?
What do other people think about this?

As a note, I don't really use this functionality s

[2015-05-02 09:51] oblank commented on #1215
auto format codes on save, thx

[2015-05-02 10:28] zolotov commented on #1595
Don't know, I don't use this functionality as well, maybe option is a good way but I'm not sure

[2015-05-02 10:43] zolotov commented on #1594
Please attach screenshot of `Project Structure | Project` and `Project structure | Modules | Dependencies` pages.

[2015-05-02 10:44] zolotov commented on #1594
It's correct path

[2015-05-02 10:47] zolotov commented on #1252
I belive it's required for 1.0, feel free to create branch for debugger, we can implement it all together.

[2015-05-02 10:48] zolotov commented on #1584
@sebcante cool, thanks for feedback

[2015-05-02 11:18] zolotov commented on #1586
Actually it's good idea. We shouldn't rely on it and invoke applications by their absolute paths. But this approach can solve the issue like this, when we can't control execution.

[2015-05-02 11:42] dlsniper opened #1596 "Plugin doesn't use the file template from either project or default settings"
I've tried changing the default and project templates for Go files but either I don't know how to actually use this feature or there's something that the plugin doesn't do as the files created still have the same format.

To be a bit more clear, I've tried adding a default header to the file but the file gets created without it.

![snapshot78](https://cloud.githubusercontent.com/assets/607868/7440

[2015-05-02 11:48] zolotov commented on #1596
Works fine for me. Screencast maybe?

[2015-05-02 11:50] #1586 closed

[2015-05-02 12:38] linniksa commented on #1023
It can be closed?

[2015-05-02 12:39] dlsniper commented on #1023
Yes, thank you!

[2015-05-02 12:39] #1023 closed

[2015-05-02 13:17] zolotov commented on #1590
@linniksa I've added build flags stubbing. So now we can retrieve go flags for particular file without performance degradation. Not sure when I will support the build flags in resolving, so in case you'll get to it faster then me, there are a `GoFile#getBuildFlags()` method for retrieving flags and `GoUtil#allowed()` method for checking context while completion/resolving.

[2015-05-02 15:48] jaydonnell commented on #1594
Thanks @zolotov it's working now. The right SDK wasn't selected in Project and Dependencies.

[2015-05-02 15:49] #1594 closed

[2015-05-02 15:58] willwarren commented on #1132
The plugin module installation through intellij didn't work for me - I was getting a 404 message from within IntelliJ's plugin manager, so here is the direct link to the go plugin zip file for this release: https://plugins.jetbrains.com/files/5047/19171/Go.201.zip

[2015-05-02 16:02] dlsniper commented on #1132
@willwarren which URL are you using? I didn't had this problem so far but I guess from time to time JetBrains might deploy something and stuff breaks. Can you please detail a bit more? Also the link you've provided is for a very old release so I'll remove it.

[2015-05-02 16:05] dlsniper commented on #1132
Also, if you are still using IntelliJ IDEA 14.0.x I'd suggest to upgrade to 14.1 as not only the platform itself has quite a few (nice) upgrades but also the plugin improved a lot since the last release for 14.0.x. Hope it helps.

[2015-05-02 18:40] JoeBruner commented on #1595
Hmm,  Interesting.  I use the Structure view all of the time as a quick way to jump to the functions that I'm looking for.  I think that having the whole package might be confusing to some, especially Java people where you're used to everything being contained in the same file.  For Go, however, it's perfectly acceptable to have related things spread out amoungst multiple files.  I think you'd wan

[2015-05-03 04:12] mvbaffa opened #1598 "Cannot download the Plugin"
Error: DNS_PROBE_FINISHED_NXDOMAIN

[2015-05-03 09:55] dlsniper commented on #1598
Can you please provide more details? I can't even try to suggest something because the are too many possibilities.

What url? Where do you see the error? Which IDE name and version? What country? Do use a vpn/proxy? Is this something that happens for other JetBrains addresses like their website? Have you tried to do the request again a bit later? Which dns resolver are you using? Have you tried Go

[2015-05-03 12:12] mvbaffa commented on #1598
Hi,

I am trying to download directly from your site the URL is: http://packages.go-ide.com/goide-windows_386.zip. I am in Brazil and there is no proxy. I have tried many times. It is not working right now.

From Intellij (version 14.1.2) I could install the Plugin but it is version 0.9.15.3. I seemed to work OK but I could not configure the SDK.

Go was downloaded from the official site for windo

[2015-05-03 12:16] dlsniper commented on #1598
Hi, now that you've sent more info, sure I can :)

The package you are referring is not meant to be downloadable anymore, that's why @mtoader took it out.

Instead of installing the 0.9.15.3 from the plugin manager, please see the readme https://github.com/go-lang-plugin-org/go-lang-idea-plugin#pre-release-builds in order to get you started with the latest releases of the plugin. The official rele

[2015-05-03 12:25] mvbaffa commented on #1598
Thanks

But I have just download the Go SDK from the official Site. When I try to configure the SDK in Intellij I point to the C:\Go Intellij gives me no error but It does no install de the SDK.

I use Intellij for some time I have installed Scala, Erlang e many other SDK,

My Java SDK is 1.8 64 bit version could this br the problem ?

Thanks again

[2015-05-03 12:41] dlsniper commented on #1598
With which version of the plugin are you experiencing the problem? If it's one of the latest versions, 0.9.250+ then I guess we'd need bit more details, else, please remove the old version of the plugin and install it via the method described in the readme, https://github.com/go-lang-plugin-org/go-lang-idea-plugin#pre-release-builds

Thank you.

[2015-05-03 12:54] mvbaffa commented on #1598
It worked, Thanks

[2015-05-03 12:57] dlsniper commented on #1598
Perfect. Have fun developing with the plugin & Go and if you have any other problems with it (that don't yet have issues) or suggestions, feel free to help us improve the plugin.

[2015-05-03 12:57] #1598 closed

[2015-05-03 13:13] mvbaffa opened #1599 "Debug Configuration not starting"
Hi,

I have installed the Plugin Ok. I have created a Go Simple Application that is working but I cold not debug it.

When I start the debug nothing happens. Is there any addtional configuration to do ?

Thanks

[2015-05-03 13:14] dlsniper commented on #1599
Please see the discussion in: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1593

[2015-05-03 13:14] #1599 closed

[2015-05-03 14:06] davelondon opened #1600 "os.Getenv("GOPATH") is broken when running inside IDE"
Since 935919824f8ff7b3b589c35ba5b0f640fb6d09ea landed I'm getting an unexpected value from os.Getenv("GOPATH") when running my code inside IntelliJ:

Expected:
[code]

Actual:
[code]

[2015-05-03 14:14] dlsniper commented on #1600
Thanks for reporting, I'll work on a fix for it.

[2015-05-03 14:39] dlsniper commented on #1600
See #1601

[2015-05-03 15:22] dlsniper commented on #1596
Aparently I need to reload the project for this to take effect but I'm ok with that for now.

[2015-05-03 15:22] #1596 closed

[2015-05-03 15:47] dlsniper commented on #1279
Fixed in #1602

[2015-05-03 19:09] dlsniper commented on #1593
I'll close this for now

[2015-05-03 19:09] #1593 closed

[2015-05-03 19:42] johnnywidth commented on #1593
Ok

[2015-05-03 21:09] linniksa commented on #1089
fixed?

[2015-05-03 21:13] dlsniper commented on #1089
Yeap, thanks

[2015-05-03 21:13] #1089 closed

[2015-05-03 21:29] dlsniper commented on #1165
I'll close this as the caret looks in the place I'd expect it to be. Please reopen if needed.

[2015-05-03 21:29] #1165 closed

[2015-05-03 21:53] dlsniper commented on #1325
As of e5b85cf4fef9fe6b22c8721c4bb0b764bd2ebae6 injecting into the first string works ok but into the double quotes one it messes things up really bad.

[2015-05-03 21:54] dlsniper commented on #1274
@zolotov do you know of any other plugin which supports this so I can have a look at it? Looks fairly easy to add

[2015-05-04 01:47] oblank opened #1604 "why Intellij IDEA close file on save and then copy another?"
How can I disable this? the file name be add suffix 201505031440055...

I try to rename it, but IDEA will create another
![Image of error](http://i.stack.imgur.com/HQ7Sn.jpg)
when I use COMMAND+S to save file, the file will be closed auto, and then IEDA create another with suffix
Intellij IDEA is V14.1.2 Community Edition for Mac

[2015-05-04 04:37] bronze1man commented on #1565
Sorry.I can not recreate it either.

[2015-05-04 04:37] #1565 closed

[2015-05-04 05:45] dlsniper commented on #1604
I'd rather say this is a problem to report to JetBrains than a plugin problem but I'm clueless on how to reproduce it to be sure.

Can you please add a screencast which replicates the issue?

Also, maybe you can find a similar issue here: https://youtrack.jetbrains.com/dashboard

[2015-05-04 06:29] oblank commented on #1604
thx :)

fixed by install Intellij IDEA again, not Community Edition

[2015-05-04 06:29] #1604 closed

[2015-05-04 07:11] gabrielf commented on #1584
That was quick, nice! :+1:

[2015-05-04 07:27] lindroth commented on #1584
Works great!

[2015-05-04 12:01] lindroth opened #1605 "Tab complete does not work on method chaining"
If a method has a named return variable method chaining has no tab completion and the method name will be marked red and as not found.

[code]

[2015-05-04 12:52] jgroeneveld opened #1606 "Ask to rename *_test.go file if it exists"
I have a feature request.

When im renaming a file and there is a {filename}_test.go file, it would be great if the IDE would ask me if I want to rename it, too. Im not sure if thats possible and how, but it definitely would be very cool.

cheers

[2015-05-04 16:26] arekkas opened #1607 "Unresolved reference in nested functions with multiple parameters"
`err.Error()` is a "unresolved reference":

[code]

Works fine if it's just one parameter:

[code]

[2015-05-04 18:19] ignatov commented on #1607
Please specify your plugin version.

[2015-05-04 18:21] ignatov commented on #1604
BTW, looks really weird. @zolotov What do you think about it?

[2015-05-04 18:28] zolotov commented on #1600
PR is not really good but I'll fix it soon, thank you

[2015-05-04 18:34] zolotov commented on #1604
@ignatov have no idea, have never seen this before

[2015-05-04 18:34] arekkas commented on #1607
"Version 0.9.300" - it's the latest from the alpha repository

[2015-05-05 11:38] #1600 closed

[2015-05-05 13:55] #1199 closed

[2015-05-05 14:02] zolotov commented on #1605
`getAnA` doesn't return anything, why it should work?

[2015-05-05 14:04] zolotov commented on #1605
Sorry, you're right, it should work

[2015-05-05 14:04] dlsniper commented on #1605
@zolotov in go it is ok to have a function like this:

[code]
When you have named return values, ```return``` without anything else will act as ```return result```.  Please see: https://golang.org/doc/effective_go.html#named-results

[2015-05-05 14:04] dlsniper commented on #1605
You were faster than me.. :D

[2015-05-05 14:55] bronze1man opened #1608 "slow with a long line."
Here is the code.
![image](https://cloud.githubusercontent.com/assets/1107541/7475366/b98ea848-f379-11e4-8086-5dcb1ef40142.png)

[code]

Here is the code:
https://github.com/bronze1man/kmg/blob/master/kmgCompress/zip_test.go

[2015-05-05 14:58] dlsniper commented on #1608
Quick question, what's slow about it? It would help narrow things down. Thank you!

[2015-05-05 15:03] bronze1man commented on #1608
It takes long time to parse (or highlight?) this file.
After the parse finished, the idea itself become slow.

[2015-05-05 15:26] #1605 closed

[2015-05-05 15:29] zolotov commented on #1608
It's parsed fast for me. Yes, scrolling is slow because of enabled soft wraps, I'll pass this issue to IDEA team.

[2015-05-05 16:00] zolotov commented on #1274
I believe it's not.

Anyway, no needed, I'm going to get rid of go module at all.

[2015-05-05 16:02] zolotov commented on #1596
Reloading is not required, maybe something helpful remained in logs?

[2015-05-05 16:57] lindroth commented on #1605
Wow that was quickly fixed. Thanks!

[2015-05-05 17:47] pahanini opened #1609 "The selected directory is not a valid home for Go SDK on Ubuntu 14.04"
Getting "The selected directory is not a valid home for Go SDK" message if trying to set SDK dir.

Plugin ver 0.9.300
Idea 14.1.2

Ubuntu 14.04.2 LTS
[code]

go version go1.2.1 linux/amd64 (installed from ubuntu repository)

[2015-05-05 18:34] zolotov commented on #1609
Please invoke `tree -L 3` on your go root

[2015-05-05 20:39] #1279 closed

[2015-05-05 22:52] doxxx opened #1610 "'not enough arguments in call to X'"
The following code is valid Go but the call to `c.Do()` is marked with the error 'not enough arguments in call to redis.String':

[code]

`c.Do()` returns `(reply interface{}, err error)` and redis.String is declared as accepting `(reply interface{}, err error)`.

[2015-05-06 00:54] bronze1man commented on #1608
@zolotov It took about 5s to parse https://github.com/bronze1man/kmg/blob/master/kmgCompress/zip_test.go
It only took about 2s to parse https://github.com/bronze1man/kmg/blob/master/kmgCompress/zip.go

The parsed time should be good enough right now,but I think it can be improve.

After it parse https://github.com/bronze1man/kmg/blob/master/kmgCompress/zip_test.go ,when move the curse with up key,

[2015-05-06 01:12] wallyworld opened #1611 "Unresolved reference for function"
The following (nonsense) code compiles fine, but MyMethod() is flagged as unresolved.

[code]

[2015-05-06 04:28] pahanini commented on #1609
[code]

[2015-05-06 04:52] jean0313 commented on #1609
get the same result from mac.
Plugin ver 0.9.300
Idea 14.1.2

[2015-05-06 05:07] davelondon commented on #1600
Confirmed fixed in the latest version. Thanks!

[2015-05-06 06:38] dlsniper commented on #1608
@bronze1man can you please do a profiling on your system? For me it took less tahn a second to parse the file (I didn't do a go get on the kmg project yet tho) https://intellij-support.jetbrains.com/entries/29983118-Reporting-performance-problems

[2015-05-06 08:17] imWildCat opened #1612 "How to set up breakpoint debug?"
This is my configuration but it didn't work:

![image](https://cloud.githubusercontent.com/assets/2396817/7489612/41a64f9c-f40b-11e4-800e-890738f25559.png)

I have little experience with gdb and I didn't find the instruction to set up gdb with this plugin.

[2015-05-06 08:20] dlsniper commented on #1612
You have to set the compiled binary under the application executable, not the go file. then it should work. To compile it you have to use: ```go build -gcflags "-N -l" -o output.file main.go```. This is an experimental feature and it's stated on the go documentation that GDB is not well supporting go apps: https://golang.org/doc/gdb

[2015-05-06 08:21] dlsniper commented on #1612
I've closed the issue as the question is answered but please feel free to comment if you have any further questions or open other issues if the questions you have are not in the issues already :) Thanks.

[2015-05-06 08:36] imWildCat commented on #1612
Thanks, @dlsniper . I've built the binary and changed application executable to `output.file` but there was no outputs of debug tab.
![image](https://cloud.githubusercontent.com/assets/2396817/7489887/033248f8-f40e-11e4-98e2-0d77959b69f8.png)

[2015-05-06 09:04] antonikonovalov commented on #1612
change gdb - to full path /usr/local/bin/gdb

[2015-05-06 09:06] dlsniper commented on #1612
Also, did the app stopped on the breakpoint you've set or not when you've ran it with the full executable path?

[2015-05-06 10:32] dlsniper opened #1613 "Quick documentation doesn't correctly display this < > signs"
Given the following example from ```strings``` package in go sdk:

[code]

The quick documentation functionality doesn't display the ``` < ``` from ``` // If n < 0, there is no limit on the number of replacements. ```

![snapshot89](https://cloud.githubusercontent.com/assets/607868/7491671/dfb9dbce-f3eb-11e4-9d07-1b6f7c51b7fe.png)

Plugin revision: e668080d626ea0be46c4937e173c0133443da9bd

[2015-05-06 10:55] zolotov commented on #1609
@jean0313 how did you install go? what's the output of `tree -L 3`?

@jean0313 @pahanini also please give me content of `$GOROOT/src/runtime/zversion.go` file

[2015-05-06 10:56] zolotov commented on #1613
see com.intellij.xml.util.XmlStringUtil#escapeString(java.lang.String)

[2015-05-06 11:25] pahanini commented on #1609
@zolotov no such a file, I have /usr/share/go/src/pkg/runtime/zversion.go

[code]

[2015-05-06 12:01] dlsniper commented on #1609
@zolotov @pahanini since it's go < 1.4 the file should be under GOROOT/src/pkg/runtime not GOROOT/src/runtime which is correct. The only issue that I see there is that there's no GOROOT/bin directory as Ubuntu maintainers deployed stuff into /usr/local/bin (or wherever).

Maybe we can track these "install manager" installs for the popular OSes / "install managers" and keep a record of platform + e

[2015-05-06 12:28] pahanini commented on #1609
@dlsniper it seems you are right. I've created bin dir in GOROOT and created link to go binary (which was /usr/bin/go) and when successfully add SDK.

[2015-05-06 13:17] jimbojetlag commented on #1525
Sorry to bump on this issue after a month. Is the progress for this issue blocked by other issues?

Working on GAE projects is not productive without resolving this problem.

[2015-05-06 13:20] zolotov commented on #1525
Sort of, we have ~130 open issues.

[2015-05-06 13:36] jimbojetlag commented on #1525
I see. What I meant was if this issue is _technically_ blocked by another issue :) I understand that the workload is high.

[2015-05-06 13:38] zolotov commented on #1525
No, it's not, just long queue of issue. I'll try to find time for it in a week

[2015-05-06 14:02] #1613 closed

[2015-05-06 14:04] dlsniper commented on #1613
@ignatov thanks! but I wanted to do it myself :(

[2015-05-06 14:25] ignatov commented on #1613
@dlsniper Please don't worry. We have lot of issues and I can assign several of them to you ;)

[2015-05-06 14:54] mdwhatcott commented on #604
Would the code that implements this refactoring need to be written in Java or could it be written in Go and wrapped by Java plugin code?

[2015-05-06 15:01] dlsniper commented on #604
@mdwhatcott I don't think it would be easy to create all the functionality the IntelliJ platform exposes in order to make this kind of bridge work. If you are not familiar with this particular functionality, just try it quickly in a Java / Android code or some other language that has this already to see what I mean (or their online help https://www.jetbrains.com/idea/help/extract-method.html)

But

[2015-05-06 15:07] mdwhatcott commented on #604
@dlsniper - In order to perform this refactoring, you have to analyze the source code to identity local variables and anticipate return types. Go already has packages for analyzing go source code (http://golang.org/pkg/go/ast/). I'm hoping I can use a go program to do the heavy lifting (analysis, insertion of new method, etc...) and then just tie that into the IDE with some java code that calls it

[2015-05-06 15:19] dlsniper commented on #604
@mdwhatcott I wasn't even considering that part as that's what the plugin is supposed to have at some point anyway, due to a host of other functionality such smarter completion for example. The goal is to have the same functionality as you'd expect from the Java engine / other languages that work on the IntelliJ Platform but it's a journey to get there :)

There was some work done by @mtoader at s

[2015-05-06 15:26] zolotov commented on #604
@mdwhatcott it is possible, but it doesn't make any sense to me. Go plugin also has packages for analizing go sources, so what's the point in introducing interaction introspection between go and java?

[2015-05-06 15:30] mdwhatcott commented on #604
Thanks @zolotov for answering my question. If there are packages for analyzing go source code than it makes no sense for me to write that in go. I am completely new to this project so I didn't know what had been done. (Also, I'm not a java developer so writing in go seemed easier to me.)

Can you point me in the direction of said analysis code?

[2015-05-06 15:36] zolotov commented on #604
@mdwhatcott actually the most of the code of plugin is analyzing. `com.goide.psi` package contains object-representations of source code (it's AST actually but with some semantic information). You can read some docs about PSI here: https://confluence.jetbrains.com/display/IDEADEV/Developing+Custom+Language+Plugins+for+IntelliJ+IDEA#DevelopingCustomLanguagePluginsforIntelliJIDEA-ImplementingaParser

[2015-05-06 15:37] zolotov commented on #604
Also [tutorial](https://confluence.jetbrains.com/display/IntelliJIDEA/Custom+Language+Support) could be useful

[2015-05-06 15:40] mdwhatcott commented on #604
Thanks!

[2015-05-06 17:57] ignatov commented on #604
Please take a look at http://www.jetbrains.org/intellij/sdk/docs/​

[2015-05-06 18:06] #1611 closed

[2015-05-06 20:13] akaspin opened #1614 "`git` not found"
Git is installed
[code]
But when I try import any package - i get following:
[code]
From terminal - all OK.

[2015-05-06 20:15] dlsniper commented on #1614
As I don't have a Mac I defer to @zolotov on this one. My guess is that you could try to launch from the terminal and see if it's fixed, but that's not really a fix

[2015-05-06 20:17] akaspin commented on #1614
@dlsniper All working well from terminal:
[code]
But not from IDEA.

[2015-05-06 20:32] dlsniper commented on #1614
That's because the default way you launch an app from the UI of the OS vs terminal vs where you've set the path (on Linux you can use /etc/environment for example). I guess you can read more here: http://serverfault.com/questions/16355/how-to-set-global-path-on-os-x

I've seen a few issues opened on YouTrack from others describing similar issue with ```/usr/local/bin``` missing or other difference

[2015-05-06 20:40] akaspin commented on #1614
@dlsniper But earlier everything worked fine. `/usr/local/bin` in $PATH in both `env` and `environment.plist`.

[2015-05-06 20:44] dlsniper commented on #1614
Uhm... ok, which version of the plugin do you have? There was a small change to how the PATH is set in the plugin so that may have interfered with something in there. Unfortunately I don't have a Mac so I can't test (and I don't use go get from the plugin for example).

[2015-05-06 20:47] akaspin commented on #1614
@dlsniper `0.9.309`

[2015-05-06 21:23] wallyworld opened #1615 "Support Analyze Stacktrace feature?"
Are there plans to support the Analyze Stacktrace feature for Go thread dumps?

[2015-05-06 21:40] dlsniper commented on #1615
(side note to clarify the milestone ping-pong. I should mark it as a maybe rather than x.x.x as I have no clue how that feature works in IntelliJ :D)

[2015-05-07 06:23] bronze1man commented on #1608
I will do the profilling later.
I think the file number of the project may be the reason of problem.
My working project has 1540 golang files.
Those golang files have 12MB size totally.

The kmg project is only part of it,and kmg project has 384 golang files.

[2015-05-07 06:26] bronze1man commented on #1614
looks like https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1586#issuecomment-97647319

[2015-05-07 12:12] FGrosse commented on #1609
I have the same issue on Fedora 21 after updating go to version 1.4.2 via yum

[code]

IDEA version: `idea-IU-141.914.3`
Pluign version: `0.9.311` (`0.9.300` didn't work as well)

I have use the plugin without any issues for go 1.3 for quite some time before but now after the update the plugin stopped working :(
Go itself works fine though

[2015-05-07 12:14] zolotov commented on #1609
@FGrosse `ls /usr/lib/golang/bin` please

[2015-05-07 12:20] FGrosse commented on #1609
[code]

[2015-05-07 12:21] zolotov commented on #1609
How did you install Go? Where `go` executable is located?

[2015-05-07 12:23] zolotov commented on #1609
Is linux_amd64 a file or directory? It would be simplier if you'd made `tree -L 3` as I asked in the first place.

[2015-05-07 12:24] FGrosse commented on #1609
In installed go using fedoras package manager `yum` (`yum install golang`)

[code]

[2015-05-07 12:24] FGrosse commented on #1609
[code]

[2015-05-07 12:29] zolotov commented on #1609
@FGrosse thanks. and `ls -l /usr/bin/go` please, just in case.

[code]

There weren't `go` and `gofmt` symlinks in your first `ls /usr/lib/golang/bin` output. Did you add them after?

[2015-05-07 12:30] FGrosse commented on #1609
Yes I added them and it seems to fix the issue.

For any others having this issue doing the following worked out for me:
[code]

[2015-05-07 12:36] dlsniper commented on #1609
@FGrosse I'd rather hold on to advise others to change their environment for the plugin to work.

@zolotov what do you think of the following changes to the SDK detection:
- build a list of OS / install method /
- detect the ```runtime/zversion.go``` as we do now
- after that, try to check ```bin/go```
  - if that doesn't work, lookup in the list of OS / install method / locations for a possible m

[2015-05-07 13:17] zolotov commented on #1609
All of these are done already. Now we can detect installations from source, brew and apt. Yum are covered by this issue. Other installations are irrelevant and I'll fix them on demand.

[2015-05-07 13:18] dlsniper commented on #1609
Ah, I haven't had a look at what's in there recently. Thank you!

[2015-05-07 14:13] wallyworld commented on #1615
The Analyze Stacktrace feature is awesome. If you paste a thread dump, if hyperlinks all the method and line references so you click and navigate through to the code.
https://www.jetbrains.com/idea/help/analyzing-external-stacktraces.html

[2015-05-07 14:38] #1615 closed

[2015-05-07 14:40] dlsniper commented on #1615
apparently it's simple to do :) Thank you @zolotov

[2015-05-07 14:41] zolotov commented on #1615
@wallyworld I'm not sure that it will work correctly for Go tread dumps but it's enabled now and you can report bugs about particular unrecognisable stacktraces

[2015-05-07 16:14] #1610 closed

[2015-05-07 16:39] ignatov commented on #1556
https://groups.google.com/forum/#!topic/golang-dev/ya5vE0G62Z4

[2015-05-07 16:40] ignatov commented on #475
Obsolete.

[2015-05-07 16:40] #475 closed

[2015-05-07 19:12] #1607 closed

[2015-05-07 19:43] xealot opened #1616 "Recursive symlinks break inspection"
At least, that's what I think is happening.

Glide (https://github.com/Masterminds/glide) is one of the less awful strategies for managing Go's "challenging" package system.

Glide, basically, just manages a _vendor folder and checks out everything to there by setting GOPATH to _vendor. So my project looks like this:

[code]

When I replace the "repo" dir with a real clone of the repo that isn't l

[2015-05-07 20:10] dlsniper commented on #1616
I'll have a look at it to see what's happening but I have to be honest, that's a very strange one to do. godep (without import rewriting) is by far nicer than this (from a Go point of view). Thanks for reporting.

[2015-05-07 20:24] wallyworld commented on #1615
@zolotov That is awesome, thank you!!

[2015-05-07 20:27] xealot commented on #1616
I will not defend the "strangeness" of it, it's just a bug I noticed. Personally I will definitely re-evaluate godep though as I was under the assumption that you always had to do rewriting which was a big turn-off for me.

[2015-05-07 20:39] wallyworld opened #1617 "Analyze stacktrace doesn't work so well for panic dumps"
If I debug some code by adding:
debug.PrintStack()
then the analyze stacktrace feature correctly highlights the source reference because the filenames are fully qualified paths. eg

/home/ian/project/src/github.com/wallyworld/cmd/cmd.go:211 (0x49dd24)    <---- correctly linked
        (*Info).Help: debug.PrintStack()
/home/ian/project/src/github.com/wallyworld/cmd/help.go:611 (0x4a7dc1) <---- corr

[2015-05-07 21:19] ignatov commented on #1580
A sample for reproduction:
[code]

[2015-05-08 07:13] #913 closed

[2015-05-08 07:17] zolotov commented on #1617
where `volumes.go` and `volumes_test.go` are located?

[2015-05-08 07:43] zolotov commented on #1614
@akaspin please try >= 0.9.312

[2015-05-08 09:13] jgroeneveld opened #1618 "Allow overwriting of GOPATH"
Currently, the GOPATH will be read from the ENV and if I want to use a specific GOPATH for a project and not the global one, I have to remove the GOPATH from my env and start idea. Its not possible to remove the GOPATH under "global libraries".
It would be great if you could set one GOPATH and ignore the global one.

[2015-05-08 11:46] akaspin commented on #1614
All works. Thanks.

[2015-05-08 11:46] #1614 closed

[2015-05-08 16:10] xealot commented on #1616
I spent a few hours re-evaluating Godep. It does seem to behave a lot better in the IDE and with some of the go tools but I think nesting your project root deep inside of a go environment structure is still a little silly.

[2015-05-11 13:16] wallyworld commented on #1617
The volumes.go and test files are located in the source tree of the project. Sadly, the location is not included in the output of the panic. I'm not sure if the location can be inferred somehow? From the program counter and any debug information in the compiled binaries? Seems unlikely I guess.

[2015-05-11 17:46] #1618 closed

[2015-05-12 05:56] imWildCat commented on #1612
@dlsniper Sorry, I was so busy these days that I didn't reply on time.

The app didn't stopped, here is the outputs of GDB console:
[code]

[2015-05-12 09:56] ukautz commented on #1591
Alright. This time I think I really nailed it: I work with a project consisting of multiple modules:
![project-layout](https://cloud.githubusercontent.com/assets/600604/7584220/303e7cbc-f89c-11e4-97c0-955181c84a11.png)

Now, whenever starting IDEA, each module brings it's own `GOPATH`:
![all-go-path](https://cloud.githubusercontent.com/assets/600604/7584234/47439d02-f89c-11e4-89d3-22c04c5865d9.png

[2015-05-12 10:09] ignatov commented on #1608
@bronze1man please specify your idea and java version.

[2015-05-12 10:48] zolotov commented on #1591
@ukautz restoring libraries on restart is happened intentionally, GOPATH library can be configured only in Settings | Languages & Frameworks | Go Libraries. There you can configure different GOPATH for different modules.

I'll take a look on it but it's not a bottleneck according to your snapshot.

[2015-05-12 21:41] Symmetric opened #1619 "_workspace Godeps directory not recognized in source tree"
I've got a library home set to the root of my project, and all my imports are green in my .go file. However I can't navigate to any of my godeps - if I goto-source on any part of the path `github.com/coreos/rkt/Godeps/_workspace/src/github.com/appc/cni/pkg/plugin` up to and including the `_workspace` directory, it jumps to the correct part of the directory tree. But goto-source on `src` or later d

[2015-05-12 21:46] dlsniper commented on #1619
Hi, I see that you marked the code as excluded so I'm not sure what you'd expect in this case. Can you please remove the mark from the folder and try again? Also, which plugin version do you use?

[2015-05-12 21:50] dlsniper commented on #1619
Please see https://www.jetbrains.com/idea/help/configuring-content-roots.html for some info on how to mark/unmark a folder as source/excluded and so on.

[2015-05-12 21:59] Symmetric commented on #1619
I didn't mark anything as excluded. In the main project tree it's listed as a normal directory:

![image](https://cloud.githubusercontent.com/assets/1524910/7599434/e008c99e-f8b6-11e4-9c6a-6fd37e85fae7.png)

Perhaps my config is slightly perverse though -- my IntelliJ project is rooted in the src/github.com/coreos/rkt directory, and I put a reference to src as the project library path. I can confi

[2015-05-13 00:13] bronze1man commented on #1608
jre 1.6.0_xxx
idea 14.1.2

[2015-05-13 08:06] bronze1man opened #1620 "rename package bug."
When I renamed the package at `src/github.com/bronze1man/kmg/kmgRpc/demo`,to demo.bak,
It put the the directory to `src/github/com/bronze1man/kmg/kmgRpc/demo/bak`

version: 0.9.324

[2015-05-13 08:21] dlsniper commented on #1620
I can't reproduce this. Can you share mode details / a screencast of this happening? Thanks

[2015-05-13 08:22] dlsniper commented on #1619
ok, so I don't really understand, sorry.

What is / was your setup looking like, where was the project root dir pointing to and what are / were the configured Go Libraries?

Thanks.

[2015-05-13 08:22] #1619 closed

[2015-05-13 09:52] bronze1man commented on #1620
![image](https://cloud.githubusercontent.com/assets/1107541/7607995/a5ebe4e8-f998-11e4-94d9-2507fe94ed4a.png)
![image](https://cloud.githubusercontent.com/assets/1107541/7608015/b6a335a2-f998-11e4-9ca5-f97522c68d5f.png)
![image](https://cloud.githubusercontent.com/assets/1107541/7608040/d857b8a8-f998-11e4-8bbd-a378e0c2c17f.png)

[2015-05-13 10:03] dlsniper commented on #1620
Strangely enough I still can't replicate it, I'm using the shortcut (in my case is CTRL+R) and I get the expected result but I guess @ignatov can better determine what's happening. Thanks for feedback.

[2015-05-13 10:51] zolotov commented on #1620
@bronze1man I believe it's because you've marked src directory as a java source root. Do you have really need it?

[2015-05-13 11:02] bronze1man commented on #1620
![image](https://cloud.githubusercontent.com/assets/1107541/7609147/88f0b332-f9a2-11e4-8a34-97871d9e414c.png)
Thank you,It had been fixed.

[2015-05-13 11:12] zolotov commented on #1620
It should work anyway, so I keep it open.

[2015-05-13 11:20] bronze1man commented on #1511
It seems I had faced a issues that looks like this Monday.
Sorry,I can not reproduce it again.

[2015-05-13 11:28] #448 closed

[2015-05-13 11:31] #449 closed

[2015-05-13 13:05] duclosm opened #1621 "Bad formatting since commit 2ffee5c205deb56e15745fffdc996ee5a048b99d"
Hi,

Since commit 2ffee5c205deb56e15745fffdc996ee5a048b99d, the special declaration using *type* like this :

[code]

is formatted like this:
[code]

[2015-05-13 13:35] JoeBruner opened #1622 "Adding switch statement places case at different indentation than go fmt"
Whenever I create a switch statment, the indentation is different than what `go fmt` produces.  For example, formating on the playground http://play.golang.org/p/XrfWQMAIRb

[code]

shows that the `case` statements should be lined up with the `switch` statement.  When typing in the IDE, if I do `switch {` and then hit `ENTER`, the next line will be lined up under the `c` in `switch`.

[code]

Alth

[2015-05-14 11:15] akaspin opened #1623 "Autocompletion freezes"
After update autocompletion freezes about a second. IDEA 14.1.3 (141.1010), Go plugin 0.9.325.

[2015-05-14 11:18] ignatov commented on #1623
Please attach your thread dumps and logs. If it's reproducible please attach a performance snapshot. For the further information please see https://devnet.jetbrains.com/docs/DOC-192

[2015-05-14 11:29] akaspin commented on #1623
https://gist.github.com/akaspin/b6d355e0aec1a6d829bf

[2015-05-15 17:28] ignatov opened #1624 "A good candidates for inspections"
http://devs.cloudimmunity.com/gotchas-and-common-mistakes-in-go-golang/

[2015-05-15 21:25] dlsniper commented on #1624
Interesting, thanks for sharing. I think we should also see what fits from this list: https://github.com/golang/go/wiki/CodeReviewComments

[2015-05-16 13:41] eau-u4f opened #1625 "no completion / package function highlighted as non existent"
Hello,

I have a Go project, first I could not import it as Go project.

I imported it nonetheless and it see some of the packages, but on my linux installation,
for some reason since the update (today), when I try to access some methods/function from another package, it does not see it and hence does not do any completion.

Some of my (before recognized) function are now highlighted in red like t

[2015-05-16 13:48] zolotov commented on #1625
Any details please. Plugin version, go sdk, code sample, screenshot

[2015-05-16 13:51] eau-u4f commented on #1625
Go SDK: 1.4.2
Screenshots of the "highlighted red" and the definition in the package.

![missingdefinition](https://cloud.githubusercontent.com/assets/4609393/7666378/67efe994-fbe3-11e4-8e71-05e575b233e3.png)
![seckeydefinition](https://cloud.githubusercontent.com/assets/4609393/7666380/6df4e024-fbe3-11e4-8739-12e5a8ad7617.png)

[2015-05-16 13:52] eau-u4f commented on #1625
plugin: 0.9.325

[2015-05-16 13:53] zolotov commented on #1625
Ok, also please attach screenshot of 'Settings | Go Libraries' screen

[2015-05-16 13:56] eau-u4f commented on #1625
![golibraries](https://cloud.githubusercontent.com/assets/4609393/7666393/0d74970c-fbe4-11e4-920c-5b4088623892.png)

[2015-05-16 13:58] eau-u4f commented on #1625
It sees "some" of the information declared in that package, but not all, only one or 2 struct types.
It was working before I accepted the update of the plugin.

[2015-05-16 14:03] zolotov commented on #1625
/home/eau/dev/go/src/github.com/unix4fun/ac looks like wrong gopath entry, why do you need this?

[2015-05-16 14:03] zolotov commented on #1625
Also please show how you import ackp package

[2015-05-16 14:06] eau-u4f commented on #1625
I just saw "project libraries"
so as my libraries (such as ackp) are part of my project I added the project dir in project libraries, i guess it goes deeper on its own to index the symbols doesn't it?

The whole project build perfectly, it did work in previous version, it does not since the updates.
![imports](https://cloud.githubusercontent.com/assets/4609393/7666432/8e3ec73a-fbe5-11e4-96e1-25365

[2015-05-16 14:07] eau-u4f commented on #1625
https://github.com/unix4fun/ac

[2015-05-16 14:10] eau-u4f commented on #1625
As said previously, it sees that ackp exists, but only propose "some" of the available types for completion. Also, previously detected types are now highlighted in red in other packages, while they were not before the go-plugin update I did this morning.

[2015-05-16 14:13] eau-u4f commented on #1625
any ideas what could be or could have gone wrong? how can I help tracking down my issue.

[2015-05-16 14:28] zolotov commented on #1625
It's bug with matching +build flags

[2015-05-16 14:36] eau-u4f commented on #1625
ok, cool that it is identified, let me know if you need anything else.

[2015-05-16 14:39] zolotov commented on #1625
Sure, thanks for report, I believe the nightly build with the fix will be available tonight. Meanwhile you can remove `+build go1.4` as a workaround

[2015-05-16 14:42] eau-u4f commented on #1625
oki doki! will change my plugin repository for the nightly instead of alpha tonight.
Thanks for the fast response and workaround.
Great work! keep it going :)

[2015-05-16 22:32] #1625 closed

[2015-05-17 06:08] ToniYang opened #1626 "why is source , i want a jar"
i want to install go-lang-idea-plugin for idea which is need a jar .But I can only download source code .

[2015-05-17 06:53] dlsniper commented on #1626
Reading the readme will let you discover the way of installing the plugin.

[2015-05-17 06:53] #1626 closed

[2015-05-17 06:54] dlsniper commented on #1626
https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/README.md#pre-release-builds

[2015-05-17 08:28] dlsniper commented on #1616
@xealot can you try the latest alpha / nightly? I think the issue you are describing should be fixed now. If not I'll try to replicate it. Thanks.

[2015-05-17 18:58] dashaus opened #1627 "The autocomplete creates parentheses instead a brackets in slice's custom types"
[code]

[2015-05-17 21:34] #1627 closed

[2015-05-18 01:55] probepark commented on #1623
:+1:

[2015-05-18 05:47] dlsniper commented on #1623
@probepark, if you want for this to be fixed, please follow what @ignatov said earlier. +1 is really not helping.

[2015-05-18 08:14] probepark commented on #1623
@dlsniper I see
I have enabled to use yourkit.
If i get freeze again, i will attach with log

[2015-05-18 08:15] dlsniper commented on #1623
@probepark that's perfect, thank you!

[2015-05-18 08:50] dmitry-vovk opened #1628 "Grouped type declaration does not do autoindent"
Example: pressing Enter in this situation:
[code]
produces this result:
[code]
Expected result:
[code]
Compare with grouped var declaration, where it works.

[2015-05-18 09:04] ignatov commented on #450
http://talks.go-zh.org/2015/gofmt-en.slide

[2015-05-18 09:13] ignatov commented on #450
Florin wrote:

[2015-05-18 12:00] dlsniper opened #1629 "Unresolved reference"
Please see below:

[code]

[2015-05-18 14:57] nitsanfiverr opened #1630 "Inetllij 14.1.3 - build 141.1010 is not supported"
Hey All,
Just updated my intellij to latest version and Go support just gone. Tried to create a new project and add a go file but looks like the SDKs are not recognised by intellij (http://cl.ly/image/450Y0U1k1U0V).
Tried to re-add the link to alpha repository with no luck.
Any suggestion ?

BTW - great plugin. Thanks.

[2015-05-18 15:22] nitsanfiverr commented on #1630
Update - tried to download older version of intellij and update the plugin to version 5047 - still not working. same issue, the SDK is not recongnised. I'm working on OS X Yosemite 10.10.3. go version 1.4.1 and 1.4.2.

[2015-05-18 15:33] nitsanfiverr commented on #1630
Fixed.
Needed to re-add the plugin and reinstall it! now it's working.

[2015-05-18 15:33] #1630 closed

[2015-05-18 16:02] dlsniper commented on #1630
Hi @nitsanfiverr can you please share more details? I didn't understood where you've got the 5047 version as I'm pretty sure there's no such release. As for the SDK being recognized, it should work even on IDEA 14.1.3 (which is the one I'm using right now, but on Linux not OS X).
Also, which alpha / nightly links are you using for the SDK? They've been updated a while ago, please see them in the R

[2015-05-18 21:03] ignatov commented on #1629
Can't reproduce with Go SDK 1.4.2, Mac OS X
![screenshot 2015-05-19 00 02 50](https://cloud.githubusercontent.com/assets/426890/7690170/6fc471a2-fdba-11e4-95ff-370f5f21fcd6.png)

[2015-05-18 21:17] #1621 closed

[2015-05-18 21:22] dlsniper commented on #1629
You are right, sorry, I've forgot to mention that it happens only if you use a scratch file in a go project. Then it doesn't work. I'm not sure it it's important or not in this case (to have it for 1.0 release I mean).

[2015-05-18 21:28] ignatov commented on #1629
It's completely separate platform issue – to support a proper symbol resolution for scratches.

[2015-05-18 21:28] #1629 closed

[2015-05-19 00:42] bronze1man commented on #1620
I just remember that the project is coming from old version of go-lang-plugin-org.
It used to require setting source folder.

[2015-05-19 08:40] paxzeno commented on #1203
Hey, I'm guessing that have a similar problem, which is:

java.lang.NoClassDefFoundError: com/goide/GoConstants
    at com.goide.ui.ProjectTutorialNotification.initComponent(ProjectTutorialNotification.java:49)
    at com.intellij.openapi.components.impl.ComponentManagerImpl$ComponentConfigComponentAdapter$1.getComponentInstance(ComponentManagerImpl.java:568)
    at com.intellij.openapi.components

[2015-05-19 08:45] dlsniper commented on #1203
@paxzeno how did you installed the plugin? can you give us more details on what you did to get the error? Have you followed the instructions in the readme https://github.com/go-lang-plugin-org/go-lang-idea-plugin/#pre-release-builds on how to install the latest release?

[2015-05-19 09:21] paxzeno commented on #1203
I've opened the project on intellij, configured the intellij platform plugin sdk, then prepared plugin for deployment which created the jar, and then added the jar to the plugins and restart the intellij. Then it popped up the error I posted.

[2015-05-19 09:25] dlsniper commented on #1203
@paxzeno unfortunately that's not what you should do to get the plugin running from the sources. If you want to do so, please follow the instructions here: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/master/CONTRIBUTING.md#getting-started-with-the-plugin-development Basically you need to use ```Build > Build Artifacts...``` and then build the ```Go.zip``` artifact which is the o

[2015-05-19 10:12] paxzeno commented on #1203
@dlsniper it worked, thank you so much. :+1:

[2015-05-19 15:06] probepark commented on #1623
https://gist.github.com/probepark/c4a344a89cd720a17771

[2015-05-19 19:42] esiqveland opened #1631 "Refactor: move to new package"
This might already be implemented, but I could not find it.

I wanted to extract some part of my code to a new package, and couldn't find a function for it. Is this implemented?

Ended up having to search/replace all usages with new package defs.

WebStorm: 10.0.2 build 141-728
Go lang plugin: 0.9.325

[2015-05-19 20:00] dlsniper commented on #1631
Hi, as far as I know that functionality is not yet implemented. I've put it in the past 1.0 releases for now but this might change depending on how Sergey or Alexander see fit.

[2015-05-19 20:35] esiqveland commented on #1631
Ok, that would be a great feature to have =)

Makes the IDE experience so much better.

Thanks for all the great work on this!

[2015-05-19 21:27] #1622 closed

[2015-05-19 22:16] #1590 closed

[2015-05-20 03:27] nubela opened #1632 "Allow customising gofmt path"
Hi,

I'm not wrong, code formatting with go-lang-idea-plugin uses gofmt (correct me if i'm wrong). However, there are some annoyances such as gofmt not removing unnecessary import lines.

There are some gofmt replacements that does that, and I'd like to change the gofmt default behavior to a gofmt alternative.

If you can find time, it'd be great if this feature can be supported down the road.

Th

[2015-05-20 05:56] dlsniper commented on #1632
Hi, goimports is also supported, albeit it doesn't have a shortcut assigned. Is this what you are looking for? As for the underlying formatting engine, this will get better in time (and with help from the community). There's also a ticket to support autoremove of unused imports at save time (but that's a bit more complicated) afaik. Does this help?

[2015-05-20 05:59] dlsniper commented on #1632
I've forgot, goimports is "hidden" somewhere in the edit menu, towards the end of it (I think :D)